In [1]:
from sqlalchemy import create_engine
from pathlib import Path
import pandas as pd

pd.options.display.float_format = '{:,.2f}'.format


db_file = 'comisiones.db'
db_file_path_str = str(Path().cwd().parent.parent.joinpath(f'data/{db_file}'))

engine = create_engine(f'sqlite:///{db_file_path_str}')

In [2]:
with engine.connect() as conn, conn.begin():  
    cobranza_enero = pd.read_sql_table('cobranza_enero', conn, dtype_backend='numpy_nullable')
    cobranza_febrero = pd.read_sql_table('cobranza_febrero', conn, dtype_backend='numpy_nullable')
    cobranza_marzo = pd.read_sql_table('cobranza_marzo', conn, dtype_backend='numpy_nullable')
    cobranza_abril = pd.read_sql_table('cobranza_abril', conn, dtype_backend='numpy_nullable')
    cobranza_mayo = pd.read_sql_table('cobranza_mayo', conn, dtype_backend='numpy_nullable')
    cobranza_junio = pd.read_sql_table('cobranza_junio', conn, dtype_backend='numpy_nullable')
    cobranza_julio = pd.read_sql_table('cobranza_julio', conn, dtype_backend='numpy_nullable')
    cobranza_año = pd.read_sql_table('cobranza_año', conn, dtype_backend='numpy_nullable')

engine.dispose()

In [3]:
cobranza_año

,fact_doc_id,fact_doc_name,partner_id,partner_name,fact_doc_date,fact_doc_total,fact_doc_deuda,pay_journal,ref,pay_amount,pay_date,dias_pago,pay_pos,salesperson_id,salesperson_name,sale_team_id,sale_team_description,business_model,warehouse
0,8192,F2-CC/2024/01043,13803,STANLEY PARK,2024-01-17,394.63,0.00,Banco Sant92000702524,<NA>,394.63,2024-01-29,12,<NA>,233.00,Angela Carrillo Cárdenas,6,A2 Piso,Piso,A2
1,8193,F1-CC/2024/00804,16253,Mostrador,2024-01-17,7.33,0.00,Punto De Venta A1,PdV CSL/0805,7.33,2024-01-17,0,Efectivo A1,218.00,Gladiz Melisa Galvez Espinoza,5,A1 Piso,Piso,A1
2,16384,F1-CC/2024/01553,16253,Mostrador,2024-01-31,983.28,0.00,Punto De Venta A1,PdV CSL/1550,983.28,2024-01-31,0,Tarjeta Débito A1,218.00,Gladiz Melisa Galvez Espinoza,5,A1 Piso,Piso,A1
3,16387,F1-CC/2024/01554,16253,Mostrador,2024-01-31,213.59,0.00,Punto De Venta A1,PdV CSL/1551,213.59,2024-01-31,0,Tarjeta Débito A1,218.00,Gladiz Melisa Galvez Espinoza,5,A1 Piso,Piso,A1
4,8196,F1-CC/2024/00805,16253,Mostrador,2024-01-17,776.04,0.00,Punto De Venta A1,PdV CSL/0806,776.04,2024-01-17,0,Tarjeta Crédito A1,212.00,Reyna Arriaga Flores,5,A1 Piso,Piso,A1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25146,-741,FECSL 12217,15712,DCSL BUILDERS,2023-02-21,<NA>,<NA>,SAE,<NA>,"5,557.41",2024-04-19,423,<NA>,211.00,Mayra Angelica Parada Manjarrez,7,A1 CE,CE,A1
25147,-742,FECSL 15498,15224,ADMINISTRADORA FASE LAS ESTRELLAS,2023-12-22,<NA>,<NA>,SAE,<NA>,"1,955.31",2024-04-19,119,<NA>,211.00,Mayra Angelica Parada Manjarrez,7,A1 CE,CE,A1
25148,-743,CF 137036,15371,ANGEL MALDONADO TORRES,2023-10-11,<NA>,<NA>,SAE,<NA>,"2,264.75",2024-05-17,219,<NA>,212.00,Reyna Arriaga Flores,5,A1 Piso,Piso,A1
25149,-744,CF 137345,15371,ANGEL MALDONADO TORRES,2023-10-17,<NA>,<NA>,SAE,<NA>,"2,403.52",2024-05-17,213,<NA>,224.00,Leticia Terán Salinas,5,A1 Piso,Piso,A1
25150,-745,CF 138602,15371,ANGEL MALDONADO TORRES,2023-11-13,<NA>,<NA>,SAE,<NA>,"6,756.21",2024-05-17,186,<NA>,218.00,Gladiz Melisa Galvez Espinoza,5,A1 Piso,Piso,A1