In [1]:
import os
from pathlib import Path
from sqlalchemy import create_engine

import xmlrpc.client
import pandas as pd
pd.options.display.float_format = '{:,.2f}'.format

from IPython.display import display

api_url = os.environ.get('ODOO_URL_API')
api_db = os.environ.get('ODOO_DB_API')
api_username = os.environ.get('ODOO_USERNAME_API')
api_clave = os.environ.get('ODOO_CLAVE_API')

common = xmlrpc.client.ServerProxy(f'{api_url}/xmlrpc/2/common')
uid = common.authenticate(api_db, api_username, api_clave, {})
models = xmlrpc.client.ServerProxy(f'{api_url}/xmlrpc/2/object')

db_file = 'comisiones.db'
db_file_path_str = str(Path().cwd().parent.parent.joinpath(f'data/{db_file}'))

engine = create_engine(f'sqlite:///{db_file_path_str}')

# Generar los DataFrames

In [2]:
with engine.connect() as conn, conn.begin():  
    ventas_enero = pd.read_sql_table('ventas_enero', conn, dtype_backend='numpy_nullable')
    ventas_febrero = pd.read_sql_table('ventas_febrero', conn, dtype_backend='numpy_nullable')
    ventas_marzo = pd.read_sql_table('ventas_marzo', conn, dtype_backend='numpy_nullable')
    ventas_abril = pd.read_sql_table('ventas_abril', conn, dtype_backend='numpy_nullable')
    ventas_mayo = pd.read_sql_table('ventas_mayo', conn, dtype_backend='numpy_nullable')
    ventas_junio = pd.read_sql_table('ventas_junio', conn, dtype_backend='numpy_nullable')
    ventas_año = pd.read_sql_table('ventas_año', conn, dtype_backend='numpy_nullable')

engine.dispose()

In [3]:
ventas_año = ventas_año[ventas_año['invoice_date'].dt.month < 7]

In [4]:
db_file1 = 'proveedores_oficiales.xlsx'
db_file1_path_str = str(Path().cwd().parent.parent.joinpath(f'data/compras/{db_file1}'))

proveedores = pd.read_excel(db_file1_path_str, dtype_backend='numpy_nullable')
prov_oficiales = proveedores.loc[proveedores['oficial'] == 1][['partner_id', 'partner_name']]
prov_locales = proveedores.loc[proveedores['oficial'] == 0][['partner_id', 'partner_name']]

In [5]:
db_file2 = 'productos_sin_compra.xlsx'
db_file2_path_str = str(Path().cwd().parent.parent.joinpath(f'data/compras/{db_file2}'))

productos_sin_compra = pd.read_excel(db_file2_path_str, dtype_backend='numpy_nullable')

productos_sin_compra['tolerance_order_date'] = productos_sin_compra['order_date']

In [6]:
fields_compras_doc = ['name', 'state','partner_id', 'partner_ref', 'date_approve', 'x_fecha_factura', 'user_id', 'create_uid']

ids_compras_doc = models.execute_kw(api_db, uid, api_clave, 'purchase.order', 'search', [[("state", "in", ("purchase", "done"))]])
json_compras_doc = models.execute_kw(api_db, uid, api_clave, 'purchase.order', 'read', [ids_compras_doc], {'fields': fields_compras_doc})

In [7]:
data_compras_doc = []

for compra in json_compras_doc:
    new = {}
    new['order_id'] = compra['id']
    new['order_name'] = compra['name']
    new['order_state'] = compra['state']
    new['order_date'] = compra['date_approve'] if compra['date_approve'] else pd.NA
    new['partner_id'] = compra['partner_id'][0]
    new['partner_name'] = compra['partner_id'][1]
    new['partner_fact_ref'] = compra['partner_ref']
    new['partner_fact_date'] = compra['x_fecha_factura'] if compra['x_fecha_factura'] else pd.NA
    new['capturista'] = compra['create_uid'][1] if compra['create_uid'] else pd.NA
    new['vendedora'] = compra['user_id'][1] if compra['user_id'] else pd.NA

    data_compras_doc.append(new)

compras_doc = pd.DataFrame(data_compras_doc)
compras_doc['order_date'] = pd.to_datetime(compras_doc['order_date'], format='%Y-%m-%d %H:%M:%S')
compras_doc['partner_fact_date'] = pd.to_datetime(compras_doc['partner_fact_date'], format='%Y-%m-%d')

In [8]:
fields_compras_line = ['order_id', 'date_approve', 'partner_id','product_id', 'product_qty', 'price_unit_discounted']

ids_compras_line = models.execute_kw(api_db, uid, api_clave, 'purchase.order.line', 'search', [[("order_id.id", "in", ids_compras_doc)]])
json_compras_line = models.execute_kw(api_db, uid, api_clave, 'purchase.order.line', 'read', [ids_compras_line], {'fields': fields_compras_line})

In [9]:
data_compras_line = []

for line in json_compras_line:
    new = {}
    new['line_id'] = line['id']
    new['order_id'] = line['order_id'][0]
    new['order_name'] = line['order_id'][1]
    new['order_date'] = line['date_approve'] if line['date_approve'] else pd.NA
    new['partner_id'] = line['partner_id'][0]
    new['partner_name'] = line['partner_id'][1]
    new['product_id_pp'] = line['product_id'][0]
    new['product_name'] = line['product_id'][1]
    new['product_qty'] = line['product_qty']
    new['product_price'] = line['price_unit_discounted']
    
    data_compras_line.append(new)

compras_linea = pd.DataFrame(data_compras_line)
compras_linea['order_date'] = pd.to_datetime(compras_linea['order_date'], format='%Y-%m-%d %H:%M:%S')

compras_linea['oficial'] = compras_linea['partner_id'].isin(prov_oficiales['partner_id'])

In [10]:
compras_odoo = pd.merge(
                    compras_linea,
                    compras_doc[['order_id', 'partner_fact_ref', 'partner_fact_date', 'capturista', 'vendedora']], 
                    how='left', 
                    on='order_id'
                )

compras_odoo['tolerance_order_date'] = compras_odoo['order_date'].dt.normalize() - pd.Timedelta(days=5)

cols_to_Int64 = ['line_id', 'order_id', 'partner_id', 'product_id_pp']
compras_odoo[cols_to_Int64] = compras_odoo[cols_to_Int64].astype('Int64')

compras_odoo['product_qty'] = compras_odoo['product_qty'].astype('Float64')
compras_odoo['vendedora'] = compras_odoo['vendedora'].convert_dtypes()

compras = pd.concat([compras_odoo, productos_sin_compra])

# Checks

In [11]:
# Línea para comprobrar que el 100% de los proveedores de Odoo están calificados en la lista de proveedores oficiales

check1 = (compras_doc[~compras_doc['partner_id'].isin(proveedores['partner_id'])]).drop_duplicates('partner_id')

if not check1.empty:
    print('Hay proveedores no calificados')
    display(check1)

else:
    print('Todo correcto con check1')

Hay proveedores no calificados

,order_id,order_name,order_state,order_date,partner_id,partner_name,partner_fact_ref,partner_fact_date,capturista,vendedora
18,3365,P03350,purchase,2024-07-08 19:35:15,5183,Electrica Sanbello,FSL 27770,2024-07-08,Alexa Yadira Mazariegos Zunun,Irma Carvajal Flores
23,3357,P03342,purchase,2024-07-08 16:56:16,5160,Maquinaria Y Agregados De La Baja,10019,2024-07-06,Alexa Yadira Mazariegos Zunun,Brenda Luz Acosta Lopez
44,3332,P03317,purchase,2024-07-05 19:24:53,5205,Proriego Sistemas De Riego,CS1VC1FA40073,2024-07-05,Alexa Yadira Mazariegos Zunun,Irma Carvajal Flores
79,3287,P03272,purchase,2024-07-03 23:13:21,14576,FYMSA BAJA SUR,SJ 33643,2024-07-03,Elsa Ivette Diaz Leyva,Yamilet Blanco Salas

In [12]:
check_costo_venta = (
    pd.merge_asof(
        left = ventas_año.sort_values('invoice_date'),
        right = compras.sort_values('tolerance_order_date'), 
        
        left_by = 'product_id', 
        right_by = 'product_id_pp', 
        
        left_on = 'invoice_date', 
        right_on = 'tolerance_order_date', 

        direction = 'backward')
)

check2 = check_costo_venta[check_costo_venta['product_price'].isna()][['product_id', 'product_name_x']]

print(f'Hay {len(check2)} renglones sin costo de la venta.')

if not check2.empty:
    print('Los productos sin costo son los siguientes:')
    display(check2.drop_duplicates('product_id'))

else:
    print('Todo correcto con check2')

Hay 21 renglones sin costo de la venta.
Los productos sin costo son los siguientes:

       product_id            product_name_x
10061       14757                 Nuevo *0*
10282       28586                  Anticipo
13415       28638  Servicios de Facturación
18005           4            Anticipo (PdV)

# Preliminares... obtener los segmentos a trabajar

Sacar los productos que se compran con varios proveedores

In [13]:
prod_comprados_odoo = ( compras_odoo[['partner_id', 'partner_name', 'product_id_pp', 'product_name']]
                        .sort_values('partner_id')
                        .groupby('product_id_pp')
                        .agg({'product_name': ['first'], 'partner_id': ['mean', 'first']})
                    ).reset_index()

prod_comprados_odoo['diff'] = prod_comprados_odoo[('partner_id', 'mean')]  == prod_comprados_odoo[('partner_id', 'first')]

ids_productos_varios_prov = prod_comprados_odoo.loc[prod_comprados_odoo['diff'] == False]['product_id_pp']
ids_productos_unicos_prov = prod_comprados_odoo.loc[prod_comprados_odoo['diff'] == True]['product_id_pp']

print(f"Se han comprado un total de {len(prod_comprados_odoo['product_id_pp'])} productos en Odoo:")
print(f'    - {len(ids_productos_varios_prov)} productos con más de un proveedor', f"{len(ids_productos_varios_prov)/len(prod_comprados_odoo['product_id_pp'])*100:.2f}%")
print(f'    - {len(ids_productos_unicos_prov)} productos con un único proveedor', f"{len(ids_productos_unicos_prov)/len(prod_comprados_odoo['product_id_pp'])*100:.2f}%")

Se han comprado un total de 5177 productos en Odoo:
    - 231 productos con más de un proveedor 4.46%
    - 4946 productos con un único proveedor 95.54%

De los productos comprados a más de un proveedor, se obtienen los que no han cambiado su costo en el tiempo

In [14]:
compras_prod_varios_prov = compras_odoo[compras_odoo['product_id_pp'].isin(ids_productos_varios_prov)]


compras_prod_varios_prov_agrupado = (compras_prod_varios_prov
                                     .sort_values('partner_id')
                                     .groupby('product_id_pp')
                                     .agg({'product_name':['first'], 'line_id':['count'], 'product_price':['first', 'mean']})
                                    ).reset_index()

compras_prod_varios_prov_agrupado['diff'] = compras_prod_varios_prov_agrupado[('product_price', 'first')] == compras_prod_varios_prov_agrupado[('product_price', 'mean')]

ids_prod_varios_prov_costo_sin_cambios = compras_prod_varios_prov_agrupado.loc[compras_prod_varios_prov_agrupado['diff'] == True]['product_id_pp']
ids_prod_varios_prov_costo_con_cambios = compras_prod_varios_prov_agrupado.loc[compras_prod_varios_prov_agrupado['diff'] == False]['product_id_pp']


print(f'De los {len(ids_productos_varios_prov)} productos comprados con varios proveedores:')
print(f'    - {len(ids_prod_varios_prov_costo_sin_cambios)} productos no han cambiado su costo, representan a un {len(ids_prod_varios_prov_costo_sin_cambios)/len(ids_productos_varios_prov)*100:.2f}%')
print(f'    - {len(ids_prod_varios_prov_costo_con_cambios)} productos sí han cambiado su costo, representan a un {len(ids_prod_varios_prov_costo_con_cambios)/len(ids_productos_varios_prov)*100:.2f}%')

De los 231 productos comprados con varios proveedores:
    - 7 productos no han cambiado su costo, representan a un 3.03%
    - 224 productos sí han cambiado su costo, representan a un 96.97%

### Productos fase A del costo de ventas

Se concatena los productos comprados a un único proveedor ('ids_productos_unicos_prov') y los productos comprados a varios proveedores que no han cambiado su precio ('ids_prod_varios_prov_costo_sin_cambios')

In [15]:
ids_prod_fase_A = pd.concat([ids_productos_unicos_prov, ids_prod_varios_prov_costo_sin_cambios]).sort_values()

Se definen los dataframes de ventas y compras para la fase A, donde al ser productos de venta "diaria" se utiliza el data frame de compras en general.

In [16]:
ventas_fase_A = ventas_año[ventas_año['product_id'].isin(ids_prod_fase_A)]
compras_fase_A = compras[compras['product_id_pp'].isin(ids_prod_fase_A)]

### Productos fase B del costo de ventas

Resto de los productos que no pertenecen a la fase A.  
Se definen los dataframes de ventas y compras para la fase B, donde al ser productos de venta "especial" se utiliza el data frame de compras_odoo.

In [17]:
ventas_fase_B = ventas_año[~ventas_año['product_id'].isin(ids_prod_fase_A)]
compras_fase_B = compras_odoo[~compras_odoo['product_id_pp'].isin(ids_prod_fase_A)]

# Fase A: punto focal "Líneas de venta"
## Productos comprados con un único proveedor y
## Productos comprados a varios proveedores que no cambiaron su precio en el tiempo

Se obtiene el costo de venta en el dataframe 'ventas_año' donde  los renglones de venta coinciden con los 'ids_prod_fase_A', su contraparte es el total de las compras.
Estas ventas no son de tipo "especial", sino venta normal y se trata de encontrar un "Último costo". Es por esto que no se usa tolerancia y la dirección es "backward".

In [18]:
costo_venta_fase_A = (
    pd.merge_asof(
        left = ventas_fase_A.sort_values('invoice_date'),
        right = compras_fase_A.sort_values('tolerance_order_date'), 
        
        left_by = 'product_id', 
        right_by = 'product_id_pp', 
        
        left_on = 'invoice_date', 
        right_on = 'tolerance_order_date', 

        direction = 'backward')
)

# Fase B: punto focal "Líneas de compra"
## Productos comprados a varios proveedores que sí cambiaron su precio en el tiempo

### 1er vuelta: productos que con un match sencillo, coinciden en 3 condiciones [producto, vendedora, cantidad]

Se estudian las líneas de compras con 'ids_prod_fase_B'

In [19]:
print(f'Son un total de {len(compras_odoo)} líneas de compra en Odoo. (Aquí no hay líneas del SAE)')

print(f'\nEn la fase B, quedan sólo {len(compras_fase_B)} de ellas {len(compras_fase_B)/len(compras_odoo)*100:.2f}%')

Son un total de 13478 líneas de compra en Odoo. (Aquí no hay líneas del SAE)

En la fase B, quedan sólo 1479 de ellas 10.97%

Debido a que el punto focal son las compras, no se puede hablar de un costo de la venta, sino de un "match entre ids".  
Se obtiene el match de líneas de compra de fase B donde  los renglones de coinciden con los 'ids_productos_varios_prov_costo_con_cambios'. Su contraparte es el total de ventas_año con ids de producto de fase B.  
Debido a que estas compras son para ventas de tipo "Especial", se trata de buscar una venta exacta con las 3 condiciones descritas anteriormente. Se usa una tolerancia y con dirección "nearest".

In [20]:
match_1ro = (
    pd.merge_asof(
        left = compras_fase_B.sort_values('order_date'), 
        right = ventas_fase_B.sort_values('invoice_date'),
        
        left_by = ['product_id_pp', 'vendedora', 'product_qty'], 
        right_by = ['product_id', 'salesperson_name', 'quantity'], 
        
        left_on = 'order_date', 
        right_on = 'invoice_date', 

        tolerance = pd.Timedelta(days=5),
        
        direction = 'nearest')
)

Se descartan del merge anterior los match donde hay líneas de compras unidos a líneas de venta repetidas

In [21]:
ids_fact_line_repetidas = match_1ro.loc[(~match_1ro['fact_line_id'].isna()) & (match_1ro['fact_line_id'].duplicated()), 'fact_line_id']
ids_order_line_con_fact_line_repetidas = match_1ro.loc[match_1ro['fact_line_id'].isin(ids_fact_line_repetidas), 'line_id']

print(f'Son {len(ids_order_line_con_fact_line_repetidas)} líneas de compras que se unieron a líneas repetidad de fact_line_id')

Son 25 líneas de compras que se unieron a líneas repetidad de fact_line_id

Se procede a segmentar del merge 'match_1ro_fase_b' los match que sí se pueden usar y delimitas el trabajo faltante

In [22]:
match_1ro_compras_ok = match_1ro.loc[(~match_1ro['fact_line_id'].isna()) & (~match_1ro['line_id'].isin(ids_order_line_con_fact_line_repetidas)), ['fact_line_id', 'line_id']]

match_1ro_compras_faltantes = compras_fase_B.loc[~compras_fase_B['line_id'].isin(match_1ro_compras_ok['line_id'])]
match_1ro_ventas_faltantes = ventas_fase_B.loc[~ventas_fase_B['fact_line_id'].isin(match_1ro_compras_ok['fact_line_id'])]

print(f'Son un total de {len(compras_fase_B)} líneas de compra en la fase B.')

print(f'   En el 1er match se emparejaron {len(match_1ro_compras_ok)} de ellas {len(match_1ro_compras_ok)/len(compras_fase_B)*100:.2f}%')
print(f'   Quedan por emparejar {len(match_1ro_compras_faltantes)} de líneas {len(match_1ro_compras_faltantes)/len(compras_fase_B)*100:.2f}%')

Son un total de 1479 líneas de compra en la fase B.
   En el 1er match se emparejaron 754 de ellas 50.98%
   Quedan por emparejar 725 de líneas 49.02%

### ¡WEP! 2da vuelta: productos que tuvieron líneas repetidas de venta y los que no se mercharon!!

In [23]:
# For para dar tratamiento a las líneas de compra que tuvieron tuvieron match con una misma línea de venta
wep_vacias = []

ids_ventas_a_descontar = []
lista_ventas_merged = []

for i in range(len(match_1ro_compras_faltantes)):

    linea_compra = match_1ro_compras_faltantes.iloc[i]

    mini_df = match_1ro_ventas_faltantes.loc[
                ~(match_1ro_ventas_faltantes['fact_line_id'].isin(ids_ventas_a_descontar))
                & (match_1ro_ventas_faltantes['product_id'] == linea_compra['product_id_pp'])
                & (match_1ro_ventas_faltantes['salesperson_name'] == linea_compra['vendedora'])
                & (match_1ro_ventas_faltantes['quantity'] == linea_compra['product_qty'])
                & (match_1ro_ventas_faltantes['invoice_date'] >= linea_compra['order_date'] - pd.Timedelta(days=5))
                & (match_1ro_ventas_faltantes['invoice_date'] <= linea_compra['order_date'] + pd.Timedelta(days=15))
            ]

# Línea para quitar del siguiente mini_df de ventas
    if len(mini_df) == 1:
        venta = mini_df['fact_line_id'].iloc[0]
        compra = linea_compra['line_id']
        
        ids_ventas_a_descontar.append(venta)
        lista_ventas_merged.append([venta, compra])

    if len(mini_df) > 1:
        mini_df_varios = mini_df.copy()
        mini_df_varios['diff'] = abs(mini_df_varios['invoice_date'] - linea_compra['order_date'])
        venta = mini_df_varios.sort_values('diff')['fact_line_id'].iloc[0]
        compra = linea_compra['line_id']

        ids_ventas_a_descontar.append(venta)
        lista_ventas_merged.append([venta, compra])

    if mini_df.empty:
        wep_vacias.append(linea_compra['line_id'])

print(len(wep_vacias), 'wep_vacias')

match_2do_compras_ok = pd.DataFrame(lista_ventas_merged, columns=['fact_line_id', 'line_id'])
print(len(match_2do_compras_ok), 'merchadas')

665 wep_vacias
60 merchadas

In [33]:
wep_muchas = []

for i in range(len(match_1ro_compras_faltantes)):

    linea_compra = match_1ro_compras_faltantes.iloc[i]

    mini_df = match_1ro_ventas_faltantes.loc[
                (match_1ro_ventas_faltantes['product_id'] == linea_compra['product_id_pp'])
                & (match_1ro_ventas_faltantes['salesperson_name'] == linea_compra['vendedora'])
                & (match_1ro_ventas_faltantes['invoice_date'] >= linea_compra['order_date'] - pd.Timedelta(days=5))
                & (match_1ro_ventas_faltantes['invoice_date'] <= linea_compra['order_date'] + pd.Timedelta(days=15))
            ]

    if len(mini_df) > 1:
        wep_muchas.append(linea_compra['line_id'])

In [117]:
wep_linea_compra = match_1ro_compras_faltantes[match_1ro_compras_faltantes['line_id'] == 11550].iloc[0]
wep_linea_compra

line_id                                                      11550
order_id                                                      1963
order_name                                       P01950 (LA 42511)
order_date                                     2024-04-29 18:34:36
partner_id                                                    5143
partner_name                                        Fymsa Baja Sur
product_id_pp                                                13453
product_name            [1587] Cemento Gris Bulto (50kg) CE *1587*
product_qty                                                   4.00
product_price                                               306.03
oficial                                                      False
partner_fact_ref                                          LA 42511
partner_fact_date                                              NaT
capturista                           Alexa Yadira Mazariegos Zunun
vendedora                                     Irma Carvajal Flores
tolerance_order_date                           2024-04-24 00:00:00
Name: 4989, dtype: object

In [123]:
for i in range(len(match_1ro_compras_faltantes)):

    wep_linea_compra = match_1ro_compras_faltantes.iloc[i]

    lic = match_1ro_ventas_faltantes.loc[
                    (match_1ro_ventas_faltantes['product_id'] == wep_linea_compra['product_id_pp'])
                    & (match_1ro_ventas_faltantes['salesperson_name'] == wep_linea_compra['vendedora'])
                    & (match_1ro_ventas_faltantes['invoice_date'] >= wep_linea_compra['order_date'] - pd.Timedelta(days=5))
                    & (match_1ro_ventas_faltantes['invoice_date'] <= wep_linea_compra['order_date'] + pd.Timedelta(days=15))
                ]
    
    if not lic.empty:

        lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])
        lic_sort = lic.sort_values('diff').reset_index()
        lic_sort['cumsum'] = lic_sort['quantity'].cumsum()
        display(wep_linea_compra)
        display(lic_sort)
        lic_sort[lic_sort['cumsum'] == wep_linea_compra['product_qty']].index

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                               19083
order_id                                               3126
order_name                           P03112 (FC-LPZ1-83952)
order_date                              2024-06-26 20:52:31
partner_id                                             5285
partner_name                    Surtidora Mexicana Frontera
product_id_pp                                         10826
product_name            [3687] Pasador Ph #36-C #133 *3687*
product_qty                                           12.00
product_price                                         54.39
oficial                                               False
partner_fact_ref                              FC-LPZ1-83952
partner_fact_date                       2024-06-25 00:00:00
capturista                    Alexa Yadira Mazariegos Zunun
vendedora                           Brenda Luz Acosta Lopez
tolerance_order_date                    2024-06-21 00:00:00
Name: 801, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,63756,110633,F2-VS/2024/01547,2024-06-27,posted,S30873,Ventas,<NA>,out_invoice,<NA>,...,10826,Pasador Ph #36-C #133 *3687*,3687,00ASS,24.00,85.05,0.00,"2,041.20",0 days 03:07:29,24.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                         19076
order_id                                                         3119
order_name                                       P03105 (W0000493052)
order_date                                        2024-06-25 23:43:18
partner_id                                                       5157
partner_name                                                Ferre-Pat
product_id_pp                                                   11270
product_name            [19258] Disco Diam. MK D-36837 4-1/2" *19258*
product_qty                                                     10.00
product_price                                                   81.95
oficial                                                         False
partner_fact_ref                                          W0000493052
partner_fact_date                                 2024-06-12 00:00:00
capturista                              Alexa Yadira Mazariegos Zunun
vendedora                                        Yamilet Blanco Salas
tolerance_order_date                              2024-06-20 00:00:00
Name: 811, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,63667,110415,F2-VS/2024/01543,2024-06-26,posted,S26309,Ventas,<NA>,out_invoice,<NA>,...,11270,"Disco Diam. MK D-36837 4-1/2"" *19258*",19258,0MAKA,2.00,112.13,0.00,224.26,0 days 00:16:42,2.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                          18776
order_id                                                          3082
order_name                                       P03068 (SJCFCO 16222)
order_date                                         2024-06-24 15:43:49
partner_id                                                        5326
partner_name                            Madereria El Pino De Los Cabos
product_id_pp                                                    14548
product_name            [24622] Tabla Teka Nacional 1x8 (Cama) *24622*
product_qty                                                      25.00
product_price                                                 1,862.07
oficial                                                          False
partner_fact_ref                                          SJCFCO 16222
partner_fact_date                                  2024-06-22 00:00:00
capturista                               Alexa Yadira Mazariegos Zunun
vendedora                                         Yamilet Blanco Salas
tolerance_order_date                               2024-06-19 00:00:00
Name: 985, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,63452,109819,F2-VS/2024/01537,2024-06-26,posted,S29608,Ventas,<NA>,out_invoice,<NA>,...,14548,Tabla Teka Nacional 1x8 (Cama) *24622*,24622,00MAD,7.00,"2,793.11",0.00,"19,551.77",1 days 08:16:11,7.00
1,63456,109819,F2-VS/2024/01537,2024-06-26,posted,S29608,Ventas,<NA>,out_invoice,<NA>,...,14548,Tabla Teka Nacional 1x8 (Cama) *24622*,24622,00MAD,2.00,"2,793.11",0.00,"5,586.22",1 days 08:16:11,9.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                         18534
order_id                                                         3066
order_name                                      P03052 (MPIFCO 12363)
order_date                                        2024-06-20 18:17:00
partner_id                                                       5296
partner_name                                     Madereria Pichonchas
product_id_pp                                                   14147
product_name            [3637] Triplay Pino 3/4  4'*8'  1/Cara *3637*
product_qty                                                      3.00
product_price                                                  629.31
oficial                                                         False
partner_fact_ref                                         MPIFCO 12363
partner_fact_date                                 2024-06-17 00:00:00
capturista                              Alexa Yadira Mazariegos Zunun
vendedora                             Mayra Angelica Parada Manjarrez
tolerance_order_date                              2024-06-15 00:00:00
Name: 1104, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,60871,105167,F1-VS/2024/01821,2024-06-19,posted,S27815,Ventas,<NA>,out_invoice,<NA>,...,14147,Triplay Pino 3/4 4'*8' 1/Cara *3637*,3637,00MAD,2.00,"1,121.66",0.00,"2,243.32",1 days 18:17:00,2.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                         18393
order_id                                                         3042
order_name                                           P03028 (B 87008)
order_date                                        2024-06-19 18:10:50
partner_id                                                       5290
partner_name                             Maria Reyna Navarrete Cortez
product_id_pp                                                   14147
product_name            [3637] Triplay Pino 3/4  4'*8'  1/Cara *3637*
product_qty                                                      1.00
product_price                                                  796.52
oficial                                                         False
partner_fact_ref                                              B 87008
partner_fact_date                                 2024-06-19 00:00:00
capturista                              Alexa Yadira Mazariegos Zunun
vendedora                             Mayra Angelica Parada Manjarrez
tolerance_order_date                              2024-06-14 00:00:00
Name: 1187, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,60871,105167,F1-VS/2024/01821,2024-06-19,posted,S27815,Ventas,<NA>,out_invoice,<NA>,...,14147,Triplay Pino 3/4 4'*8' 1/Cara *3637*,3637,00MAD,2.00,"1,121.66",0.00,"2,243.32",0 days 18:10:50,2.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                   18337
order_id                                                   3018
order_name                                P03004 (MPIFCO 12365)
order_date                                  2024-06-18 22:39:16
partner_id                                                 5296
partner_name                               Madereria Pichonchas
product_id_pp                                             13636
product_name            [13756] Tabla Americana 1x12x10 *13756*
product_qty                                               11.00
product_price                                            336.21
oficial                                                   False
partner_fact_ref                                   MPIFCO 12365
partner_fact_date                           2024-06-17 00:00:00
capturista                        Alexa Yadira Mazariegos Zunun
vendedora                                  Irma Carvajal Flores
tolerance_order_date                        2024-06-13 00:00:00
Name: 1226, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,60260,103962,F1-VS/2024/01801,2024-06-17,posted,S29145,Ventas,<NA>,out_invoice,<NA>,...,13636,Tabla Americana 1x12x10 *13756*,13756,00MAD,10.00,512.00,0.00,"5,120.00",1 days 22:39:16,10.00
1,60263,103964,F1-VS/2024/01802,2024-06-17,posted,S29147,Ventas,<NA>,out_invoice,<NA>,...,13636,Tabla Americana 1x12x10 *13756*,13756,00MAD,1.00,512.00,0.00,512.00,1 days 22:39:16,11.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                             18173
order_id                                                             2997
order_name                                      P02983 (2000005886139825)
order_date                                            2024-06-17 23:38:25
partner_id                                                           5128
partner_name                                                Mercado Libre
product_id_pp                                                       12631
product_name            [23332] Lana D/Acero #0000 Super Fina 8pz 0320...
product_qty                                                         20.00
product_price                                                      171.55
oficial                                                             False
partner_fact_ref                                         2000005886139825
partner_fact_date                                     2024-06-12 00:00:00
capturista                                  Alexa Yadira Mazariegos Zunun
vendedora                                            Yamilet Blanco Salas
tolerance_order_date                                  2024-06-12 00:00:00
Name: 1321, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,62121,107212,F2-VS/2024/01513,2024-06-22,posted,S27490,Ventas,<NA>,out_invoice,<NA>,...,12631,Lana D/Acero #0000 Super Fina 8pz 0320 *23332*,23332,000CE,5.00,218.73,0.00,"1,093.65",4 days 00:21:35,5.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                             18066
order_id                                                             2984
order_name                                          P02970 (MPIFCO 12333)
order_date                                            2024-06-17 20:03:46
partner_id                                                           5296
partner_name                                         Madereria Pichonchas
product_id_pp                                                       14518
product_name            [14544] Cierra Puerta Hafele Oculto #931.77.02...
product_qty                                                          6.00
product_price                                                    2,004.31
oficial                                                             False
partner_fact_ref                                             MPIFCO 12333
partner_fact_date                                     2024-06-17 00:00:00
capturista                                  Alexa Yadira Mazariegos Zunun
vendedora                                 Mayra Angelica Parada Manjarrez
tolerance_order_date                                  2024-06-12 00:00:00
Name: 1379, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,62901,108542,F1-VS/2024/01871,2024-06-25,posted,S28767,Ventas,<NA>,out_invoice,<NA>,...,14518,Cierra Puerta Hafele Oculto #931.77.029 *14544*,14544,9,6.00,"3,892.78",0.00,"23,356.68",7 days 03:56:14,6.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                             18064
order_id                                                             2982
order_name                                            P02968 (K 26053833)
order_date                                            2024-06-17 19:52:49
partner_id                                                           5246
partner_name                                               Productos Jako
product_id_pp                                                       29436
product_name            [4900] Cerradura con Botón Alta Seguridad Inox...
product_qty                                                          4.00
product_price                                                      578.58
oficial                                                              True
partner_fact_ref                                               K 26053833
partner_fact_date                                     2024-06-04 00:00:00
capturista                                  Alexa Yadira Mazariegos Zunun
vendedora                                         Brenda Luz Acosta Lopez
tolerance_order_date                                  2024-06-12 00:00:00
Name: 1382, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,62996,108662,F2-VS/2024/01523,2024-06-25,posted,S30454,Ventas,<NA>,out_invoice,<NA>,...,29436,Cerradura con Botón Alta Seguridad Inoxidable ...,4900,<NA>,6.00,838.00,0.00,"5,028.00",7 days 04:07:11,6.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                             18062
order_id                                                             2981
order_name                                              P02967 (A 360071)
order_date                                            2024-06-17 19:51:15
partner_id                                                           5170
partner_name                                                   Casa Ikeda
product_id_pp                                                       29436
product_name            [4900] Cerradura con Botón Alta Seguridad Inox...
product_qty                                                          5.00
product_price                                                      578.58
oficial                                                             False
partner_fact_ref                                                 A 360071
partner_fact_date                                     2024-06-06 00:00:00
capturista                                  Alexa Yadira Mazariegos Zunun
vendedora                                         Brenda Luz Acosta Lopez
tolerance_order_date                                  2024-06-12 00:00:00
Name: 1383, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,62996,108662,F2-VS/2024/01523,2024-06-25,posted,S30454,Ventas,<NA>,out_invoice,<NA>,...,29436,Cerradura con Botón Alta Seguridad Inoxidable ...,4900,<NA>,6.00,838.00,0.00,"5,028.00",7 days 04:08:45,6.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                    18046
order_id                                                    2966
order_name                                      P02952 (B 86891)
order_date                                   2024-06-17 17:33:39
partner_id                                                  5290
partner_name                        Maria Reyna Navarrete Cortez
product_id_pp                                              14156
product_name            [15293] Triplay Birch 3/4  4'*8' *15293*
product_qty                                                 2.00
product_price                                             723.19
oficial                                                    False
partner_fact_ref                                         B 86891
partner_fact_date                            2024-06-13 00:00:00
capturista                         Alexa Yadira Mazariegos Zunun
vendedora                                   Irma Carvajal Flores
tolerance_order_date                         2024-06-12 00:00:00
Name: 1399, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,62806,108290,F1-VS/2024/01862,2024-06-24,posted,S29372,Ventas,<NA>,out_invoice,<NA>,...,14156,Triplay Birch 3/4 4'*8' *15293*,15293,00MAD,2.00,"1,084.79",0.00,"2,169.58",6 days 06:26:21,2.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                    17570
order_id                                                    2920
order_name                                      P02906 (B 86879)
order_date                                   2024-06-13 18:37:10
partner_id                                                  5290
partner_name                        Maria Reyna Navarrete Cortez
product_id_pp                                              13943
product_name            [15143] Triplay Birch 1/2  4'*8' *15143*
product_qty                                                 4.00
product_price                                             536.41
oficial                                                    False
partner_fact_ref                                         B 86879
partner_fact_date                            2024-06-12 00:00:00
capturista                         Alexa Yadira Mazariegos Zunun
vendedora                                   Irma Carvajal Flores
tolerance_order_date                         2024-06-08 00:00:00
Name: 1653, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,58493,101233,F1-VS/2024/01773,2024-06-12,posted,S24684,Ventas,<NA>,out_invoice,<NA>,...,13943,Triplay Birch 1/2 4'*8' *15143*,15143,00MAD,2.00,775.86,0.00,"1,551.72",1 days 18:37:10,2.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                          17567
order_id                                                          2919
order_name                                            P02905 (A 24388)
order_date                                         2024-06-13 18:08:27
partner_id                                                        5264
partner_name                            Maria Teresa Quezada Hernandez
product_id_pp                                                    13786
product_name            [13538] Tabla Americana 1" X 12" X 16' *13538*
product_qty                                                       4.00
product_price                                                   524.13
oficial                                                          False
partner_fact_ref                                               A 24388
partner_fact_date                                  2024-06-12 00:00:00
capturista                               Alexa Yadira Mazariegos Zunun
vendedora                                         Irma Carvajal Flores
tolerance_order_date                               2024-06-08 00:00:00
Name: 1657, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,58487,101231,F1-VS/2024/01771,2024-06-12,posted,S26031,Ventas,<NA>,out_invoice,<NA>,...,13786,"Tabla Americana 1"" X 12"" X 16' *13538*",13538,00MAD,2.00,827.58,0.00,"1,655.16",1 days 18:08:27,2.00
1,58492,101233,F1-VS/2024/01773,2024-06-12,posted,S24684,Ventas,<NA>,out_invoice,<NA>,...,13786,"Tabla Americana 1"" X 12"" X 16' *13538*",13538,00MAD,2.00,827.58,0.00,"1,655.16",1 days 18:08:27,4.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                         17562
order_id                                                         2915
order_name                                         P02901 (TRN 44206)
order_date                                        2024-06-13 17:34:59
partner_id                                                      16898
partner_name                                                   SIHPAC
product_id_pp                                                   13796
product_name            [60926] Cartucho MultiGas 3M 60926 CE *60926*
product_qty                                                     10.00
product_price                                                  402.68
oficial                                                         False
partner_fact_ref                                            TRN 44206
partner_fact_date                                 2024-06-07 00:00:00
capturista                              Alexa Yadira Mazariegos Zunun
vendedora                                        Irma Carvajal Flores
tolerance_order_date                              2024-06-08 00:00:00
Name: 1664, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,59046,101880,F1-VS/2024/01789,2024-06-13,posted,S25040,Ventas,<NA>,out_invoice,<NA>,...,13796,Cartucho MultiGas 3M 60926 CE *60926*,60926,000CE,5.00,658.39,0.00,"3,291.95",0 days 17:34:59,5.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                    17446
order_id                                                    2886
order_name                                      P02872 (B 86851)
order_date                                   2024-06-11 23:43:35
partner_id                                                  5290
partner_name                        Maria Reyna Navarrete Cortez
product_id_pp                                              13331
product_name            [16320] Triplay Birch 1/4  4'*8' *16320*
product_qty                                                 6.00
product_price                                             261.09
oficial                                                    False
partner_fact_ref                                         B 86851
partner_fact_date                            2024-06-11 00:00:00
capturista                         Alexa Yadira Mazariegos Zunun
vendedora                        Mayra Angelica Parada Manjarrez
tolerance_order_date                         2024-06-06 00:00:00
Name: 1740, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,57980,100398,F1-VS/2024/01758,2024-06-11,posted,S27556,Ventas,<NA>,out_invoice,<NA>,...,13331,Triplay Birch 1/4 4'*8' *16320*,16320,00MAD,4.00,413.81,0.00,"1,655.24",0 days 23:43:35,4.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                         17447
order_id                                                         2886
order_name                                           P02872 (B 86851)
order_date                                        2024-06-11 23:43:35
partner_id                                                       5290
partner_name                             Maria Reyna Navarrete Cortez
product_id_pp                                                   13811
product_name            [3651] Triplay Pino 1/2  4'*8'  1/Cara *3651*
product_qty                                                      5.00
product_price                                                  514.55
oficial                                                         False
partner_fact_ref                                              B 86851
partner_fact_date                                 2024-06-11 00:00:00
capturista                              Alexa Yadira Mazariegos Zunun
vendedora                             Mayra Angelica Parada Manjarrez
tolerance_order_date                              2024-06-06 00:00:00
Name: 1741, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,62871,108487,F1-VS/2024/01870,2024-06-25,posted,S30392,Ventas,<NA>,out_invoice,<NA>,...,13811,Triplay Pino 1/2 4'*8' 1/Cara *3651*,3651,00MAD,5.00,782.11,0.00,"3,910.55",13 days 00:16:25,5.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                       17445
order_id                                                       2885
order_name                                    P02871 (SJCFCO 15171)
order_date                                      2024-06-11 23:19:21
partner_id                                                     5326
partner_name                         Madereria El Pino De Los Cabos
product_id_pp                                                 14121
product_name            [12267] Tablon Americano #1 2X12X8' *12267*
product_qty                                                    6.00
product_price                                                606.90
oficial                                                       False
partner_fact_ref                                       SJCFCO 15171
partner_fact_date                               2024-06-11 00:00:00
capturista                            Alexa Yadira Mazariegos Zunun
vendedora                                      Yamilet Blanco Salas
tolerance_order_date                            2024-06-06 00:00:00
Name: 1742, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,57937,100305,F2-VS/2024/01411,2024-06-11,posted,S24972,Ventas,<NA>,out_invoice,<NA>,...,14121,Tablon Americano #1 2X12X8' *12267*,12267,00MAD,5.00,"1,084.49",0.00,"5,422.45",0 days 23:19:21,5.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                           17370
order_id                                           2876
order_name                             P02862 (A 24355)
order_date                          2024-06-11 15:57:37
partner_id                                         5264
partner_name             Maria Teresa Quezada Hernandez
product_id_pp                                     11569
product_name            [13376] Fajilla 16 Pies *13376*
product_qty                                        1.00
product_price                                     81.72
oficial                                           False
partner_fact_ref                                A 24355
partner_fact_date                   2024-06-10 00:00:00
capturista                Alexa Yadira Mazariegos Zunun
vendedora                          Irma Carvajal Flores
tolerance_order_date                2024-06-06 00:00:00
Name: 1785, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,57480,99379,F1-VS/2024/01743,2024-06-10,posted,S27558,Ventas,<NA>,out_invoice,<NA>,...,11569,Fajilla 16 Pies *13376*,13376,00MAD,36.00,122.85,0.00,"4,422.60",1 days 15:57:37,36.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                          17371
order_id                                          2876
order_name                            P02862 (A 24355)
order_date                         2024-06-11 15:57:37
partner_id                                        5264
partner_name            Maria Teresa Quezada Hernandez
product_id_pp                                    13906
product_name               [1478] Polin 4x4x16" *1478*
product_qty                                      11.00
product_price                                   504.31
oficial                                          False
partner_fact_ref                               A 24355
partner_fact_date                  2024-06-10 00:00:00
capturista               Alexa Yadira Mazariegos Zunun
vendedora                         Irma Carvajal Flores
tolerance_order_date               2024-06-06 00:00:00
Name: 1786, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,57479,99379,F1-VS/2024/01743,2024-06-10,posted,S27558,Ventas,<NA>,out_invoice,<NA>,...,13906,"Polin 4x4x16"" *1478*",1478,00MAD,20.00,756.47,0.00,"15,129.40",1 days 15:57:37,20.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                           17372
order_id                                           2876
order_name                             P02862 (A 24355)
order_date                          2024-06-11 15:57:37
partner_id                                         5264
partner_name             Maria Teresa Quezada Hernandez
product_id_pp                                     11569
product_name            [13376] Fajilla 16 Pies *13376*
product_qty                                       35.00
product_price                                     81.90
oficial                                           False
partner_fact_ref                                A 24355
partner_fact_date                   2024-06-10 00:00:00
capturista                Alexa Yadira Mazariegos Zunun
vendedora                          Irma Carvajal Flores
tolerance_order_date                2024-06-06 00:00:00
Name: 1787, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,57480,99379,F1-VS/2024/01743,2024-06-10,posted,S27558,Ventas,<NA>,out_invoice,<NA>,...,11569,Fajilla 16 Pies *13376*,13376,00MAD,36.00,122.85,0.00,"4,422.60",1 days 15:57:37,36.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                             17302
order_id                                                             2862
order_name                                      P02849 (2000005856958147)
order_date                                            2024-06-10 23:19:03
partner_id                                                           5128
partner_name                                                Mercado Libre
product_id_pp                                                       13463
product_name            [70061] Cartucho P/ Mascarilla Mod 6001 3M (2P...
product_qty                                                         16.00
product_price                                                      292.46
oficial                                                             False
partner_fact_ref                                         2000005856958147
partner_fact_date                                     2024-06-10 00:00:00
capturista                                  Alexa Yadira Mazariegos Zunun
vendedora                                         Brenda Luz Acosta Lopez
tolerance_order_date                                  2024-06-05 00:00:00
Name: 1815, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,56672,98021,F2-VS/2024/01383,2024-06-07,posted,S25514,Ventas,<NA>,out_invoice,<NA>,...,13463,Cartucho P/ Mascarilla Mod 6001 3M (2Pz) *70061*,70061,45,5.00,582.80,0.00,"2,914.00",3 days 23:19:03,5.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                      17063
order_id                                                      2843
order_name                                   P02830 (SJCFCO 14868)
order_date                                     2024-06-10 16:26:22
partner_id                                                    5326
partner_name                        Madereria El Pino De Los Cabos
product_id_pp                                                14282
product_name            [30066] Triplay Parota 3/4 x 4 x 8 *30066*
product_qty                                                  13.00
product_price                                               948.28
oficial                                                      False
partner_fact_ref                                      SJCFCO 14868
partner_fact_date                              2024-06-07 00:00:00
capturista                           Alexa Yadira Mazariegos Zunun
vendedora                                     Yamilet Blanco Salas
tolerance_order_date                           2024-06-05 00:00:00
Name: 1945, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,56659,98009,F2-VS/2024/01381,2024-06-07,posted,S26617,Ventas,<NA>,out_invoice,<NA>,...,14282,Triplay Parota 3/4 x 4 x 8 *30066*,30066,00MAD,8.00,"1,506.90",0.00,"12,055.20",3 days 16:26:22,8.00
1,56685,98023,F2-VS/2024/01384,2024-06-07,posted,S26761,Ventas,<NA>,out_invoice,<NA>,...,14282,Triplay Parota 3/4 x 4 x 8 *30066*,30066,00MAD,5.00,"1,506.90",0.00,"7,534.50",3 days 16:26:22,13.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                               17057
order_id                                               2839
order_name                                P02826 (C 270604)
order_date                              2024-06-08 00:30:04
partner_id                                             5321
partner_name                              El Gran Tlapalero
product_id_pp                                         10826
product_name            [3687] Pasador Ph #36-C #133 *3687*
product_qty                                           45.00
product_price                                         51.22
oficial                                               False
partner_fact_ref                                   C 270604
partner_fact_date                       2024-06-03 00:00:00
capturista                    Alexa Yadira Mazariegos Zunun
vendedora                              Irma Carvajal Flores
tolerance_order_date                    2024-06-03 00:00:00
Name: 1950, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,57082,98888,F1-VS/2024/01725,2024-06-10,posted,S24698,Ventas,<NA>,out_invoice,<NA>,...,10826,Pasador Ph #36-C #133 *3687*,3687,00ASS,12.00,85.05,0.00,"1,020.60",1 days 23:29:56,12.00
1,55398,95893,F1-VS/2024/01678,2024-06-04,posted,S22017,Ventas,<NA>,out_invoice,<NA>,...,10826,Pasador Ph #36-C #133 *3687*,3687,00ASS,12.00,85.05,0.00,"1,020.60",4 days 00:30:04,24.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                             16842
order_id                                                             2818
order_name                                         P02805 (FC-LPZ1-83261)
order_date                                            2024-06-07 15:50:04
partner_id                                                           5285
partner_name                                  Surtidora Mexicana Frontera
product_id_pp                                                       13463
product_name            [70061] Cartucho P/ Mascarilla Mod 6001 3M (2P...
product_qty                                                          8.00
product_price                                                      273.09
oficial                                                             False
partner_fact_ref                                            FC-LPZ1-83261
partner_fact_date                                     2024-06-07 00:00:00
capturista                                  Alexa Yadira Mazariegos Zunun
vendedora                                            Reyna Arriaga Flores
tolerance_order_date                                  2024-06-02 00:00:00
Name: 2065, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,59870,103386,F1-CC/2024/09207,2024-06-17,posted,PdV CSL/9183,PdV,21412,out_invoice,<NA>,...,13463,Cartucho P/ Mascarilla Mod 6001 3M (2Pz) *70061*,70061,45,2.00,482.80,0.15,820.76,9 days 08:09:56,2.00
1,60939,105287,F1-CC/2024/09382,2024-06-19,posted,PdV CSL/9357,PdV,21793,out_invoice,<NA>,...,13463,Cartucho P/ Mascarilla Mod 6001 3M (2Pz) *70061*,70061,45,5.00,482.80,0.00,"2,414.00",11 days 08:09:56,7.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                    16557
order_id                                                    2752
order_name                                     P02739 (C 270338)
order_date                                   2024-06-05 21:12:24
partner_id                                                  5321
partner_name                                   El Gran Tlapalero
product_id_pp                                              11823
product_name            [20541] Aceite 3 en 1 Rojo 480ml *20541*
product_qty                                               100.00
product_price                                              72.83
oficial                                                    False
partner_fact_ref                                        C 270338
partner_fact_date                            2024-05-05 00:00:00
capturista                         Alexa Yadira Mazariegos Zunun
vendedora                                   Yamilet Blanco Salas
tolerance_order_date                         2024-05-31 00:00:00
Name: 2235, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,55854,96507,F2-VS/2024/01367,2024-06-05,posted,S25741,Ventas,<NA>,out_invoice,<NA>,...,11823,Aceite 3 en 1 Rojo 480ml *20541*,20541,000CE,36.00,149.50,0.00,"5,382.00",0 days 21:12:24,36.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                             16541
order_id                                                             2742
order_name                                     P02729 (2000005831716131C)
order_date                                            2024-06-05 16:19:27
partner_id                                                           5128
partner_name                                                Mercado Libre
product_id_pp                                                       28253
product_name            [11508] Detector Tipo Lapiz 1AC-A1-II Mca Fluk...
product_qty                                                          1.00
product_price                                                      950.15
oficial                                                             False
partner_fact_ref                                        2000005831716131C
partner_fact_date                                     2024-06-05 00:00:00
capturista                                  Alexa Yadira Mazariegos Zunun
vendedora                                 Mayra Angelica Parada Manjarrez
tolerance_order_date                                  2024-05-31 00:00:00
Name: 2250, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,56156,97073,F1-VS/2024/01705,2024-06-06,posted,S24990,Ventas,<NA>,out_invoice,<NA>,...,28253,Detector Tipo Lapiz 1AC-A1-II Mca Fluke *11508*,11508,000CE,6.00,"1,578.50",0.00,"9,471.00",0 days 07:40:33,6.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                             16540
order_id                                                             2741
order_name                                     P02728 (2000005831716131B)
order_date                                            2024-06-05 16:18:45
partner_id                                                           5128
partner_name                                                Mercado Libre
product_id_pp                                                       28253
product_name            [11508] Detector Tipo Lapiz 1AC-A1-II Mca Fluk...
product_qty                                                          5.00
product_price                                                      950.15
oficial                                                             False
partner_fact_ref                                        2000005831716131B
partner_fact_date                                     2024-06-05 00:00:00
capturista                                  Alexa Yadira Mazariegos Zunun
vendedora                                 Mayra Angelica Parada Manjarrez
tolerance_order_date                                  2024-05-31 00:00:00
Name: 2251, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,56156,97073,F1-VS/2024/01705,2024-06-06,posted,S24990,Ventas,<NA>,out_invoice,<NA>,...,28253,Detector Tipo Lapiz 1AC-A1-II Mca Fluke *11508*,11508,000CE,6.00,"1,578.50",0.00,"9,471.00",0 days 07:41:15,6.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                             16538
order_id                                                             2740
order_name                                              P02727 (C 270136)
order_date                                            2024-06-05 00:44:35
partner_id                                                           5321
partner_name                                            El Gran Tlapalero
product_id_pp                                                       13539
product_name            [22534] Chapa Ph P/Perfil Alum #550-ABL #592 *...
product_qty                                                         20.00
product_price                                                      307.43
oficial                                                             False
partner_fact_ref                                                 C 270136
partner_fact_date                                     2024-06-04 00:00:00
capturista                                  Alexa Yadira Mazariegos Zunun
vendedora                                            Irma Carvajal Flores
tolerance_order_date                                  2024-05-31 00:00:00
Name: 2252, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,55886,96539,F1-VS/2024/01699,2024-06-05,posted,S26361,Ventas,<NA>,out_invoice,<NA>,...,13539,Chapa Ph P/Perfil Alum #550-ABL #592 *22534*,22534,00ASS,14.00,520.00,0.00,"7,280.00",0 days 00:44:35,14.00
1,55400,95895,F1-VS/2024/01679,2024-06-04,posted,S23539,Ventas,<NA>,out_invoice,<NA>,...,13539,Chapa Ph P/Perfil Alum #550-ABL #592 *22534*,22534,00ASS,6.00,520.00,0.00,"3,120.00",1 days 00:44:35,20.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                             15637
order_id                                                             2667
order_name                                         P02654 (4HGFFI 238210)
order_date                                            2024-05-31 16:52:48
partner_id                                                           5387
partner_name                                            Home Depot Mexico
product_id_pp                                                       28080
product_name            [18616] Pinza Punta Larga 8" Tulmex 203-8 *18616*
product_qty                                                          6.00
product_price                                                      292.24
oficial                                                             False
partner_fact_ref                                            4HGFFI 238210
partner_fact_date                                     2024-05-31 00:00:00
capturista                                  Alexa Yadira Mazariegos Zunun
vendedora                                 Mayra Angelica Parada Manjarrez
tolerance_order_date                                  2024-05-26 00:00:00
Name: 2745, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,56162,97073,F1-VS/2024/01705,2024-06-06,posted,S24990,Ventas,<NA>,out_invoice,<NA>,...,28080,"Pinza Punta Larga 8"" Tulmex 203-8 *18616*",18616,000CE,6.00,684.00,0.00,"4,104.00",5 days 07:07:12,6.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                             15558
order_id                                                             2659
order_name                                              P02646 (C 269934)
order_date                                            2024-05-30 23:42:36
partner_id                                                           5321
partner_name                                            El Gran Tlapalero
product_id_pp                                                       13842
product_name            [11143] Pistola P/Pintar Devilbis MGQ-500 *11143*
product_qty                                                          6.00
product_price                                                      369.90
oficial                                                             False
partner_fact_ref                                                 C 269934
partner_fact_date                                     2024-05-31 00:00:00
capturista                                  Alexa Yadira Mazariegos Zunun
vendedora                                            Yamilet Blanco Salas
tolerance_order_date                                  2024-05-25 00:00:00
Name: 2787, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,52516,90699,F2-VS/2024/01303,2024-05-27,posted,S24544,Ventas,<NA>,out_invoice,<NA>,...,13842,Pistola P/Pintar Devilbis MGQ-500 *11143*,11143,15,1.00,698.93,0.00,698.93,3 days 23:42:36,1.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                    15547
order_id                                                    2654
order_name                                     P02641 (SJ 39424)
order_date                                   2024-05-30 20:31:44
partner_id                                                  5369
partner_name                                  Acyma Del Noroeste
product_id_pp                                              29095
product_name            [3713] Canal Galv. 15/8x10 Cal.25 *3713*
product_qty                                                25.00
product_price                                              53.68
oficial                                                    False
partner_fact_ref                                        SJ 39424
partner_fact_date                            2024-05-30 00:00:00
capturista                         Alexa Yadira Mazariegos Zunun
vendedora                                Brenda Luz Acosta Lopez
tolerance_order_date                         2024-05-25 00:00:00
Name: 2792, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,53702,92864,F2-VS/2024/01319,2024-05-30,posted,S25890,Ventas,<NA>,out_invoice,<NA>,...,29095,Canal Galv. 15/8x10 Cal.25 *3713*,3713,<NA>,50.00,75.15,0.00,"3,757.50",0 days 20:31:44,50.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                           15549
order_id                                           2654
order_name                            P02641 (SJ 39424)
order_date                          2024-05-30 20:31:44
partner_id                                         5369
partner_name                         Acyma Del Noroeste
product_id_pp                                     28395
product_name            [12672] Durock 1/2" 4x8 *12672*
product_qty                                       20.00
product_price                                    695.20
oficial                                           False
partner_fact_ref                               SJ 39424
partner_fact_date                   2024-05-30 00:00:00
capturista                Alexa Yadira Mazariegos Zunun
vendedora                       Brenda Luz Acosta Lopez
tolerance_order_date                2024-05-25 00:00:00
Name: 2794, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,53704,92864,F2-VS/2024/01319,2024-05-30,posted,S25890,Ventas,<NA>,out_invoice,<NA>,...,28395,"Durock 1/2"" 4x8 *12672*",12672,000CE,40.00,973.28,0.00,"38,931.20",0 days 20:31:44,40.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                    15541
order_id                                                    2653
order_name                                     P02640 (SJ 39425)
order_date                                   2024-05-30 20:27:26
partner_id                                                  5369
partner_name                                  Acyma Del Noroeste
product_id_pp                                              29095
product_name            [3713] Canal Galv. 15/8x10 Cal.25 *3713*
product_qty                                                25.00
product_price                                              53.68
oficial                                                    False
partner_fact_ref                                        SJ 39425
partner_fact_date                            2024-05-30 00:00:00
capturista                         Alexa Yadira Mazariegos Zunun
vendedora                                Brenda Luz Acosta Lopez
tolerance_order_date                         2024-05-25 00:00:00
Name: 2798, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,53702,92864,F2-VS/2024/01319,2024-05-30,posted,S25890,Ventas,<NA>,out_invoice,<NA>,...,29095,Canal Galv. 15/8x10 Cal.25 *3713*,3713,<NA>,50.00,75.15,0.00,"3,757.50",0 days 20:27:26,50.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                           15543
order_id                                           2653
order_name                            P02640 (SJ 39425)
order_date                          2024-05-30 20:27:26
partner_id                                         5369
partner_name                         Acyma Del Noroeste
product_id_pp                                     28395
product_name            [12672] Durock 1/2" 4x8 *12672*
product_qty                                       20.00
product_price                                    695.20
oficial                                           False
partner_fact_ref                               SJ 39425
partner_fact_date                   2024-05-30 00:00:00
capturista                Alexa Yadira Mazariegos Zunun
vendedora                       Brenda Luz Acosta Lopez
tolerance_order_date                2024-05-25 00:00:00
Name: 2800, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,53704,92864,F2-VS/2024/01319,2024-05-30,posted,S25890,Ventas,<NA>,out_invoice,<NA>,...,28395,"Durock 1/2"" 4x8 *12672*",12672,000CE,40.00,973.28,0.00,"38,931.20",0 days 20:27:26,40.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                  15416
order_id                                                  2642
order_name                                    P02629 (B 86539)
order_date                                 2024-05-30 17:54:21
partner_id                                                5290
partner_name                      Maria Reyna Navarrete Cortez
product_id_pp                                            13283
product_name            [3763] Triplay Caoba 1/8  4'*8' *3763*
product_qty                                               4.00
product_price                                           270.27
oficial                                                  False
partner_fact_ref                                       B 86539
partner_fact_date                          2024-05-30 00:00:00
capturista                       Alexa Yadira Mazariegos Zunun
vendedora                      Mayra Angelica Parada Manjarrez
tolerance_order_date                       2024-05-25 00:00:00
Name: 2868, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,58532,101266,F1-VS/2024/01781,2024-06-12,posted,S26079,Ventas,<NA>,out_invoice,<NA>,...,13283,Triplay Caoba 1/8 4'*8' *3763*,3763,00MAD,4.00,410.00,0.00,"1,640.00",12 days 06:05:39,4.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                         15323
order_id                                                         2617
order_name                                         P02604 (TRN 43731)
order_date                                        2024-05-27 23:26:27
partner_id                                                      16898
partner_name                                                   SIHPAC
product_id_pp                                                   13796
product_name            [60926] Cartucho MultiGas 3M 60926 CE *60926*
product_qty                                                     10.00
product_price                                                  387.07
oficial                                                         False
partner_fact_ref                                            TRN 43731
partner_fact_date                                                 NaT
capturista                              Alexa Yadira Mazariegos Zunun
vendedora                                     Brenda Luz Acosta Lopez
tolerance_order_date                              2024-05-22 00:00:00
Name: 2946, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,56262,97205,F2-VS/2024/01377,2024-06-06,posted,S11619,Ventas,<NA>,out_invoice,<NA>,...,13796,Cartucho MultiGas 3M 60926 CE *60926*,60926,000CE,10.00,658.39,0.00,"6,583.90",9 days 00:33:33,10.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                             15320
order_id                                                             2614
order_name                                                  P02601 (2589)
order_date                                            2024-05-27 23:18:46
partner_id                                                          16938
partner_name                                             Cesar Juan Pablo
product_id_pp                                                       14550
product_name            [9979] Cierra Puerta Tesa Uso Rudo 7500 #84883...
product_qty                                                          6.00
product_price                                                    2,788.53
oficial                                                             False
partner_fact_ref                                                     2589
partner_fact_date                                     2024-05-16 00:00:00
capturista                                  Alexa Yadira Mazariegos Zunun
vendedora                                         Brenda Luz Acosta Lopez
tolerance_order_date                                  2024-05-22 00:00:00
Name: 2949, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,52527,90713,F2-VS/2024/01304,2024-05-27,posted,S18886,Ventas,<NA>,out_invoice,<NA>,...,14550,Cierra Puerta Tesa Uso Rudo 7500 #84883 *9979*,9979,00ASS,2.00,"4,172.63",0.00,"8,345.26",0 days 23:18:46,2.00
1,53452,92407,F2-VS/2024/01312,2024-05-29,posted,S26024,Ventas,<NA>,out_invoice,<NA>,...,14550,Cierra Puerta Tesa Uso Rudo 7500 #84883 *9979*,9979,00ASS,1.00,"4,172.63",0.00,"4,172.63",1 days 00:41:14,3.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                     15317
order_id                                                     2612
order_name                                      P02599 (SJ 39308)
order_date                                    2024-05-27 20:04:39
partner_id                                                   5369
partner_name                                   Acyma Del Noroeste
product_id_pp                                               29096
product_name            [3714] Angulo Galv. 11/4X10 Cal.25 *3714*
product_qty                                                 29.00
product_price                                               33.79
oficial                                                     False
partner_fact_ref                                         SJ 39308
partner_fact_date                             2024-05-24 00:00:00
capturista                          Alexa Yadira Mazariegos Zunun
vendedora                                 Brenda Luz Acosta Lopez
tolerance_order_date                          2024-05-22 00:00:00
Name: 2956, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,51888,89774,F2-VS/2024/01293,2024-05-25,posted,S23713,Ventas,<NA>,out_invoice,<NA>,...,29096,Angulo Galv. 11/4X10 Cal.25 *3714*,3714,<NA>,30.00,49.65,0.00,"1,489.50",2 days 20:04:39,30.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                     15277
order_id                                                     2609
order_name                                      P02596 (SJ 39312)
order_date                                    2024-05-27 20:01:16
partner_id                                                   5369
partner_name                                   Acyma Del Noroeste
product_id_pp                                               29096
product_name            [3714] Angulo Galv. 11/4X10 Cal.25 *3714*
product_qty                                                  1.00
product_price                                               33.79
oficial                                                     False
partner_fact_ref                                         SJ 39312
partner_fact_date                             2024-05-25 00:00:00
capturista                          Alexa Yadira Mazariegos Zunun
vendedora                                 Brenda Luz Acosta Lopez
tolerance_order_date                          2024-05-22 00:00:00
Name: 2975, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,51888,89774,F2-VS/2024/01293,2024-05-25,posted,S23713,Ventas,<NA>,out_invoice,<NA>,...,29096,Angulo Galv. 11/4X10 Cal.25 *3714*,3714,<NA>,30.00,49.65,0.00,"1,489.50",2 days 20:01:16,30.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                           15261
order_id                                                           2603
order_name                                            P02590 (A 701063)
order_date                                          2024-05-27 18:07:22
partner_id                                                         5398
partner_name                                                Casa Marcus
product_id_pp                                                     26683
product_name            [6102] Candado Master #1500D Combinacion *6102*
product_qty                                                       25.00
product_price                                                    102.88
oficial                                                           False
partner_fact_ref                                               A 701063
partner_fact_date                                   2024-05-18 00:00:00
capturista                                Alexa Yadira Mazariegos Zunun
vendedora                                          Irma Carvajal Flores
tolerance_order_date                                2024-05-22 00:00:00
Name: 2984, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,52637,90870,F1-VS/2024/01605,2024-05-27,posted,S19441,Ventas,<NA>,out_invoice,<NA>,...,26683,Candado Master #1500D Combinacion *6102*,6102,000CE,24.00,143.32,0.00,"3,439.68",0 days 18:07:22,24.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                         15244
order_id                                                         2598
order_name                                      P02585 (SJCFCO 13661)
order_date                                        2024-05-25 15:41:29
partner_id                                                       5326
partner_name                           Madereria El Pino De Los Cabos
product_id_pp                                                   13811
product_name            [3651] Triplay Pino 1/2  4'*8'  1/Cara *3651*
product_qty                                                      3.00
product_price                                                  456.90
oficial                                                         False
partner_fact_ref                                         SJCFCO 13661
partner_fact_date                                 2024-05-25 00:00:00
capturista                                       Gretel Gómez Alcázar
vendedora                                        Yamilet Blanco Salas
tolerance_order_date                              2024-05-20 00:00:00
Name: 2992, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,51481,89034,F2-VS/2024/01290,2024-05-24,posted,S24875,Ventas,<NA>,out_invoice,<NA>,...,13811,Triplay Pino 1/2 4'*8' 1/Cara *3651*,3651,00MAD,2.00,879.00,0.00,"1,758.00",1 days 15:41:29,2.00
1,50647,87344,F2-VS/2024/01267,2024-05-22,posted,S24426,Ventas,<NA>,out_invoice,<NA>,...,13811,Triplay Pino 1/2 4'*8' 1/Cara *3651*,3651,00MAD,1.00,879.00,0.00,879.00,3 days 15:41:29,3.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                              14911
order_id                                              2583
order_name                                P02570 (A 67401)
order_date                             2024-05-24 20:59:16
partner_id                                            5343
partner_name                        Irma Rodriguez Montoya
product_id_pp                                        13624
product_name            [10635] Triplay Parota 1/4 *10635*
product_qty                                           8.00
product_price                                       349.14
oficial                                              False
partner_fact_ref                                   A 67401
partner_fact_date                      2024-05-24 00:00:00
capturista                   Alexa Yadira Mazariegos Zunun
vendedora                          Brenda Luz Acosta Lopez
tolerance_order_date                   2024-05-19 00:00:00
Name: 3169, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,51385,88706,F2-VS/2024/01283,2024-05-23,posted,S24803,Ventas,<NA>,out_invoice,<NA>,...,13624,Triplay Parota 1/4 *10635*,10635,00MAD,10.00,470.69,0.00,"4,706.90",1 days 20:59:16,10.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                   14912
order_id                                                   2583
order_name                                     P02570 (A 67401)
order_date                                  2024-05-24 20:59:16
partner_id                                                 5343
partner_name                             Irma Rodriguez Montoya
product_id_pp                                             13636
product_name            [13756] Tabla Americana 1x12x10 *13756*
product_qty                                                7.00
product_price                                            318.97
oficial                                                   False
partner_fact_ref                                        A 67401
partner_fact_date                           2024-05-24 00:00:00
capturista                        Alexa Yadira Mazariegos Zunun
vendedora                               Brenda Luz Acosta Lopez
tolerance_order_date                        2024-05-19 00:00:00
Name: 3170, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,51387,88706,F2-VS/2024/01283,2024-05-23,posted,S24803,Ventas,<NA>,out_invoice,<NA>,...,13636,Tabla Americana 1x12x10 *13756*,13756,00MAD,10.00,504.31,0.00,"5,043.10",1 days 20:59:16,10.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                          14650
order_id                                          2551
order_name                            P02538 (A 24174)
order_date                         2024-05-24 17:02:42
partner_id                                        5264
partner_name            Maria Teresa Quezada Hernandez
product_id_pp                                    11956
product_name            [45218] Barrote 2*4*10 *45218*
product_qty                                       5.00
product_price                                   284.49
oficial                                          False
partner_fact_ref                               A 24174
partner_fact_date                  2024-05-23 00:00:00
capturista               Alexa Yadira Mazariegos Zunun
vendedora                         Irma Carvajal Flores
tolerance_order_date               2024-05-19 00:00:00
Name: 3305, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,51421,88727,F1-VS/2024/01576,2024-05-23,posted,S24744,Ventas,<NA>,out_invoice,<NA>,...,11956,Barrote 2*4*10 *45218*,45218,00MAD,10.00,220.00,0.00,"2,200.00",1 days 17:02:42,10.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                          14651
order_id                                                          2551
order_name                                            P02538 (A 24174)
order_date                                         2024-05-24 17:02:42
partner_id                                                        5264
partner_name                            Maria Teresa Quezada Hernandez
product_id_pp                                                    13786
product_name            [13538] Tabla Americana 1" X 12" X 16' *13538*
product_qty                                                       4.00
product_price                                                   524.14
oficial                                                          False
partner_fact_ref                                               A 24174
partner_fact_date                                  2024-05-23 00:00:00
capturista                               Alexa Yadira Mazariegos Zunun
vendedora                                         Irma Carvajal Flores
tolerance_order_date                               2024-05-19 00:00:00
Name: 3306, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,51403,88717,F1-VS/2024/01572,2024-05-23,posted,S23981,Ventas,<NA>,out_invoice,<NA>,...,13786,"Tabla Americana 1"" X 12"" X 16' *13538*",13538,00MAD,1.00,827.58,0.00,827.58,1 days 17:02:42,1.00
1,51407,88718,F1-VS/2024/01573,2024-05-23,posted,S24836,Ventas,<NA>,out_invoice,<NA>,...,13786,"Tabla Americana 1"" X 12"" X 16' *13538*",13538,00MAD,3.00,827.58,0.00,"2,482.74",1 days 17:02:42,4.00
2,51416,88722,F1-VS/2024/01575,2024-05-23,posted,S23980,Ventas,<NA>,out_invoice,<NA>,...,13786,"Tabla Americana 1"" X 12"" X 16' *13538*",13538,00MAD,3.00,827.58,0.00,"2,482.74",1 days 17:02:42,7.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                    14652
order_id                                                    2551
order_name                                      P02538 (A 24174)
order_date                                   2024-05-24 17:02:42
partner_id                                                  5264
partner_name                      Maria Teresa Quezada Hernandez
product_id_pp                                              14386
product_name            [12861] Tablon Americano 2*12*16 *12861*
product_qty                                                 3.00
product_price                                           1,241.38
oficial                                                    False
partner_fact_ref                                         A 24174
partner_fact_date                            2024-05-23 00:00:00
capturista                         Alexa Yadira Mazariegos Zunun
vendedora                                   Irma Carvajal Flores
tolerance_order_date                         2024-05-19 00:00:00
Name: 3307, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,51396,88713,F1-VS/2024/01571,2024-05-23,posted,S23984,Ventas,<NA>,out_invoice,<NA>,...,14386,Tablon Americano 2*12*16 *12861*,12861,00MAD,4.00,"1,886.00",0.00,"7,544.00",1 days 17:02:42,4.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                             14653
order_id                                             2551
order_name                               P02538 (A 24174)
order_date                            2024-05-24 17:02:42
partner_id                                           5264
partner_name               Maria Teresa Quezada Hernandez
product_id_pp                                       13327
product_name            [15056] Polin 4x4x10 Pies *15056*
product_qty                                         34.00
product_price                                      314.66
oficial                                             False
partner_fact_ref                                  A 24174
partner_fact_date                     2024-05-23 00:00:00
capturista                  Alexa Yadira Mazariegos Zunun
vendedora                            Irma Carvajal Flores
tolerance_order_date                  2024-05-19 00:00:00
Name: 3308, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,51390,88708,F1-VS/2024/01569,2024-05-23,posted,S22080,Ventas,<NA>,out_invoice,<NA>,...,13327,Polin 4x4x10 Pies *15056*,15056,00MAD,40.00,425.00,0.00,"17,000.00",1 days 17:02:42,40.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                          15258
order_id                                          2551
order_name                            P02538 (A 24174)
order_date                         2024-05-24 17:02:42
partner_id                                        5264
partner_name            Maria Teresa Quezada Hernandez
product_id_pp                                    11956
product_name            [45218] Barrote 2*4*10 *45218*
product_qty                                      20.00
product_price                                    71.12
oficial                                          False
partner_fact_ref                               A 24174
partner_fact_date                  2024-05-23 00:00:00
capturista               Alexa Yadira Mazariegos Zunun
vendedora                         Irma Carvajal Flores
tolerance_order_date               2024-05-19 00:00:00
Name: 3309, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,51421,88727,F1-VS/2024/01576,2024-05-23,posted,S24744,Ventas,<NA>,out_invoice,<NA>,...,11956,Barrote 2*4*10 *45218*,45218,00MAD,10.00,220.00,0.00,"2,200.00",1 days 17:02:42,10.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                  14646
order_id                                                  2548
order_name                               P02535 (MPIFCO 10547)
order_date                                 2024-05-24 16:56:51
partner_id                                                5296
partner_name                              Madereria Pichonchas
product_id_pp                                            13283
product_name            [3763] Triplay Caoba 1/8  4'*8' *3763*
product_qty                                               2.00
product_price                                           250.00
oficial                                                  False
partner_fact_ref                                  MPIFCO 10547
partner_fact_date                          2024-05-23 00:00:00
capturista                       Alexa Yadira Mazariegos Zunun
vendedora                                 Irma Carvajal Flores
tolerance_order_date                       2024-05-19 00:00:00
Name: 3313, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,50933,87835,F1-VS/2024/01548,2024-05-22,posted,S23725,Ventas,<NA>,out_invoice,<NA>,...,13283,Triplay Caoba 1/8 4'*8' *3763*,3763,00MAD,5.00,410.00,0.00,"2,050.00",2 days 16:56:51,5.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                         14635
order_id                                                         2540
order_name                                 P02527 (2000005789417085B)
order_date                                        2024-05-23 21:24:49
partner_id                                                       5128
partner_name                                            Mercado Libre
product_id_pp                                                   28408
product_name            [1486] Pasta Para Soldar  Solver 300GR *1486*
product_qty                                                      8.00
product_price                                                  118.42
oficial                                                         False
partner_fact_ref                                    2000005789417085B
partner_fact_date                                 2024-05-21 00:00:00
capturista                              Alexa Yadira Mazariegos Zunun
vendedora                                        Yamilet Blanco Salas
tolerance_order_date                              2024-05-18 00:00:00
Name: 3324, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,51414,88720,F2-VS/2024/01286,2024-05-23,posted,S21485,Ventas,<NA>,out_invoice,<NA>,...,28408,Pasta Para Soldar Solver 300GR *1486*,1486,000CE,1.00,206.90,0.00,206.90,0 days 21:24:49,1.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                              14402
order_id                                              2426
order_name                               P02413 (SJ 31717)
order_date                             2024-05-20 20:03:27
partner_id                                            5143
partner_name                                Fymsa Baja Sur
product_id_pp                                        28789
product_name            [14344] Block 15 X 20 X 40 *14344*
product_qty                                          80.00
product_price                                        21.76
oficial                                              False
partner_fact_ref                                  SJ 31717
partner_fact_date                                      NaT
capturista                   Alexa Yadira Mazariegos Zunun
vendedora                          Brenda Luz Acosta Lopez
tolerance_order_date                   2024-05-15 00:00:00
Name: 3488, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,48531,83336,F2-VS/2024/01205,2024-05-16,posted,S23280,Ventas,<NA>,out_invoice,<NA>,...,28789,Block 15 X 20 X 40 *14344*,14344,000CE,200.00,31.63,0.00,"6,326.00",4 days 20:03:27,200.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                              13911
order_id                                              2342
order_name                              P02329 (500096413)
order_date                             2024-05-17 00:00:34
partner_id                                           14107
partner_name                             VILLAGOMEZ JURADO
product_id_pp                                        28789
product_name            [14344] Block 15 X 20 X 40 *14344*
product_qty                                         120.00
product_price                                        21.12
oficial                                              False
partner_fact_ref                                 500096413
partner_fact_date                      2024-05-16 00:00:00
capturista                            Pavel Hernandez Reza
vendedora                          Brenda Luz Acosta Lopez
tolerance_order_date                   2024-05-12 00:00:00
Name: 3730, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,48531,83336,F2-VS/2024/01205,2024-05-16,posted,S23280,Ventas,<NA>,out_invoice,<NA>,...,28789,Block 15 X 20 X 40 *14344*,14344,000CE,200.00,31.63,0.00,"6,326.00",1 days 00:00:34,200.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                      13736
order_id                                                      2300
order_name                                       P02287 (C 269323)
order_date                                     2024-05-16 16:16:16
partner_id                                                    5321
partner_name                                     El Gran Tlapalero
product_id_pp                                                10856
product_name            [528] Tope Ph Media Luna #54-C #1464 *528*
product_qty                                                 100.00
product_price                                                52.22
oficial                                                      False
partner_fact_ref                                          C 269323
partner_fact_date                              2024-05-10 00:00:00
capturista                                    Pavel Hernandez Reza
vendedora                                     Irma Carvajal Flores
tolerance_order_date                           2024-05-11 00:00:00
Name: 3819, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,48277,82854,F1-VS/2024/01491,2024-05-15,posted,S19441,Ventas,<NA>,out_invoice,<NA>,...,10856,Tope Ph Media Luna #54-C #1464 *528*,528,00ASS,25.00,75.00,0.00,"1,875.00",1 days 16:16:16,25.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                    13714
order_id                                                    2284
order_name                                  P02271 (MPIFCO 9400)
order_date                                   2024-05-15 23:09:49
partner_id                                                  5296
partner_name                                Madereria Pichonchas
product_id_pp                                              14386
product_name            [12861] Tablon Americano 2*12*16 *12861*
product_qty                                                 6.00
product_price                                           1,213.79
oficial                                                    False
partner_fact_ref                                     MPIFCO 9400
partner_fact_date                                            NaT
capturista                                  Pavel Hernandez Reza
vendedora                                   Irma Carvajal Flores
tolerance_order_date                         2024-05-10 00:00:00
Name: 3829, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,49560,85417,F1-VS/2024/01516,2024-05-18,posted,S23112,Ventas,<NA>,out_invoice,<NA>,...,14386,Tablon Americano 2*12*16 *12861*,12861,00MAD,4.00,"1,886.00",0.00,"7,544.00",2 days 00:50:11,4.00
1,51396,88713,F1-VS/2024/01571,2024-05-23,posted,S23984,Ventas,<NA>,out_invoice,<NA>,...,14386,Tablon Americano 2*12*16 *12861*,12861,00MAD,4.00,"1,886.00",0.00,"7,544.00",7 days 00:50:11,8.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                             13688
order_id                                             2266
order_name                               P02253 (B 86084)
order_date                            2024-05-15 17:07:04
partner_id                                           5290
partner_name                 Maria Reyna Navarrete Cortez
product_id_pp                                       13327
product_name            [15056] Polin 4x4x10 Pies *15056*
product_qty                                         10.00
product_price                                      151.72
oficial                                             False
partner_fact_ref                                  B 86084
partner_fact_date                     2024-05-09 00:00:00
capturista                           Pavel Hernandez Reza
vendedora                            Irma Carvajal Flores
tolerance_order_date                  2024-05-10 00:00:00
Name: 3843, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,51390,88708,F1-VS/2024/01569,2024-05-23,posted,S22080,Ventas,<NA>,out_invoice,<NA>,...,13327,Polin 4x4x10 Pies *15056*,15056,00MAD,40.00,425.00,0.00,"17,000.00",7 days 06:52:56,40.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                      13671
order_id                                                      2256
order_name                                       P02243 (LA 43842)
order_date                                     2024-05-15 16:35:51
partner_id                                                    5143
partner_name                                        Fymsa Baja Sur
product_id_pp                                                13453
product_name            [1587] Cemento Gris Bulto (50kg) CE *1587*
product_qty                                                  17.00
product_price                                               306.03
oficial                                                      False
partner_fact_ref                                          LA 43842
partner_fact_date                              2024-05-14 00:00:00
capturista                                    Pavel Hernandez Reza
vendedora                                     Irma Carvajal Flores
tolerance_order_date                           2024-05-10 00:00:00
Name: 3851, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,47382,81269,F1-VS/2024/01469,2024-05-13,posted,S23160,Ventas,<NA>,out_invoice,<NA>,...,13453,Cemento Gris Bulto (50kg) CE *1587*,1587,000CE,7.00,465.00,0.00,"3,255.00",2 days 16:35:51,7.00
1,47388,81350,F1-VS/2024/01470,2024-05-13,posted,S23151,Ventas,<NA>,out_invoice,<NA>,...,13453,Cemento Gris Bulto (50kg) CE *1587*,1587,000CE,10.00,465.00,0.00,"4,650.00",2 days 16:35:51,17.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                           13654
order_id                                                           2245
order_name                                             P02232 (B 86042)
order_date                                          2024-05-15 00:30:29
partner_id                                                         5290
partner_name                               Maria Reyna Navarrete Cortez
product_id_pp                                                     13371
product_name            [12749] Triplay Pino 1/4  4'*8'  1/Cara *12749*
product_qty                                                        2.00
product_price                                                    272.87
oficial                                                           False
partner_fact_ref                                                B 86042
partner_fact_date                                   2024-05-07 00:00:00
capturista                                         Pavel Hernandez Reza
vendedora                                          Irma Carvajal Flores
tolerance_order_date                                2024-05-10 00:00:00
Name: 3861, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,48263,82848,F1-VS/2024/01490,2024-05-15,posted,S19442,Ventas,<NA>,out_invoice,<NA>,...,13371,Triplay Pino 1/4 4'*8' 1/Cara *12749*,12749,00MAD,4.00,396.00,0.00,"1,584.00",0 days 00:30:29,4.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                        13608
order_id                                        2230
order_name                          P02217 (SJ 8242)
order_date                       2024-05-14 17:20:34
partner_id                                      5305
partner_name               Elizabeth Arevalo Andrade
product_id_pp                                   8152
product_name            [16007] Costal Vacio *16007*
product_qty                                    30.00
product_price                                   5.18
oficial                                        False
partner_fact_ref                             SJ 8242
partner_fact_date                                NaT
capturista                      Pavel Hernandez Reza
vendedora                       Yamilet Blanco Salas
tolerance_order_date             2024-05-09 00:00:00
Name: 3881, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,47377,81264,F2-VS/2024/01188,2024-05-13,posted,S23158,Ventas,<NA>,out_invoice,<NA>,...,8152,Costal Vacio *16007*,16007,000CE,200.00,7.77,0.00,"1,554.00",1 days 17:20:34,200.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                         13595
order_id                                                         2223
order_name                                       P02210 (MPIFCO 9788)
order_date                                        2024-05-14 15:55:07
partner_id                                                       5296
partner_name                                     Madereria Pichonchas
product_id_pp                                                   13965
product_name            [3650] Triplay Pino 5/8  4'*8'  1/Cara *3650*
product_qty                                                      3.00
product_price                                                  525.86
oficial                                                         False
partner_fact_ref                                          MPIFCO 9788
partner_fact_date                                 2024-05-13 00:00:00
capturista                                       Pavel Hernandez Reza
vendedora                             Mayra Angelica Parada Manjarrez
tolerance_order_date                              2024-05-09 00:00:00
Name: 3894, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,47330,81164,F1-VS/2024/01462,2024-05-13,posted,S22429,Ventas,<NA>,out_invoice,<NA>,...,13965,Triplay Pino 5/8 4'*8' 1/Cara *3650*,3650,00MAD,3.00,850.00,0.00,"2,550.00",1 days 15:55:07,3.00
1,51792,89521,F1-VS/2024/01582,2024-05-24,posted,S24965,Ventas,<NA>,out_invoice,<NA>,...,13965,Triplay Pino 5/8 4'*8' 1/Cara *3650*,3650,00MAD,2.00,850.00,0.00,"1,700.00",9 days 08:04:53,5.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                         13592
order_id                                                         2221
order_name                                       P02208 (MPIFCO 9581)
order_date                                        2024-05-13 20:42:24
partner_id                                                       5296
partner_name                                     Madereria Pichonchas
product_id_pp                                                   13965
product_name            [3650] Triplay Pino 5/8  4'*8'  1/Cara *3650*
product_qty                                                      3.00
product_price                                                  525.86
oficial                                                         False
partner_fact_ref                                          MPIFCO 9581
partner_fact_date                                 2024-05-10 00:00:00
capturista                                     Elsa Ivette Diaz Leyva
vendedora                             Mayra Angelica Parada Manjarrez
tolerance_order_date                              2024-05-08 00:00:00
Name: 3897, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,47330,81164,F1-VS/2024/01462,2024-05-13,posted,S22429,Ventas,<NA>,out_invoice,<NA>,...,13965,Triplay Pino 5/8 4'*8' 1/Cara *3650*,3650,00MAD,3.00,850.00,0.00,"2,550.00",0 days 20:42:24,3.00
1,46181,78691,F1-VS/2024/01437,2024-05-09,posted,S18406,Ventas,<NA>,out_invoice,<NA>,...,13965,Triplay Pino 5/8 4'*8' 1/Cara *3650*,3650,00MAD,2.00,821.12,0.00,"1,642.24",4 days 20:42:24,5.00
2,46234,78770,F1-VS/2024/01447,2024-05-09,posted,S20427,Ventas,<NA>,out_invoice,<NA>,...,13965,Triplay Pino 5/8 4'*8' 1/Cara *3650*,3650,00MAD,3.00,797.91,0.00,"2,393.73",4 days 20:42:24,8.00
3,51792,89521,F1-VS/2024/01582,2024-05-24,posted,S24965,Ventas,<NA>,out_invoice,<NA>,...,13965,Triplay Pino 5/8 4'*8' 1/Cara *3650*,3650,00MAD,2.00,850.00,0.00,"1,700.00",10 days 03:17:36,10.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                 13587
order_id                                                 2218
order_name                                   P02205 (B 86173)
order_date                                2024-05-13 19:25:20
partner_id                                               5290
partner_name                     Maria Reyna Navarrete Cortez
product_id_pp                                           12635
product_name            [11717] Barrote Americano 10' *11717*
product_qty                                             10.00
product_price                                          108.57
oficial                                                 False
partner_fact_ref                                      B 86173
partner_fact_date                         2024-05-13 00:00:00
capturista                             Elsa Ivette Diaz Leyva
vendedora                     Mayra Angelica Parada Manjarrez
tolerance_order_date                      2024-05-08 00:00:00
Name: 3901, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,51143,88265,F1-VS/2024/01560,2024-05-23,posted,S23003,Ventas,<NA>,out_invoice,<NA>,...,12635,Barrote Americano 10' *11717*,11717,00MAD,10.00,226.31,0.00,"2,263.10",9 days 04:34:40,10.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                        13588
order_id                                                        2218
order_name                                          P02205 (B 86173)
order_date                                       2024-05-13 19:25:20
partner_id                                                      5290
partner_name                            Maria Reyna Navarrete Cortez
product_id_pp                                                  13557
product_name            [13792] Polin 4" X4" X 10´ Americano *13792*
product_qty                                                     5.00
product_price                                                 259.85
oficial                                                        False
partner_fact_ref                                             B 86173
partner_fact_date                                2024-05-13 00:00:00
capturista                                    Elsa Ivette Diaz Leyva
vendedora                            Mayra Angelica Parada Manjarrez
tolerance_order_date                             2024-05-08 00:00:00
Name: 3902, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,51144,88265,F1-VS/2024/01560,2024-05-23,posted,S23003,Ventas,<NA>,out_invoice,<NA>,...,13557,"Polin 4"" X4"" X 10´ Americano *13792*",13792,00MAD,5.00,480.00,0.00,"2,400.00",9 days 04:34:40,5.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                             13572
order_id                                                             2208
order_name                                              P02195 (C 268964)
order_date                                            2024-05-11 19:26:16
partner_id                                                           5321
partner_name                                            El Gran Tlapalero
product_id_pp                                                       13872
product_name            [4632] Pegamento 850 (4Kg) Blanco Resistol *4632*
product_qty                                                          5.00
product_price                                                      317.85
oficial                                                             False
partner_fact_ref                                                 C 268964
partner_fact_date                                     2024-05-06 00:00:00
capturista                                           Gretel Gómez Alcázar
vendedora                                            Yamilet Blanco Salas
tolerance_order_date                                  2024-05-06 00:00:00
Name: 3919, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,51830,89574,F2-VS/2024/01292,2024-05-24,posted,S24317,Ventas,<NA>,out_invoice,<NA>,...,13872,Pegamento 850 (4Kg) Blanco Resistol *4632*,4632,000CE,1.00,713.80,0.00,713.80,12 days 04:33:44,1.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                        13371
order_id                                        2194
order_name                          P02181 (SJ 8227)
order_date                       2024-05-11 15:57:10
partner_id                                      5305
partner_name               Elizabeth Arevalo Andrade
product_id_pp                                   8152
product_name            [16007] Costal Vacio *16007*
product_qty                                   170.00
product_price                                   5.17
oficial                                        False
partner_fact_ref                             SJ 8227
partner_fact_date                2024-05-10 00:00:00
capturista                      Gretel Gómez Alcázar
vendedora                       Yamilet Blanco Salas
tolerance_order_date             2024-05-06 00:00:00
Name: 4020, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,47377,81264,F2-VS/2024/01188,2024-05-13,posted,S23158,Ventas,<NA>,out_invoice,<NA>,...,8152,Costal Vacio *16007*,16007,000CE,200.00,7.77,0.00,"1,554.00",1 days 08:02:50,200.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                      12812
order_id                                                      2169
order_name                                       P02156 (SJ 31490)
order_date                                     2024-05-10 17:56:37
partner_id                                                    5143
partner_name                                        Fymsa Baja Sur
product_id_pp                                                13453
product_name            [1587] Cemento Gris Bulto (50kg) CE *1587*
product_qty                                                   4.00
product_price                                               306.03
oficial                                                      False
partner_fact_ref                                          SJ 31490
partner_fact_date                              2024-05-09 00:00:00
capturista                                  Elsa Ivette Diaz Leyva
vendedora                                     Yamilet Blanco Salas
tolerance_order_date                           2024-05-05 00:00:00
Name: 4290, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,46106,78566,F2-VS/2024/01152,2024-05-09,posted,S21384,Ventas,<NA>,out_invoice,<NA>,...,13453,Cemento Gris Bulto (50kg) CE *1587*,1587,000CE,5.00,459.05,0.00,"2,295.25",1 days 17:56:37,5.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                      12808
order_id                                                      2166
order_name                                       P02153 (SJ 31504)
order_date                                     2024-05-10 17:42:47
partner_id                                                    5143
partner_name                                        Fymsa Baja Sur
product_id_pp                                                13453
product_name            [1587] Cemento Gris Bulto (50kg) CE *1587*
product_qty                                                   1.00
product_price                                               306.03
oficial                                                      False
partner_fact_ref                                          SJ 31504
partner_fact_date                              2024-05-09 00:00:00
capturista                                  Elsa Ivette Diaz Leyva
vendedora                                     Yamilet Blanco Salas
tolerance_order_date                           2024-05-05 00:00:00
Name: 4293, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,46106,78566,F2-VS/2024/01152,2024-05-09,posted,S21384,Ventas,<NA>,out_invoice,<NA>,...,13453,Cemento Gris Bulto (50kg) CE *1587*,1587,000CE,5.00,459.05,0.00,"2,295.25",1 days 17:42:47,5.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                         12656
order_id                                                         2158
order_name                                           P02145 (B 86079)
order_date                                        2024-05-10 17:00:28
partner_id                                                       5290
partner_name                             Maria Reyna Navarrete Cortez
product_id_pp                                                   13811
product_name            [3651] Triplay Pino 1/2  4'*8'  1/Cara *3651*
product_qty                                                      1.00
product_price                                                  443.34
oficial                                                         False
partner_fact_ref                                              B 86079
partner_fact_date                                 2024-05-08 00:00:00
capturista                                     Elsa Ivette Diaz Leyva
vendedora                             Mayra Angelica Parada Manjarrez
tolerance_order_date                              2024-05-05 00:00:00
Name: 4371, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,45860,77998,F1-VS/2024/01435,2024-05-08,posted,S19015,Ventas,<NA>,out_invoice,<NA>,...,13811,Triplay Pino 1/2 4'*8' 1/Cara *3651*,3651,00MAD,2.00,721.21,0.00,"1,442.42",2 days 17:00:28,2.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                             12610
order_id                                                             2142
order_name                                              P02129 (PA 65361)
order_date                                            2024-05-09 19:35:36
partner_id                                                           5335
partner_name                                                   Casa Myers
product_id_pp                                                       28272
product_name            [11167] Pinza Electricista Milwaukee 48-22-610...
product_qty                                                          2.00
product_price                                                      555.88
oficial                                                             False
partner_fact_ref                                                 PA 65361
partner_fact_date                                     2024-04-29 00:00:00
capturista                                         Elsa Ivette Diaz Leyva
vendedora                                         Brenda Luz Acosta Lopez
tolerance_order_date                                  2024-05-04 00:00:00
Name: 4388, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,44802,76352,F2-VS/2024/01116,2024-05-06,posted,S21507,Ventas,<NA>,out_invoice,<NA>,...,28272,Pinza Electricista Milwaukee 48-22-6100 *11167*,11167,000CE,1.00,778.44,0.00,778.44,3 days 19:35:36,1.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                             12609
order_id                                                             2141
order_name                                     P02128 (2000005726646207G)
order_date                                            2024-05-09 19:33:21
partner_id                                                           5128
partner_name                                                Mercado Libre
product_id_pp                                                       29255
product_name            [4497] Guantes De Corte De Nitrilo 48-22-8902 ...
product_qty                                                          2.00
product_price                                                      123.03
oficial                                                             False
partner_fact_ref                                        2000005726646207G
partner_fact_date                                     2024-05-06 00:00:00
capturista                                         Elsa Ivette Diaz Leyva
vendedora                                         Brenda Luz Acosta Lopez
tolerance_order_date                                  2024-05-04 00:00:00
Name: 4390, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,45900,78274,F2-VS/2024/01146,2024-05-09,posted,S20298,Ventas,<NA>,out_invoice,<NA>,...,29255,Guantes De Corte De Nitrilo 48-22-8902 *4497*,4497,<NA>,10.00,220.41,0.00,"2,204.10",0 days 19:33:21,10.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                             12608
order_id                                                             2140
order_name                                     P02127 (2000005726646207F)
order_date                                            2024-05-09 19:32:18
partner_id                                                           5128
partner_name                                                Mercado Libre
product_id_pp                                                       29255
product_name            [4497] Guantes De Corte De Nitrilo 48-22-8902 ...
product_qty                                                          3.00
product_price                                                      123.03
oficial                                                             False
partner_fact_ref                                        2000005726646207F
partner_fact_date                                     2024-05-14 00:00:00
capturista                                         Elsa Ivette Diaz Leyva
vendedora                                         Brenda Luz Acosta Lopez
tolerance_order_date                                  2024-05-04 00:00:00
Name: 4391, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,45900,78274,F2-VS/2024/01146,2024-05-09,posted,S20298,Ventas,<NA>,out_invoice,<NA>,...,29255,Guantes De Corte De Nitrilo 48-22-8902 *4497*,4497,<NA>,10.00,220.41,0.00,"2,204.10",0 days 19:32:18,10.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                             12607
order_id                                                             2139
order_name                                     P02126 (2000005726646207E)
order_date                                            2024-05-09 19:31:13
partner_id                                                           5128
partner_name                                                Mercado Libre
product_id_pp                                                       29255
product_name            [4497] Guantes De Corte De Nitrilo 48-22-8902 ...
product_qty                                                          1.00
product_price                                                      123.03
oficial                                                             False
partner_fact_ref                                        2000005726646207E
partner_fact_date                                     2024-05-06 00:00:00
capturista                                         Elsa Ivette Diaz Leyva
vendedora                                         Brenda Luz Acosta Lopez
tolerance_order_date                                  2024-05-04 00:00:00
Name: 4392, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,45900,78274,F2-VS/2024/01146,2024-05-09,posted,S20298,Ventas,<NA>,out_invoice,<NA>,...,29255,Guantes De Corte De Nitrilo 48-22-8902 *4497*,4497,<NA>,10.00,220.41,0.00,"2,204.10",0 days 19:31:13,10.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                             12606
order_id                                                             2138
order_name                                     P02125 (2000005726646207D)
order_date                                            2024-05-09 19:30:02
partner_id                                                           5128
partner_name                                                Mercado Libre
product_id_pp                                                       29255
product_name            [4497] Guantes De Corte De Nitrilo 48-22-8902 ...
product_qty                                                          3.00
product_price                                                      123.03
oficial                                                             False
partner_fact_ref                                        2000005726646207D
partner_fact_date                                     2024-05-06 00:00:00
capturista                                         Elsa Ivette Diaz Leyva
vendedora                                         Brenda Luz Acosta Lopez
tolerance_order_date                                  2024-05-04 00:00:00
Name: 4393, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,45900,78274,F2-VS/2024/01146,2024-05-09,posted,S20298,Ventas,<NA>,out_invoice,<NA>,...,29255,Guantes De Corte De Nitrilo 48-22-8902 *4497*,4497,<NA>,10.00,220.41,0.00,"2,204.10",0 days 19:30:02,10.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                           12276
order_id                                           2058
order_name                       P02045 (4HGFFI 226573)
order_date                          2024-05-04 20:54:51
partner_id                                         5387
partner_name                          Home Depot Mexico
product_id_pp                                      8759
product_name            [44394] Cubre Tornillos *44394*
product_qty                                       17.00
product_price                                     12.93
oficial                                           False
partner_fact_ref                          4HGFFI 226573
partner_fact_date                   2024-05-04 00:00:00
capturista                         Gretel Gómez Alcázar
vendedora                       Brenda Luz Acosta Lopez
tolerance_order_date                2024-04-29 00:00:00
Name: 4599, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,43070,73656,F2-VS/2024/01041,2024-05-02,posted,S20184,Ventas,<NA>,out_invoice,<NA>,...,8759,Cubre Tornillos *44394*,44394,000CE,122.00,19.41,0.00,"2,368.02",2 days 20:54:51,122.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                           12268
order_id                                                           2056
order_name                                          P02043 (LC 0052150)
order_date                                          2024-05-04 15:24:18
partner_id                                                         5354
partner_name                               Herrajes Bulnes De Occidente
product_id_pp                                                     26615
product_name            [7060] Pasador C/Cadena Mañon 4" HB50840 *7060*
product_qty                                                      170.00
product_price                                                    110.77
oficial                                                            True
partner_fact_ref                                             LC 0052150
partner_fact_date                                   2024-04-17 00:00:00
capturista                                       Elsa Ivette Diaz Leyva
vendedora                                       Brenda Luz Acosta Lopez
tolerance_order_date                                2024-04-29 00:00:00
Name: 4604, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,43980,74902,F2-VS/2024/01088,2024-05-03,posted,S18635,Ventas,<NA>,out_invoice,<NA>,...,26615,"Pasador C/Cadena Mañon 4"" HB50840 *7060*",7060,000CE,140.00,213.20,0.00,"29,848.00",1 days 15:24:18,140.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                         12263
order_id                                                         2052
order_name                                           P02039 (A 66927)
order_date                                        2024-05-04 14:46:51
partner_id                                                       5343
partner_name                                   Irma Rodriguez Montoya
product_id_pp                                                   13965
product_name            [3650] Triplay Pino 5/8  4'*8'  1/Cara *3650*
product_qty                                                     30.00
product_price                                                  512.93
oficial                                                         False
partner_fact_ref                                              A 66927
partner_fact_date                                 2024-05-02 00:00:00
capturista                                     Elsa Ivette Diaz Leyva
vendedora                                     Brenda Luz Acosta Lopez
tolerance_order_date                              2024-04-29 00:00:00
Name: 4611, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,43066,73655,F2-VS/2024/01040,2024-05-02,posted,S17543,Ventas,<NA>,out_invoice,<NA>,...,13965,Triplay Pino 5/8 4'*8' 1/Cara *3650*,3650,00MAD,15.00,716.05,0.00,"10,740.75",2 days 14:46:51,15.00
1,43067,73655,F2-VS/2024/01040,2024-05-02,posted,S17543,Ventas,<NA>,out_invoice,<NA>,...,13965,Triplay Pino 5/8 4'*8' 1/Cara *3650*,3650,00MAD,15.00,716.05,0.00,"10,740.75",2 days 14:46:51,30.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                   11569
order_id                                                   1974
order_name                                     P01961 (A 66622)
order_date                                  2024-04-29 21:14:21
partner_id                                                 5343
partner_name                             Irma Rodriguez Montoya
product_id_pp                                             14428
product_name            [24623] Tabla Parota 1x7 (Cama) *24623*
product_qty                                                1.00
product_price                                          1,810.35
oficial                                                   False
partner_fact_ref                                        A 66622
partner_fact_date                                           NaT
capturista                        Alexa Yadira Mazariegos Zunun
vendedora                                  Yamilet Blanco Salas
tolerance_order_date                        2024-04-24 00:00:00
Name: 4969, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,41441,70862,F2-VS/2024/01021,2024-04-27,posted,S20476,Ventas,<NA>,out_invoice,<NA>,...,14428,Tabla Parota 1x7 (Cama) *24623*,24623,00MAD,1.00,"2,376.09",0.00,"2,376.09",2 days 21:14:21,1.00
1,40624,69432,F2-VS/2024/01004,2024-04-25,posted,S16327,Ventas,<NA>,out_invoice,<NA>,...,14428,Tabla Parota 1x7 (Cama) *24623*,24623,00MAD,1.00,"2,376.09",0.00,"2,376.09",4 days 21:14:21,2.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                           11557
order_id                                           1969
order_name                       P01956 (4HGFFI 223852)
order_date                          2024-04-29 19:47:10
partner_id                                         5387
partner_name                          Home Depot Mexico
product_id_pp                                      8759
product_name            [44394] Cubre Tornillos *44394*
product_qty                                       61.00
product_price                                     12.93
oficial                                           False
partner_fact_ref                          4HGFFI 223852
partner_fact_date                                   NaT
capturista                Alexa Yadira Mazariegos Zunun
vendedora                       Brenda Luz Acosta Lopez
tolerance_order_date                2024-04-24 00:00:00
Name: 4979, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,43070,73656,F2-VS/2024/01041,2024-05-02,posted,S20184,Ventas,<NA>,out_invoice,<NA>,...,8759,Cubre Tornillos *44394*,44394,000CE,122.00,19.41,0.00,"2,368.02",2 days 04:12:50,122.00
1,40559,69344,F2-VS/2024/00997,2024-04-25,posted,S19386,Ventas,<NA>,out_invoice,<NA>,...,8759,Cubre Tornillos *44394*,44394,000CE,20.00,19.41,0.00,388.20,4 days 19:47:10,142.00
2,40658,69459,F2-VS/2024/01006,2024-04-25,posted,S20184,Ventas,<NA>,out_invoice,<NA>,...,8759,Cubre Tornillos *44394*,44394,000CE,28.00,19.41,0.00,543.48,4 days 19:47:10,170.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                             11559
order_id                                                             1969
order_name                                         P01956 (4HGFFI 223852)
order_date                                            2024-04-29 19:47:10
partner_id                                                           5387
partner_name                                            Home Depot Mexico
product_id_pp                                                       29255
product_name            [4497] Guantes De Corte De Nitrilo 48-22-8902 ...
product_qty                                                          1.00
product_price                                                      142.24
oficial                                                             False
partner_fact_ref                                            4HGFFI 223852
partner_fact_date                                                     NaT
capturista                                  Alexa Yadira Mazariegos Zunun
vendedora                                         Brenda Luz Acosta Lopez
tolerance_order_date                                  2024-04-24 00:00:00
Name: 4981, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,45900,78274,F2-VS/2024/01146,2024-05-09,posted,S20298,Ventas,<NA>,out_invoice,<NA>,...,29255,Guantes De Corte De Nitrilo 48-22-8902 *4497*,4497,<NA>,10.00,220.41,0.00,"2,204.10",9 days 04:12:50,10.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                      11550
order_id                                                      1963
order_name                                       P01950 (LA 42511)
order_date                                     2024-04-29 18:34:36
partner_id                                                    5143
partner_name                                        Fymsa Baja Sur
product_id_pp                                                13453
product_name            [1587] Cemento Gris Bulto (50kg) CE *1587*
product_qty                                                   4.00
product_price                                               306.03
oficial                                                      False
partner_fact_ref                                          LA 42511
partner_fact_date                                              NaT
capturista                           Alexa Yadira Mazariegos Zunun
vendedora                                     Irma Carvajal Flores
tolerance_order_date                           2024-04-24 00:00:00
Name: 4989, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,47382,81269,F1-VS/2024/01469,2024-05-13,posted,S23160,Ventas,<NA>,out_invoice,<NA>,...,13453,Cemento Gris Bulto (50kg) CE *1587*,1587,000CE,7.00,465.00,0.00,"3,255.00",13 days 05:25:24,7.00
1,47388,81350,F1-VS/2024/01470,2024-05-13,posted,S23151,Ventas,<NA>,out_invoice,<NA>,...,13453,Cemento Gris Bulto (50kg) CE *1587*,1587,000CE,10.00,465.00,0.00,"4,650.00",13 days 05:25:24,17.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                   11529
order_id                                                   1954
order_name                                P01941 (SJCFCO 11167)
order_date                                  2024-04-29 15:54:55
partner_id                                                 5326
partner_name                     Madereria El Pino De Los Cabos
product_id_pp                                             14428
product_name            [24623] Tabla Parota 1x7 (Cama) *24623*
product_qty                                                1.00
product_price                                          1,820.48
oficial                                                   False
partner_fact_ref                                   SJCFCO 11167
partner_fact_date                                           NaT
capturista                        Alexa Yadira Mazariegos Zunun
vendedora                                  Yamilet Blanco Salas
tolerance_order_date                        2024-04-24 00:00:00
Name: 5016, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,41441,70862,F2-VS/2024/01021,2024-04-27,posted,S20476,Ventas,<NA>,out_invoice,<NA>,...,14428,Tabla Parota 1x7 (Cama) *24623*,24623,00MAD,1.00,"2,376.09",0.00,"2,376.09",2 days 15:54:55,1.00
1,40624,69432,F2-VS/2024/01004,2024-04-25,posted,S16327,Ventas,<NA>,out_invoice,<NA>,...,14428,Tabla Parota 1x7 (Cama) *24623*,24623,00MAD,1.00,"2,376.09",0.00,"2,376.09",4 days 15:54:55,2.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                   11505
order_id                                                   1941
order_name                                     P01928 (A 66558)
order_date                                  2024-04-26 19:54:03
partner_id                                                 5343
partner_name                             Irma Rodriguez Montoya
product_id_pp                                             13636
product_name            [13756] Tabla Americana 1x12x10 *13756*
product_qty                                                3.00
product_price                                            318.97
oficial                                                   False
partner_fact_ref                                        A 66558
partner_fact_date                                           NaT
capturista                        Alexa Yadira Mazariegos Zunun
vendedora                               Brenda Luz Acosta Lopez
tolerance_order_date                        2024-04-21 00:00:00
Name: 5033, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,39901,68202,F2-VS/2024/00974,2024-04-24,posted,S19634,Ventas,<NA>,out_invoice,<NA>,...,13636,Tabla Americana 1x12x10 *13756*,13756,00MAD,10.00,471.80,0.00,"4,718.00",2 days 19:54:03,10.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                      11496
order_id                                                      1938
order_name                                       P01925 (LA 42769)
order_date                                     2024-04-26 19:43:13
partner_id                                                    5143
partner_name                                        Fymsa Baja Sur
product_id_pp                                                26476
product_name            [87414] Color P/Cemento Rojo Oxido *87414*
product_qty                                                   1.00
product_price                                                45.45
oficial                                                      False
partner_fact_ref                                          LA 42769
partner_fact_date                                              NaT
capturista                           Alexa Yadira Mazariegos Zunun
vendedora                                     Irma Carvajal Flores
tolerance_order_date                           2024-04-21 00:00:00
Name: 5040, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,45259,77106,F1-VS/2024/01407,2024-05-07,posted,S17361,Ventas,<NA>,out_invoice,<NA>,...,26476,Color P/Cemento Rojo Oxido *87414*,87414,000CE,1.00,90.00,0.00,90.00,10 days 04:16:47,1.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                        11497
order_id                                                        1938
order_name                                         P01925 (LA 42769)
order_date                                       2024-04-26 19:43:13
partner_id                                                      5143
partner_name                                          Fymsa Baja Sur
product_id_pp                                                  28109
product_name            [1711] Color P/Cemento Amarillo Oxido *1711*
product_qty                                                     1.00
product_price                                                  45.45
oficial                                                        False
partner_fact_ref                                            LA 42769
partner_fact_date                                                NaT
capturista                             Alexa Yadira Mazariegos Zunun
vendedora                                       Irma Carvajal Flores
tolerance_order_date                             2024-04-21 00:00:00
Name: 5041, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,45260,77106,F1-VS/2024/01407,2024-05-07,posted,S17361,Ventas,<NA>,out_invoice,<NA>,...,28109,Color P/Cemento Amarillo Oxido *1711*,1711,000CE,1.00,90.00,0.00,90.00,10 days 04:16:47,1.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                             11498
order_id                                             1938
order_name                              P01925 (LA 42769)
order_date                            2024-04-26 19:43:13
partner_id                                           5143
partner_name                               Fymsa Baja Sur
product_id_pp                                       29241
product_name            [4426] Color Cemento Negro *4426*
product_qty                                          1.00
product_price                                       55.64
oficial                                             False
partner_fact_ref                                 LA 42769
partner_fact_date                                     NaT
capturista                  Alexa Yadira Mazariegos Zunun
vendedora                            Irma Carvajal Flores
tolerance_order_date                  2024-04-21 00:00:00
Name: 5042, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,45261,77106,F1-VS/2024/01407,2024-05-07,posted,S17361,Ventas,<NA>,out_invoice,<NA>,...,29241,Color Cemento Negro *4426*,4426,<NA>,1.00,90.00,0.00,90.00,10 days 04:16:47,1.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                             11495
order_id                                             1937
order_name                              P01924 (F 130981)
order_date                            2024-04-26 19:41:20
partner_id                                           5330
partner_name                David Alejandro Garcia Flores
product_id_pp                                       29241
product_name            [4426] Color Cemento Negro *4426*
product_qty                                          1.00
product_price                                       30.17
oficial                                             False
partner_fact_ref                                 F 130981
partner_fact_date                                     NaT
capturista                  Alexa Yadira Mazariegos Zunun
vendedora                            Irma Carvajal Flores
tolerance_order_date                  2024-04-21 00:00:00
Name: 5044, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,45261,77106,F1-VS/2024/01407,2024-05-07,posted,S17361,Ventas,<NA>,out_invoice,<NA>,...,29241,Color Cemento Negro *4426*,4426,<NA>,1.00,90.00,0.00,90.00,10 days 04:18:40,1.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                           11485
order_id                                                           1929
order_name                                             P01916 (A 46051)
order_date                                          2024-04-26 19:14:11
partner_id                                                         5249
partner_name                          Maria Del Rosario Lazarin Del Rio
product_id_pp                                                     26419
product_name            [98887] Chapa Guadalajara Herralum 1285 *98887*
product_qty                                                        1.00
product_price                                                    790.00
oficial                                                           False
partner_fact_ref                                                A 46051
partner_fact_date                                                   NaT
capturista                                Alexa Yadira Mazariegos Zunun
vendedora                               Mayra Angelica Parada Manjarrez
tolerance_order_date                                2024-04-21 00:00:00
Name: 5052, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,43017,73610,F1-VS/2024/01339,2024-05-02,posted,S16912,Ventas,<NA>,out_invoice,<NA>,...,26419,Chapa Guadalajara Herralum 1285 *98887*,98887,000CE,1.00,945.00,0.00,945.00,5 days 04:45:49,1.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                   11468
order_id                                                   1923
order_name                                     P01910 (A 66553)
order_date                                  2024-04-26 16:39:16
partner_id                                                 5343
partner_name                             Irma Rodriguez Montoya
product_id_pp                                             14428
product_name            [24623] Tabla Parota 1x7 (Cama) *24623*
product_qty                                                1.00
product_price                                          1,810.35
oficial                                                   False
partner_fact_ref                                        A 66553
partner_fact_date                           2024-05-25 00:00:00
capturista                        Alexa Yadira Mazariegos Zunun
vendedora                                  Yamilet Blanco Salas
tolerance_order_date                        2024-04-21 00:00:00
Name: 5069, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,41441,70862,F2-VS/2024/01021,2024-04-27,posted,S20476,Ventas,<NA>,out_invoice,<NA>,...,14428,Tabla Parota 1x7 (Cama) *24623*,24623,00MAD,1.00,"2,376.09",0.00,"2,376.09",0 days 07:20:44,1.00
1,40624,69432,F2-VS/2024/01004,2024-04-25,posted,S16327,Ventas,<NA>,out_invoice,<NA>,...,14428,Tabla Parota 1x7 (Cama) *24623*,24623,00MAD,1.00,"2,376.09",0.00,"2,376.09",1 days 16:39:16,2.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                         11412
order_id                                                         1918
order_name                                           P01905 (B 85731)
order_date                                        2024-04-25 22:21:16
partner_id                                                       5290
partner_name                             Maria Reyna Navarrete Cortez
product_id_pp                                                   13811
product_name            [3651] Triplay Pino 1/2  4'*8'  1/Cara *3651*
product_qty                                                      1.00
product_price                                                  443.34
oficial                                                         False
partner_fact_ref                                              B 85731
partner_fact_date                                                 NaT
capturista                              Alexa Yadira Mazariegos Zunun
vendedora                             Mayra Angelica Parada Manjarrez
tolerance_order_date                              2024-04-20 00:00:00
Name: 5124, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,43719,74478,F1-VS/2024/01355,2024-05-03,posted,S20097,Ventas,<NA>,out_invoice,<NA>,...,13811,Triplay Pino 1/2 4'*8' 1/Cara *3651*,3651,00MAD,1.00,700.02,0.00,700.02,7 days 01:38:44,1.00
1,45860,77998,F1-VS/2024/01435,2024-05-08,posted,S19015,Ventas,<NA>,out_invoice,<NA>,...,13811,Triplay Pino 1/2 4'*8' 1/Cara *3651*,3651,00MAD,2.00,721.21,0.00,"1,442.42",12 days 01:38:44,3.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                   11068
order_id                                                   1872
order_name                                     P01859 (A 66429)
order_date                                  2024-04-24 20:04:10
partner_id                                                 5343
partner_name                             Irma Rodriguez Montoya
product_id_pp                                             13636
product_name            [13756] Tabla Americana 1x12x10 *13756*
product_qty                                                7.00
product_price                                            318.97
oficial                                                   False
partner_fact_ref                                        A 66429
partner_fact_date                                           NaT
capturista                        Alexa Yadira Mazariegos Zunun
vendedora                               Brenda Luz Acosta Lopez
tolerance_order_date                        2024-04-19 00:00:00
Name: 5334, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,39901,68202,F2-VS/2024/00974,2024-04-24,posted,S19634,Ventas,<NA>,out_invoice,<NA>,...,13636,Tabla Americana 1x12x10 *13756*,13756,00MAD,10.00,471.80,0.00,"4,718.00",0 days 20:04:10,10.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                    11015
order_id                                                    1866
order_name                                      P01853 (B 85683)
order_date                                   2024-04-24 18:42:07
partner_id                                                  5290
partner_name                        Maria Reyna Navarrete Cortez
product_id_pp                                              14156
product_name            [15293] Triplay Birch 3/4  4'*8' *15293*
product_qty                                                 8.00
product_price                                             723.19
oficial                                                    False
partner_fact_ref                                         B 85683
partner_fact_date                                            NaT
capturista                         Alexa Yadira Mazariegos Zunun
vendedora                                   Irma Carvajal Flores
tolerance_order_date                         2024-04-19 00:00:00
Name: 5364, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,39781,68033,F1-VS/2024/01289,2024-04-24,posted,S18309,Ventas,<NA>,out_invoice,<NA>,...,14156,Triplay Birch 3/4 4'*8' *15293*,15293,00MAD,4.00,"1,084.79",0.00,"4,339.16",0 days 18:42:07,4.00
1,39784,68034,F1-VS/2024/01290,2024-04-24,posted,S18308,Ventas,<NA>,out_invoice,<NA>,...,14156,Triplay Birch 3/4 4'*8' *15293*,15293,00MAD,3.00,"1,084.79",0.00,"3,254.37",0 days 18:42:07,7.00
2,39790,68035,F1-VS/2024/01291,2024-04-24,posted,S18306,Ventas,<NA>,out_invoice,<NA>,...,14156,Triplay Birch 3/4 4'*8' *15293*,15293,00MAD,1.00,"1,084.79",0.00,"1,084.79",0 days 18:42:07,8.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                    11016
order_id                                                    1866
order_name                                      P01853 (B 85683)
order_date                                   2024-04-24 18:42:07
partner_id                                                  5290
partner_name                        Maria Reyna Navarrete Cortez
product_id_pp                                              13943
product_name            [15143] Triplay Birch 1/2  4'*8' *15143*
product_qty                                                 4.00
product_price                                             536.41
oficial                                                    False
partner_fact_ref                                         B 85683
partner_fact_date                                            NaT
capturista                         Alexa Yadira Mazariegos Zunun
vendedora                                   Irma Carvajal Flores
tolerance_order_date                         2024-04-19 00:00:00
Name: 5365, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,39780,68033,F1-VS/2024/01289,2024-04-24,posted,S18309,Ventas,<NA>,out_invoice,<NA>,...,13943,Triplay Birch 1/2 4'*8' *15143*,15143,00MAD,2.00,945.78,0.00,"1,891.56",0 days 18:42:07,2.00
1,39785,68034,F1-VS/2024/01290,2024-04-24,posted,S18308,Ventas,<NA>,out_invoice,<NA>,...,13943,Triplay Birch 1/2 4'*8' *15143*,15143,00MAD,2.00,945.78,0.00,"1,891.56",0 days 18:42:07,4.00
2,46227,78762,F1-VS/2024/01443,2024-05-09,posted,S20092,Ventas,<NA>,out_invoice,<NA>,...,13943,Triplay Birch 1/2 4'*8' *15143*,15143,00MAD,1.00,945.78,0.00,945.78,14 days 05:17:53,5.00
3,46229,78763,F1-VS/2024/01444,2024-05-09,posted,S20980,Ventas,<NA>,out_invoice,<NA>,...,13943,Triplay Birch 1/2 4'*8' *15143*,15143,00MAD,1.00,945.00,0.00,945.00,14 days 05:17:53,6.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                          11012
order_id                                                          1865
order_name                                        P01852 (MPIFCO 8435)
order_date                                         2024-04-24 18:40:12
partner_id                                                        5296
partner_name                                      Madereria Pichonchas
product_id_pp                                                    13786
product_name            [13538] Tabla Americana 1" X 12" X 16' *13538*
product_qty                                                       9.00
product_price                                                   537.93
oficial                                                          False
partner_fact_ref                                           MPIFCO 8435
partner_fact_date                                                  NaT
capturista                               Alexa Yadira Mazariegos Zunun
vendedora                                         Irma Carvajal Flores
tolerance_order_date                               2024-04-19 00:00:00
Name: 5366, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,39776,68029,F1-VS/2024/01288,2024-04-24,posted,S18311,Ventas,<NA>,out_invoice,<NA>,...,13786,"Tabla Americana 1"" X 12"" X 16' *13538*",13538,00MAD,2.00,827.58,0.00,"1,655.16",0 days 18:40:12,2.00
1,39783,68033,F1-VS/2024/01289,2024-04-24,posted,S18309,Ventas,<NA>,out_invoice,<NA>,...,13786,"Tabla Americana 1"" X 12"" X 16' *13538*",13538,00MAD,1.00,840.00,0.00,840.00,0 days 18:40:12,3.00
2,39786,68034,F1-VS/2024/01290,2024-04-24,posted,S18308,Ventas,<NA>,out_invoice,<NA>,...,13786,"Tabla Americana 1"" X 12"" X 16' *13538*",13538,00MAD,1.00,840.00,0.00,840.00,0 days 18:40:12,4.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                    11008
order_id                                                    1862
order_name                                P01849 (4HGFFI 221531)
order_date                                   2024-04-24 17:32:40
partner_id                                                  5387
partner_name                                   Home Depot Mexico
product_id_pp                                              11823
product_name            [20541] Aceite 3 en 1 Rojo 480ml *20541*
product_qty                                                15.00
product_price                                             107.76
oficial                                                    False
partner_fact_ref                                   4HGFFI 221531
partner_fact_date                                            NaT
capturista                         Alexa Yadira Mazariegos Zunun
vendedora                                   Irma Carvajal Flores
tolerance_order_date                         2024-04-19 00:00:00
Name: 5371, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,39696,67783,F1-VS/2024/01285,2024-04-23,posted,S19654,Ventas,<NA>,out_invoice,<NA>,...,11823,Aceite 3 en 1 Rojo 480ml *20541*,20541,000CE,22.00,163.00,0.00,"3,586.00",1 days 17:32:40,22.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                 11006
order_id                                                 1861
order_name                              P01848 (IWAJY 714654)
order_date                                2024-04-24 17:30:35
partner_id                                               5281
partner_name                         Nueva Wal Mart De Mexico
product_id_pp                                           12446
product_name            [10695] Brasso Liquido 200mls *10695*
product_qty                                              6.00
product_price                                          151.72
oficial                                                 False
partner_fact_ref                                 IWAJY 714654
partner_fact_date                         2024-04-24 00:00:00
capturista                      Alexa Yadira Mazariegos Zunun
vendedora                                Irma Carvajal Flores
tolerance_order_date                      2024-04-19 00:00:00
Name: 5373, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,39697,67783,F1-VS/2024/01285,2024-04-23,posted,S19654,Ventas,<NA>,out_invoice,<NA>,...,12446,Brasso Liquido 200mls *10695*,10695,000CE,30.00,231.47,0.00,"6,944.10",1 days 17:30:35,30.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                    11007
order_id                                                    1861
order_name                                 P01848 (IWAJY 714654)
order_date                                   2024-04-24 17:30:35
partner_id                                                  5281
partner_name                            Nueva Wal Mart De Mexico
product_id_pp                                              11823
product_name            [20541] Aceite 3 en 1 Rojo 480ml *20541*
product_qty                                                 8.00
product_price                                              99.14
oficial                                                    False
partner_fact_ref                                    IWAJY 714654
partner_fact_date                            2024-04-24 00:00:00
capturista                         Alexa Yadira Mazariegos Zunun
vendedora                                   Irma Carvajal Flores
tolerance_order_date                         2024-04-19 00:00:00
Name: 5374, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,39696,67783,F1-VS/2024/01285,2024-04-23,posted,S19654,Ventas,<NA>,out_invoice,<NA>,...,11823,Aceite 3 en 1 Rojo 480ml *20541*,20541,000CE,22.00,163.00,0.00,"3,586.00",1 days 17:30:35,22.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                 11005
order_id                                                 1860
order_name                               P01847 (IWAYB 21799)
order_date                                2024-04-24 17:29:02
partner_id                                               5281
partner_name                         Nueva Wal Mart De Mexico
product_id_pp                                           12446
product_name            [10695] Brasso Liquido 200mls *10695*
product_qty                                             24.00
product_price                                          151.72
oficial                                                 False
partner_fact_ref                                  IWAYB 21799
partner_fact_date                         2024-04-24 00:00:00
capturista                      Alexa Yadira Mazariegos Zunun
vendedora                                Irma Carvajal Flores
tolerance_order_date                      2024-04-19 00:00:00
Name: 5375, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,39697,67783,F1-VS/2024/01285,2024-04-23,posted,S19654,Ventas,<NA>,out_invoice,<NA>,...,12446,Brasso Liquido 200mls *10695*,10695,000CE,30.00,231.47,0.00,"6,944.10",1 days 17:29:02,30.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                           10995
order_id                                           1853
order_name                           P01840 (FRCO 8273)
order_date                          2024-04-24 00:30:06
partner_id                                         5373
partner_name              Ferreteria Y Plomeria Santana
product_id_pp                                      8759
product_name            [44394] Cubre Tornillos *44394*
product_qty                                       25.00
product_price                                     12.00
oficial                                           False
partner_fact_ref                              FRCO 8273
partner_fact_date                                   NaT
capturista                Alexa Yadira Mazariegos Zunun
vendedora                       Brenda Luz Acosta Lopez
tolerance_order_date                2024-04-19 00:00:00
Name: 5384, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,40559,69344,F2-VS/2024/00997,2024-04-25,posted,S19386,Ventas,<NA>,out_invoice,<NA>,...,8759,Cubre Tornillos *44394*,44394,000CE,20.00,19.41,0.00,388.20,0 days 23:29:54,20.00
1,40658,69459,F2-VS/2024/01006,2024-04-25,posted,S20184,Ventas,<NA>,out_invoice,<NA>,...,8759,Cubre Tornillos *44394*,44394,000CE,28.00,19.41,0.00,543.48,0 days 23:29:54,48.00
2,43070,73656,F2-VS/2024/01041,2024-05-02,posted,S20184,Ventas,<NA>,out_invoice,<NA>,...,8759,Cubre Tornillos *44394*,44394,000CE,122.00,19.41,0.00,"2,368.02",7 days 23:29:54,170.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                           10933
order_id                                           1828
order_name                           P01815 (FCC 37524)
order_date                          2024-04-23 00:26:17
partner_id                                         5165
partner_name            Plomeria Universal De Los Cabos
product_id_pp                                      8759
product_name            [44394] Cubre Tornillos *44394*
product_qty                                       23.00
product_price                                     10.09
oficial                                           False
partner_fact_ref                              FCC 37524
partner_fact_date                                   NaT
capturista                Alexa Yadira Mazariegos Zunun
vendedora                       Brenda Luz Acosta Lopez
tolerance_order_date                2024-04-18 00:00:00
Name: 5442, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,40559,69344,F2-VS/2024/00997,2024-04-25,posted,S19386,Ventas,<NA>,out_invoice,<NA>,...,8759,Cubre Tornillos *44394*,44394,000CE,20.00,19.41,0.00,388.20,1 days 23:33:43,20.00
1,40658,69459,F2-VS/2024/01006,2024-04-25,posted,S20184,Ventas,<NA>,out_invoice,<NA>,...,8759,Cubre Tornillos *44394*,44394,000CE,28.00,19.41,0.00,543.48,1 days 23:33:43,48.00
2,43070,73656,F2-VS/2024/01041,2024-05-02,posted,S20184,Ventas,<NA>,out_invoice,<NA>,...,8759,Cubre Tornillos *44394*,44394,000CE,122.00,19.41,0.00,"2,368.02",8 days 23:33:43,170.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                               10882
order_id                                               1818
order_name                                P01805 (A 106601)
order_date                              2024-04-22 20:17:00
partner_id                                             5352
partner_name                   Luz Raquel Rodriguez Montoya
product_id_pp                                         12636
product_name            [13430] Barrote 2 X 4 X 16' *13430*
product_qty                                           25.00
product_price                                        228.44
oficial                                               False
partner_fact_ref                                   A 106601
partner_fact_date                                       NaT
capturista                    Alexa Yadira Mazariegos Zunun
vendedora                              Irma Carvajal Flores
tolerance_order_date                    2024-04-17 00:00:00
Name: 5488, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,39964,68302,F1-VS/2024/01298,2024-04-24,posted,S18010,Ventas,<NA>,out_invoice,<NA>,...,12636,Barrote 2 X 4 X 16' *13430*,13430,00MAD,15.00,370.00,0.00,"5,550.00",1 days 03:43:00,15.00
1,38602,65894,F1-VS/2024/01266,2024-04-19,posted,S17920,Ventas,<NA>,out_invoice,<NA>,...,12636,Barrote 2 X 4 X 16' *13430*,13430,00MAD,10.00,380.00,0.00,"3,800.00",3 days 20:17:00,25.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                     10761
order_id                                                     1803
order_name                                       P01790 (FA 3654)
order_date                                    2024-04-22 15:28:05
partner_id                                                   5173
partner_name                     Casper Ventas Y Representaciones
product_id_pp                                               14862
product_name            [13884] Cemento Blanco (50 Kilos) *13884*
product_qty                                                  6.00
product_price                                              463.67
oficial                                                     False
partner_fact_ref                                          FA 3654
partner_fact_date                                             NaT
capturista                          Alexa Yadira Mazariegos Zunun
vendedora                                 Brenda Luz Acosta Lopez
tolerance_order_date                          2024-04-17 00:00:00
Name: 5605, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,38399,65557,F2-VS/2024/00932,2024-04-19,posted,S18219,Ventas,<NA>,out_invoice,<NA>,...,14862,Cemento Blanco (50 Kilos) *13884*,13884,000CE,4.00,652.00,0.00,"2,608.00",3 days 15:28:05,4.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                             10754
order_id                                                             1796
order_name                                              P01783 (PA 64817)
order_date                                            2024-04-20 00:42:11
partner_id                                                           5335
partner_name                                                   Casa Myers
product_id_pp                                                       28272
product_name            [11167] Pinza Electricista Milwaukee 48-22-610...
product_qty                                                          4.00
product_price                                                      555.88
oficial                                                             False
partner_fact_ref                                                 PA 64817
partner_fact_date                                                     NaT
capturista                                  Alexa Yadira Mazariegos Zunun
vendedora                                            Irma Carvajal Flores
tolerance_order_date                                  2024-04-15 00:00:00
Name: 5612, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,38585,65884,F1-VS/2024/01263,2024-04-19,posted,S16453,Ventas,<NA>,out_invoice,<NA>,...,28272,Pinza Electricista Milwaukee 48-22-6100 *11167*,11167,000CE,1.00,995.00,0.00,995.00,1 days 00:42:11,1.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                             10477
order_id                                                             1772
order_name                                         P01759 (4HGFFI 219120)
order_date                                            2024-04-19 00:34:46
partner_id                                                           5387
partner_name                                            Home Depot Mexico
product_id_pp                                                       26758
product_name            [55536] Desarmador 10-1 Milwaukee 48-22-2301 *...
product_qty                                                          2.00
product_price                                                      270.69
oficial                                                             False
partner_fact_ref                                            4HGFFI 219120
partner_fact_date                                     2024-04-18 00:00:00
capturista                                  Alexa Yadira Mazariegos Zunun
vendedora                                            Irma Carvajal Flores
tolerance_order_date                                  2024-04-14 00:00:00
Name: 5768, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,38115,64930,F1-VS/2024/01255,2024-04-18,posted,S17296,Ventas,<NA>,out_invoice,<NA>,...,26758,Desarmador 10-1 Milwaukee 48-22-2301 *55536*,55536,000CE,1.00,580.00,0.00,580.00,1 days 00:34:46,1.00
1,36668,62782,F1-VS/2024/01210,2024-04-15,posted,S16904,Ventas,<NA>,out_invoice,<NA>,...,26758,Desarmador 10-1 Milwaukee 48-22-2301 *55536*,55536,000CE,1.00,580.00,0.00,580.00,4 days 00:34:46,2.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                             10237
order_id                                                             1741
order_name                                                 P01728 (39940)
order_date                                            2024-04-18 18:09:07
partner_id                                                           5378
partner_name                                                Maderas Dimar
product_id_pp                                                       14518
product_name            [14544] Cierra Puerta Hafele Oculto #931.77.02...
product_qty                                                          2.00
product_price                                                    2,780.60
oficial                                                             False
partner_fact_ref                                                    39940
partner_fact_date                                     2024-04-17 00:00:00
capturista                                  Alexa Yadira Mazariegos Zunun
vendedora                                 Mayra Angelica Parada Manjarrez
tolerance_order_date                                  2024-04-13 00:00:00
Name: 5915, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,43016,73610,F1-VS/2024/01339,2024-05-02,posted,S16912,Ventas,<NA>,out_invoice,<NA>,...,14518,Cierra Puerta Hafele Oculto #931.77.029 *14544*,14544,9,2.00,"3,892.84",0.00,"7,785.68",13 days 05:50:53,2.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                              10212
order_id                                              1721
order_name                                P01708 (A 66695)
order_date                             2024-04-16 23:04:28
partner_id                                            5343
partner_name                        Irma Rodriguez Montoya
product_id_pp                                        13624
product_name            [10635] Triplay Parota 1/4 *10635*
product_qty                                          10.00
product_price                                       349.14
oficial                                              False
partner_fact_ref                                   A 66695
partner_fact_date                                      NaT
capturista                   Alexa Yadira Mazariegos Zunun
vendedora                             Yamilet Blanco Salas
tolerance_order_date                   2024-04-11 00:00:00
Name: 5941, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,37007,63411,F2-VS/2024/00885,2024-04-16,posted,S16416,Ventas,<NA>,out_invoice,<NA>,...,13624,Triplay Parota 1/4 *10635*,10635,00MAD,10.00,549.32,0.00,"5,493.20",0 days 23:04:28,10.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                    10202
order_id                                                    1716
order_name                                 P01703 (SJCFCO 10035)
order_date                                   2024-04-16 18:08:39
partner_id                                                  5326
partner_name                      Madereria El Pino De Los Cabos
product_id_pp                                              13943
product_name            [15143] Triplay Birch 1/2  4'*8' *15143*
product_qty                                                 5.00
product_price                                             500.00
oficial                                                    False
partner_fact_ref                                    SJCFCO 10035
partner_fact_date                                            NaT
capturista                         Alexa Yadira Mazariegos Zunun
vendedora                                   Yamilet Blanco Salas
tolerance_order_date                         2024-04-11 00:00:00
Name: 5949, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,36882,63243,F2-VS/2024/00883,2024-04-16,posted,S17757,Ventas,<NA>,out_invoice,<NA>,...,13943,Triplay Birch 1/2 4'*8' *15143*,15143,00MAD,2.00,750.00,0.00,"1,500.00",0 days 18:08:39,2.00
1,36890,63247,F2-VS/2024/00884,2024-04-16,posted,S17757,Ventas,<NA>,out_invoice,<NA>,...,13943,Triplay Birch 1/2 4'*8' *15143*,15143,00MAD,3.00,750.00,0.00,"2,250.00",0 days 18:08:39,5.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                    10200
order_id                                                    1716
order_name                                 P01703 (SJCFCO 10035)
order_date                                   2024-04-16 18:08:39
partner_id                                                  5326
partner_name                      Madereria El Pino De Los Cabos
product_id_pp                                              14075
product_name            [40032] Triplay Birch 5/8  4'*8' *40032*
product_qty                                                 5.00
product_price                                             616.38
oficial                                                    False
partner_fact_ref                                    SJCFCO 10035
partner_fact_date                                            NaT
capturista                         Alexa Yadira Mazariegos Zunun
vendedora                                   Yamilet Blanco Salas
tolerance_order_date                         2024-04-11 00:00:00
Name: 5950, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,36880,63243,F2-VS/2024/00883,2024-04-16,posted,S17757,Ventas,<NA>,out_invoice,<NA>,...,14075,Triplay Birch 5/8 4'*8' *40032*,40032,00MAD,3.00,924.58,0.00,"2,773.74",0 days 18:08:39,3.00
1,36888,63247,F2-VS/2024/00884,2024-04-16,posted,S17757,Ventas,<NA>,out_invoice,<NA>,...,14075,Triplay Birch 5/8 4'*8' *40032*,40032,00MAD,2.00,924.58,0.00,"1,849.16",0 days 18:08:39,5.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                    10201
order_id                                                    1716
order_name                                 P01703 (SJCFCO 10035)
order_date                                   2024-04-16 18:08:39
partner_id                                                  5326
partner_name                      Madereria El Pino De Los Cabos
product_id_pp                                              13331
product_name            [16320] Triplay Birch 1/4  4'*8' *16320*
product_qty                                                 5.00
product_price                                             267.24
oficial                                                    False
partner_fact_ref                                    SJCFCO 10035
partner_fact_date                                            NaT
capturista                         Alexa Yadira Mazariegos Zunun
vendedora                                   Yamilet Blanco Salas
tolerance_order_date                         2024-04-11 00:00:00
Name: 5951, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,36881,63243,F2-VS/2024/00883,2024-04-16,posted,S17757,Ventas,<NA>,out_invoice,<NA>,...,13331,Triplay Birch 1/4 4'*8' *16320*,16320,00MAD,2.00,400.87,0.00,801.74,0 days 18:08:39,2.00
1,36889,63247,F2-VS/2024/00884,2024-04-16,posted,S17757,Ventas,<NA>,out_invoice,<NA>,...,13331,Triplay Birch 1/4 4'*8' *16320*,16320,00MAD,3.00,400.87,0.00,"1,202.61",0 days 18:08:39,5.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                    10196
order_id                                                    1712
order_name                                      P01699 (B 85413)
order_date                                   2024-04-16 16:29:47
partner_id                                                  5290
partner_name                        Maria Reyna Navarrete Cortez
product_id_pp                                              14156
product_name            [15293] Triplay Birch 3/4  4'*8' *15293*
product_qty                                                 3.00
product_price                                             723.19
oficial                                                    False
partner_fact_ref                                         B 85413
partner_fact_date                                            NaT
capturista                         Alexa Yadira Mazariegos Zunun
vendedora                                   Irma Carvajal Flores
tolerance_order_date                         2024-04-11 00:00:00
Name: 5955, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,35874,60983,F1-VS/2024/01185,2024-04-12,posted,S17204,Ventas,<NA>,out_invoice,<NA>,...,14156,Triplay Birch 3/4 4'*8' *15293*,15293,00MAD,3.00,"1,084.79",0.00,"3,254.37",4 days 16:29:47,3.00
1,39781,68033,F1-VS/2024/01289,2024-04-24,posted,S18309,Ventas,<NA>,out_invoice,<NA>,...,14156,Triplay Birch 3/4 4'*8' *15293*,15293,00MAD,4.00,"1,084.79",0.00,"4,339.16",7 days 07:30:13,7.00
2,39784,68034,F1-VS/2024/01290,2024-04-24,posted,S18308,Ventas,<NA>,out_invoice,<NA>,...,14156,Triplay Birch 3/4 4'*8' *15293*,15293,00MAD,3.00,"1,084.79",0.00,"3,254.37",7 days 07:30:13,10.00
3,39790,68035,F1-VS/2024/01291,2024-04-24,posted,S18306,Ventas,<NA>,out_invoice,<NA>,...,14156,Triplay Birch 3/4 4'*8' *15293*,15293,00MAD,1.00,"1,084.79",0.00,"1,084.79",7 days 07:30:13,11.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                       10144
order_id                                                       1702
order_name                                       P01689 (JR 166431)
order_date                                      2024-04-15 18:10:33
partner_id                                                     5230
partner_name                                       Tiendas Chedraui
product_id_pp                                                 27765
product_name            [22201] Kola Loka Industrial 209 gr *22201*
product_qty                                                    1.00
product_price                                                 43.75
oficial                                                       False
partner_fact_ref                                          JR 166431
partner_fact_date                                               NaT
capturista                            Alexa Yadira Mazariegos Zunun
vendedora                                   Brenda Luz Acosta Lopez
tolerance_order_date                            2024-04-10 00:00:00
Name: 5985, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,35955,61233,F2-VS/2024/00865,2024-04-13,posted,S17983,Ventas,<NA>,out_invoice,<NA>,...,27765,Kola Loka Industrial 209 gr *22201*,22201,000CE,10.00,72.28,0.00,722.80,2 days 18:10:33,10.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                         10139
order_id                                                         1697
order_name                                           P01684 (B 85431)
order_date                                        2024-04-15 16:58:23
partner_id                                                       5290
partner_name                             Maria Reyna Navarrete Cortez
product_id_pp                                                   14147
product_name            [3637] Triplay Pino 3/4  4'*8'  1/Cara *3637*
product_qty                                                     14.00
product_price                                                  609.41
oficial                                                         False
partner_fact_ref                                              B 85431
partner_fact_date                                                 NaT
capturista                              Alexa Yadira Mazariegos Zunun
vendedora                                        Irma Carvajal Flores
tolerance_order_date                              2024-04-10 00:00:00
Name: 5990, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,36235,61729,F1-VS/2024/01187,2024-04-13,posted,S17057,Ventas,<NA>,out_invoice,<NA>,...,14147,Triplay Pino 3/4 4'*8' 1/Cara *3637*,3637,00MAD,2.00,915.00,0.00,"1,830.00",2 days 16:58:23,2.00
1,36258,61735,F1-VS/2024/01188,2024-04-13,posted,S17056,Ventas,<NA>,out_invoice,<NA>,...,14147,Triplay Pino 3/4 4'*8' 1/Cara *3637*,3637,00MAD,12.00,915.00,0.00,"10,980.00",2 days 16:58:23,14.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                       10125
order_id                                                       1690
order_name                                       P01677 (JR 166376)
order_date                                      2024-04-15 15:33:15
partner_id                                                     5230
partner_name                                       Tiendas Chedraui
product_id_pp                                                 27765
product_name            [22201] Kola Loka Industrial 209 gr *22201*
product_qty                                                    9.00
product_price                                                 45.73
oficial                                                       False
partner_fact_ref                                          JR 166376
partner_fact_date                                               NaT
capturista                            Alexa Yadira Mazariegos Zunun
vendedora                                   Brenda Luz Acosta Lopez
tolerance_order_date                            2024-04-10 00:00:00
Name: 6001, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,35955,61233,F2-VS/2024/00865,2024-04-13,posted,S17983,Ventas,<NA>,out_invoice,<NA>,...,27765,Kola Loka Industrial 209 gr *22201*,22201,000CE,10.00,72.28,0.00,722.80,2 days 15:33:15,10.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                             10120
order_id                                                             1686
order_name                                              P01673 (PA 64381)
order_date                                            2024-04-13 00:18:17
partner_id                                                           5335
partner_name                                                   Casa Myers
product_id_pp                                                       27394
product_name            [247181] Pinza electricista Klein tool #KT215 ...
product_qty                                                          4.00
product_price                                                      726.45
oficial                                                             False
partner_fact_ref                                                 PA 64381
partner_fact_date                                                     NaT
capturista                                  Alexa Yadira Mazariegos Zunun
vendedora                                         Brenda Luz Acosta Lopez
tolerance_order_date                                  2024-04-08 00:00:00
Name: 6008, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,35927,61021,F2-VS/2024/00861,2024-04-12,posted,S16066,Ventas,<NA>,out_invoice,<NA>,...,27394,Pinza electricista Klein tool #KT215 CE *247181*,247181,000CE,2.00,"1,263.00",0.00,"2,526.00",1 days 00:18:17,2.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                              10086
order_id                                              1669
order_name                            P01656 (SJCFCO 9684)
order_date                             2024-04-12 16:44:30
partner_id                                            5326
partner_name                Madereria El Pino De Los Cabos
product_id_pp                                        13624
product_name            [10635] Triplay Parota 1/4 *10635*
product_qty                                          10.00
product_price                                       336.21
oficial                                              False
partner_fact_ref                               SJCFCO 9684
partner_fact_date                                      NaT
capturista                   Alexa Yadira Mazariegos Zunun
vendedora                             Yamilet Blanco Salas
tolerance_order_date                   2024-04-07 00:00:00
Name: 6037, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,37007,63411,F2-VS/2024/00885,2024-04-16,posted,S16416,Ventas,<NA>,out_invoice,<NA>,...,13624,Triplay Parota 1/4 *10635*,10635,00MAD,10.00,549.32,0.00,"5,493.20",3 days 07:15:30,10.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                      10001
order_id                                                      1660
order_name                                       P01647 (SJ 30328)
order_date                                     2024-04-12 00:43:28
partner_id                                                    5143
partner_name                                        Fymsa Baja Sur
product_id_pp                                                13453
product_name            [1587] Cemento Gris Bulto (50kg) CE *1587*
product_qty                                                   4.00
product_price                                               306.03
oficial                                                      False
partner_fact_ref                                          SJ 30328
partner_fact_date                                              NaT
capturista                           Alexa Yadira Mazariegos Zunun
vendedora                                     Yamilet Blanco Salas
tolerance_order_date                           2024-04-07 00:00:00
Name: 6089, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,38160,64982,F2-VS/2024/00925,2024-04-18,posted,S17581,Ventas,<NA>,out_invoice,<NA>,...,13453,Cemento Gris Bulto (50kg) CE *1587*,1587,000CE,4.00,470.44,0.00,"1,881.76",5 days 23:16:32,4.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                              9901
order_id                                                             1640
order_name                                              P01627 (C 170342)
order_date                                            2024-04-11 21:34:25
partner_id                                                           5280
partner_name            DISTRIBUIDORA DE HERRAJES Y ALUMINIO DE LOS CABOS
product_id_pp                                                       13833
product_name            [25982] Bisagra Vidrio-Vidrio #1432 Herralum *...
product_qty                                                         60.00
product_price                                                      307.89
oficial                                                             False
partner_fact_ref                                                 C 170342
partner_fact_date                                                     NaT
capturista                                  Alexa Yadira Mazariegos Zunun
vendedora                                            Irma Carvajal Flores
tolerance_order_date                                  2024-04-06 00:00:00
Name: 6160, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,35295,59878,F1-VS/2024/01150,2024-04-11,posted,S14759,Ventas,<NA>,out_invoice,<NA>,...,13833,Bisagra Vidrio-Vidrio #1432 Herralum *25982*,25982,000CE,60.00,580.00,0.00,"34,800.00",0 days 21:34:25,60.00
1,36265,61742,F1-VS/2024/01191,2024-04-13,posted,S16930,Ventas,<NA>,out_invoice,<NA>,...,13833,Bisagra Vidrio-Vidrio #1432 Herralum *25982*,25982,000CE,60.00,580.00,0.00,"34,800.00",1 days 02:25:35,120.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                              9814
order_id                                                             1635
order_name                                           P01622 (HF 00430029)
order_date                                            2024-04-11 20:24:38
partner_id                                                           5362
partner_name                                          Herralum Industrial
product_id_pp                                                       13833
product_name            [25982] Bisagra Vidrio-Vidrio #1432 Herralum *...
product_qty                                                         60.00
product_price                                                      436.89
oficial                                                              True
partner_fact_ref                                              HF 00430029
partner_fact_date                                                     NaT
capturista                                  Alexa Yadira Mazariegos Zunun
vendedora                                            Irma Carvajal Flores
tolerance_order_date                                  2024-04-06 00:00:00
Name: 6206, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,35295,59878,F1-VS/2024/01150,2024-04-11,posted,S14759,Ventas,<NA>,out_invoice,<NA>,...,13833,Bisagra Vidrio-Vidrio #1432 Herralum *25982*,25982,000CE,60.00,580.00,0.00,"34,800.00",0 days 20:24:38,60.00
1,36265,61742,F1-VS/2024/01191,2024-04-13,posted,S16930,Ventas,<NA>,out_invoice,<NA>,...,13833,Bisagra Vidrio-Vidrio #1432 Herralum *25982*,25982,000CE,60.00,580.00,0.00,"34,800.00",1 days 03:35:22,120.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                    9705
order_id                                                   1615
order_name                                 P01602 (FCOLPZ 6630)
order_date                                  2024-04-10 22:31:10
partner_id                                                 5164
partner_name                        Madereria El Pino De La Paz
product_id_pp                                             14454
product_name            [10033] Deck DE IPE METRO 19mm. *10033*
product_qty                                                6.17
product_price                                          1,551.72
oficial                                                   False
partner_fact_ref                                    FCOLPZ 6630
partner_fact_date                                           NaT
capturista                               Elsa Ivette Diaz Leyva
vendedora                               Brenda Luz Acosta Lopez
tolerance_order_date                        2024-04-05 00:00:00
Name: 6269, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,38584,65883,F2-VS/2024/00941,2024-04-19,posted,S17397,Ventas,<NA>,out_invoice,<NA>,...,14454,Deck DE IPE METRO 19mm. *10033*,10033,00MAD,6.17,"2,981.15",0.00,"18,393.70",8 days 01:28:50,6.17

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                     9343
order_id                                                    1598
order_name                                      P01585 (B 85333)
order_date                                   2024-04-10 19:01:54
partner_id                                                  5290
partner_name                        Maria Reyna Navarrete Cortez
product_id_pp                                              14156
product_name            [15293] Triplay Birch 3/4  4'*8' *15293*
product_qty                                                 3.00
product_price                                             723.19
oficial                                                    False
partner_fact_ref                                         B 85333
partner_fact_date                                            NaT
capturista                         Alexa Yadira Mazariegos Zunun
vendedora                                   Irma Carvajal Flores
tolerance_order_date                         2024-04-05 00:00:00
Name: 6461, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,35874,60983,F1-VS/2024/01185,2024-04-12,posted,S17204,Ventas,<NA>,out_invoice,<NA>,...,14156,Triplay Birch 3/4 4'*8' *15293*,15293,00MAD,3.00,"1,084.79",0.00,"3,254.37",1 days 04:58:06,3.00
1,34449,58084,F1-VS/2024/01120,2024-04-09,posted,S16827,Ventas,<NA>,out_invoice,<NA>,...,14156,Triplay Birch 3/4 4'*8' *15293*,15293,00MAD,3.00,"1,084.79",0.00,"3,254.37",1 days 19:01:54,6.00
2,39781,68033,F1-VS/2024/01289,2024-04-24,posted,S18309,Ventas,<NA>,out_invoice,<NA>,...,14156,Triplay Birch 3/4 4'*8' *15293*,15293,00MAD,4.00,"1,084.79",0.00,"4,339.16",13 days 04:58:06,10.00
3,39784,68034,F1-VS/2024/01290,2024-04-24,posted,S18308,Ventas,<NA>,out_invoice,<NA>,...,14156,Triplay Birch 3/4 4'*8' *15293*,15293,00MAD,3.00,"1,084.79",0.00,"3,254.37",13 days 04:58:06,13.00
4,39790,68035,F1-VS/2024/01291,2024-04-24,posted,S18306,Ventas,<NA>,out_invoice,<NA>,...,14156,Triplay Birch 3/4 4'*8' *15293*,15293,00MAD,1.00,"1,084.79",0.00,"1,084.79",13 days 04:58:06,14.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                           8839
order_id                                                          1538
order_name                                            P01526 (A 23256)
order_date                                         2024-04-08 15:21:46
partner_id                                                        5264
partner_name                            Maria Teresa Quezada Hernandez
product_id_pp                                                    13786
product_name            [13538] Tabla Americana 1" X 12" X 16' *13538*
product_qty                                                       5.00
product_price                                                   524.14
oficial                                                          False
partner_fact_ref                                               A 23256
partner_fact_date                                                  NaT
capturista                               Alexa Yadira Mazariegos Zunun
vendedora                                         Irma Carvajal Flores
tolerance_order_date                               2024-04-03 00:00:00
Name: 6720, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,33102,55956,F1-VS/2024/01093,2024-04-05,posted,S16290,Ventas,<NA>,out_invoice,<NA>,...,13786,"Tabla Americana 1"" X 12"" X 16' *13538*",13538,00MAD,11.00,726.20,0.00,"7,988.20",3 days 15:21:46,11.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                   8815
order_id                                                  1528
order_name                                      P01516 (39587)
order_date                                 2024-04-06 00:01:02
partner_id                                                5378
partner_name                                     Maderas Dimar
product_id_pp                                            13407
product_name            [15154] Pasador Ph #31-C #2603 *15154*
product_qty                                               3.00
product_price                                           273.80
oficial                                                  False
partner_fact_ref                                         39587
partner_fact_date                                          NaT
capturista                       Alexa Yadira Mazariegos Zunun
vendedora                                 Reyna Arriaga Flores
tolerance_order_date                       2024-04-01 00:00:00
Name: 6735, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,33630,56905,F1-CC/2024/05076,2024-04-08,posted,PdV CSL/5032,PdV,12165,out_invoice,<NA>,...,13407,Pasador Ph #31-C #2603 *15154*,15154,00ASS,1.50,552.50,0.00,828.75,1 days 23:58:58,1.50
1,33793,57195,F1-CC/2024/05102,2024-04-08,posted,PdV CSL/5058,PdV,12230,out_invoice,<NA>,...,13407,Pasador Ph #31-C #2603 *15154*,15154,00ASS,1.50,552.50,0.00,828.75,1 days 23:58:58,3.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                           8813
order_id                                                          1526
order_name                                           P01514 (A 106237)
order_date                                         2024-04-05 23:54:53
partner_id                                                        5352
partner_name                              Luz Raquel Rodriguez Montoya
product_id_pp                                                    13786
product_name            [13538] Tabla Americana 1" X 12" X 16' *13538*
product_qty                                                       6.00
product_price                                                   524.14
oficial                                                          False
partner_fact_ref                                              A 106237
partner_fact_date                                                  NaT
capturista                               Alexa Yadira Mazariegos Zunun
vendedora                                         Irma Carvajal Flores
tolerance_order_date                               2024-03-31 00:00:00
Name: 6737, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,33102,55956,F1-VS/2024/01093,2024-04-05,posted,S16290,Ventas,<NA>,out_invoice,<NA>,...,13786,"Tabla Americana 1"" X 12"" X 16' *13538*",13538,00MAD,11.00,726.20,0.00,"7,988.20",0 days 23:54:53,11.00
1,31869,53872,F1-VS/2024/01039,2024-04-02,posted,S15326,Ventas,<NA>,out_invoice,<NA>,...,13786,"Tabla Americana 1"" X 12"" X 16' *13538*",13538,00MAD,1.00,840.00,0.00,840.00,3 days 23:54:53,12.00
2,31874,53875,F1-VS/2024/01040,2024-04-02,posted,S15334,Ventas,<NA>,out_invoice,<NA>,...,13786,"Tabla Americana 1"" X 12"" X 16' *13538*",13538,00MAD,1.00,840.00,0.00,840.00,3 days 23:54:53,13.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                          8606
order_id                                                         1513
order_name                                           P01501 (B 85153)
order_date                                        2024-04-05 18:41:58
partner_id                                                       5290
partner_name                             Maria Reyna Navarrete Cortez
product_id_pp                                                   14147
product_name            [3637] Triplay Pino 3/4  4'*8'  1/Cara *3637*
product_qty                                                      3.00
product_price                                                  609.41
oficial                                                         False
partner_fact_ref                                              B 85153
partner_fact_date                                                 NaT
capturista                              Alexa Yadira Mazariegos Zunun
vendedora                             Mayra Angelica Parada Manjarrez
tolerance_order_date                              2024-03-31 00:00:00
Name: 6845, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,32934,55683,F1-VS/2024/01087,2024-04-05,posted,S13037,Ventas,<NA>,out_invoice,<NA>,...,14147,Triplay Pino 3/4 4'*8' 1/Cara *3637*,3637,00MAD,2.00,979.82,0.00,"1,959.64",0 days 18:41:58,2.00
1,33864,57294,F1-VS/2024/01103,2024-04-08,posted,S15287,Ventas,<NA>,out_invoice,<NA>,...,14147,Triplay Pino 3/4 4'*8' 1/Cara *3637*,3637,00MAD,3.00,969.82,0.00,"2,909.46",2 days 05:18:02,5.00
2,31722,53590,F1-VS/2024/01035,2024-04-02,posted,S15895,Ventas,<NA>,out_invoice,<NA>,...,14147,Triplay Pino 3/4 4'*8' 1/Cara *3637*,3637,00MAD,25.00,968.82,0.00,"24,220.50",3 days 18:41:58,30.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                            8607
order_id                                                           1513
order_name                                             P01501 (B 85153)
order_date                                          2024-04-05 18:41:58
partner_id                                                         5290
partner_name                               Maria Reyna Navarrete Cortez
product_id_pp                                                     13371
product_name            [12749] Triplay Pino 1/4  4'*8'  1/Cara *12749*
product_qty                                                        2.00
product_price                                                    272.87
oficial                                                           False
partner_fact_ref                                                B 85153
partner_fact_date                                                   NaT
capturista                                Alexa Yadira Mazariegos Zunun
vendedora                               Mayra Angelica Parada Manjarrez
tolerance_order_date                                2024-03-31 00:00:00
Name: 6846, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,33881,57304,F1-VS/2024/01105,2024-04-08,posted,S11734,Ventas,<NA>,out_invoice,<NA>,...,13371,Triplay Pino 1/4 4'*8' 1/Cara *12749*,12749,00MAD,5.00,491.37,0.00,"2,456.85",2 days 05:18:02,5.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                              8517
order_id                                                             1499
order_name                                              P01487 (WA 13872)
order_date                                            2024-04-05 00:55:44
partner_id                                                           5221
partner_name            Distribuidor Mayorista De Tornillos De Yucatan...
product_id_pp                                                        7671
product_name            [3996] Pija C/Pl 12*3 Smpfz (1800P/C) C#42 *3996*
product_qty                                                        400.00
product_price                                                        0.81
oficial                                                             False
partner_fact_ref                                                 WA 13872
partner_fact_date                                                     NaT
capturista                                  Alexa Yadira Mazariegos Zunun
vendedora                            Yolanda Alejandra Rodriguez González
tolerance_order_date                                  2024-03-31 00:00:00
Name: 6897, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,32757,55374,F2-CC/2024/06585,2024-04-04,posted,PdV SJC/6718,PdV,11851,out_invoice,<NA>,...,7671,Pija C/Pl 12*3 Smpfz (1800P/C) C#42 *3996*,3996,126,250.00,1.38,0.00,345.00,1 days 00:55:44,250.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                           8030
order_id                                                          1481
order_name                                        P01469 (MPIFCO 6759)
order_date                                         2024-04-04 16:51:56
partner_id                                                        5296
partner_name                                      Madereria Pichonchas
product_id_pp                                                    13786
product_name            [13538] Tabla Americana 1" X 12" X 16' *13538*
product_qty                                                       2.00
product_price                                                   537.93
oficial                                                          False
partner_fact_ref                                           MPIFCO 6759
partner_fact_date                                                  NaT
capturista                               Alexa Yadira Mazariegos Zunun
vendedora                                         Irma Carvajal Flores
tolerance_order_date                               2024-03-30 00:00:00
Name: 7159, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,33102,55956,F1-VS/2024/01093,2024-04-05,posted,S16290,Ventas,<NA>,out_invoice,<NA>,...,13786,"Tabla Americana 1"" X 12"" X 16' *13538*",13538,00MAD,11.00,726.20,0.00,"7,988.20",0 days 07:08:04,11.00
1,31869,53872,F1-VS/2024/01039,2024-04-02,posted,S15326,Ventas,<NA>,out_invoice,<NA>,...,13786,"Tabla Americana 1"" X 12"" X 16' *13538*",13538,00MAD,1.00,840.00,0.00,840.00,2 days 16:51:56,12.00
2,31874,53875,F1-VS/2024/01040,2024-04-02,posted,S15334,Ventas,<NA>,out_invoice,<NA>,...,13786,"Tabla Americana 1"" X 12"" X 16' *13538*",13538,00MAD,1.00,840.00,0.00,840.00,2 days 16:51:56,13.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                          7993
order_id                                                         1458
order_name                                           P01446 (B 85137)
order_date                                        2024-04-03 19:23:17
partner_id                                                       5290
partner_name                             Maria Reyna Navarrete Cortez
product_id_pp                                                   14147
product_name            [3637] Triplay Pino 3/4  4'*8'  1/Cara *3637*
product_qty                                                      3.00
product_price                                                  609.41
oficial                                                         False
partner_fact_ref                                              B 85137
partner_fact_date                                                 NaT
capturista                              Alexa Yadira Mazariegos Zunun
vendedora                             Mayra Angelica Parada Manjarrez
tolerance_order_date                              2024-03-29 00:00:00
Name: 7197, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,32934,55683,F1-VS/2024/01087,2024-04-05,posted,S13037,Ventas,<NA>,out_invoice,<NA>,...,14147,Triplay Pino 3/4 4'*8' 1/Cara *3637*,3637,00MAD,2.00,979.82,0.00,"1,959.64",1 days 04:36:43,2.00
1,31722,53590,F1-VS/2024/01035,2024-04-02,posted,S15895,Ventas,<NA>,out_invoice,<NA>,...,14147,Triplay Pino 3/4 4'*8' 1/Cara *3637*,3637,00MAD,25.00,968.82,0.00,"24,220.50",1 days 19:23:17,27.00
2,33864,57294,F1-VS/2024/01103,2024-04-08,posted,S15287,Ventas,<NA>,out_invoice,<NA>,...,14147,Triplay Pino 3/4 4'*8' 1/Cara *3637*,3637,00MAD,3.00,969.82,0.00,"2,909.46",4 days 04:36:43,30.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                             7976
order_id                                            1453
order_name                            P01441 (112040461)
order_date                           2024-04-03 00:08:47
partner_id                                          5235
partner_name            Aceros Y Perfilados Del Noroeste
product_id_pp                                      27066
product_name            [26318] PTR 1 1/2"  C-14 *26318*
product_qty                                         2.00
product_price                                     352.42
oficial                                            False
partner_fact_ref                               112040461
partner_fact_date                                    NaT
capturista                 Alexa Yadira Mazariegos Zunun
vendedora                           Yamilet Blanco Salas
tolerance_order_date                 2024-03-29 00:00:00
Name: 7210, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,34460,58096,F2-VS/2024/00824,2024-04-09,posted,S15589,Ventas,<NA>,out_invoice,<NA>,...,27066,"PTR 1 1/2"" C-14 *26318*",26318,000CE,2.00,780.69,0.00,"1,561.38",5 days 23:51:13,2.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                          7946
order_id                                                         1446
order_name                                           P01434 (B 85110)
order_date                                        2024-04-02 20:19:25
partner_id                                                       5290
partner_name                             Maria Reyna Navarrete Cortez
product_id_pp                                                   14147
product_name            [3637] Triplay Pino 3/4  4'*8'  1/Cara *3637*
product_qty                                                     50.00
product_price                                                  609.41
oficial                                                         False
partner_fact_ref                                              B 85110
partner_fact_date                                                 NaT
capturista                              Alexa Yadira Mazariegos Zunun
vendedora                             Mayra Angelica Parada Manjarrez
tolerance_order_date                              2024-03-28 00:00:00
Name: 7231, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,31722,53590,F1-VS/2024/01035,2024-04-02,posted,S15895,Ventas,<NA>,out_invoice,<NA>,...,14147,Triplay Pino 3/4 4'*8' 1/Cara *3637*,3637,00MAD,25.00,968.82,0.00,"24,220.50",0 days 20:19:25,25.00
1,32934,55683,F1-VS/2024/01087,2024-04-05,posted,S13037,Ventas,<NA>,out_invoice,<NA>,...,14147,Triplay Pino 3/4 4'*8' 1/Cara *3637*,3637,00MAD,2.00,979.82,0.00,"1,959.64",2 days 03:40:35,27.00
2,33864,57294,F1-VS/2024/01103,2024-04-08,posted,S15287,Ventas,<NA>,out_invoice,<NA>,...,14147,Triplay Pino 3/4 4'*8' 1/Cara *3637*,3637,00MAD,3.00,969.82,0.00,"2,909.46",5 days 03:40:35,30.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                              7909
order_id                                                             1425
order_name                                              P01413 (WA 13810)
order_date                                            2024-04-01 19:39:19
partner_id                                                           5221
partner_name            Distribuidor Mayorista De Tornillos De Yucatan...
product_id_pp                                                        7671
product_name            [3996] Pija C/Pl 12*3 Smpfz (1800P/C) C#42 *3996*
product_qty                                                        700.00
product_price                                                        0.81
oficial                                                             False
partner_fact_ref                                                 WA 13810
partner_fact_date                                                     NaT
capturista                                  Alexa Yadira Mazariegos Zunun
vendedora                                Karla Jaqueline Rivera Hernández
tolerance_order_date                                  2024-03-27 00:00:00
Name: 7263, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,30532,51732,F2-CC/2024/06163,2024-03-28,posted,PdV SJC/6295,PdV,11106,out_invoice,<NA>,...,7671,Pija C/Pl 12*3 Smpfz (1800P/C) C#42 *3996*,3996,126,500.00,1.38,0.10,621.00,4 days 19:39:19,500.00
1,30567,51732,F2-CC/2024/06163,2024-03-28,posted,PdV SJC/6295,PdV,11106,out_invoice,<NA>,...,7671,Pija C/Pl 12*3 Smpfz (1800P/C) C#42 *3996*,3996,126,200.00,1.38,0.10,248.40,4 days 19:39:19,700.00
2,34856,58971,F2-CC/2024/06984,2024-04-10,posted,PdV SJC/7123,PdV,12609,out_invoice,<NA>,...,7671,Pija C/Pl 12*3 Smpfz (1800P/C) C#42 *3996*,3996,126,300.00,1.38,0.00,414.00,8 days 04:20:41,"1,000.00"
3,35003,59259,F2-CC/2024/07007,2024-04-11,posted,PdV SJC/7146,PdV,12645,out_invoice,<NA>,...,7671,Pija C/Pl 12*3 Smpfz (1800P/C) C#42 *3996*,3996,126,"3,000.00",1.38,0.10,"3,726.00",9 days 04:20:41,"4,000.00"

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                               7905
order_id                                              1422
order_name                          P01410 (4HGFFI 211630)
order_date                             2024-04-01 19:33:19
partner_id                                            5387
partner_name                             Home Depot Mexico
product_id_pp                                        28312
product_name            [1033] Silicon Sista Blanco *1033*
product_qty                                          19.00
product_price                                        84.05
oficial                                              False
partner_fact_ref                             4HGFFI 211630
partner_fact_date                                      NaT
capturista                   Alexa Yadira Mazariegos Zunun
vendedora                          Brenda Luz Acosta Lopez
tolerance_order_date                   2024-03-27 00:00:00
Name: 7266, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,31026,52576,F2-VS/2024/00732,2024-04-01,posted,S14812,Ventas,<NA>,out_invoice,<NA>,...,28312,Silicon Sista Blanco *1033*,1033,000CE,24.00,126.20,0.00,"3,028.80",0 days 19:33:19,24.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                    7676
order_id                                                   1401
order_name                                    P01389 (A 105935)
order_date                                  2024-03-28 19:20:21
partner_id                                                 5352
partner_name                       Luz Raquel Rodriguez Montoya
product_id_pp                                             13636
product_name            [13756] Tabla Americana 1x12x10 *13756*
product_qty                                                3.00
product_price                                            327.59
oficial                                                   False
partner_fact_ref                                       A 105935
partner_fact_date                                           NaT
capturista                        Alexa Yadira Mazariegos Zunun
vendedora                       Mayra Angelica Parada Manjarrez
tolerance_order_date                        2024-03-23 00:00:00
Name: 7391, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,32935,55683,F1-VS/2024/01087,2024-04-05,posted,S13037,Ventas,<NA>,out_invoice,<NA>,...,13636,Tabla Americana 1x12x10 *13756*,13756,00MAD,3.00,640.00,0.00,"1,920.00",7 days 04:39:39,3.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                            7674
order_id                                                           1400
order_name                                             P01388 (B 85037)
order_date                                          2024-03-28 19:18:54
partner_id                                                         5290
partner_name                               Maria Reyna Navarrete Cortez
product_id_pp                                                     13371
product_name            [12749] Triplay Pino 1/4  4'*8'  1/Cara *12749*
product_qty                                                        5.00
product_price                                                    272.87
oficial                                                           False
partner_fact_ref                                                B 85037
partner_fact_date                                                   NaT
capturista                                Alexa Yadira Mazariegos Zunun
vendedora                               Mayra Angelica Parada Manjarrez
tolerance_order_date                                2024-03-23 00:00:00
Name: 7393, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,29859,50115,F1-VS/2024/01000,2024-03-26,posted,S13778,Ventas,<NA>,out_invoice,<NA>,...,13371,Triplay Pino 1/4 4'*8' 1/Cara *12749*,12749,00MAD,1.00,491.37,0.00,491.37,2 days 19:18:54,1.00
1,33881,57304,F1-VS/2024/01105,2024-04-08,posted,S11734,Ventas,<NA>,out_invoice,<NA>,...,13371,Triplay Pino 1/4 4'*8' 1/Cara *12749*,12749,00MAD,5.00,491.37,0.00,"2,456.85",10 days 04:41:06,6.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                               7658
order_id                                              1392
order_name                            P01380 (SJCFCO 8148)
order_date                             2024-03-27 22:56:11
partner_id                                            5326
partner_name                Madereria El Pino De Los Cabos
product_id_pp                                        13624
product_name            [10635] Triplay Parota 1/4 *10635*
product_qty                                           1.00
product_price                                       336.21
oficial                                              False
partner_fact_ref                               SJCFCO 8148
partner_fact_date                                      NaT
capturista                   Alexa Yadira Mazariegos Zunun
vendedora                             Yamilet Blanco Salas
tolerance_order_date                   2024-03-22 00:00:00
Name: 7406, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,29897,50305,F2-VS/2024/00688,2024-03-27,posted,S13100,Ventas,<NA>,out_invoice,<NA>,...,13624,Triplay Parota 1/4 *10635*,10635,00MAD,3.00,549.32,0.00,"1,647.96",0 days 22:56:11,3.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                               7656
order_id                                              1391
order_name                            P01379 (SJCFCO 8232)
order_date                             2024-03-27 22:53:03
partner_id                                            5326
partner_name                Madereria El Pino De Los Cabos
product_id_pp                                        13624
product_name            [10635] Triplay Parota 1/4 *10635*
product_qty                                           2.00
product_price                                       336.21
oficial                                              False
partner_fact_ref                               SJCFCO 8232
partner_fact_date                                      NaT
capturista                   Alexa Yadira Mazariegos Zunun
vendedora                             Yamilet Blanco Salas
tolerance_order_date                   2024-03-22 00:00:00
Name: 7409, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,29897,50305,F2-VS/2024/00688,2024-03-27,posted,S13100,Ventas,<NA>,out_invoice,<NA>,...,13624,Triplay Parota 1/4 *10635*,10635,00MAD,3.00,549.32,0.00,"1,647.96",0 days 22:53:03,3.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                             7655
order_id                                            1390
order_name                             P01378 (SJ 38083)
order_date                           2024-03-27 22:47:23
partner_id                                          5369
partner_name                          Acyma Del Noroeste
product_id_pp                                      13057
product_name            [7006] Redimix c/21.08 kg *7006*
product_qty                                         5.00
product_price                                     213.56
oficial                                            False
partner_fact_ref                                SJ 38083
partner_fact_date                                    NaT
capturista                 Alexa Yadira Mazariegos Zunun
vendedora                           Yamilet Blanco Salas
tolerance_order_date                 2024-03-22 00:00:00
Name: 7411, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,29568,49702,F2-VS/2024/00674,2024-03-26,posted,S12380,Ventas,<NA>,out_invoice,<NA>,...,13057,Redimix c/21.08 kg *7006*,7006,000CE,1.00,552.19,0.00,552.19,1 days 22:47:23,1.00
1,29374,48876,F2-VS/2024/00668,2024-03-25,posted,S13799,Ventas,<NA>,out_invoice,<NA>,...,13057,Redimix c/21.08 kg *7006*,7006,000CE,2.00,617.63,0.00,"1,235.26",2 days 22:47:23,3.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                              7387
order_id                                                             1371
order_name                                         P01359 (4HGFFI 209175)
order_date                                            2024-03-26 23:52:11
partner_id                                                           5387
partner_name                                            Home Depot Mexico
product_id_pp                                                       26711
product_name            [573] Cerradura San Clemente-Kwikset 98180-002...
product_qty                                                          2.00
product_price                                                    4,654.31
oficial                                                             False
partner_fact_ref                                            4HGFFI 209175
partner_fact_date                                                     NaT
capturista                                  Alexa Yadira Mazariegos Zunun
vendedora                                 Mayra Angelica Parada Manjarrez
tolerance_order_date                                  2024-03-21 00:00:00
Name: 7570, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,31266,52887,F1-VS/2024/01021,2024-04-01,posted,S11712,Ventas,<NA>,out_invoice,<NA>,...,26711,Cerradura San Clemente-Kwikset 98180-002 *573*,573,000CE,2.00,"5,408.31",0.00,"10,816.62",5 days 00:07:49,2.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                              7388
order_id                                                             1371
order_name                                         P01359 (4HGFFI 209175)
order_date                                            2024-03-26 23:52:11
partner_id                                                           5387
partner_name                                            Home Depot Mexico
product_id_pp                                                       28884
product_name            [2848] Manija Negro Mate 1 Pieza Halifax Kwiks...
product_qty                                                          5.00
product_price                                                    1,438.79
oficial                                                             False
partner_fact_ref                                            4HGFFI 209175
partner_fact_date                                                     NaT
capturista                                  Alexa Yadira Mazariegos Zunun
vendedora                                 Mayra Angelica Parada Manjarrez
tolerance_order_date                                  2024-03-21 00:00:00
Name: 7571, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,31265,52887,F1-VS/2024/01021,2024-04-01,posted,S11712,Ventas,<NA>,out_invoice,<NA>,...,28884,Manija Negro Mate 1 Pieza Halifax Kwikset #915...,2848,000CE,5.00,"2,727.65",0.00,"13,638.25",5 days 00:07:49,5.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                 7314
order_id                                                1351
order_name                              P01339 (SJCFCO 8041)
order_date                               2024-03-26 15:29:49
partner_id                                              5326
partner_name                  Madereria El Pino De Los Cabos
product_id_pp                                          13357
product_name            [6321] Tabla Americana 1x12x8 *6321*
product_qty                                             2.00
product_price                                         268.97
oficial                                                False
partner_fact_ref                                 SJCFCO 8041
partner_fact_date                                        NaT
capturista                     Alexa Yadira Mazariegos Zunun
vendedora                            Brenda Luz Acosta Lopez
tolerance_order_date                     2024-03-21 00:00:00
Name: 7624, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,30956,52492,F2-VS/2024/00723,2024-04-01,posted,S12482,Ventas,<NA>,out_invoice,<NA>,...,13357,Tabla Americana 1x12x8 *6321*,6321,00MAD,2.00,413.81,0.00,827.62,5 days 08:30:11,2.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                            7315
order_id                                                           1351
order_name                                         P01339 (SJCFCO 8041)
order_date                                          2024-03-26 15:29:49
partner_id                                                         5326
partner_name                             Madereria El Pino De Los Cabos
product_id_pp                                                     13371
product_name            [12749] Triplay Pino 1/4  4'*8'  1/Cara *12749*
product_qty                                                        2.00
product_price                                                    267.25
oficial                                                           False
partner_fact_ref                                            SJCFCO 8041
partner_fact_date                                                   NaT
capturista                                Alexa Yadira Mazariegos Zunun
vendedora                                       Brenda Luz Acosta Lopez
tolerance_order_date                                2024-03-21 00:00:00
Name: 7625, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,30957,52492,F2-VS/2024/00723,2024-04-01,posted,S12482,Ventas,<NA>,out_invoice,<NA>,...,13371,Triplay Pino 1/4 4'*8' 1/Cara *12749*,12749,00MAD,2.00,450.00,0.00,900.00,5 days 08:30:11,2.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                           7295
order_id                                                          1340
order_name                                           P01328 (A 105803)
order_date                                         2024-03-25 17:19:54
partner_id                                                        5352
partner_name                              Luz Raquel Rodriguez Montoya
product_id_pp                                                    13786
product_name            [13538] Tabla Americana 1" X 12" X 16' *13538*
product_qty                                                       1.00
product_price                                                   524.14
oficial                                                          False
partner_fact_ref                                              A 105803
partner_fact_date                                                  NaT
capturista                               Alexa Yadira Mazariegos Zunun
vendedora                                         Irma Carvajal Flores
tolerance_order_date                               2024-03-20 00:00:00
Name: 7644, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,28467,47200,F1-VS/2024/00967,2024-03-22,posted,S12580,Ventas,<NA>,out_invoice,<NA>,...,13786,"Tabla Americana 1"" X 12"" X 16' *13538*",13538,00MAD,3.00,840.00,0.00,"2,520.00",3 days 17:19:54,3.00
1,31869,53872,F1-VS/2024/01039,2024-04-02,posted,S15326,Ventas,<NA>,out_invoice,<NA>,...,13786,"Tabla Americana 1"" X 12"" X 16' *13538*",13538,00MAD,1.00,840.00,0.00,840.00,7 days 06:40:06,4.00
2,31874,53875,F1-VS/2024/01040,2024-04-02,posted,S15334,Ventas,<NA>,out_invoice,<NA>,...,13786,"Tabla Americana 1"" X 12"" X 16' *13538*",13538,00MAD,1.00,840.00,0.00,840.00,7 days 06:40:06,5.00
3,33102,55956,F1-VS/2024/01093,2024-04-05,posted,S16290,Ventas,<NA>,out_invoice,<NA>,...,13786,"Tabla Americana 1"" X 12"" X 16' *13538*",13538,00MAD,11.00,726.20,0.00,"7,988.20",10 days 06:40:06,16.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                           7294
order_id                                                          1339
order_name                                           P01327 (A 105810)
order_date                                         2024-03-25 17:15:29
partner_id                                                        5352
partner_name                              Luz Raquel Rodriguez Montoya
product_id_pp                                                    13786
product_name            [13538] Tabla Americana 1" X 12" X 16' *13538*
product_qty                                                       2.00
product_price                                                   524.14
oficial                                                          False
partner_fact_ref                                              A 105810
partner_fact_date                                                  NaT
capturista                               Alexa Yadira Mazariegos Zunun
vendedora                                         Irma Carvajal Flores
tolerance_order_date                               2024-03-20 00:00:00
Name: 7645, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,28467,47200,F1-VS/2024/00967,2024-03-22,posted,S12580,Ventas,<NA>,out_invoice,<NA>,...,13786,"Tabla Americana 1"" X 12"" X 16' *13538*",13538,00MAD,3.00,840.00,0.00,"2,520.00",3 days 17:15:29,3.00
1,31869,53872,F1-VS/2024/01039,2024-04-02,posted,S15326,Ventas,<NA>,out_invoice,<NA>,...,13786,"Tabla Americana 1"" X 12"" X 16' *13538*",13538,00MAD,1.00,840.00,0.00,840.00,7 days 06:44:31,4.00
2,31874,53875,F1-VS/2024/01040,2024-04-02,posted,S15334,Ventas,<NA>,out_invoice,<NA>,...,13786,"Tabla Americana 1"" X 12"" X 16' *13538*",13538,00MAD,1.00,840.00,0.00,840.00,7 days 06:44:31,5.00
3,33102,55956,F1-VS/2024/01093,2024-04-05,posted,S16290,Ventas,<NA>,out_invoice,<NA>,...,13786,"Tabla Americana 1"" X 12"" X 16' *13538*",13538,00MAD,11.00,726.20,0.00,"7,988.20",10 days 06:44:31,16.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                       7194
order_id                                                      1329
order_name                                       P01317 (SJ 29688)
order_date                                     2024-03-23 00:26:03
partner_id                                                    5143
partner_name                                        Fymsa Baja Sur
product_id_pp                                                13453
product_name            [1587] Cemento Gris Bulto (50kg) CE *1587*
product_qty                                                   7.00
product_price                                               306.03
oficial                                                      False
partner_fact_ref                                          SJ 29688
partner_fact_date                                              NaT
capturista                           Alexa Yadira Mazariegos Zunun
vendedora                                     Yamilet Blanco Salas
tolerance_order_date                           2024-03-18 00:00:00
Name: 7701, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,28443,47128,F2-VS/2024/00644,2024-03-22,posted,S14129,Ventas,<NA>,out_invoice,<NA>,...,13453,Cemento Gris Bulto (50kg) CE *1587*,1587,000CE,4.00,454.69,0.00,"1,818.76",1 days 00:26:03,4.00
1,28484,47220,F2-VS/2024/00645,2024-03-22,posted,S12692,Ventas,<NA>,out_invoice,<NA>,...,13453,Cemento Gris Bulto (50kg) CE *1587*,1587,000CE,1.00,470.44,0.00,470.44,1 days 00:26:03,5.00
2,28496,47230,F2-VS/2024/00646,2024-03-22,posted,S10887,Ventas,<NA>,out_invoice,<NA>,...,13453,Cemento Gris Bulto (50kg) CE *1587*,1587,000CE,2.00,470.44,0.00,940.88,1 days 00:26:03,7.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                    7187
order_id                                                   1328
order_name                                    P01316 (SJR 7216)
order_date                                  2024-03-23 00:24:00
partner_id                                                 5181
partner_name                          Vector De Baja California
product_id_pp                                             28239
product_name            [11780] Tablaroca 1/2 1.22*2.44 *11780*
product_qty                                               16.00
product_price                                            259.98
oficial                                                   False
partner_fact_ref                                       SJR 7216
partner_fact_date                                           NaT
capturista                        Alexa Yadira Mazariegos Zunun
vendedora                                  Yamilet Blanco Salas
tolerance_order_date                        2024-03-18 00:00:00
Name: 7703, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,28478,47220,F2-VS/2024/00645,2024-03-22,posted,S12692,Ventas,<NA>,out_invoice,<NA>,...,28239,Tablaroca 1/2 1.22*2.44 *11780*,11780,000CE,10.00,389.98,0.00,"3,899.80",1 days 00:24:00,10.00
1,28495,47230,F2-VS/2024/00646,2024-03-22,posted,S10887,Ventas,<NA>,out_invoice,<NA>,...,28239,Tablaroca 1/2 1.22*2.44 *11780*,11780,000CE,6.00,348.78,0.00,"2,092.68",1 days 00:24:00,16.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                             7188
order_id                                            1328
order_name                             P01316 (SJR 7216)
order_date                           2024-03-23 00:24:00
partner_id                                          5181
partner_name                   Vector De Baja California
product_id_pp                                      13057
product_name            [7006] Redimix c/21.08 kg *7006*
product_qty                                         5.00
product_price                                     411.75
oficial                                            False
partner_fact_ref                                SJR 7216
partner_fact_date                                    NaT
capturista                 Alexa Yadira Mazariegos Zunun
vendedora                           Yamilet Blanco Salas
tolerance_order_date                 2024-03-18 00:00:00
Name: 7704, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,28479,47220,F2-VS/2024/00645,2024-03-22,posted,S12692,Ventas,<NA>,out_invoice,<NA>,...,13057,Redimix c/21.08 kg *7006*,7006,000CE,1.00,617.63,0.00,617.63,1 days 00:24:00,1.00
1,28497,47230,F2-VS/2024/00646,2024-03-22,posted,S10887,Ventas,<NA>,out_invoice,<NA>,...,13057,Redimix c/21.08 kg *7006*,7006,000CE,4.00,563.84,0.00,"2,255.36",1 days 00:24:00,5.00
2,29374,48876,F2-VS/2024/00668,2024-03-25,posted,S13799,Ventas,<NA>,out_invoice,<NA>,...,13057,Redimix c/21.08 kg *7006*,7006,000CE,2.00,617.63,0.00,"1,235.26",1 days 23:36:00,7.00
3,29568,49702,F2-VS/2024/00674,2024-03-26,posted,S12380,Ventas,<NA>,out_invoice,<NA>,...,13057,Redimix c/21.08 kg *7006*,7006,000CE,1.00,552.19,0.00,552.19,2 days 23:36:00,8.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                 7012
order_id                                                1302
order_name                              P01290 (MPIFCO 5952)
order_date                               2024-03-21 22:22:38
partner_id                                              5296
partner_name                            Madereria Pichonchas
product_id_pp                                          14374
product_name            [5902] TABLA DE ALDER 1" CAMA *5902*
product_qty                                             1.00
product_price                                       2,232.76
oficial                                                False
partner_fact_ref                                 MPIFCO 5952
partner_fact_date                                        NaT
capturista                     Alexa Yadira Mazariegos Zunun
vendedora                    Mayra Angelica Parada Manjarrez
tolerance_order_date                     2024-03-16 00:00:00
Name: 7808, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,27764,46271,F1-VS/2024/00944,2024-03-21,posted,S10783,Ventas,<NA>,out_invoice,<NA>,...,14374,"TABLA DE ALDER 1"" CAMA *5902*",5902,00MAD,3.00,"2,477.60",0.00,"7,432.80",0 days 22:22:38,3.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                 7013
order_id                                                1302
order_name                              P01290 (MPIFCO 5952)
order_date                               2024-03-21 22:22:38
partner_id                                              5296
partner_name                            Madereria Pichonchas
product_id_pp                                          14374
product_name            [5902] TABLA DE ALDER 1" CAMA *5902*
product_qty                                             2.00
product_price                                       1,116.38
oficial                                                False
partner_fact_ref                                 MPIFCO 5952
partner_fact_date                                        NaT
capturista                     Alexa Yadira Mazariegos Zunun
vendedora                    Mayra Angelica Parada Manjarrez
tolerance_order_date                     2024-03-16 00:00:00
Name: 7809, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,27764,46271,F1-VS/2024/00944,2024-03-21,posted,S10783,Ventas,<NA>,out_invoice,<NA>,...,14374,"TABLA DE ALDER 1"" CAMA *5902*",5902,00MAD,3.00,"2,477.60",0.00,"7,432.80",0 days 22:22:38,3.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                              6885
order_id                                                             1295
order_name                                           P01283 (W0000470760)
order_date                                            2024-03-21 19:09:18
partner_id                                                           5157
partner_name                                                    Ferre-Pat
product_id_pp                                                       14140
product_name            [95148] Chapa Yale Manija P/Recamara BA #89568...
product_qty                                                          2.00
product_price                                                      685.34
oficial                                                             False
partner_fact_ref                                              W0000470760
partner_fact_date                                                     NaT
capturista                                  Alexa Yadira Mazariegos Zunun
vendedora                                 Mayra Angelica Parada Manjarrez
tolerance_order_date                                  2024-03-16 00:00:00
Name: 7880, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,28035,46575,F1-VS/2024/00958,2024-03-21,posted,S12902,Ventas,<NA>,out_invoice,<NA>,...,14140,Chapa Yale Manija P/Recamara BA #89568 *95148*,95148,00ASS,1.00,"1,215.94",0.00,"1,215.94",0 days 19:09:18,1.00
1,28036,46576,F1-VS/2024/00959,2024-03-21,posted,S07884,Ventas,<NA>,out_invoice,<NA>,...,14140,Chapa Yale Manija P/Recamara BA #89568 *95148*,95148,00ASS,1.00,"1,215.94",0.00,"1,215.94",0 days 19:09:18,2.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                     6879
order_id                                                    1291
order_name                                      P01279 (B 84867)
order_date                                   2024-03-21 17:32:23
partner_id                                                  5290
partner_name                        Maria Reyna Navarrete Cortez
product_id_pp                                              14156
product_name            [15293] Triplay Birch 3/4  4'*8' *15293*
product_qty                                                 2.00
product_price                                             723.19
oficial                                                    False
partner_fact_ref                                         B 84867
partner_fact_date                                            NaT
capturista                         Alexa Yadira Mazariegos Zunun
vendedora                                   Irma Carvajal Flores
tolerance_order_date                         2024-03-16 00:00:00
Name: 7885, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,27612,45934,F1-VS/2024/00937,2024-03-20,posted,S13837,Ventas,<NA>,out_invoice,<NA>,...,14156,Triplay Birch 3/4 4'*8' *15293*,15293,00MAD,1.00,"1,084.79",0.00,"1,084.79",1 days 17:32:23,1.00
1,27614,45935,F1-VS/2024/00938,2024-03-20,posted,S12121,Ventas,<NA>,out_invoice,<NA>,...,14156,Triplay Birch 3/4 4'*8' *15293*,15293,00MAD,1.00,"1,084.79",0.00,"1,084.79",1 days 17:32:23,2.00
2,31870,53872,F1-VS/2024/01039,2024-04-02,posted,S15326,Ventas,<NA>,out_invoice,<NA>,...,14156,Triplay Birch 3/4 4'*8' *15293*,15293,00MAD,1.00,"1,084.79",0.00,"1,084.79",11 days 06:27:37,3.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                 6874
order_id                                                1287
order_name                              P01275 (MPIFCO 5883)
order_date                               2024-03-21 17:13:24
partner_id                                              5296
partner_name                            Madereria Pichonchas
product_id_pp                                          14374
product_name            [5902] TABLA DE ALDER 1" CAMA *5902*
product_qty                                             1.00
product_price                                       1,116.38
oficial                                                False
partner_fact_ref                                 MPIFCO 5883
partner_fact_date                                        NaT
capturista                     Alexa Yadira Mazariegos Zunun
vendedora                    Mayra Angelica Parada Manjarrez
tolerance_order_date                     2024-03-16 00:00:00
Name: 7891, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,27764,46271,F1-VS/2024/00944,2024-03-21,posted,S10783,Ventas,<NA>,out_invoice,<NA>,...,14374,"TABLA DE ALDER 1"" CAMA *5902*",5902,00MAD,3.00,"2,477.60",0.00,"7,432.80",0 days 17:13:24,3.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                          6861
order_id                                                         1281
order_name                                           P01269 (B 84854)
order_date                                        2024-03-20 23:33:04
partner_id                                                       5290
partner_name                             Maria Reyna Navarrete Cortez
product_id_pp                                                   14147
product_name            [3637] Triplay Pino 3/4  4'*8'  1/Cara *3637*
product_qty                                                      2.00
product_price                                                  609.41
oficial                                                         False
partner_fact_ref                                              B 84854
partner_fact_date                                                 NaT
capturista                              Alexa Yadira Mazariegos Zunun
vendedora                             Mayra Angelica Parada Manjarrez
tolerance_order_date                              2024-03-15 00:00:00
Name: 7900, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,31722,53590,F1-VS/2024/01035,2024-04-02,posted,S15895,Ventas,<NA>,out_invoice,<NA>,...,14147,Triplay Pino 3/4 4'*8' 1/Cara *3637*,3637,00MAD,25.00,968.82,0.00,"24,220.50",12 days 00:26:56,25.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                            6863
order_id                                                           1281
order_name                                             P01269 (B 84854)
order_date                                          2024-03-20 23:33:04
partner_id                                                         5290
partner_name                               Maria Reyna Navarrete Cortez
product_id_pp                                                     13371
product_name            [12749] Triplay Pino 1/4  4'*8'  1/Cara *12749*
product_qty                                                        1.00
product_price                                                    272.87
oficial                                                           False
partner_fact_ref                                                B 84854
partner_fact_date                                                   NaT
capturista                                Alexa Yadira Mazariegos Zunun
vendedora                               Mayra Angelica Parada Manjarrez
tolerance_order_date                                2024-03-15 00:00:00
Name: 7902, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,29859,50115,F1-VS/2024/01000,2024-03-26,posted,S13778,Ventas,<NA>,out_invoice,<NA>,...,13371,Triplay Pino 1/4 4'*8' 1/Cara *12749*,12749,00MAD,1.00,491.37,0.00,491.37,5 days 00:26:56,1.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                         6864
order_id                                                        1281
order_name                                          P01269 (B 84854)
order_date                                       2024-03-20 23:33:04
partner_id                                                      5290
partner_name                            Maria Reyna Navarrete Cortez
product_id_pp                                                  12827
product_name            [13712] Barrote 2 * 4 * 12 Americano *13712*
product_qty                                                     2.00
product_price                                                 133.98
oficial                                                        False
partner_fact_ref                                             B 84854
partner_fact_date                                                NaT
capturista                             Alexa Yadira Mazariegos Zunun
vendedora                            Mayra Angelica Parada Manjarrez
tolerance_order_date                             2024-03-15 00:00:00
Name: 7903, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,29861,50115,F1-VS/2024/01000,2024-03-26,posted,S13778,Ventas,<NA>,out_invoice,<NA>,...,12827,Barrote 2 * 4 * 12 Americano *13712*,13712,00MAD,2.00,271.56,0.00,543.12,5 days 00:26:56,2.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                          6865
order_id                                                         1281
order_name                                           P01269 (B 84854)
order_date                                        2024-03-20 23:33:04
partner_id                                                       5290
partner_name                             Maria Reyna Navarrete Cortez
product_id_pp                                                   13755
product_name            [3652] Triplay Pino 3/8  4'*8'  1/Cara *3652*
product_qty                                                      1.00
product_price                                                  415.80
oficial                                                         False
partner_fact_ref                                              B 84854
partner_fact_date                                                 NaT
capturista                              Alexa Yadira Mazariegos Zunun
vendedora                             Mayra Angelica Parada Manjarrez
tolerance_order_date                              2024-03-15 00:00:00
Name: 7904, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,31330,52961,F1-VS/2024/01024,2024-04-01,posted,S13781,Ventas,<NA>,out_invoice,<NA>,...,13755,Triplay Pino 3/8 4'*8' 1/Cara *3652*,3652,00MAD,1.00,698.28,0.00,698.28,11 days 00:26:56,1.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                        6709
order_id                                                       1265
order_name                                        P01253 (A 105631)
order_date                                      2024-03-20 17:45:55
partner_id                                                     5352
partner_name                           Luz Raquel Rodriguez Montoya
product_id_pp                                                 14121
product_name            [12267] Tablon Americano #1 2X12X8' *12267*
product_qty                                                    2.00
product_price                                                620.69
oficial                                                       False
partner_fact_ref                                           A 105631
partner_fact_date                                               NaT
capturista                            Alexa Yadira Mazariegos Zunun
vendedora                           Mayra Angelica Parada Manjarrez
tolerance_order_date                            2024-03-15 00:00:00
Name: 7986, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,31331,52961,F1-VS/2024/01024,2024-04-01,posted,S13781,Ventas,<NA>,out_invoice,<NA>,...,14121,Tablon Americano #1 2X12X8' *12267*,12267,00MAD,2.00,"1,034.49",0.00,"2,068.98",11 days 06:14:05,2.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                         6671
order_id                                                        1247
order_name                                      P01235 (W0000470176)
order_date                                       2024-03-19 19:57:40
partner_id                                                      5157
partner_name                                               Ferre-Pat
product_id_pp                                                  13892
product_name            [5783] Cierra Puerta Ph #1404-AN #443 *5783*
product_qty                                                    20.00
product_price                                                 428.14
oficial                                                        False
partner_fact_ref                                         W0000470176
partner_fact_date                                                NaT
capturista                             Alexa Yadira Mazariegos Zunun
vendedora                                       Yamilet Blanco Salas
tolerance_order_date                             2024-03-14 00:00:00
Name: 8026, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,32339,54688,F2-VS/2024/00761,2024-04-03,posted,S14282,Ventas,<NA>,out_invoice,<NA>,...,13892,Cierra Puerta Ph #1404-AN #443 *5783*,5783,00ASS,3.00,693.21,0.00,"2,079.63",14 days 04:02:20,3.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                              6596
order_id                                                             1238
order_name                                      P01226 (2000005518268871)
order_date                                            2024-03-19 17:05:48
partner_id                                                           5128
partner_name                                                Mercado Libre
product_id_pp                                                       12631
product_name            [23332] Lana D/Acero #0000 Super Fina 8pz 0320...
product_qty                                                          5.00
product_price                                                      171.55
oficial                                                             False
partner_fact_ref                                         2000005518268871
partner_fact_date                                                     NaT
capturista                                  Alexa Yadira Mazariegos Zunun
vendedora                                            Yamilet Blanco Salas
tolerance_order_date                                  2024-03-14 00:00:00
Name: 8068, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,28054,46603,F2-VS/2024/00635,2024-03-21,posted,S12122,Ventas,<NA>,out_invoice,<NA>,...,12631,Lana D/Acero #0000 Super Fina 8pz 0320 *23332*,23332,000CE,1.00,220.48,0.00,220.48,1 days 06:54:12,1.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                         6315
order_id                                                        1211
order_name                                      P01199 (MPIFCO 5469)
order_date                                       2024-03-15 00:13:53
partner_id                                                      5296
partner_name                                    Madereria Pichonchas
product_id_pp                                                  12191
product_name            [80010] Chapa P/Cajon #32-C Phillips *80010*
product_qty                                                     1.00
product_price                                                 109.48
oficial                                                        False
partner_fact_ref                                         MPIFCO 5469
partner_fact_date                                                NaT
capturista                             Alexa Yadira Mazariegos Zunun
vendedora                            Mayra Angelica Parada Manjarrez
tolerance_order_date                             2024-03-10 00:00:00
Name: 8224, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,25655,42668,F1-VS/2024/00892,2024-03-14,posted,S12857,Ventas,<NA>,out_invoice,<NA>,...,12191,Chapa P/Cajon #32-C Phillips *80010*,80010,00ASS,20.00,243.59,0.00,"4,871.80",1 days 00:13:53,20.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                       6313
order_id                                                      1209
order_name                                       P01197 (LA 39592)
order_date                                     2024-03-15 00:10:09
partner_id                                                    5143
partner_name                                        Fymsa Baja Sur
product_id_pp                                                13453
product_name            [1587] Cemento Gris Bulto (50kg) CE *1587*
product_qty                                                   1.00
product_price                                               306.03
oficial                                                      False
partner_fact_ref                                          LA 39592
partner_fact_date                                              NaT
capturista                           Alexa Yadira Mazariegos Zunun
vendedora                          Mayra Angelica Parada Manjarrez
tolerance_order_date                           2024-03-10 00:00:00
Name: 8227, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,27167,45221,F1-VS/2024/00926,2024-03-19,posted,S11328,Ventas,<NA>,out_invoice,<NA>,...,13453,Cemento Gris Bulto (50kg) CE *1587*,1587,000CE,3.00,465.21,0.00,"1,395.63",3 days 23:49:51,3.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                         5733
order_id                                                        1188
order_name                                            P01176 (38818)
order_date                                       2024-03-14 00:20:24
partner_id                                                      5378
partner_name                                           Maderas Dimar
product_id_pp                                                  12191
product_name            [80010] Chapa P/Cajon #32-C Phillips *80010*
product_qty                                                    11.00
product_price                                                 162.40
oficial                                                        False
partner_fact_ref                                               38818
partner_fact_date                                                NaT
capturista                             Alexa Yadira Mazariegos Zunun
vendedora                            Mayra Angelica Parada Manjarrez
tolerance_order_date                             2024-03-09 00:00:00
Name: 8529, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,25655,42668,F1-VS/2024/00892,2024-03-14,posted,S12857,Ventas,<NA>,out_invoice,<NA>,...,12191,Chapa P/Cajon #32-C Phillips *80010*,80010,00ASS,20.00,243.59,0.00,"4,871.80",0 days 00:20:24,20.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                              5728
order_id                                                             1184
order_name                                              P01172 (PA 63455)
order_date                                            2024-03-13 23:31:17
partner_id                                                           5335
partner_name                                                   Casa Myers
product_id_pp                                                       28272
product_name            [11167] Pinza Electricista Milwaukee 48-22-610...
product_qty                                                          2.00
product_price                                                      555.88
oficial                                                             False
partner_fact_ref                                                 PA 63455
partner_fact_date                                                     NaT
capturista                                  Alexa Yadira Mazariegos Zunun
vendedora                                            Irma Carvajal Flores
tolerance_order_date                                  2024-03-08 00:00:00
Name: 8534, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,25647,42663,F1-VS/2024/00890,2024-03-14,posted,S11092,Ventas,<NA>,out_invoice,<NA>,...,28272,Pinza Electricista Milwaukee 48-22-6100 *11167*,11167,000CE,1.00,995.00,0.00,995.00,0 days 00:28:43,1.00
1,25310,41998,F1-VS/2024/00883,2024-03-13,posted,S11076,Ventas,<NA>,out_invoice,<NA>,...,28272,Pinza Electricista Milwaukee 48-22-6100 *11167*,11167,000CE,1.00,995.00,0.00,995.00,0 days 23:31:17,2.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                              5729
order_id                                                             1184
order_name                                              P01172 (PA 63455)
order_date                                            2024-03-13 23:31:17
partner_id                                                           5335
partner_name                                                   Casa Myers
product_id_pp                                                       28080
product_name            [18616] Pinza Punta Larga 8" Tulmex 203-8 *18616*
product_qty                                                          1.00
product_price                                                      471.17
oficial                                                             False
partner_fact_ref                                                 PA 63455
partner_fact_date                                                     NaT
capturista                                  Alexa Yadira Mazariegos Zunun
vendedora                                            Irma Carvajal Flores
tolerance_order_date                                  2024-03-08 00:00:00
Name: 8535, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,25309,41998,F1-VS/2024/00883,2024-03-13,posted,S11076,Ventas,<NA>,out_invoice,<NA>,...,28080,"Pinza Punta Larga 8"" Tulmex 203-8 *18616*",18616,000CE,1.00,515.00,0.00,515.00,0 days 23:31:17,1.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                    5715
order_id                                                   1177
order_name                                    P01165 (C 265335)
order_date                                  2024-03-13 19:23:29
partner_id                                                 5321
partner_name                                  El Gran Tlapalero
product_id_pp                                             10527
product_name            [1418] Chapa Ph P/Cajon #21-C #1 *1418*
product_qty                                               50.00
product_price                                             43.51
oficial                                                   False
partner_fact_ref                                       C 265335
partner_fact_date                                           NaT
capturista                        Alexa Yadira Mazariegos Zunun
vendedora                                  Yamilet Blanco Salas
tolerance_order_date                        2024-03-08 00:00:00
Name: 8545, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,27141,45197,F2-VS/2024/00614,2024-03-19,posted,S10817,Ventas,<NA>,out_invoice,<NA>,...,10527,Chapa Ph P/Cajon #21-C #1 *1418*,1418,00ASS,5.00,71.92,0.00,359.60,5 days 04:36:31,5.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                              5716
order_id                                                             1177
order_name                                              P01165 (C 265335)
order_date                                            2024-03-13 19:23:29
partner_id                                                           5321
partner_name                                            El Gran Tlapalero
product_id_pp                                                       11928
product_name            [1426] Chapa P/Cajon Ph #250-C Cañ Largo C #33...
product_qty                                                         50.00
product_price                                                       91.55
oficial                                                             False
partner_fact_ref                                                 C 265335
partner_fact_date                                                     NaT
capturista                                  Alexa Yadira Mazariegos Zunun
vendedora                                            Yamilet Blanco Salas
tolerance_order_date                                  2024-03-08 00:00:00
Name: 8546, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,30262,51044,F2-VS/2024/00702,2024-03-27,posted,S15208,Ventas,<NA>,out_invoice,<NA>,...,11928,Chapa P/Cajon Ph #250-C Cañ Largo C #33 *1426*,1426,00ASS,20.00,150.00,0.00,"3,000.00",13 days 04:36:31,20.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                            5711
order_id                                                           1173
order_name                                         P01161 (MPIFCO 5157)
order_date                                          2024-03-13 17:55:31
partner_id                                                         5296
partner_name                                       Madereria Pichonchas
product_id_pp                                                     27422
product_name            [2468] Silicon Cafe DAP Alex Plus 300 ml *2468*
product_qty                                                       17.00
product_price                                                     58.62
oficial                                                           False
partner_fact_ref                                            MPIFCO 5157
partner_fact_date                                                   NaT
capturista                                Alexa Yadira Mazariegos Zunun
vendedora                                          Irma Carvajal Flores
tolerance_order_date                                2024-03-08 00:00:00
Name: 8551, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,28729,47665,F1-VS/2024/00977,2024-03-23,posted,S14119,Ventas,<NA>,out_invoice,<NA>,...,27422,Silicon Cafe DAP Alex Plus 300 ml *2468*,2468,000CE,8.00,135.00,0.00,"1,080.00",9 days 06:04:29,8.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                  5710
order_id                                                 1172
order_name                                      P01160 (3707)
order_date                                2024-03-13 17:52:23
partner_id                                               5365
partner_name                            Raul Mosqueda Verdugo
product_id_pp                                           13689
product_name            [78936] Pasta Española Marfil *78936*
product_qty                                             15.00
product_price                                          387.94
oficial                                                 False
partner_fact_ref                                         3707
partner_fact_date                                         NaT
capturista                      Alexa Yadira Mazariegos Zunun
vendedora                                Irma Carvajal Flores
tolerance_order_date                      2024-03-08 00:00:00
Name: 8552, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,28731,47665,F1-VS/2024/00977,2024-03-23,posted,S14119,Ventas,<NA>,out_invoice,<NA>,...,13689,Pasta Española Marfil *78936*,78936,000CE,3.00,581.91,0.00,"1,745.73",9 days 06:07:37,3.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                              5651
order_id                                                             1165
order_name                                              P01153 (C 265404)
order_date                                            2024-03-13 15:34:55
partner_id                                                           5321
partner_name                                            El Gran Tlapalero
product_id_pp                                                       28080
product_name            [18616] Pinza Punta Larga 8" Tulmex 203-8 *18616*
product_qty                                                          1.00
product_price                                                      301.05
oficial                                                             False
partner_fact_ref                                                 C 265404
partner_fact_date                                                     NaT
capturista                                  Alexa Yadira Mazariegos Zunun
vendedora                                            Irma Carvajal Flores
tolerance_order_date                                  2024-03-08 00:00:00
Name: 8571, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,25309,41998,F1-VS/2024/00883,2024-03-13,posted,S11076,Ventas,<NA>,out_invoice,<NA>,...,28080,"Pinza Punta Larga 8"" Tulmex 203-8 *18616*",18616,000CE,1.00,515.00,0.00,515.00,0 days 15:34:55,1.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                       5558
order_id                                                      1117
order_name                                       P01105 (C 265050)
order_date                                     2024-03-09 00:41:31
partner_id                                                    5321
partner_name                                     El Gran Tlapalero
product_id_pp                                                10856
product_name            [528] Tope Ph Media Luna #54-C #1464 *528*
product_qty                                                 100.00
product_price                                                53.13
oficial                                                      False
partner_fact_ref                                          C 265050
partner_fact_date                                              NaT
capturista                           Alexa Yadira Mazariegos Zunun
vendedora                                     Irma Carvajal Flores
tolerance_order_date                           2024-03-04 00:00:00
Name: 8694, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,23684,39184,F1-VS/2024/00825,2024-03-08,posted,S09921,Ventas,<NA>,out_invoice,<NA>,...,10856,Tope Ph Media Luna #54-C #1464 *528*,528,00ASS,50.00,75.00,0.00,"3,750.00",1 days 00:41:31,50.00
1,24376,40425,F1-VS/2024/00842,2024-03-11,posted,S11657,Ventas,<NA>,out_invoice,<NA>,...,10856,Tope Ph Media Luna #54-C #1464 *528*,528,00ASS,10.00,106.44,0.00,"1,064.40",1 days 23:18:29,60.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                              5556
order_id                                                             1115
order_name                                                P01103 (A 6927)
order_date                                            2024-03-09 00:28:54
partner_id                                                           5389
partner_name                      Ferreteros Y Materialistas De Los Cabos
product_id_pp                                                       11168
product_name            [10162] Sil.Pens Baños&Cocinas Blanco 280ml *1...
product_qty                                                         50.00
product_price                                                       70.34
oficial                                                             False
partner_fact_ref                                                   A 6927
partner_fact_date                                                     NaT
capturista                                  Alexa Yadira Mazariegos Zunun
vendedora                                            Irma Carvajal Flores
tolerance_order_date                                  2024-03-04 00:00:00
Name: 8696, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,23543,38936,F1-VS/2024/00815,2024-03-08,posted,S11867,Ventas,<NA>,out_invoice,<NA>,...,11168,Sil.Pens Baños&Cocinas Blanco 280ml *10162*,10162,00PEN,35.00,106.45,0.00,"3,725.75",1 days 00:28:54,35.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                            5554
order_id                                                           1114
order_name                                         P01102 (SJCFCO 6464)
order_date                                          2024-03-09 00:28:01
partner_id                                                         5326
partner_name                             Madereria El Pino De Los Cabos
product_id_pp                                                     13371
product_name            [12749] Triplay Pino 1/4  4'*8'  1/Cara *12749*
product_qty                                                        5.00
product_price                                                    267.25
oficial                                                           False
partner_fact_ref                                            SJCFCO 6464
partner_fact_date                                                   NaT
capturista                                Alexa Yadira Mazariegos Zunun
vendedora                                       Brenda Luz Acosta Lopez
tolerance_order_date                                2024-03-04 00:00:00
Name: 8697, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,23669,39160,F2-VS/2024/00548,2024-03-08,posted,S12079,Ventas,<NA>,out_invoice,<NA>,...,13371,Triplay Pino 1/4 4'*8' 1/Cara *12749*,12749,00MAD,5.00,409.31,0.00,"2,046.55",1 days 00:28:01,5.00
1,22684,37812,F2-VS/2024/00516,2024-03-06,posted,S06268,Ventas,<NA>,out_invoice,<NA>,...,13371,Triplay Pino 1/4 4'*8' 1/Cara *12749*,12749,00MAD,5.00,409.31,0.00,"2,046.55",3 days 00:28:01,10.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                              5277
order_id                                                             1090
order_name                                            P01078 (CAL 100430)
order_date                                            2024-03-08 16:48:19
partner_id                                                           5276
partner_name                                                  Tiendas Fix
product_id_pp                                                       10655
product_name            [21857] Jgo.Llaves Allen Milim 13pz 21857 Pret...
product_qty                                                          1.00
product_price                                                       72.41
oficial                                                             False
partner_fact_ref                                               CAL 100430
partner_fact_date                                                     NaT
capturista                                  Alexa Yadira Mazariegos Zunun
vendedora                                            Irma Carvajal Flores
tolerance_order_date                                  2024-03-03 00:00:00
Name: 8860, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,23272,38737,F1-VS/2024/00814,2024-03-08,posted,S11779,Ventas,<NA>,out_invoice,<NA>,...,10655,Jgo.Llaves Allen Milim 13pz 21857 Pretul *21857*,21857,00TRU,4.00,82.53,0.00,330.12,0 days 16:48:19,4.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                       5019
order_id                                                      1064
order_name                                       P01052 (LA 39733)
order_date                                     2024-03-07 17:40:49
partner_id                                                    5143
partner_name                                        Fymsa Baja Sur
product_id_pp                                                13453
product_name            [1587] Cemento Gris Bulto (50kg) CE *1587*
product_qty                                                   3.00
product_price                                               306.03
oficial                                                      False
partner_fact_ref                                          LA 39733
partner_fact_date                                              NaT
capturista                           Alexa Yadira Mazariegos Zunun
vendedora                          Mayra Angelica Parada Manjarrez
tolerance_order_date                           2024-03-02 00:00:00
Name: 9004, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,21757,36328,F1-VS/2024/00739,2024-03-04,posted,S09166,Ventas,<NA>,out_invoice,<NA>,...,13453,Cemento Gris Bulto (50kg) CE *1587*,1587,000CE,1.00,465.17,0.00,465.17,3 days 17:40:49,1.00
1,27167,45221,F1-VS/2024/00926,2024-03-19,posted,S11328,Ventas,<NA>,out_invoice,<NA>,...,13453,Cemento Gris Bulto (50kg) CE *1587*,1587,000CE,3.00,465.21,0.00,"1,395.63",11 days 06:19:11,4.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                            4931
order_id                                                           1051
order_name                                         P01039 (SJCFCO 6177)
order_date                                          2024-03-07 00:33:15
partner_id                                                         5326
partner_name                             Madereria El Pino De Los Cabos
product_id_pp                                                     13371
product_name            [12749] Triplay Pino 1/4  4'*8'  1/Cara *12749*
product_qty                                                        5.00
product_price                                                    267.25
oficial                                                           False
partner_fact_ref                                            SJCFCO 6177
partner_fact_date                                                   NaT
capturista                                Alexa Yadira Mazariegos Zunun
vendedora                                       Brenda Luz Acosta Lopez
tolerance_order_date                                2024-03-02 00:00:00
Name: 9064, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,23669,39160,F2-VS/2024/00548,2024-03-08,posted,S12079,Ventas,<NA>,out_invoice,<NA>,...,13371,Triplay Pino 1/4 4'*8' 1/Cara *12749*,12749,00MAD,5.00,409.31,0.00,"2,046.55",0 days 23:26:45,5.00
1,22684,37812,F2-VS/2024/00516,2024-03-06,posted,S06268,Ventas,<NA>,out_invoice,<NA>,...,13371,Triplay Pino 1/4 4'*8' 1/Cara *12749*,12749,00MAD,5.00,409.31,0.00,"2,046.55",1 days 00:33:15,10.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                         4904
order_id                                                        1032
order_name                                            P01020 (38520)
order_date                                       2024-03-05 23:50:11
partner_id                                                      5378
partner_name                                           Maderas Dimar
product_id_pp                                                  27239
product_name            [25229] Lija Dis. 4 1/2" G-60 P/Esm. *25229*
product_qty                                                    65.00
product_price                                                  11.40
oficial                                                        False
partner_fact_ref                                               38520
partner_fact_date                                                NaT
capturista                             Alexa Yadira Mazariegos Zunun
vendedora                            Mayra Angelica Parada Manjarrez
tolerance_order_date                             2024-02-29 00:00:00
Name: 9089, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,22149,37022,F1-VS/2024/00751,2024-03-05,posted,S08014,Ventas,<NA>,out_invoice,<NA>,...,27239,"Lija Dis. 4 1/2"" G-60 P/Esm. *25229*",25229,00FAN,100.00,17.98,0.00,"1,798.00",0 days 23:50:11,100.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                              4744
order_id                                                             1008
order_name                                              P00996 (WA 13480)
order_date                                            2024-03-04 19:31:09
partner_id                                                           5221
partner_name            Distribuidor Mayorista De Tornillos De Yucatan...
product_id_pp                                                        7677
product_name            [3993] Pija C/Pl 12*2 Smpfz (1500P/C) C#40 *3993*
product_qty                                                        100.00
product_price                                                        0.41
oficial                                                             False
partner_fact_ref                                                 WA 13480
partner_fact_date                                                     NaT
capturista                                  Alexa Yadira Mazariegos Zunun
vendedora                                            Yamilet Blanco Salas
tolerance_order_date                                  2024-02-28 00:00:00
Name: 9191, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,20884,34747,F2-VS/2024/00472,2024-03-01,posted,S09517,Ventas,<NA>,out_invoice,<NA>,...,7677,Pija C/Pl 12*2 Smpfz (1500P/C) C#40 *3993*,3993,126,200.00,1.35,0.00,270.00,3 days 19:31:09,200.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                         4736
order_id                                                        1001
order_name                                      P00989 (W0000466739)
order_date                                       2024-03-04 18:12:46
partner_id                                                      5157
partner_name                                               Ferre-Pat
product_id_pp                                                  13892
product_name            [5783] Cierra Puerta Ph #1404-AN #443 *5783*
product_qty                                                    10.00
product_price                                                 428.14
oficial                                                        False
partner_fact_ref                                         W0000466739
partner_fact_date                                                NaT
capturista                             Alexa Yadira Mazariegos Zunun
vendedora                                       Yamilet Blanco Salas
tolerance_order_date                             2024-02-28 00:00:00
Name: 9199, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,21771,36345,F2-VS/2024/00495,2024-03-04,posted,S08576,Ventas,<NA>,out_invoice,<NA>,...,13892,Cierra Puerta Ph #1404-AN #443 *5783*,5783,00ASS,3.00,704.75,0.00,"2,114.25",0 days 18:12:46,3.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                          4717
order_id                                                          994
order_name                                  P00983 (2000005445704445)
order_date                                        2024-03-04 17:00:22
partner_id                                                       5128
partner_name                                            Mercado Libre
product_id_pp                                                   13796
product_name            [60926] Cartucho MultiGas 3M 60926 CE *60926*
product_qty                                                     12.00
product_price                                                  421.01
oficial                                                         False
partner_fact_ref                                     2000005445704445
partner_fact_date                                                 NaT
capturista                              Alexa Yadira Mazariegos Zunun
vendedora                                        Irma Carvajal Flores
tolerance_order_date                              2024-02-28 00:00:00
Name: 9210, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,22104,36982,F1-VS/2024/00748,2024-03-05,posted,S11461,Ventas,<NA>,out_invoice,<NA>,...,13796,Cartucho MultiGas 3M 60926 CE *60926*,60926,000CE,7.00,658.39,0.00,"4,608.73",0 days 06:59:38,7.00
1,22197,37089,F1-VS/2024/00759,2024-03-05,posted,S10348,Ventas,<NA>,out_invoice,<NA>,...,13796,Cartucho MultiGas 3M 60926 CE *60926*,60926,000CE,5.00,658.39,0.00,"3,291.95",0 days 06:59:38,12.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                              4708
order_id                                                              987
order_name                                              P00976 (PA 62655)
order_date                                            2024-03-04 16:33:10
partner_id                                                           5335
partner_name                                                   Casa Myers
product_id_pp                                                       28810
product_name            [2729] Extensión para Lavabo de 8" laton croma...
product_qty                                                         11.00
product_price                                                      126.17
oficial                                                             False
partner_fact_ref                                                 PA 62655
partner_fact_date                                                     NaT
capturista                                  Alexa Yadira Mazariegos Zunun
vendedora                                            Yamilet Blanco Salas
tolerance_order_date                                  2024-02-28 00:00:00
Name: 9219, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,24038,39846,F2-VS/2024/00563,2024-03-09,posted,S06827,Ventas,<NA>,out_invoice,<NA>,...,28810,"Extensión para Lavabo de 8"" laton cromado 1 Pi...",2729,00TRU,10.00,195.57,0.00,"1,955.70",4 days 07:26:50,10.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                    4705
order_id                                                    985
order_name                                 P00974 (FCOLPZ 4136)
order_date                                  2024-03-04 15:40:40
partner_id                                                 5164
partner_name                        Madereria El Pino De La Paz
product_id_pp                                             14454
product_name            [10033] Deck DE IPE METRO 19mm. *10033*
product_qty                                               10.00
product_price                                          1,575.00
oficial                                                   False
partner_fact_ref                                    FCOLPZ 4136
partner_fact_date                                           NaT
capturista                        Alexa Yadira Mazariegos Zunun
vendedora                               Brenda Luz Acosta Lopez
tolerance_order_date                        2024-02-28 00:00:00
Name: 9221, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,24332,40366,F2-VS/2024/00568,2024-03-11,posted,S03444,Ventas,<NA>,out_invoice,<NA>,...,14454,Deck DE IPE METRO 19mm. *10033*,10033,00MAD,10.00,"2,981.15",0.00,"29,811.50",6 days 08:19:20,10.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                              4703
order_id                                                              983
order_name                                                P00972 (A 6901)
order_date                                            2024-03-02 00:15:22
partner_id                                                           5389
partner_name                      Ferreteros Y Materialistas De Los Cabos
product_id_pp                                                       11168
product_name            [10162] Sil.Pens Baños&Cocinas Blanco 280ml *1...
product_qty                                                         25.00
product_price                                                       70.34
oficial                                                             False
partner_fact_ref                                                   A 6901
partner_fact_date                                                     NaT
capturista                                  Alexa Yadira Mazariegos Zunun
vendedora                                         Brenda Luz Acosta Lopez
tolerance_order_date                                  2024-02-26 00:00:00
Name: 9223, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,21856,36627,F2-VS/2024/00498,2024-03-05,posted,S00992,Ventas,<NA>,out_invoice,<NA>,...,11168,Sil.Pens Baños&Cocinas Blanco 280ml *10162*,10162,00PEN,5.00,106.45,0.00,532.25,2 days 23:44:38,5.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                           4147
order_id                                                           934
order_name                                        P00923 (MPIFCO 4341)
order_date                                         2024-02-29 17:35:11
partner_id                                                        5296
partner_name                                      Madereria Pichonchas
product_id_pp                                                    13786
product_name            [13538] Tabla Americana 1" X 12" X 16' *13538*
product_qty                                                       2.00
product_price                                                   537.93
oficial                                                          False
partner_fact_ref                                           MPIFCO 4341
partner_fact_date                                                  NaT
capturista                               Alexa Yadira Mazariegos Zunun
vendedora                                         Irma Carvajal Flores
tolerance_order_date                               2024-02-24 00:00:00
Name: 9525, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,20210,33115,F1-VS/2024/00687,2024-02-28,posted,S09325,Ventas,<NA>,out_invoice,<NA>,...,13786,"Tabla Americana 1"" X 12"" X 16' *13538*",13538,00MAD,2.00,840.00,0.00,"1,680.00",1 days 17:35:11,2.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                              4112
order_id                                                              924
order_name                                              P00913 (C 264323)
order_date                                            2024-02-28 23:39:23
partner_id                                                           5321
partner_name                                            El Gran Tlapalero
product_id_pp                                                       13539
product_name            [22534] Chapa Ph P/Perfil Alum #550-ABL #592 *...
product_qty                                                         20.00
product_price                                                      314.59
oficial                                                             False
partner_fact_ref                                                 C 264323
partner_fact_date                                                     NaT
capturista                                  Alexa Yadira Mazariegos Zunun
vendedora                                            Irma Carvajal Flores
tolerance_order_date                                  2024-02-23 00:00:00
Name: 9550, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,20237,33191,F1-VS/2024/00689,2024-02-28,posted,S05569,Ventas,<NA>,out_invoice,<NA>,...,13539,Chapa Ph P/Perfil Alum #550-ABL #592 *22534*,22534,00ASS,10.00,520.00,0.00,"5,200.00",0 days 23:39:23,10.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                       4111
order_id                                                       924
order_name                                       P00913 (C 264323)
order_date                                     2024-02-28 23:39:23
partner_id                                                    5321
partner_name                                     El Gran Tlapalero
product_id_pp                                                10856
product_name            [528] Tope Ph Media Luna #54-C #1464 *528*
product_qty                                                 100.00
product_price                                                52.58
oficial                                                      False
partner_fact_ref                                          C 264323
partner_fact_date                                              NaT
capturista                           Alexa Yadira Mazariegos Zunun
vendedora                                     Irma Carvajal Flores
tolerance_order_date                           2024-02-23 00:00:00
Name: 9551, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,23684,39184,F1-VS/2024/00825,2024-03-08,posted,S09921,Ventas,<NA>,out_invoice,<NA>,...,10856,Tope Ph Media Luna #54-C #1464 *528*,528,00ASS,50.00,75.00,0.00,"3,750.00",8 days 00:20:37,50.00
1,24376,40425,F1-VS/2024/00842,2024-03-11,posted,S11657,Ventas,<NA>,out_invoice,<NA>,...,10856,Tope Ph Media Luna #54-C #1464 *528*,528,00ASS,10.00,106.44,0.00,"1,064.40",11 days 00:20:37,60.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                        3940
order_id                                                        893
order_name                                        P00882 (C 263071)
order_date                                      2024-02-27 18:18:43
partner_id                                                     5321
partner_name                                      El Gran Tlapalero
product_id_pp                                                 10932
product_name            [515] Tope Ph Media Luna #54-LA #1466 *515*
product_qty                                                   40.00
product_price                                                 54.97
oficial                                                       False
partner_fact_ref                                           C 263071
partner_fact_date                                               NaT
capturista                                                     <NA>
vendedora                                   Brenda Luz Acosta Lopez
tolerance_order_date                            2024-02-22 00:00:00
Name: 9660, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,19359,31455,F2-VS/2024/00433,2024-02-26,posted,S05344,Ventas,<NA>,out_invoice,<NA>,...,10932,Tope Ph Media Luna #54-LA #1466 *515*,515,00ASS,20.00,110.00,0.00,"2,200.00",1 days 18:18:43,20.00
1,18710,30405,F2-VS/2024/00418,2024-02-23,posted,S09203,Ventas,<NA>,out_invoice,<NA>,...,10932,Tope Ph Media Luna #54-LA #1466 *515*,515,00ASS,30.00,110.00,0.00,"3,300.00",4 days 18:18:43,50.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                         3942
order_id                                                         893
order_name                                         P00882 (C 263071)
order_date                                       2024-02-27 18:18:43
partner_id                                                      5321
partner_name                                       El Gran Tlapalero
product_id_pp                                                  26821
product_name            [4625] Pegamento D/Contacto 5000 1Lt. *4625*
product_qty                                                     6.00
product_price                                                 190.06
oficial                                                        False
partner_fact_ref                                            C 263071
partner_fact_date                                                NaT
capturista                                                      <NA>
vendedora                                    Brenda Luz Acosta Lopez
tolerance_order_date                             2024-02-22 00:00:00
Name: 9662, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,19358,31455,F2-VS/2024/00433,2024-02-26,posted,S05344,Ventas,<NA>,out_invoice,<NA>,...,26821,Pegamento D/Contacto 5000 1Lt. *4625*,4625,000CE,1.00,430.31,0.00,430.31,1 days 18:18:43,1.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                      3871
order_id                                                      886
order_name                                      P00875 (C 264081)
order_date                                    2024-02-26 22:21:40
partner_id                                                   5321
partner_name                                    El Gran Tlapalero
product_id_pp                                               12854
product_name            [6336] Pata D/Chiva Ph #59-C #1222 *6336*
product_qty                                                 60.00
product_price                                              148.05
oficial                                                     False
partner_fact_ref                                         C 264081
partner_fact_date                                             NaT
capturista                                                   <NA>
vendedora                                    Irma Carvajal Flores
tolerance_order_date                          2024-02-21 00:00:00
Name: 9681, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,19410,31524,F1-VS/2024/00659,2024-02-26,posted,S05730,Ventas,<NA>,out_invoice,<NA>,...,12854,Pata D/Chiva Ph #59-C #1222 *6336*,6336,00ASS,30.00,215.00,0.00,"6,450.00",0 days 22:21:40,30.00
1,19419,31535,F1-VS/2024/00660,2024-02-26,posted,S02909,Ventas,<NA>,out_invoice,<NA>,...,12854,Pata D/Chiva Ph #59-C #1222 *6336*,6336,00ASS,7.00,246.00,0.00,"1,722.00",0 days 22:21:40,37.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                              3868
order_id                                                              884
order_name                                              P00873 (WA 13185)
order_date                                            2024-02-26 21:45:40
partner_id                                                           5221
partner_name            Distribuidor Mayorista De Tornillos De Yucatan...
product_id_pp                                                        7671
product_name            [3996] Pija C/Pl 12*3 Smpfz (1800P/C) C#42 *3996*
product_qty                                                        800.00
product_price                                                        0.81
oficial                                                             False
partner_fact_ref                                                 WA 13185
partner_fact_date                                                     NaT
capturista                                                           <NA>
vendedora                                Karla Jaqueline Rivera Hernández
tolerance_order_date                                  2024-02-21 00:00:00
Name: 9683, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,23335,38806,F2-CC/2024/04800,2024-03-08,posted,PdV SJC/4901,PdV,8516,out_invoice,<NA>,...,7671,Pija C/Pl 12*3 Smpfz (1800P/C) C#42 *3996*,3996,126,"1,000.00",1.32,0.15,"1,122.00",10 days 02:14:20,"1,000.00"
1,23384,38806,F2-CC/2024/04800,2024-03-08,posted,PdV SJC/4901,PdV,8516,out_invoice,<NA>,...,7671,Pija C/Pl 12*3 Smpfz (1800P/C) C#42 *3996*,3996,126,400.00,1.32,0.10,475.20,10 days 02:14:20,"1,400.00"

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                     3861
order_id                                                     880
order_name                                  P00869 (SJCFCO 5114)
order_date                                   2024-02-26 19:41:19
partner_id                                                  5326
partner_name                      Madereria El Pino De Los Cabos
product_id_pp                                              13331
product_name            [16320] Triplay Birch 1/4  4'*8' *16320*
product_qty                                                 5.00
product_price                                             267.24
oficial                                                    False
partner_fact_ref                                     SJCFCO 5114
partner_fact_date                                            NaT
capturista                                                  <NA>
vendedora                                   Yamilet Blanco Salas
tolerance_order_date                         2024-02-21 00:00:00
Name: 9693, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,19023,30991,F2-VS/2024/00425,2024-02-24,posted,S07721,Ventas,<NA>,out_invoice,<NA>,...,13331,Triplay Birch 1/4 4'*8' *16320*,16320,00MAD,5.00,439.65,0.00,"2,198.25",2 days 19:41:19,5.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                     3812
order_id                                                     868
order_name                                      P00857 (B 84266)
order_date                                   2024-02-26 16:56:23
partner_id                                                  5290
partner_name                        Maria Reyna Navarrete Cortez
product_id_pp                                              14038
product_name            [40125] Triplay Caoba 1/2  4'*8' *40125*
product_qty                                                 4.00
product_price                                             613.55
oficial                                                    False
partner_fact_ref                                         B 84266
partner_fact_date                                            NaT
capturista                                                  <NA>
vendedora                                   Irma Carvajal Flores
tolerance_order_date                         2024-02-21 00:00:00
Name: 9710, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,19045,31014,F1-VS/2024/00647,2024-02-24,posted,S07793,Ventas,<NA>,out_invoice,<NA>,...,14038,Triplay Caoba 1/2 4'*8' *40125*,40125,00MAD,2.00,860.00,0.00,"1,720.00",2 days 16:56:23,2.00
1,19054,31019,F1-VS/2024/00648,2024-02-24,posted,S07890,Ventas,<NA>,out_invoice,<NA>,...,14038,Triplay Caoba 1/2 4'*8' *40125*,40125,00MAD,2.00,860.00,0.00,"1,720.00",2 days 16:56:23,4.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                   3814
order_id                                                   868
order_name                                    P00857 (B 84266)
order_date                                 2024-02-26 16:56:23
partner_id                                                5290
partner_name                      Maria Reyna Navarrete Cortez
product_id_pp                                            14173
product_name            [3661] Triplay Caoba 3/4  4'*8' *3661*
product_qty                                               4.00
product_price                                           746.93
oficial                                                  False
partner_fact_ref                                       B 84266
partner_fact_date                                          NaT
capturista                                                <NA>
vendedora                                 Irma Carvajal Flores
tolerance_order_date                       2024-02-21 00:00:00
Name: 9712, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,19047,31014,F1-VS/2024/00647,2024-02-24,posted,S07793,Ventas,<NA>,out_invoice,<NA>,...,14173,Triplay Caoba 3/4 4'*8' *3661*,3661,00MAD,2.00,"1,045.00",0.00,"2,090.00",2 days 16:56:23,2.00
1,19056,31019,F1-VS/2024/00648,2024-02-24,posted,S07890,Ventas,<NA>,out_invoice,<NA>,...,14173,Triplay Caoba 3/4 4'*8' *3661*,3661,00MAD,2.00,"1,045.00",0.00,"2,090.00",2 days 16:56:23,4.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                          3815
order_id                                                          868
order_name                                           P00857 (B 84266)
order_date                                        2024-02-26 16:56:23
partner_id                                                       5290
partner_name                             Maria Reyna Navarrete Cortez
product_id_pp                                                   13811
product_name            [3651] Triplay Pino 1/2  4'*8'  1/Cara *3651*
product_qty                                                      8.00
product_price                                                  443.34
oficial                                                         False
partner_fact_ref                                              B 84266
partner_fact_date                                                 NaT
capturista                                                       <NA>
vendedora                                        Irma Carvajal Flores
tolerance_order_date                              2024-02-21 00:00:00
Name: 9713, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,19050,31014,F1-VS/2024/00647,2024-02-24,posted,S07793,Ventas,<NA>,out_invoice,<NA>,...,13811,Triplay Pino 1/2 4'*8' 1/Cara *3651*,3651,00MAD,4.00,645.00,0.00,"2,580.00",2 days 16:56:23,4.00
1,19059,31019,F1-VS/2024/00648,2024-02-24,posted,S07890,Ventas,<NA>,out_invoice,<NA>,...,13811,Triplay Pino 1/2 4'*8' 1/Cara *3651*,3651,00MAD,4.00,645.00,0.00,"2,580.00",2 days 16:56:23,8.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                           3870
order_id                                                           866
order_name                                           P00855 (A 104693)
order_date                                         2024-02-26 16:49:51
partner_id                                                        5352
partner_name                              Luz Raquel Rodriguez Montoya
product_id_pp                                                    13786
product_name            [13538] Tabla Americana 1" X 12" X 16' *13538*
product_qty                                                       6.00
product_price                                                   524.14
oficial                                                          False
partner_fact_ref                                              A 104693
partner_fact_date                                                  NaT
capturista                                                        <NA>
vendedora                                         Irma Carvajal Flores
tolerance_order_date                               2024-02-21 00:00:00
Name: 9717, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,20210,33115,F1-VS/2024/00687,2024-02-28,posted,S09325,Ventas,<NA>,out_invoice,<NA>,...,13786,"Tabla Americana 1"" X 12"" X 16' *13538*",13538,00MAD,2.00,840.00,0.00,"1,680.00",1 days 07:10:09,2.00
1,19049,31014,F1-VS/2024/00647,2024-02-24,posted,S07793,Ventas,<NA>,out_invoice,<NA>,...,13786,"Tabla Americana 1"" X 12"" X 16' *13538*",13538,00MAD,3.00,760.00,0.00,"2,280.00",2 days 16:49:51,5.00
2,19058,31019,F1-VS/2024/00648,2024-02-24,posted,S07890,Ventas,<NA>,out_invoice,<NA>,...,13786,"Tabla Americana 1"" X 12"" X 16' *13538*",13538,00MAD,3.00,760.00,0.00,"2,280.00",2 days 16:49:51,8.00
3,18724,30426,F1-VS/2024/00642,2024-02-23,posted,S08893,Ventas,<NA>,out_invoice,<NA>,...,13786,"Tabla Americana 1"" X 12"" X 16' *13538*",13538,00MAD,2.00,840.00,0.00,"1,680.00",3 days 16:49:51,10.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                           3803
order_id                                                           861
order_name                                        P00850 (MPIFCO 3962)
order_date                                         2024-02-26 15:36:56
partner_id                                                        5296
partner_name                                      Madereria Pichonchas
product_id_pp                                                    13786
product_name            [13538] Tabla Americana 1" X 12" X 16' *13538*
product_qty                                                       2.00
product_price                                                   537.93
oficial                                                          False
partner_fact_ref                                           MPIFCO 3962
partner_fact_date                                                  NaT
capturista                                                        <NA>
vendedora                                         Irma Carvajal Flores
tolerance_order_date                               2024-02-21 00:00:00
Name: 9722, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,20210,33115,F1-VS/2024/00687,2024-02-28,posted,S09325,Ventas,<NA>,out_invoice,<NA>,...,13786,"Tabla Americana 1"" X 12"" X 16' *13538*",13538,00MAD,2.00,840.00,0.00,"1,680.00",1 days 08:23:04,2.00
1,19049,31014,F1-VS/2024/00647,2024-02-24,posted,S07793,Ventas,<NA>,out_invoice,<NA>,...,13786,"Tabla Americana 1"" X 12"" X 16' *13538*",13538,00MAD,3.00,760.00,0.00,"2,280.00",2 days 15:36:56,5.00
2,19058,31019,F1-VS/2024/00648,2024-02-24,posted,S07890,Ventas,<NA>,out_invoice,<NA>,...,13786,"Tabla Americana 1"" X 12"" X 16' *13538*",13538,00MAD,3.00,760.00,0.00,"2,280.00",2 days 15:36:56,8.00
3,18724,30426,F1-VS/2024/00642,2024-02-23,posted,S08893,Ventas,<NA>,out_invoice,<NA>,...,13786,"Tabla Americana 1"" X 12"" X 16' *13538*",13538,00MAD,2.00,840.00,0.00,"1,680.00",3 days 15:36:56,10.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                              3549
order_id                                                              827
order_name                                              P00816 (C 167540)
order_date                                            2024-02-22 16:13:48
partner_id                                                           5280
partner_name            DISTRIBUIDORA DE HERRAJES Y ALUMINIO DE LOS CABOS
product_id_pp                                                       13833
product_name            [25982] Bisagra Vidrio-Vidrio #1432 Herralum *...
product_qty                                                         19.00
product_price                                                      307.89
oficial                                                             False
partner_fact_ref                                                 C 167540
partner_fact_date                                                     NaT
capturista                                                           <NA>
vendedora                                            Irma Carvajal Flores
tolerance_order_date                                  2024-02-17 00:00:00
Name: 9975, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,18274,29867,F1-VS/2024/00635,2024-02-22,posted,S05569,Ventas,<NA>,out_invoice,<NA>,...,13833,Bisagra Vidrio-Vidrio #1432 Herralum *25982*,25982,000CE,33.00,580.00,0.00,"19,140.00",0 days 16:13:48,33.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                 3539
order_id                                                 821
order_name                              P00810 (SJCFCO 4787)
order_date                               2024-02-22 00:58:52
partner_id                                              5326
partner_name                  Madereria El Pino De Los Cabos
product_id_pp                                          14287
product_name            [5211] Tabla Alder 1*8 (Cama) *5211*
product_qty                                             1.00
product_price                                         893.10
oficial                                                False
partner_fact_ref                                 SJCFCO 4787
partner_fact_date                                        NaT
capturista                                              <NA>
vendedora                               Yamilet Blanco Salas
tolerance_order_date                     2024-02-17 00:00:00
Name: 9988, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,17780,28974,F2-VS/2024/00402,2024-02-21,posted,S06655,Ventas,<NA>,out_invoice,<NA>,...,14287,Tabla Alder 1*8 (Cama) *5211*,5211,00MAD,1.00,"2,118.09",0.00,"2,118.09",1 days 00:58:52,1.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                     3554
order_id                                                     816
order_name                                  P00805 (MPIFCO 3730)
order_date                                   2024-02-22 19:03:43
partner_id                                                  5296
partner_name                                Madereria Pichonchas
product_id_pp                                              14386
product_name            [12861] Tablon Americano 2*12*16 *12861*
product_qty                                                 2.00
product_price                                           1,213.79
oficial                                                    False
partner_fact_ref                                     MPIFCO 3730
partner_fact_date                                            NaT
capturista                                                  <NA>
vendedora                                   Irma Carvajal Flores
tolerance_order_date                         2024-02-17 00:00:00
Name: 9998, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,17844,29089,F1-VS/2024/00621,2024-02-21,posted,S04596,Ventas,<NA>,out_invoice,<NA>,...,14386,Tablon Americano 2*12*16 *12861*,12861,00MAD,3.00,"1,886.00",0.00,"5,658.00",1 days 19:03:43,3.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                              3472
order_id                                                              804
order_name                                              P00793 (PA 62492)
order_date                                            2024-02-21 00:58:48
partner_id                                                           5335
partner_name                                                   Casa Myers
product_id_pp                                                       28272
product_name            [11167] Pinza Electricista Milwaukee 48-22-610...
product_qty                                                          2.00
product_price                                                      555.88
oficial                                                             False
partner_fact_ref                                                 PA 62492
partner_fact_date                                                     NaT
capturista                                                           <NA>
vendedora                                            Irma Carvajal Flores
tolerance_order_date                                  2024-02-16 00:00:00
Name: 10049, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,17667,28885,F1-VS/2024/00614,2024-02-21,posted,S05471,Ventas,<NA>,out_invoice,<NA>,...,28272,Pinza Electricista Milwaukee 48-22-6100 *11167*,11167,000CE,1.00,995.00,0.00,995.00,0 days 00:58:48,1.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                              3453
order_id                                                              800
order_name                                              P00789 (WA 13247)
order_date                                            2024-02-20 21:24:41
partner_id                                                           5221
partner_name            Distribuidor Mayorista De Tornillos De Yucatan...
product_id_pp                                                        7671
product_name            [3996] Pija C/Pl 12*3 Smpfz (1800P/C) C#42 *3996*
product_qty                                                      1,300.00
product_price                                                        0.81
oficial                                                             False
partner_fact_ref                                                 WA 13247
partner_fact_date                                                     NaT
capturista                                                           <NA>
vendedora                                               Nadia Santos Nava
tolerance_order_date                                  2024-02-15 00:00:00
Name: 10069, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,18630,30381,F2-CC/2024/03871,2024-02-23,posted,PdV SJC/3958,PdV,6867,out_invoice,<NA>,...,7671,Pija C/Pl 12*3 Smpfz (1800P/C) C#42 *3996*,3996,126,500.00,1.32,0.10,594.00,2 days 02:35:19,500.00
1,18673,30381,F2-CC/2024/03871,2024-02-23,posted,PdV SJC/3958,PdV,6867,out_invoice,<NA>,...,7671,Pija C/Pl 12*3 Smpfz (1800P/C) C#42 *3996*,3996,126,700.00,1.32,0.10,831.60,2 days 02:35:19,"1,200.00"

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                 3425
order_id                                                 795
order_name                              P00784 (SJCFCO 4510)
order_date                               2024-02-20 15:31:50
partner_id                                              5326
partner_name                  Madereria El Pino De Los Cabos
product_id_pp                                          14287
product_name            [5211] Tabla Alder 1*8 (Cama) *5211*
product_qty                                             1.00
product_price                                         893.10
oficial                                                False
partner_fact_ref                                 SJCFCO 4510
partner_fact_date                                        NaT
capturista                                              <NA>
vendedora                               Yamilet Blanco Salas
tolerance_order_date                     2024-02-15 00:00:00
Name: 10096, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,17780,28974,F2-VS/2024/00402,2024-02-21,posted,S06655,Ventas,<NA>,out_invoice,<NA>,...,14287,Tabla Alder 1*8 (Cama) *5211*,5211,00MAD,1.00,"2,118.09",0.00,"2,118.09",0 days 08:28:10,1.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                     3426
order_id                                                     795
order_name                                  P00784 (SJCFCO 4510)
order_date                                   2024-02-20 15:31:50
partner_id                                                  5326
partner_name                      Madereria El Pino De Los Cabos
product_id_pp                                              13331
product_name            [16320] Triplay Birch 1/4  4'*8' *16320*
product_qty                                                 5.00
product_price                                             267.24
oficial                                                    False
partner_fact_ref                                     SJCFCO 4510
partner_fact_date                                            NaT
capturista                                                  <NA>
vendedora                                   Yamilet Blanco Salas
tolerance_order_date                         2024-02-15 00:00:00
Name: 10097, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,19023,30991,F2-VS/2024/00425,2024-02-24,posted,S07721,Ventas,<NA>,out_invoice,<NA>,...,13331,Triplay Birch 1/4 4'*8' *16320*,16320,00MAD,5.00,439.65,0.00,"2,198.25",3 days 08:28:10,5.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                    3374
order_id                                                    777
order_name                                 P00766 (SJCFCO 4328)
order_date                                  2024-02-17 00:03:35
partner_id                                                 5326
partner_name                     Madereria El Pino De Los Cabos
product_id_pp                                             13636
product_name            [13756] Tabla Americana 1x12x10 *13756*
product_qty                                                6.00
product_price                                            336.21
oficial                                                   False
partner_fact_ref                                    SJCFCO 4328
partner_fact_date                                           NaT
capturista                                                 <NA>
vendedora                               Brenda Luz Acosta Lopez
tolerance_order_date                        2024-02-12 00:00:00
Name: 10198, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,16209,26427,F2-VS/2024/00368,2024-02-16,posted,S07253,Ventas,<NA>,out_invoice,<NA>,...,13636,Tabla Americana 1x12x10 *13756*,13756,00MAD,15.00,534.04,0.00,"8,010.60",1 days 00:03:35,15.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                            3183
order_id                                            761
order_name                           P00750 (FCC 35965)
order_date                          2024-02-16 19:40:27
partner_id                                         5165
partner_name            Plomeria Universal De Los Cabos
product_id_pp                                      8759
product_name            [44394] Cubre Tornillos *44394*
product_qty                                       11.00
product_price                                     10.08
oficial                                           False
partner_fact_ref                              FCC 35965
partner_fact_date                                   NaT
capturista                                         <NA>
vendedora                       Brenda Luz Acosta Lopez
tolerance_order_date                2024-02-11 00:00:00
Name: 10372, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,16188,26410,F2-VS/2024/00366,2024-02-16,posted,S02142,Ventas,<NA>,out_invoice,<NA>,...,8759,Cubre Tornillos *44394*,44394,000CE,20.00,19.41,0.00,388.20,0 days 19:40:27,20.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                        2990
order_id                                                        722
order_name                                     P00711 (MPIFCO 2972)
order_date                                      2024-02-14 23:20:40
partner_id                                                     5296
partner_name                                   Madereria Pichonchas
product_id_pp                                                 14121
product_name            [12267] Tablon Americano #1 2X12X8' *12267*
product_qty                                                    4.00
product_price                                                606.89
oficial                                                       False
partner_fact_ref                                        MPIFCO 2972
partner_fact_date                                               NaT
capturista                                                     <NA>
vendedora                           Mayra Angelica Parada Manjarrez
tolerance_order_date                            2024-02-09 00:00:00
Name: 10549, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,14453,23640,F1-VS/2024/00510,2024-02-12,posted,S06852,Ventas,<NA>,out_invoice,<NA>,...,14121,Tablon Americano #1 2X12X8' *12267*,12267,00MAD,3.00,"1,137.93",0.00,"3,413.79",2 days 23:20:40,3.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                              2877
order_id                                                              708
order_name                                                P00697 (A 6854)
order_date                                            2024-02-14 00:33:37
partner_id                                                           5389
partner_name                      Ferreteros Y Materialistas De Los Cabos
product_id_pp                                                       11168
product_name            [10162] Sil.Pens Baños&Cocinas Blanco 280ml *1...
product_qty                                                         50.00
product_price                                                       70.34
oficial                                                             False
partner_fact_ref                                                   A 6854
partner_fact_date                                                     NaT
capturista                                                           <NA>
vendedora                                            Yamilet Blanco Salas
tolerance_order_date                                  2024-02-09 00:00:00
Name: 10619, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,15322,25027,F2-VS/2024/00346,2024-02-14,posted,S06914,Ventas,<NA>,out_invoice,<NA>,...,11168,Sil.Pens Baños&Cocinas Blanco 280ml *10162*,10162,00PEN,10.00,106.45,0.00,"1,064.50",0 days 00:33:37,10.00
1,16584,27182,F2-VS/2024/00378,2024-02-19,posted,S06866,Ventas,<NA>,out_invoice,<NA>,...,11168,Sil.Pens Baños&Cocinas Blanco 280ml *10162*,10162,00PEN,5.00,106.45,0.00,532.25,4 days 23:26:23,15.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                             2868
order_id                                             700
order_name                             P00689 (SJ 37154)
order_date                           2024-02-13 23:35:40
partner_id                                          5369
partner_name                          Acyma Del Noroeste
product_id_pp                                      13057
product_name            [7006] Redimix c/21.08 kg *7006*
product_qty                                        10.00
product_price                                     213.56
oficial                                            False
partner_fact_ref                                SJ 37154
partner_fact_date                                    NaT
capturista                                          <NA>
vendedora                        Brenda Luz Acosta Lopez
tolerance_order_date                 2024-02-08 00:00:00
Name: 10628, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,14718,24073,F2-VS/2024/00335,2024-02-13,posted,S05418,Ventas,<NA>,out_invoice,<NA>,...,13057,Redimix c/21.08 kg *7006*,7006,000CE,5.00,352.00,0.00,"1,760.00",0 days 23:35:40,5.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                            2721
order_id                                                            678
order_name                                             P00667 (B 83894)
order_date                                          2024-02-12 23:36:40
partner_id                                                         5290
partner_name                               Maria Reyna Navarrete Cortez
product_id_pp                                                     13697
product_name            [13748] Triplay Pino 1/2  4'*8' 0/Caras *13748*
product_qty                                                        3.00
product_price                                                    375.52
oficial                                                           False
partner_fact_ref                                                B 83894
partner_fact_date                                                   NaT
capturista                                       Elsa Ivette Diaz Leyva
vendedora                                          Irma Carvajal Flores
tolerance_order_date                                2024-02-07 00:00:00
Name: 10778, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,16929,27598,F1-VS/2024/00596,2024-02-19,posted,S08765,Ventas,<NA>,out_invoice,<NA>,...,13697,Triplay Pino 1/2 4'*8' 0/Caras *13748*,13748,00MAD,3.00,588.38,0.00,"1,765.14",6 days 00:23:20,3.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                              2359
order_id                                                              620
order_name                                               P00609 (A 58271)
order_date                                            2024-02-08 21:09:19
partner_id                                                           5383
partner_name            Juan Carlos Verboonen Espino (Tpp) (Tablaroca,...
product_id_pp                                                       28395
product_name                              [12672] Durock 1/2" 4x8 *12672*
product_qty                                                          8.00
product_price                                                      715.00
oficial                                                             False
partner_fact_ref                                                  A 58271
partner_fact_date                                                     NaT
capturista                                                           <NA>
vendedora                                            Irma Carvajal Flores
tolerance_order_date                                  2024-02-03 00:00:00
Name: 11154, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,13031,21067,F1-VS/2024/00459,2024-02-07,posted,S06573,Ventas,<NA>,out_invoice,<NA>,...,28395,"Durock 1/2"" 4x8 *12672*",12672,000CE,5.00,"1,086.00",0.00,"5,430.00",1 days 21:09:19,5.00
1,13064,21170,F1-VS/2024/00467,2024-02-07,posted,S05464,Ventas,<NA>,out_invoice,<NA>,...,28395,"Durock 1/2"" 4x8 *12672*",12672,000CE,3.00,"1,086.00",0.00,"3,258.00",1 days 21:09:19,8.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                              2360
order_id                                                              620
order_name                                               P00609 (A 58271)
order_date                                            2024-02-08 21:09:19
partner_id                                                           5383
partner_name            Juan Carlos Verboonen Espino (Tpp) (Tablaroca,...
product_id_pp                                                       28609
product_name            [1961] Poste Metálico Perfirey CAL.26 4.10 X 3...
product_qty                                                         10.00
product_price                                                       79.61
oficial                                                             False
partner_fact_ref                                                  A 58271
partner_fact_date                                                     NaT
capturista                                                           <NA>
vendedora                                            Irma Carvajal Flores
tolerance_order_date                                  2024-02-03 00:00:00
Name: 11155, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,13032,21067,F1-VS/2024/00459,2024-02-07,posted,S06573,Ventas,<NA>,out_invoice,<NA>,...,28609,Poste Metálico Perfirey CAL.26 4.10 X 3.05 *1961*,1961,000CE,5.00,123.00,0.00,615.00,1 days 21:09:19,5.00
1,13066,21170,F1-VS/2024/00467,2024-02-07,posted,S05464,Ventas,<NA>,out_invoice,<NA>,...,28609,Poste Metálico Perfirey CAL.26 4.10 X 3.05 *1961*,1961,000CE,5.00,123.00,0.00,615.00,1 days 21:09:19,10.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                              3085
order_id                                                              605
order_name                                              P00594 (C 166674)
order_date                                            2024-02-07 21:38:25
partner_id                                                           5280
partner_name            DISTRIBUIDORA DE HERRAJES Y ALUMINIO DE LOS CABOS
product_id_pp                                                       13833
product_name            [25982] Bisagra Vidrio-Vidrio #1432 Herralum *...
product_qty                                                         13.00
product_price                                                      307.89
oficial                                                             False
partner_fact_ref                                                 C 166674
partner_fact_date                                                     NaT
capturista                                                           <NA>
vendedora                                            Irma Carvajal Flores
tolerance_order_date                                  2024-02-02 00:00:00
Name: 11236, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,18274,29867,F1-VS/2024/00635,2024-02-22,posted,S05569,Ventas,<NA>,out_invoice,<NA>,...,13833,Bisagra Vidrio-Vidrio #1432 Herralum *25982*,25982,000CE,33.00,580.00,0.00,"19,140.00",14 days 02:21:35,33.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                              3086
order_id                                                              605
order_name                                              P00594 (C 166674)
order_date                                            2024-02-07 21:38:25
partner_id                                                           5280
partner_name            DISTRIBUIDORA DE HERRAJES Y ALUMINIO DE LOS CABOS
product_id_pp                                                       13833
product_name            [25982] Bisagra Vidrio-Vidrio #1432 Herralum *...
product_qty                                                          1.00
product_price                                                      307.89
oficial                                                             False
partner_fact_ref                                                 C 166674
partner_fact_date                                                     NaT
capturista                                                           <NA>
vendedora                                            Irma Carvajal Flores
tolerance_order_date                                  2024-02-02 00:00:00
Name: 11237, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,18274,29867,F1-VS/2024/00635,2024-02-22,posted,S05569,Ventas,<NA>,out_invoice,<NA>,...,13833,Bisagra Vidrio-Vidrio #1432 Herralum *25982*,25982,000CE,33.00,580.00,0.00,"19,140.00",14 days 02:21:35,33.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                              2125
order_id                                                              588
order_name                                             P00577 (CAL 96528)
order_date                                            2024-02-07 15:49:33
partner_id                                                           5276
partner_name                                                  Tiendas Fix
product_id_pp                                                        9472
product_name            [7364] Lentes D/Seg Trup Gris LEN-2000N #14213...
product_qty                                                          1.00
product_price                                                       32.76
oficial                                                             False
partner_fact_ref                                                CAL 96528
partner_fact_date                                                     NaT
capturista                                                           <NA>
vendedora                                 Mayra Angelica Parada Manjarrez
tolerance_order_date                                  2024-02-02 00:00:00
Name: 11406, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,11584,18845,F1-VS/2024/00414,2024-02-03,posted,S03123,Ventas,<NA>,out_invoice,<NA>,...,9472,Lentes D/Seg Trup Gris LEN-2000N #14213 *7364*,7364,00TRU,20.00,36.56,0.00,731.20,4 days 15:49:33,20.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                        2090
order_id                                                        570
order_name                                        P00559 (A 104215)
order_date                                      2024-02-06 20:00:56
partner_id                                                     5352
partner_name                           Luz Raquel Rodriguez Montoya
product_id_pp                                                 14121
product_name            [12267] Tablon Americano #1 2X12X8' *12267*
product_qty                                                    1.00
product_price                                                620.69
oficial                                                       False
partner_fact_ref                                           A 104215
partner_fact_date                                               NaT
capturista                                                     <NA>
vendedora                           Mayra Angelica Parada Manjarrez
tolerance_order_date                            2024-02-01 00:00:00
Name: 11442, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,12345,20087,F1-VS/2024/00425,2024-02-06,posted,S04454,Ventas,<NA>,out_invoice,<NA>,...,14121,Tablon Americano #1 2X12X8' *12267*,12267,00MAD,3.00,"1,137.93",0.00,"3,413.79",0 days 20:00:56,3.00
1,14453,23640,F1-VS/2024/00510,2024-02-12,posted,S06852,Ventas,<NA>,out_invoice,<NA>,...,14121,Tablon Americano #1 2X12X8' *12267*,12267,00MAD,3.00,"1,137.93",0.00,"3,413.79",5 days 03:59:04,6.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                        2088
order_id                                                        569
order_name                                        P00558 (A 104214)
order_date                                      2024-02-06 19:59:52
partner_id                                                     5352
partner_name                           Luz Raquel Rodriguez Montoya
product_id_pp                                                 14121
product_name            [12267] Tablon Americano #1 2X12X8' *12267*
product_qty                                                    2.00
product_price                                                620.69
oficial                                                       False
partner_fact_ref                                           A 104214
partner_fact_date                                               NaT
capturista                                                     <NA>
vendedora                           Mayra Angelica Parada Manjarrez
tolerance_order_date                            2024-02-01 00:00:00
Name: 11443, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,12345,20087,F1-VS/2024/00425,2024-02-06,posted,S04454,Ventas,<NA>,out_invoice,<NA>,...,14121,Tablon Americano #1 2X12X8' *12267*,12267,00MAD,3.00,"1,137.93",0.00,"3,413.79",0 days 19:59:52,3.00
1,14453,23640,F1-VS/2024/00510,2024-02-12,posted,S06852,Ventas,<NA>,out_invoice,<NA>,...,14121,Tablon Americano #1 2X12X8' *12267*,12267,00MAD,3.00,"1,137.93",0.00,"3,413.79",5 days 04:00:08,6.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                 1903
order_id                                                 521
order_name                              P00510 (SJCFCO 2907)
order_date                               2024-02-02 19:14:18
partner_id                                              5326
partner_name                  Madereria El Pino De Los Cabos
product_id_pp                                          13357
product_name            [6321] Tabla Americana 1x12x8 *6321*
product_qty                                            12.00
product_price                                         268.97
oficial                                                False
partner_fact_ref                                 SJCFCO 2907
partner_fact_date                                        NaT
capturista                                              <NA>
vendedora                            Brenda Luz Acosta Lopez
tolerance_order_date                     2024-01-28 00:00:00
Name: 11626, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,10827,17685,F2-VS/2024/00241,2024-02-02,posted,S05352,Ventas,<NA>,out_invoice,<NA>,...,13357,Tabla Americana 1x12x8 *6321*,6321,00MAD,10.00,413.81,0.00,"4,138.10",0 days 19:14:18,10.00
1,10856,17731,F2-VS/2024/00244,2024-02-02,posted,S05050,Ventas,<NA>,out_invoice,<NA>,...,13357,Tabla Americana 1x12x8 *6321*,6321,00MAD,2.00,413.81,0.00,827.62,0 days 19:14:18,12.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                              1902
order_id                                                              520
order_name                                                P00509 (A 6829)
order_date                                            2024-02-02 19:12:59
partner_id                                                           5389
partner_name                      Ferreteros Y Materialistas De Los Cabos
product_id_pp                                                       11168
product_name            [10162] Sil.Pens Baños&Cocinas Blanco 280ml *1...
product_qty                                                         25.00
product_price                                                       70.34
oficial                                                             False
partner_fact_ref                                                   A 6829
partner_fact_date                                                     NaT
capturista                                                           <NA>
vendedora                                         Brenda Luz Acosta Lopez
tolerance_order_date                                  2024-01-28 00:00:00
Name: 11629, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,10823,17676,F2-VS/2024/00239,2024-02-02,posted,S02046,Ventas,<NA>,out_invoice,<NA>,...,11168,Sil.Pens Baños&Cocinas Blanco 280ml *10162*,10162,00PEN,5.00,106.45,0.00,532.25,0 days 19:12:59,5.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                       1832
order_id                                                       509
order_name                                       P00498 (C 262259)
order_date                                     2024-02-01 23:47:27
partner_id                                                    5321
partner_name                                     El Gran Tlapalero
product_id_pp                                                10856
product_name            [528] Tope Ph Media Luna #54-C #1464 *528*
product_qty                                                 100.00
product_price                                                52.24
oficial                                                      False
partner_fact_ref                                          C 262259
partner_fact_date                                              NaT
capturista                                                    <NA>
vendedora                                     Irma Carvajal Flores
tolerance_order_date                           2024-01-27 00:00:00
Name: 11742, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,16216,26432,F1-VS/2024/00574,2024-02-16,posted,S05730,Ventas,<NA>,out_invoice,<NA>,...,10856,Tope Ph Media Luna #54-C #1464 *528*,528,00ASS,50.00,70.00,0.00,"3,500.00",14 days 00:12:33,50.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                          1829
order_id                                                          508
order_name                                  P00497 (2000005335471273)
order_date                                        2024-02-01 23:39:41
partner_id                                                       5128
partner_name                                            Mercado Libre
product_id_pp                                                   13796
product_name            [60926] Cartucho MultiGas 3M 60926 CE *60926*
product_qty                                                     15.00
product_price                                                  384.36
oficial                                                         False
partner_fact_ref                                     2000005335471273
partner_fact_date                                                 NaT
capturista                                                       <NA>
vendedora                                        Irma Carvajal Flores
tolerance_order_date                              2024-01-27 00:00:00
Name: 11745, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,10732,17473,F1-VS/2024/00388,2024-02-01,posted,S03730,Ventas,<NA>,out_invoice,<NA>,...,13796,Cartucho MultiGas 3M 60926 CE *60926*,60926,000CE,7.00,658.39,0.00,"4,608.73",0 days 23:39:41,7.00
1,10765,17521,F1-VS/2024/00395,2024-02-01,posted,S05711,Ventas,<NA>,out_invoice,<NA>,...,13796,Cartucho MultiGas 3M 60926 CE *60926*,60926,000CE,8.00,658.39,0.00,"5,267.12",0 days 23:39:41,15.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                              1808
order_id                                                              496
order_name                                           P00485 (W0000459056)
order_date                                            2024-01-31 20:41:20
partner_id                                                           5157
partner_name                                                    Ferre-Pat
product_id_pp                                                       27920
product_name            [20476] Dis. Austromex 4 1/2 x 3/64 x 7/8 #750...
product_qty                                                         40.00
product_price                                                       40.13
oficial                                                             False
partner_fact_ref                                              W0000459056
partner_fact_date                                                     NaT
capturista                                                           <NA>
vendedora                                 Mayra Angelica Parada Manjarrez
tolerance_order_date                                  2024-01-26 00:00:00
Name: 11765, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,10515,17035,F1-VS/2024/00382,2024-02-01,posted,S03190,Ventas,<NA>,out_invoice,<NA>,...,27920,Dis. Austromex 4 1/2 x 3/64 x 7/8 #750 *20476*,20476,000CE,50.00,73.50,0.00,"3,675.00",0 days 03:18:40,50.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                              1810
order_id                                                              496
order_name                                           P00485 (W0000459056)
order_date                                            2024-01-31 20:41:20
partner_id                                                           5157
partner_name                                                    Ferre-Pat
product_id_pp                                                       14140
product_name            [95148] Chapa Yale Manija P/Recamara BA #89568...
product_qty                                                         16.00
product_price                                                      498.59
oficial                                                             False
partner_fact_ref                                              W0000459056
partner_fact_date                                                     NaT
capturista                                                           <NA>
vendedora                                 Mayra Angelica Parada Manjarrez
tolerance_order_date                                  2024-01-26 00:00:00
Name: 11767, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,10586,17146,F1-VS/2024/00387,2024-02-01,posted,S01315,Ventas,<NA>,out_invoice,<NA>,...,14140,Chapa Yale Manija P/Recamara BA #89568 *95148*,95148,00ASS,12.00,"1,215.94",0.00,"14,591.28",0 days 03:18:40,12.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                            1687
order_id                                            482
order_name                             P00471 (B 83672)
order_date                          2024-01-31 00:17:49
partner_id                                         5290
partner_name               Maria Reyna Navarrete Cortez
product_id_pp                                     11956
product_name             [45218] Barrote 2*4*10 *45218*
product_qty                                        6.00
product_price                                    102.38
oficial                                           False
partner_fact_ref                                B 83672
partner_fact_date                                   NaT
capturista                                         <NA>
vendedora               Mayra Angelica Parada Manjarrez
tolerance_order_date                2024-01-26 00:00:00
Name: 11887, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,15222,24846,F1-VS/2024/00544,2024-02-14,posted,S04770,Ventas,<NA>,out_invoice,<NA>,...,11956,Barrote 2*4*10 *45218*,45218,00MAD,6.00,158.59,0.00,951.54,13 days 23:42:11,6.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                     1652
order_id                                                     473
order_name                                  P00462 (SJCFCO 2507)
order_date                                   2024-01-30 17:49:19
partner_id                                                  5326
partner_name                      Madereria El Pino De Los Cabos
product_id_pp                                              14156
product_name            [15293] Triplay Birch 3/4  4'*8' *15293*
product_qty                                                13.00
product_price                                             724.14
oficial                                                    False
partner_fact_ref                                     SJCFCO 2507
partner_fact_date                                            NaT
capturista                                                  <NA>
vendedora                                Brenda Luz Acosta Lopez
tolerance_order_date                         2024-01-25 00:00:00
Name: 11918, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,9662,15509,F2-VS/2024/00220,2024-01-30,posted,S03444,Ventas,<NA>,out_invoice,<NA>,...,14156,Triplay Birch 3/4 4'*8' *15293*,15293,00MAD,10.00,"1,248.62",0.00,"12,486.20",0 days 17:49:19,10.00
1,9668,15509,F2-VS/2024/00220,2024-01-30,posted,S03444,Ventas,<NA>,out_invoice,<NA>,...,14156,Triplay Birch 3/4 4'*8' *15293*,15293,00MAD,3.00,"1,248.62",0.00,"3,745.86",0 days 17:49:19,13.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                              1499
order_id                                                              454
order_name                                              P00443 (C 261746)
order_date                                            2024-01-29 17:14:59
partner_id                                                           5321
partner_name                                            El Gran Tlapalero
product_id_pp                                                       27184
product_name            [25631] Carret. P/Riel Corre 2181300NI Pz *25631*
product_qty                                                         20.00
product_price                                                       16.40
oficial                                                             False
partner_fact_ref                                                 C 261746
partner_fact_date                                                     NaT
capturista                                                           <NA>
vendedora                                         Brenda Luz Acosta Lopez
tolerance_order_date                                  2024-01-24 00:00:00
Name: 12069, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,10309,16762,F2-VS/2024/00229,2024-02-01,posted,S02636,Ventas,<NA>,out_invoice,<NA>,...,27184,Carret. P/Riel Corre 2181300NI Pz *25631*,25631,000CE,10.00,29.00,0.00,290.00,2 days 06:45:01,10.00
1,12992,21022,F2-VS/2024/00285,2024-02-07,posted,S06859,Ventas,<NA>,out_invoice,<NA>,...,27184,Carret. P/Riel Corre 2181300NI Pz *25631*,25631,000CE,10.00,29.00,0.00,290.00,8 days 06:45:01,20.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                              1428
order_id                                                              429
order_name                                             P00418 (SJT 15661)
order_date                                            2024-01-26 20:27:16
partner_id                                                           5294
partner_name                                 Fierro Y Lamina Construccion
product_id_pp                                                       14853
product_name            [1371] Carda D/Alambre Trenzado 4 x 5/8 D-3171...
product_qty                                                          6.00
product_price                                                      244.39
oficial                                                             False
partner_fact_ref                                                SJT 15661
partner_fact_date                                                     NaT
capturista                                                           <NA>
vendedora                            Yolanda Alejandra Rodriguez González
tolerance_order_date                                  2024-01-21 00:00:00
Name: 12144, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,8642,13637,F2-CC/2024/01776,2024-01-26,posted,PdV SJC/1828,PdV,3254,out_invoice,<NA>,...,14853,Carda D/Alambre Trenzado 4 x 5/8 D-31712 *1371*,1371,000CE,7.00,438.36,0.00,"3,068.52",0 days 20:27:16,7.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                     1363
order_id                                                     408
order_name                                  P00397 (SJCFCO 2196)
order_date                                   2024-01-26 17:06:25
partner_id                                                  5326
partner_name                      Madereria El Pino De Los Cabos
product_id_pp                                              13331
product_name            [16320] Triplay Birch 1/4  4'*8' *16320*
product_qty                                                 2.00
product_price                                             267.24
oficial                                                    False
partner_fact_ref                                     SJCFCO 2196
partner_fact_date                                            NaT
capturista                                                  <NA>
vendedora                                   Irma Carvajal Flores
tolerance_order_date                         2024-01-21 00:00:00
Name: 12208, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,8203,13045,F1-VS/2024/00316,2024-01-25,posted,S00472,Ventas,<NA>,out_invoice,<NA>,...,13331,Triplay Birch 1/4 4'*8' *16320*,16320,00MAD,6.00,402.00,0.00,"2,412.00",1 days 17:06:25,6.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                     1364
order_id                                                     408
order_name                                  P00397 (SJCFCO 2196)
order_date                                   2024-01-26 17:06:25
partner_id                                                  5326
partner_name                      Madereria El Pino De Los Cabos
product_id_pp                                              13943
product_name            [15143] Triplay Birch 1/2  4'*8' *15143*
product_qty                                                 2.00
product_price                                             500.00
oficial                                                    False
partner_fact_ref                                     SJCFCO 2196
partner_fact_date                                            NaT
capturista                                                  <NA>
vendedora                                   Irma Carvajal Flores
tolerance_order_date                         2024-01-21 00:00:00
Name: 12209, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,11048,17973,F1-VS/2024/00405,2024-02-02,posted,S02971,Ventas,<NA>,out_invoice,<NA>,...,13943,Triplay Birch 1/2 4'*8' *15143*,15143,00MAD,3.00,775.86,0.00,"2,327.58",6 days 06:53:35,3.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                         1188
order_id                                                         372
order_name                                     P00361 (MPFIFCO 1443)
order_date                                       2024-01-24 16:31:04
partner_id                                                      5296
partner_name                                    Madereria Pichonchas
product_id_pp                                                  27893
product_name            [20525] Tuerca Conector 1/4" 20 X 15 *20525*
product_qty                                                   100.00
product_price                                                   5.18
oficial                                                        False
partner_fact_ref                                        MPFIFCO 1443
partner_fact_date                                                NaT
capturista                                                      <NA>
vendedora                            Mayra Angelica Parada Manjarrez
tolerance_order_date                             2024-01-19 00:00:00
Name: 12362, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,10539,17075,F1-VS/2024/00384,2024-02-01,posted,S03402,Ventas,<NA>,out_invoice,<NA>,...,27893,"Tuerca Conector 1/4"" 20 X 15 *20525*",20525,000CE,100.00,5.70,0.00,570.00,7 days 07:28:56,100.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                              1184
order_id                                                              370
order_name                                                 P00359 (36985)
order_date                                            2024-01-24 16:27:59
partner_id                                                           5378
partner_name                                                Maderas Dimar
product_id_pp                                                       14518
product_name            [14544] Cierra Puerta Hafele Oculto #931.77.02...
product_qty                                                          5.00
product_price                                                    2,780.60
oficial                                                             False
partner_fact_ref                                                    36985
partner_fact_date                                                     NaT
capturista                                                           <NA>
vendedora                                 Mayra Angelica Parada Manjarrez
tolerance_order_date                                  2024-01-19 00:00:00
Name: 12364, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,10575,17129,F1-VS/2024/00386,2024-02-01,posted,S02666,Ventas,<NA>,out_invoice,<NA>,...,14518,Cierra Puerta Hafele Oculto #931.77.029 *14544*,14544,9,5.00,"3,892.84",0.00,"19,464.20",7 days 07:32:01,5.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                         1180
order_id                                                         368
order_name                                            P00357 (36925)
order_date                                       2024-01-24 16:04:50
partner_id                                                      5378
partner_name                                           Maderas Dimar
product_id_pp                                                  27893
product_name            [20525] Tuerca Conector 1/4" 20 X 15 *20525*
product_qty                                                   100.00
product_price                                                   1.43
oficial                                                        False
partner_fact_ref                                               36925
partner_fact_date                                                NaT
capturista                                                      <NA>
vendedora                            Mayra Angelica Parada Manjarrez
tolerance_order_date                             2024-01-19 00:00:00
Name: 12368, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,10539,17075,F1-VS/2024/00384,2024-02-01,posted,S03402,Ventas,<NA>,out_invoice,<NA>,...,27893,"Tuerca Conector 1/4"" 20 X 15 *20525*",20525,000CE,100.00,5.70,0.00,570.00,7 days 07:55:10,100.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                              1182
order_id                                                              368
order_name                                                 P00357 (36925)
order_date                                            2024-01-24 16:04:50
partner_id                                                           5378
partner_name                                                Maderas Dimar
product_id_pp                                                        7945
product_name            [74284] Torn. Conector JCB 1/4" 20x70mm #3427 ...
product_qty                                                         50.00
product_price                                                        3.89
oficial                                                             False
partner_fact_ref                                                    36925
partner_fact_date                                                     NaT
capturista                                                           <NA>
vendedora                                 Mayra Angelica Parada Manjarrez
tolerance_order_date                                  2024-01-19 00:00:00
Name: 12370, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,10541,17075,F1-VS/2024/00384,2024-02-01,posted,S03402,Ventas,<NA>,out_invoice,<NA>,...,7945,"Torn. Conector JCB 1/4"" 20x70mm #3427 *74284*",74284,00CHA,50.00,5.90,0.00,295.00,7 days 07:55:10,50.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                    1178
order_id                                                    367
order_name                                    P00356 (C 261591)
order_date                                  2024-01-24 16:24:19
partner_id                                                 5321
partner_name                                  El Gran Tlapalero
product_id_pp                                             10527
product_name            [1418] Chapa Ph P/Cajon #21-C #1 *1418*
product_qty                                               12.00
product_price                                             44.19
oficial                                                   False
partner_fact_ref                                       C 261591
partner_fact_date                                           NaT
capturista                                                 <NA>
vendedora                       Mayra Angelica Parada Manjarrez
tolerance_order_date                        2024-01-19 00:00:00
Name: 12371, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,7349,11622,F1-VS/2024/00290,2024-01-23,posted,S00613,Ventas,<NA>,out_invoice,<NA>,...,10527,Chapa Ph P/Cajon #21-C #1 *1418*,1418,00ASS,1.00,102.26,0.00,102.26,1 days 16:24:19,1.00
1,10574,17129,F1-VS/2024/00386,2024-02-01,posted,S02666,Ventas,<NA>,out_invoice,<NA>,...,10527,Chapa Ph P/Cajon #21-C #1 *1418*,1418,00ASS,9.00,71.92,0.00,647.28,7 days 07:35:41,10.00
2,10589,17146,F1-VS/2024/00387,2024-02-01,posted,S01315,Ventas,<NA>,out_invoice,<NA>,...,10527,Chapa Ph P/Cajon #21-C #1 *1418*,1418,00ASS,2.00,102.26,0.00,204.52,7 days 07:35:41,12.00
3,11246,18210,F1-VS/2024/00411,2024-02-02,posted,S02666,Ventas,<NA>,out_invoice,<NA>,...,10527,Chapa Ph P/Cajon #21-C #1 *1418*,1418,00ASS,18.00,71.92,0.00,"1,294.56",8 days 07:35:41,30.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                              1172
order_id                                                              362
order_name                                              P00351 (WA 12978)
order_date                                            2024-01-23 20:20:32
partner_id                                                           5221
partner_name            Distribuidor Mayorista De Tornillos De Yucatan...
product_id_pp                                                        7671
product_name            [3996] Pija C/Pl 12*3 Smpfz (1800P/C) C#42 *3996*
product_qty                                                      1,000.00
product_price                                                        0.81
oficial                                                             False
partner_fact_ref                                                 WA 12978
partner_fact_date                                                     NaT
capturista                                                           <NA>
vendedora                                            Reyna Arriaga Flores
tolerance_order_date                                  2024-01-18 00:00:00
Name: 12377, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,7211,11435,F1-CC/2024/01128,2024-01-23,posted,PdV CSL/1127,PdV,2713,out_invoice,<NA>,...,7671,Pija C/Pl 12*3 Smpfz (1800P/C) C#42 *3996*,3996,126,200.00,2.32,0.15,394.40,0 days 20:20:32,200.00
1,12949,20937,F1-CC/2024/01995,2024-02-07,posted,PdV CSL/1914,PdV,4786,out_invoice,<NA>,...,7671,Pija C/Pl 12*3 Smpfz (1800P/C) C#42 *3996*,3996,126,500.00,1.32,0.15,561.00,14 days 03:39:28,700.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                     1122
order_id                                                     338
order_name                                      P00327 (B 83390)
order_date                                   2024-01-22 18:07:06
partner_id                                                  5290
partner_name                        Maria Reyna Navarrete Cortez
product_id_pp                                              13943
product_name            [15143] Triplay Birch 1/2  4'*8' *15143*
product_qty                                                 6.00
product_price                                             536.41
oficial                                                    False
partner_fact_ref                                         B 83390
partner_fact_date                                            NaT
capturista                                                  <NA>
vendedora                                   Irma Carvajal Flores
tolerance_order_date                         2024-01-17 00:00:00
Name: 12423, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,11048,17973,F1-VS/2024/00405,2024-02-02,posted,S02971,Ventas,<NA>,out_invoice,<NA>,...,13943,Triplay Birch 1/2 4'*8' *15143*,15143,00MAD,3.00,775.86,0.00,"2,327.58",10 days 05:52:54,3.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                     1123
order_id                                                     338
order_name                                      P00327 (B 83390)
order_date                                   2024-01-22 18:07:06
partner_id                                                  5290
partner_name                        Maria Reyna Navarrete Cortez
product_id_pp                                              13331
product_name            [16320] Triplay Birch 1/4  4'*8' *16320*
product_qty                                                 3.00
product_price                                             261.09
oficial                                                    False
partner_fact_ref                                         B 83390
partner_fact_date                                            NaT
capturista                                                  <NA>
vendedora                                   Irma Carvajal Flores
tolerance_order_date                         2024-01-17 00:00:00
Name: 12424, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,8203,13045,F1-VS/2024/00316,2024-01-25,posted,S00472,Ventas,<NA>,out_invoice,<NA>,...,13331,Triplay Birch 1/4 4'*8' *16320*,16320,00MAD,6.00,402.00,0.00,"2,412.00",2 days 05:52:54,6.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                              1117
order_id                                                              334
order_name                                              P00323 (C 261588)
order_date                                            2024-01-22 17:29:34
partner_id                                                           5321
partner_name                                            El Gran Tlapalero
product_id_pp                                                       11928
product_name            [1426] Chapa P/Cajon Ph #250-C Cañ Largo C #33...
product_qty                                                         30.00
product_price                                                       94.93
oficial                                                             False
partner_fact_ref                                                 C 261588
partner_fact_date                                                     NaT
capturista                                                           <NA>
vendedora                                 Mayra Angelica Parada Manjarrez
tolerance_order_date                                  2024-01-17 00:00:00
Name: 12431, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,6910,10917,F1-VS/2024/00273,2024-01-22,posted,S02453,Ventas,<NA>,out_invoice,<NA>,...,11928,Chapa P/Cajon Ph #250-C Cañ Largo C #33 *1426*,1426,00ASS,15.00,203.00,0.00,"3,045.00",0 days 17:29:34,15.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                              1092
order_id                                                              321
order_name                                              P00310 (WA 12941)
order_date                                            2024-01-20 00:46:54
partner_id                                                           5221
partner_name            Distribuidor Mayorista De Tornillos De Yucatan...
product_id_pp                                                        7543
product_name                    [9364] Rondana Neopreno 1/4" C#176 *9364*
product_qty                                                        113.00
product_price                                                        0.20
oficial                                                             False
partner_fact_ref                                                 WA 12941
partner_fact_date                                                     NaT
capturista                                                           <NA>
vendedora                                            Irma Carvajal Flores
tolerance_order_date                                  2024-01-15 00:00:00
Name: 12455, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,6177,9727,F1-VS/2024/00244,2024-01-19,posted,S03120,Ventas,<NA>,out_invoice,<NA>,...,7543,"Rondana Neopreno 1/4"" C#176 *9364*",9364,126,150.00,0.60,0.00,90.00,1 days 00:46:54,150.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                            780
order_id                                                           283
order_name                                           P00272 (A 103868)
order_date                                         2024-01-18 20:39:09
partner_id                                                        5352
partner_name                              Luz Raquel Rodriguez Montoya
product_id_pp                                                    13786
product_name            [13538] Tabla Americana 1" X 12" X 16' *13538*
product_qty                                                       9.00
product_price                                                   524.14
oficial                                                          False
partner_fact_ref                                              A 103868
partner_fact_date                                                  NaT
capturista                                                        <NA>
vendedora                                         Irma Carvajal Flores
tolerance_order_date                               2024-01-13 00:00:00
Name: 12758, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,5235,8417,F1-VS/2024/00203,2024-01-17,posted,S02104,Ventas,<NA>,out_invoice,<NA>,...,13786,"Tabla Americana 1"" X 12"" X 16' *13538*",13538,00MAD,6.00,740.00,0.00,"4,440.00",1 days 20:39:09,6.00
1,5249,8421,F1-VS/2024/00206,2024-01-17,posted,S02150,Ventas,<NA>,out_invoice,<NA>,...,13786,"Tabla Americana 1"" X 12"" X 16' *13538*",13538,00MAD,1.00,840.00,0.00,840.00,1 days 20:39:09,7.00
2,5261,8440,F1-VS/2024/00208,2024-01-17,posted,S01757,Ventas,<NA>,out_invoice,<NA>,...,13786,"Tabla Americana 1"" X 12"" X 16' *13538*",13538,00MAD,2.00,840.00,0.00,"1,680.00",1 days 20:39:09,9.00
3,11024,17965,F1-VS/2024/00403,2024-02-02,posted,S03696,Ventas,<NA>,out_invoice,<NA>,...,13786,"Tabla Americana 1"" X 12"" X 16' *13538*",13538,00MAD,6.00,755.00,0.00,"4,530.00",14 days 03:20:51,15.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                           771
order_id                                                          281
order_name                                           P00270 (B 83475)
order_date                                        2024-01-18 20:20:13
partner_id                                                       5290
partner_name                             Maria Reyna Navarrete Cortez
product_id_pp                                                   13811
product_name            [3651] Triplay Pino 1/2  4'*8'  1/Cara *3651*
product_qty                                                     22.00
product_price                                                  443.34
oficial                                                         False
partner_fact_ref                                              B 83475
partner_fact_date                                                 NaT
capturista                                                       <NA>
vendedora                                        Irma Carvajal Flores
tolerance_order_date                              2024-01-13 00:00:00
Name: 12763, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,6176,9727,F1-VS/2024/00244,2024-01-19,posted,S03120,Ventas,<NA>,out_invoice,<NA>,...,13811,Triplay Pino 1/2 4'*8' 1/Cara *3651*,3651,00MAD,18.00,625.00,0.00,"11,250.00",0 days 03:39:47,18.00
1,4884,8003,F1-VS/2024/00191,2024-01-17,posted,S02105,Ventas,<NA>,out_invoice,<NA>,...,13811,Triplay Pino 1/2 4'*8' 1/Cara *3651*,3651,00MAD,20.00,640.00,0.00,"12,800.00",1 days 20:20:13,38.00
2,5236,8417,F1-VS/2024/00203,2024-01-17,posted,S02104,Ventas,<NA>,out_invoice,<NA>,...,13811,Triplay Pino 1/2 4'*8' 1/Cara *3651*,3651,00MAD,4.00,640.00,0.00,"2,560.00",1 days 20:20:13,42.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                           772
order_id                                                          281
order_name                                           P00270 (B 83475)
order_date                                        2024-01-18 20:20:13
partner_id                                                       5290
partner_name                             Maria Reyna Navarrete Cortez
product_id_pp                                                   14147
product_name            [3637] Triplay Pino 3/4  4'*8'  1/Cara *3637*
product_qty                                                      6.00
product_price                                                  609.41
oficial                                                         False
partner_fact_ref                                              B 83475
partner_fact_date                                                 NaT
capturista                                                       <NA>
vendedora                                        Irma Carvajal Flores
tolerance_order_date                              2024-01-13 00:00:00
Name: 12764, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,5237,8417,F1-VS/2024/00203,2024-01-17,posted,S02104,Ventas,<NA>,out_invoice,<NA>,...,14147,Triplay Pino 3/4 4'*8' 1/Cara *3637*,3637,00MAD,4.00,905.00,0.00,"3,620.00",1 days 20:20:13,4.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                               770
order_id                                                              280
order_name                                           P00269 (W0000457956)
order_date                                            2024-01-18 19:52:13
partner_id                                                           5157
partner_name                                                    Ferre-Pat
product_id_pp                                                       27920
product_name            [20476] Dis. Austromex 4 1/2 x 3/64 x 7/8 #750...
product_qty                                                         10.00
product_price                                                       53.90
oficial                                                             False
partner_fact_ref                                              W0000457956
partner_fact_date                                                     NaT
capturista                                                           <NA>
vendedora                                 Mayra Angelica Parada Manjarrez
tolerance_order_date                                  2024-01-13 00:00:00
Name: 12767, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,5673,8988,F1-VS/2024/00227,2024-01-18,posted,S00834,Ventas,<NA>,out_invoice,<NA>,...,27920,Dis. Austromex 4 1/2 x 3/64 x 7/8 #750 *20476*,20476,000CE,50.00,73.50,0.00,"3,675.00",0 days 19:52:13,50.00
1,10515,17035,F1-VS/2024/00382,2024-02-01,posted,S03190,Ventas,<NA>,out_invoice,<NA>,...,27920,Dis. Austromex 4 1/2 x 3/64 x 7/8 #750 *20476*,20476,000CE,50.00,73.50,0.00,"3,675.00",13 days 04:07:47,100.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                     737
order_id                                                    266
order_name                                     P00255 (A 22185)
order_date                                  2024-01-17 22:57:09
partner_id                                                 5264
partner_name                     Maria Teresa Quezada Hernandez
product_id_pp                                             13636
product_name            [13756] Tabla Americana 1x12x10 *13756*
product_qty                                                8.00
product_price                                            327.59
oficial                                                   False
partner_fact_ref                                        A 22185
partner_fact_date                                           NaT
capturista                                                 <NA>
vendedora                       Mayra Angelica Parada Manjarrez
tolerance_order_date                        2024-01-12 00:00:00
Name: 12796, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,5938,9424,F1-VS/2024/00240,2024-01-19,posted,S02521,Ventas,<NA>,out_invoice,<NA>,...,13636,Tabla Americana 1x12x10 *13756*,13756,00MAD,1.00,534.04,0.00,534.04,1 days 01:02:51,1.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                      697
order_id                                                     259
order_name                                      P00248 (B 83459)
order_date                                   2024-01-17 20:05:46
partner_id                                                  5290
partner_name                        Maria Reyna Navarrete Cortez
product_id_pp                                              14075
product_name            [40032] Triplay Birch 5/8  4'*8' *40032*
product_qty                                                 2.00
product_price                                             615.51
oficial                                                    False
partner_fact_ref                                         B 83459
partner_fact_date                                            NaT
capturista                                                  <NA>
vendedora                        Mayra Angelica Parada Manjarrez
tolerance_order_date                         2024-01-12 00:00:00
Name: 12816, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,5230,8413,F1-VS/2024/00200,2024-01-17,posted,S02881,Ventas,<NA>,out_invoice,<NA>,...,14075,Triplay Birch 5/8 4'*8' *40032*,40032,00MAD,5.00,960.60,0.00,"4,803.00",0 days 20:05:46,5.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                    690
order_id                                                   255
order_name                                    P00244 (B 83432)
order_date                                 2024-01-17 16:01:25
partner_id                                                5290
partner_name                      Maria Reyna Navarrete Cortez
product_id_pp                                            13283
product_name            [3763] Triplay Caoba 1/8  4'*8' *3763*
product_qty                                               5.00
product_price                                           270.27
oficial                                                  False
partner_fact_ref                                       B 83432
partner_fact_date                                          NaT
capturista                                                <NA>
vendedora                                 Irma Carvajal Flores
tolerance_order_date                       2024-01-12 00:00:00
Name: 12822, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,4883,7927,F1-VS/2024/00190,2024-01-17,posted,S02039,Ventas,<NA>,out_invoice,<NA>,...,13283,Triplay Caoba 1/8 4'*8' *3763*,3763,00MAD,10.00,405.00,0.00,"4,050.00",0 days 16:01:25,10.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                      665
order_id                                                     248
order_name                                      P00237 (B 83446)
order_date                                   2024-01-16 23:15:25
partner_id                                                  5290
partner_name                        Maria Reyna Navarrete Cortez
product_id_pp                                              13943
product_name            [15143] Triplay Birch 1/2  4'*8' *15143*
product_qty                                                41.00
product_price                                             536.41
oficial                                                    False
partner_fact_ref                                         B 83446
partner_fact_date                                            NaT
capturista                                                  <NA>
vendedora                        Mayra Angelica Parada Manjarrez
tolerance_order_date                         2024-01-11 00:00:00
Name: 12844, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,4735,7668,F1-VS/2024/00184,2024-01-16,posted,S02750,Ventas,<NA>,out_invoice,<NA>,...,13943,Triplay Birch 1/2 4'*8' *15143*,15143,00MAD,16.00,975.52,0.00,"15,608.32",0 days 23:15:25,16.00
1,4738,7670,F1-VS/2024/00186,2024-01-16,posted,S02747,Ventas,<NA>,out_invoice,<NA>,...,13943,Triplay Birch 1/2 4'*8' *15143*,15143,00MAD,3.00,975.52,0.00,"2,926.56",0 days 23:15:25,19.00
2,4740,7671,F1-VS/2024/00187,2024-01-16,posted,S02746,Ventas,<NA>,out_invoice,<NA>,...,13943,Triplay Birch 1/2 4'*8' *15143*,15143,00MAD,2.00,975.52,0.00,"1,951.04",0 days 23:15:25,21.00
3,4745,7680,F1-VS/2024/00188,2024-01-16,posted,S02744,Ventas,<NA>,out_invoice,<NA>,...,13943,Triplay Birch 1/2 4'*8' *15143*,15143,00MAD,20.00,975.52,0.00,"19,510.40",0 days 23:15:25,41.00
4,3616,5924,F1-VS/2024/00146,2024-01-12,posted,S02045,Ventas,<NA>,out_invoice,<NA>,...,13943,Triplay Birch 1/2 4'*8' *15143*,15143,00MAD,20.00,975.52,0.00,"19,510.40",4 days 23:15:25,61.00
5,3618,5925,F1-VS/2024/00147,2024-01-12,posted,S02047,Ventas,<NA>,out_invoice,<NA>,...,13943,Triplay Birch 1/2 4'*8' *15143*,15143,00MAD,4.00,975.52,0.00,"3,902.08",4 days 23:15:25,65.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                      666
order_id                                                     248
order_name                                      P00237 (B 83446)
order_date                                   2024-01-16 23:15:25
partner_id                                                  5290
partner_name                        Maria Reyna Navarrete Cortez
product_id_pp                                              14156
product_name            [15293] Triplay Birch 3/4  4'*8' *15293*
product_qty                                                69.00
product_price                                             723.19
oficial                                                    False
partner_fact_ref                                         B 83446
partner_fact_date                                            NaT
capturista                                                  <NA>
vendedora                        Mayra Angelica Parada Manjarrez
tolerance_order_date                         2024-01-11 00:00:00
Name: 12845, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,4732,7663,F1-VS/2024/00183,2024-01-16,posted,S02751,Ventas,<NA>,out_invoice,<NA>,...,14156,Triplay Birch 3/4 4'*8' *15293*,15293,00MAD,30.00,"1,487.07",0.00,"44,612.10",0 days 23:15:25,30.00
1,4736,7669,F1-VS/2024/00185,2024-01-16,posted,S02749,Ventas,<NA>,out_invoice,<NA>,...,14156,Triplay Birch 3/4 4'*8' *15293*,15293,00MAD,30.00,"1,330.80",0.00,"39,924.00",0 days 23:15:25,60.00
2,4737,7670,F1-VS/2024/00186,2024-01-16,posted,S02747,Ventas,<NA>,out_invoice,<NA>,...,14156,Triplay Birch 3/4 4'*8' *15293*,15293,00MAD,3.00,"1,330.80",0.00,"3,992.40",0 days 23:15:25,63.00
3,4739,7671,F1-VS/2024/00187,2024-01-16,posted,S02746,Ventas,<NA>,out_invoice,<NA>,...,14156,Triplay Birch 3/4 4'*8' *15293*,15293,00MAD,6.00,"1,330.80",0.00,"7,984.80",0 days 23:15:25,69.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                               636
order_id                                                              243
order_name                                              P00232 (C 261179)
order_date                                            2024-01-16 18:55:26
partner_id                                                           5321
partner_name                                            El Gran Tlapalero
product_id_pp                                                       11948
product_name            [1424] Chapa P/Cajon Ph #250-CH Cañ Chico C #3...
product_qty                                                         24.00
product_price                                                       92.15
oficial                                                             False
partner_fact_ref                                                 C 261179
partner_fact_date                                                     NaT
capturista                                                           <NA>
vendedora                                 Mayra Angelica Parada Manjarrez
tolerance_order_date                                  2024-01-11 00:00:00
Name: 12859, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,5065,8242,F1-VS/2024/00195,2024-01-17,posted,S00498,Ventas,<NA>,out_invoice,<NA>,...,11948,Chapa P/Cajon Ph #250-CH Cañ Chico C #31 *1424*,1424,00ASS,12.00,165.00,0.00,"1,980.00",0 days 05:04:34,12.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                        591
order_id                                                       226
order_name                                       P00215 (LA 36607)
order_date                                     2024-01-15 20:42:53
partner_id                                                    5143
partner_name                                        Fymsa Baja Sur
product_id_pp                                                13453
product_name            [1587] Cemento Gris Bulto (50kg) CE *1587*
product_qty                                                   1.00
product_price                                               322.70
oficial                                                      False
partner_fact_ref                                          LA 36607
partner_fact_date                                              NaT
capturista                                                    <NA>
vendedora                          Mayra Angelica Parada Manjarrez
tolerance_order_date                           2024-01-10 00:00:00
Name: 12918, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,5232,8415,F1-VS/2024/00202,2024-01-17,posted,S00383,Ventas,<NA>,out_invoice,<NA>,...,13453,Cemento Gris Bulto (50kg) CE *1587*,1587,000CE,2.00,461.95,0.00,923.90,1 days 03:17:07,2.00
1,5644,8952,F1-VS/2024/00224,2024-01-18,posted,S03159,Ventas,<NA>,out_invoice,<NA>,...,13453,Cemento Gris Bulto (50kg) CE *1587*,1587,000CE,2.00,472.72,0.00,945.44,2 days 03:17:07,4.00
2,6880,10862,F1-VS/2024/00269,2024-01-22,posted,S00657,Ventas,<NA>,out_invoice,<NA>,...,13453,Cemento Gris Bulto (50kg) CE *1587*,1587,000CE,1.00,461.95,0.00,461.95,6 days 03:17:07,5.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                               590
order_id                                                              225
order_name                                            P00214 (MPIFCO 852)
order_date                                            2024-01-15 20:41:00
partner_id                                                           5296
partner_name                                         Madereria Pichonchas
product_id_pp                                                       26699
product_name            [5877] Pegamento Titebond II Premiun Azul 1L *...
product_qty                                                          2.00
product_price                                                      219.83
oficial                                                             False
partner_fact_ref                                               MPIFCO 852
partner_fact_date                                                     NaT
capturista                                                           <NA>
vendedora                                 Mayra Angelica Parada Manjarrez
tolerance_order_date                                  2024-01-10 00:00:00
Name: 12920, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,6879,10862,F1-VS/2024/00269,2024-01-22,posted,S00657,Ventas,<NA>,out_invoice,<NA>,...,26699,Pegamento Titebond II Premiun Azul 1L *5877*,5877,000CE,1.00,413.79,0.00,413.79,6 days 03:19:00,1.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                               588
order_id                                                              223
order_name                                            P00212 (MPIFCO 849)
order_date                                            2024-01-15 20:38:38
partner_id                                                           5296
partner_name                                         Madereria Pichonchas
product_id_pp                                                       26699
product_name            [5877] Pegamento Titebond II Premiun Azul 1L *...
product_qty                                                          1.00
product_price                                                      219.83
oficial                                                             False
partner_fact_ref                                               MPIFCO 849
partner_fact_date                                                     NaT
capturista                                                           <NA>
vendedora                                 Mayra Angelica Parada Manjarrez
tolerance_order_date                                  2024-01-10 00:00:00
Name: 12921, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,6879,10862,F1-VS/2024/00269,2024-01-22,posted,S00657,Ventas,<NA>,out_invoice,<NA>,...,26699,Pegamento Titebond II Premiun Azul 1L *5877*,5877,000CE,1.00,413.79,0.00,413.79,6 days 03:21:22,1.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                      582
order_id                                                     220
order_name                                   P00209 (SJCFCO 983)
order_date                                   2024-01-15 19:37:11
partner_id                                                  5326
partner_name                      Madereria El Pino De Los Cabos
product_id_pp                                              13331
product_name            [16320] Triplay Birch 1/4  4'*8' *16320*
product_qty                                                 5.00
product_price                                             267.24
oficial                                                    False
partner_fact_ref                                      SJCFCO 983
partner_fact_date                                            NaT
capturista                                                  <NA>
vendedora                                   Irma Carvajal Flores
tolerance_order_date                         2024-01-10 00:00:00
Name: 12925, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,8203,13045,F1-VS/2024/00316,2024-01-25,posted,S00472,Ventas,<NA>,out_invoice,<NA>,...,13331,Triplay Birch 1/4 4'*8' *16320*,16320,00MAD,6.00,402.00,0.00,"2,412.00",9 days 04:22:49,6.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                    574
order_id                                                   215
order_name                                    P00204 (B 83363)
order_date                                 2024-01-15 19:26:13
partner_id                                                5290
partner_name                      Maria Reyna Navarrete Cortez
product_id_pp                                            13283
product_name            [3763] Triplay Caoba 1/8  4'*8' *3763*
product_qty                                               5.00
product_price                                           270.27
oficial                                                  False
partner_fact_ref                                       B 83363
partner_fact_date                                          NaT
capturista                                                <NA>
vendedora                                 Irma Carvajal Flores
tolerance_order_date                       2024-01-10 00:00:00
Name: 12934, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,4883,7927,F1-VS/2024/00190,2024-01-17,posted,S02039,Ventas,<NA>,out_invoice,<NA>,...,13283,Triplay Caoba 1/8 4'*8' *3763*,3763,00MAD,10.00,405.00,0.00,"4,050.00",1 days 04:33:47,10.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                           566
order_id                                                          212
order_name                                        P00201 (MPIFCO 716)
order_date                                        2024-01-15 19:04:22
partner_id                                                       5296
partner_name                                     Madereria Pichonchas
product_id_pp                                                   14147
product_name            [3637] Triplay Pino 3/4  4'*8'  1/Cara *3637*
product_qty                                                     10.00
product_price                                                  646.55
oficial                                                         False
partner_fact_ref                                           MPIFCO 716
partner_fact_date                                                 NaT
capturista                                                       <NA>
vendedora                                        Irma Carvajal Flores
tolerance_order_date                              2024-01-10 00:00:00
Name: 12938, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,5237,8417,F1-VS/2024/00203,2024-01-17,posted,S02104,Ventas,<NA>,out_invoice,<NA>,...,14147,Triplay Pino 3/4 4'*8' 1/Cara *3637*,3637,00MAD,4.00,905.00,0.00,"3,620.00",1 days 04:55:38,4.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                      543
order_id                                                     198
order_name                                      P00187 (B 83392)
order_date                                   2024-01-13 00:59:38
partner_id                                                  5290
partner_name                        Maria Reyna Navarrete Cortez
product_id_pp                                              13943
product_name            [15143] Triplay Birch 1/2  4'*8' *15143*
product_qty                                                24.00
product_price                                             536.41
oficial                                                    False
partner_fact_ref                                         B 83392
partner_fact_date                                            NaT
capturista                                                  <NA>
vendedora                        Mayra Angelica Parada Manjarrez
tolerance_order_date                         2024-01-08 00:00:00
Name: 12959, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,3616,5924,F1-VS/2024/00146,2024-01-12,posted,S02045,Ventas,<NA>,out_invoice,<NA>,...,13943,Triplay Birch 1/2 4'*8' *15143*,15143,00MAD,20.00,975.52,0.00,"19,510.40",1 days 00:59:38,20.00
1,3618,5925,F1-VS/2024/00147,2024-01-12,posted,S02047,Ventas,<NA>,out_invoice,<NA>,...,13943,Triplay Birch 1/2 4'*8' *15143*,15143,00MAD,4.00,975.52,0.00,"3,902.08",1 days 00:59:38,24.00
2,4735,7668,F1-VS/2024/00184,2024-01-16,posted,S02750,Ventas,<NA>,out_invoice,<NA>,...,13943,Triplay Birch 1/2 4'*8' *15143*,15143,00MAD,16.00,975.52,0.00,"15,608.32",2 days 23:00:22,40.00
3,4738,7670,F1-VS/2024/00186,2024-01-16,posted,S02747,Ventas,<NA>,out_invoice,<NA>,...,13943,Triplay Birch 1/2 4'*8' *15143*,15143,00MAD,3.00,975.52,0.00,"2,926.56",2 days 23:00:22,43.00
4,4740,7671,F1-VS/2024/00187,2024-01-16,posted,S02746,Ventas,<NA>,out_invoice,<NA>,...,13943,Triplay Birch 1/2 4'*8' *15143*,15143,00MAD,2.00,975.52,0.00,"1,951.04",2 days 23:00:22,45.00
5,4745,7680,F1-VS/2024/00188,2024-01-16,posted,S02744,Ventas,<NA>,out_invoice,<NA>,...,13943,Triplay Birch 1/2 4'*8' *15143*,15143,00MAD,20.00,975.52,0.00,"19,510.40",2 days 23:00:22,65.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                   534
order_id                                                  192
order_name                                      P00181 (3215)
order_date                                2024-01-12 23:40:29
partner_id                                               5365
partner_name                            Raul Mosqueda Verdugo
product_id_pp                                           13689
product_name            [78936] Pasta Española Marfil *78936*
product_qty                                             18.00
product_price                                          387.94
oficial                                                 False
partner_fact_ref                                         3215
partner_fact_date                                         NaT
capturista                                               <NA>
vendedora                                Irma Carvajal Flores
tolerance_order_date                      2024-01-07 00:00:00
Name: 12971, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,7721,12163,F1-VS/2024/00299,2024-01-24,posted,S01534,Ventas,<NA>,out_invoice,<NA>,...,13689,Pasta Española Marfil *78936*,78936,000CE,18.00,589.00,0.00,"10,602.00",11 days 00:19:31,18.00
1,7894,12410,F1-VS/2024/00312,2024-01-24,posted,S03340,Ventas,<NA>,out_invoice,<NA>,...,13689,Pasta Española Marfil *78936*,78936,000CE,6.00,581.91,0.00,"3,491.46",11 days 00:19:31,24.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                               530
order_id                                                              188
order_name                                              P00177 (WA 12838)
order_date                                            2024-01-12 22:56:28
partner_id                                                           5221
partner_name            Distribuidor Mayorista De Tornillos De Yucatan...
product_id_pp                                                        7671
product_name            [3996] Pija C/Pl 12*3 Smpfz (1800P/C) C#42 *3996*
product_qty                                                      1,100.00
product_price                                                        0.81
oficial                                                             False
partner_fact_ref                                                 WA 12838
partner_fact_date                                                     NaT
capturista                                                           <NA>
vendedora                                Karla Jaqueline Rivera Hernández
tolerance_order_date                                  2024-01-07 00:00:00
Name: 12975, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,3365,5592,F2-CC/2024/00715,2024-01-12,posted,PdV SJC/0748,PdV,1345,out_invoice,<NA>,...,7671,Pija C/Pl 12*3 Smpfz (1800P/C) C#42 *3996*,3996,126,600.00,1.32,0.00,792.00,0 days 22:56:28,600.00
1,3389,5592,F2-CC/2024/00715,2024-01-12,posted,PdV SJC/0748,PdV,1345,out_invoice,<NA>,...,7671,Pija C/Pl 12*3 Smpfz (1800P/C) C#42 *3996*,3996,126,300.00,1.32,0.10,356.40,0 days 22:56:28,900.00
2,3396,5592,F2-CC/2024/00715,2024-01-12,posted,PdV SJC/0748,PdV,1345,out_invoice,<NA>,...,7671,Pija C/Pl 12*3 Smpfz (1800P/C) C#42 *3996*,3996,126,200.00,1.32,0.00,264.00,0 days 22:56:28,"1,100.00"

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                           422
order_id                                                          180
order_name                                           P00169 (B 83355)
order_date                                        2024-01-12 16:05:14
partner_id                                                       5290
partner_name                             Maria Reyna Navarrete Cortez
product_id_pp                                                   14147
product_name            [3637] Triplay Pino 3/4  4'*8'  1/Cara *3637*
product_qty                                                      6.00
product_price                                                  544.44
oficial                                                         False
partner_fact_ref                                              B 83355
partner_fact_date                                                 NaT
capturista                                                       <NA>
vendedora                             Mayra Angelica Parada Manjarrez
tolerance_order_date                              2024-01-07 00:00:00
Name: 13080, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,3617,5924,F1-VS/2024/00146,2024-01-12,posted,S02045,Ventas,<NA>,out_invoice,<NA>,...,14147,Triplay Pino 3/4 4'*8' 1/Cara *3637*,3637,00MAD,10.00,"1,330.60",0.00,"13,306.00",0 days 16:05:14,10.00
1,3120,5105,F1-VS/2024/00125,2024-01-11,posted,S01854,Ventas,<NA>,out_invoice,<NA>,...,14147,Triplay Pino 3/4 4'*8' 1/Cara *3637*,3637,00MAD,6.00,"1,002.17",0.00,"6,013.02",1 days 16:05:14,16.00
2,3128,5112,F1-VS/2024/00126,2024-01-11,posted,S01879,Ventas,<NA>,out_invoice,<NA>,...,14147,Triplay Pino 3/4 4'*8' 1/Cara *3637*,3637,00MAD,2.00,"1,066.82",0.00,"2,133.64",1 days 16:05:14,18.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                  401
order_id                                                 165
order_name                               P00154 (MPIFCO 626)
order_date                               2024-01-11 23:18:40
partner_id                                              5296
partner_name                            Madereria Pichonchas
product_id_pp                                          14374
product_name            [5902] TABLA DE ALDER 1" CAMA *5902*
product_qty                                            25.00
product_price                                       1,206.90
oficial                                                False
partner_fact_ref                                  MPIFCO 626
partner_fact_date                                        NaT
capturista                                              <NA>
vendedora                    Mayra Angelica Parada Manjarrez
tolerance_order_date                     2024-01-06 00:00:00
Name: 13099, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,3161,5144,F1-VS/2024/00130,2024-01-11,posted,S01857,Ventas,<NA>,out_invoice,<NA>,...,14374,"TABLA DE ALDER 1"" CAMA *5902*",5902,00MAD,5.00,"2,363.90",0.00,"11,819.50",0 days 23:18:40,5.00
1,3169,5152,F1-VS/2024/00131,2024-01-11,posted,S01860,Ventas,<NA>,out_invoice,<NA>,...,14374,"TABLA DE ALDER 1"" CAMA *5902*",5902,00MAD,10.00,"2,363.90",0.00,"23,639.00",0 days 23:18:40,15.00
2,3170,5155,F1-VS/2024/00134,2024-01-11,posted,S01858,Ventas,<NA>,out_invoice,<NA>,...,14374,"TABLA DE ALDER 1"" CAMA *5902*",5902,00MAD,5.00,"2,363.90",0.00,"11,819.50",0 days 23:18:40,20.00
3,3176,5158,F1-VS/2024/00136,2024-01-11,posted,S01856,Ventas,<NA>,out_invoice,<NA>,...,14374,"TABLA DE ALDER 1"" CAMA *5902*",5902,00MAD,5.00,"2,363.90",0.00,"11,819.50",0 days 23:18:40,25.00
4,3858,6361,F1-VS/2024/00159,2024-01-13,posted,S02048,Ventas,<NA>,out_invoice,<NA>,...,14374,"TABLA DE ALDER 1"" CAMA *5902*",5902,00MAD,4.00,"2,363.80",0.00,"9,455.20",1 days 00:41:20,29.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                           396
order_id                                                          164
order_name                                        P00153 (MPIFCO 622)
order_date                                        2024-01-11 23:13:19
partner_id                                                       5296
partner_name                                     Madereria Pichonchas
product_id_pp                                                   14147
product_name            [3637] Triplay Pino 3/4  4'*8'  1/Cara *3637*
product_qty                                                      6.00
product_price                                                  646.55
oficial                                                         False
partner_fact_ref                                           MPIFCO 622
partner_fact_date                                                 NaT
capturista                                                       <NA>
vendedora                             Mayra Angelica Parada Manjarrez
tolerance_order_date                              2024-01-06 00:00:00
Name: 13102, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,3617,5924,F1-VS/2024/00146,2024-01-12,posted,S02045,Ventas,<NA>,out_invoice,<NA>,...,14147,Triplay Pino 3/4 4'*8' 1/Cara *3637*,3637,00MAD,10.00,"1,330.60",0.00,"13,306.00",0 days 00:46:41,10.00
1,3120,5105,F1-VS/2024/00125,2024-01-11,posted,S01854,Ventas,<NA>,out_invoice,<NA>,...,14147,Triplay Pino 3/4 4'*8' 1/Cara *3637*,3637,00MAD,6.00,"1,002.17",0.00,"6,013.02",0 days 23:13:19,16.00
2,3128,5112,F1-VS/2024/00126,2024-01-11,posted,S01879,Ventas,<NA>,out_invoice,<NA>,...,14147,Triplay Pino 3/4 4'*8' 1/Cara *3637*,3637,00MAD,2.00,"1,066.82",0.00,"2,133.64",0 days 23:13:19,18.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                      245
order_id                                                     139
order_name                                      P00128 (B 83329)
order_date                                   2024-01-10 18:50:51
partner_id                                                  5290
partner_name                        Maria Reyna Navarrete Cortez
product_id_pp                                              13331
product_name            [16320] Triplay Birch 1/4  4'*8' *16320*
product_qty                                                 6.00
product_price                                             261.09
oficial                                                    False
partner_fact_ref                                         B 83329
partner_fact_date                                            NaT
capturista                                                  <NA>
vendedora                                   Irma Carvajal Flores
tolerance_order_date                         2024-01-05 00:00:00
Name: 13244, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,8203,13045,F1-VS/2024/00316,2024-01-25,posted,S00472,Ventas,<NA>,out_invoice,<NA>,...,13331,Triplay Birch 1/4 4'*8' *16320*,16320,00MAD,6.00,402.00,0.00,"2,412.00",14 days 05:09:09,6.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                           246
order_id                                                          139
order_name                                           P00128 (B 83329)
order_date                                        2024-01-10 18:50:51
partner_id                                                       5290
partner_name                             Maria Reyna Navarrete Cortez
product_id_pp                                                   13811
product_name            [3651] Triplay Pino 1/2  4'*8'  1/Cara *3651*
product_qty                                                      4.00
product_price                                                  443.34
oficial                                                         False
partner_fact_ref                                              B 83329
partner_fact_date                                                 NaT
capturista                                                       <NA>
vendedora                                        Irma Carvajal Flores
tolerance_order_date                              2024-01-05 00:00:00
Name: 13245, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,3666,5977,F1-VS/2024/00152,2024-01-12,posted,S02110,Ventas,<NA>,out_invoice,<NA>,...,13811,Triplay Pino 1/2 4'*8' 1/Cara *3651*,3651,00MAD,2.00,720.00,0.00,"1,440.00",1 days 05:09:09,2.00
1,2365,3920,F1-VS/2024/00097,2024-01-09,posted,S01463,Ventas,<NA>,out_invoice,<NA>,...,13811,Triplay Pino 1/2 4'*8' 1/Cara *3651*,3651,00MAD,6.00,673.00,0.00,"4,038.00",1 days 18:50:51,8.00
2,4884,8003,F1-VS/2024/00191,2024-01-17,posted,S02105,Ventas,<NA>,out_invoice,<NA>,...,13811,Triplay Pino 1/2 4'*8' 1/Cara *3651*,3651,00MAD,20.00,640.00,0.00,"12,800.00",6 days 05:09:09,28.00
3,5236,8417,F1-VS/2024/00203,2024-01-17,posted,S02104,Ventas,<NA>,out_invoice,<NA>,...,13811,Triplay Pino 1/2 4'*8' 1/Cara *3651*,3651,00MAD,4.00,640.00,0.00,"2,560.00",6 days 05:09:09,32.00
4,6176,9727,F1-VS/2024/00244,2024-01-19,posted,S03120,Ventas,<NA>,out_invoice,<NA>,...,13811,Triplay Pino 1/2 4'*8' 1/Cara *3651*,3651,00MAD,18.00,625.00,0.00,"11,250.00",8 days 05:09:09,50.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                      229
order_id                                                     130
order_name                                      P00119 (B 83327)
order_date                                   2024-01-10 17:40:39
partner_id                                                  5290
partner_name                        Maria Reyna Navarrete Cortez
product_id_pp                                              13331
product_name            [16320] Triplay Birch 1/4  4'*8' *16320*
product_qty                                                 3.00
product_price                                             261.09
oficial                                                    False
partner_fact_ref                                         B 83327
partner_fact_date                                            NaT
capturista                                                  <NA>
vendedora                        Mayra Angelica Parada Manjarrez
tolerance_order_date                         2024-01-05 00:00:00
Name: 13258, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,2429,4106,F1-VS/2024/00103,2024-01-10,posted,S01491,Ventas,<NA>,out_invoice,<NA>,...,13331,Triplay Birch 1/4 4'*8' *16320*,16320,00MAD,1.00,489.66,0.00,489.66,0 days 17:40:39,1.00
1,2362,3919,F1-VS/2024/00096,2024-01-09,posted,S01370,Ventas,<NA>,out_invoice,<NA>,...,13331,Triplay Birch 1/4 4'*8' *16320*,16320,00MAD,2.00,489.80,0.00,979.60,1 days 17:40:39,3.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                  222
order_id                                                 127
order_name                               P00116 (MPIFCO 462)
order_date                               2024-01-10 00:44:47
partner_id                                              5296
partner_name                            Madereria Pichonchas
product_id_pp                                          14287
product_name            [5211] Tabla Alder 1*8 (Cama) *5211*
product_qty                                             3.00
product_price                                         965.52
oficial                                                False
partner_fact_ref                                  MPIFCO 462
partner_fact_date                                        NaT
capturista                                              <NA>
vendedora                    Mayra Angelica Parada Manjarrez
tolerance_order_date                     2024-01-05 00:00:00
Name: 13268, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,2435,4106,F1-VS/2024/00103,2024-01-10,posted,S01491,Ventas,<NA>,out_invoice,<NA>,...,14287,Tabla Alder 1*8 (Cama) *5211*,5211,00MAD,1.00,"2,363.60",0.00,"2,363.60",0 days 00:44:47,1.00
1,2795,4578,F1-VS/2024/00119,2024-01-10,posted,S01545,Ventas,<NA>,out_invoice,<NA>,...,14287,Tabla Alder 1*8 (Cama) *5211*,5211,00MAD,1.00,"2,363.80",0.00,"2,363.80",0 days 00:44:47,2.00
2,2361,3919,F1-VS/2024/00096,2024-01-09,posted,S01370,Ventas,<NA>,out_invoice,<NA>,...,14287,Tabla Alder 1*8 (Cama) *5211*,5211,00MAD,1.00,"2,363.80",0.00,"2,363.80",1 days 00:44:47,3.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                        223
order_id                                                       127
order_name                                     P00116 (MPIFCO 462)
order_date                                     2024-01-10 00:44:47
partner_id                                                    5296
partner_name                                  Madereria Pichonchas
product_id_pp                                                14772
product_name            [16313] Pegamento Titebond Verde1L *16313*
product_qty                                                   4.00
product_price                                               245.69
oficial                                                      False
partner_fact_ref                                        MPIFCO 462
partner_fact_date                                              NaT
capturista                                                    <NA>
vendedora                          Mayra Angelica Parada Manjarrez
tolerance_order_date                           2024-01-05 00:00:00
Name: 13269, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,2433,4106,F1-VS/2024/00103,2024-01-10,posted,S01491,Ventas,<NA>,out_invoice,<NA>,...,14772,Pegamento Titebond Verde1L *16313*,16313,000CE,1.00,409.00,0.00,409.00,0 days 00:44:47,1.00
1,2803,4578,F1-VS/2024/00119,2024-01-10,posted,S01545,Ventas,<NA>,out_invoice,<NA>,...,14772,Pegamento Titebond Verde1L *16313*,16313,000CE,2.00,409.00,0.00,818.00,0 days 00:44:47,3.00
2,2363,3919,F1-VS/2024/00096,2024-01-09,posted,S01370,Ventas,<NA>,out_invoice,<NA>,...,14772,Pegamento Titebond Verde1L *16313*,16313,000CE,1.00,409.00,0.00,409.00,1 days 00:44:47,4.00
3,3867,6361,F1-VS/2024/00159,2024-01-13,posted,S02048,Ventas,<NA>,out_invoice,<NA>,...,14772,Pegamento Titebond Verde1L *16313*,16313,000CE,3.00,409.00,0.00,"1,227.00",2 days 23:15:13,7.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                           205
order_id                                                          119
order_name                                        P00108 (MPIFCO 423)
order_date                                        2024-01-09 21:12:11
partner_id                                                       5296
partner_name                                     Madereria Pichonchas
product_id_pp                                                   14147
product_name            [3637] Triplay Pino 3/4  4'*8'  1/Cara *3637*
product_qty                                                      6.00
product_price                                                  646.55
oficial                                                         False
partner_fact_ref                                           MPIFCO 423
partner_fact_date                                                 NaT
capturista                                     Elsa Ivette Diaz Leyva
vendedora                                        Irma Carvajal Flores
tolerance_order_date                              2024-01-04 00:00:00
Name: 13284, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,1989,3378,F1-VS/2024/00080,2024-01-08,posted,S00085,Ventas,<NA>,out_invoice,<NA>,...,14147,Triplay Pino 3/4 4'*8' 1/Cara *3637*,3637,00MAD,3.00,969.82,0.00,"2,909.46",1 days 21:12:11,3.00
1,1993,3378,F1-VS/2024/00080,2024-01-08,posted,S00085,Ventas,<NA>,out_invoice,<NA>,...,14147,Triplay Pino 3/4 4'*8' 1/Cara *3637*,3637,00MAD,3.00,969.82,0.00,"2,909.46",1 days 21:12:11,6.00
2,5237,8417,F1-VS/2024/00203,2024-01-17,posted,S02104,Ventas,<NA>,out_invoice,<NA>,...,14147,Triplay Pino 3/4 4'*8' 1/Cara *3637*,3637,00MAD,4.00,905.00,0.00,"3,620.00",7 days 02:47:49,10.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                               197
order_id                                                              112
order_name                                              P00101 (WA 12776)
order_date                                            2024-01-09 17:33:11
partner_id                                                           5221
partner_name            Distribuidor Mayorista De Tornillos De Yucatan...
product_id_pp                                                        7481
product_name                     [2540] Rondana Plana 3/16   C#184 *2540*
product_qty                                                        200.00
product_price                                                        0.16
oficial                                                             False
partner_fact_ref                                                 WA 12776
partner_fact_date                                                     NaT
capturista                                                           <NA>
vendedora                                            Irma Carvajal Flores
tolerance_order_date                                  2024-01-04 00:00:00
Name: 13293, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,1816,3191,F1-VS/2024/00058,2024-01-08,posted,S00972,Ventas,<NA>,out_invoice,<NA>,...,7481,Rondana Plana 3/16 C#184 *2540*,2540,126,"2,800.00",0.34,0.00,952.00,1 days 17:33:11,"2,800.00"

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                               194
order_id                                                              111
order_name                                              P00100 (XA 21547)
order_date                                            2024-01-09 17:31:47
partner_id                                                           5221
partner_name            Distribuidor Mayorista De Tornillos De Yucatan...
product_id_pp                                                        7481
product_name                     [2540] Rondana Plana 3/16   C#184 *2540*
product_qty                                                        800.00
product_price                                                        0.17
oficial                                                             False
partner_fact_ref                                                 XA 21547
partner_fact_date                                                     NaT
capturista                                                           <NA>
vendedora                                            Irma Carvajal Flores
tolerance_order_date                                  2024-01-04 00:00:00
Name: 13295, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,1816,3191,F1-VS/2024/00058,2024-01-08,posted,S00972,Ventas,<NA>,out_invoice,<NA>,...,7481,Rondana Plana 3/16 C#184 *2540*,2540,126,"2,800.00",0.34,0.00,952.00,1 days 17:31:47,"2,800.00"

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                               196
order_id                                                              111
order_name                                              P00100 (XA 21547)
order_date                                            2024-01-09 17:31:47
partner_id                                                           5221
partner_name            Distribuidor Mayorista De Tornillos De Yucatan...
product_id_pp                                                        7856
product_name            [5244] Tornillo C/Hexagonal 1/4* 2 1/2" C#59 *...
product_qty                                                        150.00
product_price                                                        1.30
oficial                                                             False
partner_fact_ref                                                 XA 21547
partner_fact_date                                                     NaT
capturista                                                           <NA>
vendedora                                            Irma Carvajal Flores
tolerance_order_date                                  2024-01-04 00:00:00
Name: 13297, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,1818,3191,F1-VS/2024/00058,2024-01-08,posted,S00972,Ventas,<NA>,out_invoice,<NA>,...,7856,"Tornillo C/Hexagonal 1/4* 2 1/2"" C#59 *5244*",5244,126,250.00,3.60,0.00,900.00,1 days 17:31:47,250.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                             166
order_id                                                            107
order_name                                             P00096 (B 83302)
order_date                                          2024-01-09 15:46:20
partner_id                                                         5290
partner_name                               Maria Reyna Navarrete Cortez
product_id_pp                                                     13371
product_name            [12749] Triplay Pino 1/4  4'*8'  1/Cara *12749*
product_qty                                                        9.00
product_price                                                    272.87
oficial                                                           False
partner_fact_ref                                                B 83302
partner_fact_date                                                   NaT
capturista                                                         <NA>
vendedora                                          Irma Carvajal Flores
tolerance_order_date                                2024-01-04 00:00:00
Name: 13319, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,1992,3378,F1-VS/2024/00080,2024-01-08,posted,S00085,Ventas,<NA>,out_invoice,<NA>,...,13371,Triplay Pino 1/4 4'*8' 1/Cara *12749*,12749,00MAD,5.00,409.31,0.00,"2,046.55",1 days 15:46:20,5.00
1,3668,5978,F1-VS/2024/00153,2024-01-12,posted,S00241,Ventas,<NA>,out_invoice,<NA>,...,13371,Triplay Pino 1/4 4'*8' 1/Cara *12749*,12749,00MAD,2.00,409.31,0.00,818.62,2 days 08:13:40,7.00
2,1561,2874,F1-VS/2024/00047,2024-01-06,posted,S00875,Ventas,<NA>,out_invoice,<NA>,...,13371,Triplay Pino 1/4 4'*8' 1/Cara *12749*,12749,00MAD,4.00,409.31,0.00,"1,637.24",3 days 15:46:20,11.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                               139
order_id                                                               92
order_name                                              P00081 (C 259719)
order_date                                            2024-01-08 23:29:22
partner_id                                                           5321
partner_name                                            El Gran Tlapalero
product_id_pp                                                       27184
product_name            [25631] Carret. P/Riel Corre 2181300NI Pz *25631*
product_qty                                                         10.00
product_price                                                       15.50
oficial                                                             False
partner_fact_ref                                                 C 259719
partner_fact_date                                                     NaT
capturista                                                           <NA>
vendedora                                         Brenda Luz Acosta Lopez
tolerance_order_date                                  2024-01-03 00:00:00
Name: 13349, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,5528,8850,F2-VS/2024/00132,2024-01-18,posted,S02636,Ventas,<NA>,out_invoice,<NA>,...,27184,Carret. P/Riel Corre 2181300NI Pz *25631*,25631,000CE,10.00,29.00,0.00,290.00,9 days 00:30:38,10.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                               135
order_id                                                               91
order_name                                              P00080 (C 259462)
order_date                                            2024-01-08 23:24:24
partner_id                                                           5321
partner_name                                            El Gran Tlapalero
product_id_pp                                                       13552
product_name            [2489] Chapa Ph P/Perfil Alum #550-AN #585 CE ...
product_qty                                                          5.00
product_price                                                      327.47
oficial                                                             False
partner_fact_ref                                                 C 259462
partner_fact_date                                                     NaT
capturista                                                           <NA>
vendedora                                         Brenda Luz Acosta Lopez
tolerance_order_date                                  2024-01-03 00:00:00
Name: 13352, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,6260,9853,F2-VS/2024/00149,2024-01-19,posted,S02036,Ventas,<NA>,out_invoice,<NA>,...,13552,Chapa Ph P/Perfil Alum #550-AN #585 CE *2489*,2489,000CE,4.00,530.92,0.00,"2,123.68",10 days 00:35:36,4.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                           132
order_id                                                           89
order_name                                           P00078 (B 83278)
order_date                                        2024-01-08 22:19:12
partner_id                                                       5290
partner_name                             Maria Reyna Navarrete Cortez
product_id_pp                                                   13811
product_name            [3651] Triplay Pino 1/2  4'*8'  1/Cara *3651*
product_qty                                                      5.00
product_price                                                  443.34
oficial                                                         False
partner_fact_ref                                              B 83278
partner_fact_date                                                 NaT
capturista                                                       <NA>
vendedora                             Mayra Angelica Parada Manjarrez
tolerance_order_date                              2024-01-03 00:00:00
Name: 13356, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,1328,2498,F1-VS/2024/00038,2024-01-06,posted,S00837,Ventas,<NA>,out_invoice,<NA>,...,13811,Triplay Pino 1/2 4'*8' 1/Cara *3651*,3651,00MAD,3.00,721.00,0.00,"2,163.00",2 days 22:19:12,3.00
1,580,1156,F1-VS/2024/00015,2024-01-04,posted,S00475,Ventas,<NA>,out_invoice,<NA>,...,13811,Triplay Pino 1/2 4'*8' 1/Cara *3651*,3651,00MAD,6.00,750.90,0.00,"4,505.40",4 days 22:19:12,9.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                   130
order_id                                                   88
order_name                              P00077 (IWAYYB 12428)
order_date                                2024-01-08 22:17:27
partner_id                                               5281
partner_name                         Nueva Wal Mart De Mexico
product_id_pp                                           12446
product_name            [10695] Brasso Liquido 200mls *10695*
product_qty                                              8.00
product_price                                          151.72
oficial                                                 False
partner_fact_ref                                 IWAYYB 12428
partner_fact_date                                         NaT
capturista                                               <NA>
vendedora                                Irma Carvajal Flores
tolerance_order_date                      2024-01-03 00:00:00
Name: 13357, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,1985,3376,F1-VS/2024/00078,2024-01-08,posted,S00786,Ventas,<NA>,out_invoice,<NA>,...,12446,Brasso Liquido 200mls *10695*,10695,000CE,20.00,230.00,0.00,"4,600.00",0 days 22:17:27,20.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                   129
order_id                                                   87
order_name                              P00076 (IWAJY 697677)
order_date                                2024-01-08 22:15:35
partner_id                                               5281
partner_name                         Nueva Wal Mart De Mexico
product_id_pp                                           12446
product_name            [10695] Brasso Liquido 200mls *10695*
product_qty                                             12.00
product_price                                          151.72
oficial                                                 False
partner_fact_ref                                 IWAJY 697677
partner_fact_date                                         NaT
capturista                                               <NA>
vendedora                                Irma Carvajal Flores
tolerance_order_date                      2024-01-03 00:00:00
Name: 13358, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,1985,3376,F1-VS/2024/00078,2024-01-08,posted,S00786,Ventas,<NA>,out_invoice,<NA>,...,12446,Brasso Liquido 200mls *10695*,10695,000CE,20.00,230.00,0.00,"4,600.00",0 days 22:15:35,20.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                                61
order_id                                                               47
order_name                                         P00040 (4HGFFI 172807)
order_date                                            2024-01-04 00:02:18
partner_id                                                           5387
partner_name                                            Home Depot Mexico
product_id_pp                                                       14371
product_name            [19897] Lijadora orb. 5" Dewalt Dwe6421-B3 *19...
product_qty                                                          2.00
product_price                                                    1,525.00
oficial                                                             False
partner_fact_ref                                            4HGFFI 172807
partner_fact_date                                                     NaT
capturista                                                           <NA>
vendedora                                 Mayra Angelica Parada Manjarrez
tolerance_order_date                                  2023-12-30 00:00:00
Name: 13417, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,3136,5121,F1-VS/2024/00128,2024-01-11,posted,S01568,Ventas,<NA>,out_invoice,<NA>,...,14371,"Lijadora orb. 5"" Dewalt Dwe6421-B3 *19897*",19897,000CE,2.00,"2,287.00",0.00,"4,574.00",6 days 23:57:42,2.00

C:\Users\Lic.Costich\AppData\Local\Temp\ipykernel_16288\1087168108.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lic['diff'] = abs(lic['invoice_date'] - wep_linea_compra['order_date'])

line_id                                                         58
order_id                                                        44
order_name                                       P00037 (C 259720)
order_date                                     2024-01-03 23:49:14
partner_id                                                    5321
partner_name                                     El Gran Tlapalero
product_id_pp                                                10856
product_name            [528] Tope Ph Media Luna #54-C #1464 *528*
product_qty                                                  50.00
product_price                                                53.93
oficial                                                      False
partner_fact_ref                                          C 259720
partner_fact_date                                              NaT
capturista                                                    <NA>
vendedora                                     Irma Carvajal Flores
tolerance_order_date                           2023-12-29 00:00:00
Name: 13419, dtype: object

,index,fact_doc_id,name,invoice_date,state,invoice_origin,module_origin,pos_doc_id,move_type,reversal_move_id,...,product_id,product_name,prod_codigo,prod_linea,quantity,price_unit,discount,price_subtotal,diff,cumsum
0,849,1579,F1-VS/2024/00028,2024-01-05,posted,S00387,Ventas,<NA>,out_invoice,<NA>,...,10856,Tope Ph Media Luna #54-C #1464 *528*,528,00ASS,125.00,81.36,0.00,"10,170.00",1 days 00:10:46,125.00
1,2350,3911,F1-VS/2024/00095,2024-01-09,posted,S00880,Ventas,<NA>,out_invoice,<NA>,...,10856,Tope Ph Media Luna #54-C #1464 *528*,528,00ASS,100.00,81.36,0.00,"8,136.00",5 days 00:10:46,225.00

In [36]:
wep_muchas

[18776,
 18337,
 17567,
 17063,
 17057,
 16842,
 16538,
 15320,
 15244,
 14651,
 13714,
 13671,
 13595,
 13592,
 12263,
 11569,
 11557,
 11550,
 11529,
 11468,
 11412,
 11015,
 11016,
 11012,
 10995,
 10933,
 10882,
 10477,
 10202,
 10200,
 10201,
 10196,
 10139,
 9901,
 9814,
 9343,
 8815,
 8813,
 8606,
 8030,
 7993,
 7946,
 7909,
 7674,
 7655,
 7295,
 7294,
 7194,
 7187,
 7188,
 6885,
 6879,
 5728,
 5558,
 5554,
 5019,
 4931,
 4717,
 4111,
 3940,
 3871,
 3868,
 3812,
 3814,
 3815,
 3870,
 3803,
 3453,
 2877,
 2359,
 2360,
 2090,
 2088,
 1903,
 1829,
 1652,
 1499,
 1178,
 1172,
 780,
 771,
 770,
 665,
 666,
 591,
 543,
 534,
 530,
 422,
 401,
 396,
 246,
 229,
 222,
 223,
 205,
 166,
 132,
 58]

In [24]:
match_2do_compras_faltantes = compras_fase_B.loc[
                                    (~compras_fase_B['line_id'].isin(match_1ro_compras_ok['line_id'])) 
                                    & (~compras_fase_B['line_id'].isin(match_2do_compras_ok['line_id']))
                                ]
match_2do_ventas_faltantes = ventas_fase_B.loc[
                                    (~ventas_fase_B['fact_line_id'].isin(match_1ro_compras_ok['fact_line_id'])) 
                                    & (~ventas_fase_B['fact_line_id'].isin(match_2do_compras_ok['fact_line_id']))
                                ]

print(f'Son un total de {len(compras_fase_B)} líneas de compra en la fase B.')

print(f'   En el 1er match se emparejaron {len(match_1ro_compras_ok)} de ellas {len(match_1ro_compras_ok)/len(compras_fase_B)*100:.2f}%')
print(f'   En el 2do match se emparejaron {len(match_2do_compras_ok)} de ellas {len(match_2do_compras_ok)/len(compras_fase_B)*100:.2f}%')
print(f'   Quedan por emparejar {len(match_2do_compras_faltantes)} de líneas {len(match_2do_compras_faltantes)/len(compras_fase_B)*100:.2f}%')

Son un total de 1479 líneas de compra en la fase B.
   En el 1er match se emparejaron 754 de ellas 50.98%
   En el 2do match se emparejaron 60 de ellas 4.06%
   Quedan por emparejar 665 de líneas 44.96%

In [25]:
# For para dar tratamiento a las líneas de compra que tuvieron tuvieron match con una misma línea de venta
wep_vacias = []

ids_ventas_a_descontar = []
lista_ventas_merged = []

for i in range(len(match_2do_compras_faltantes)):

    linea_compra = match_2do_compras_faltantes.iloc[i]

    mini_df = match_2do_ventas_faltantes.loc[
                ~(match_2do_ventas_faltantes['fact_line_id'].isin(ids_ventas_a_descontar))
                & (match_2do_ventas_faltantes['product_id'] == linea_compra['product_id_pp'])
                & (match_2do_ventas_faltantes['quantity'] == linea_compra['product_qty'])
                & (match_2do_ventas_faltantes['invoice_date'] >= linea_compra['order_date'] - pd.Timedelta(days=5))
                & (match_2do_ventas_faltantes['invoice_date'] <= linea_compra['order_date'] + pd.Timedelta(days=10))
            ]

# Línea para quitar del siguiente mini_df de ventas
    if len(mini_df) == 1:
        venta = mini_df['fact_line_id'].iloc[0]
        compra = linea_compra['line_id']
        
        ids_ventas_a_descontar.append(venta)
        lista_ventas_merged.append([venta, compra])

    if len(mini_df) > 1:
        mini_df_varios = mini_df.copy()
        mini_df_varios['diff'] = abs(mini_df_varios['invoice_date'] - linea_compra['order_date'])
        venta = mini_df_varios.sort_values('diff')['fact_line_id'].iloc[0]
        compra = linea_compra['line_id']

        ids_ventas_a_descontar.append(venta)
        lista_ventas_merged.append([venta, compra])

    if mini_df.empty:
        wep_vacias.append(linea_compra['line_id'])

print(len(wep_vacias), 'wep_vacias')

match_3ro_compras_ok = pd.DataFrame(lista_ventas_merged, columns=['fact_line_id', 'line_id'])
print(len(match_3ro_compras_ok), 'merchadas')

597 wep_vacias
68 merchadas

In [26]:
match_3ro_compras_faltantes = compras_fase_B.loc[
                                (~compras_fase_B['line_id'].isin(match_1ro_compras_ok['line_id']))
                                & (~compras_fase_B['line_id'].isin(match_2do_compras_ok['line_id']))
                                & (~compras_fase_B['line_id'].isin(match_3ro_compras_ok['line_id']))
                            ]
match_3ro_ventas_faltantes = ventas_fase_B.loc[
                                (~ventas_fase_B['fact_line_id'].isin(match_1ro_compras_ok['fact_line_id'])) 
                                & (~ventas_fase_B['fact_line_id'].isin(match_2do_compras_ok['fact_line_id']))
                                & (~ventas_fase_B['fact_line_id'].isin(match_3ro_compras_ok['fact_line_id']))
                            ]

print(f'Son un total de {len(compras_fase_B)} líneas de compra en la fase B.')

print(f'   En el 1er match se emparejaron {len(match_1ro_compras_ok)} de ellas {len(match_1ro_compras_ok)/len(compras_fase_B)*100:.2f}%')
print(f'   En el 2do match se emparejaron {len(match_2do_compras_ok)} de ellas {len(match_2do_compras_ok)/len(compras_fase_B)*100:.2f}%')
print(f'   En el 3ro match se emparejaron {len(match_3ro_compras_ok)} de ellas {len(match_3ro_compras_ok)/len(compras_fase_B)*100:.2f}%')
print(f'   Quedan por emparejar {len(match_3ro_compras_faltantes)} de líneas {len(match_3ro_compras_faltantes)/len(compras_fase_B)*100:.2f}%')

Son un total de 1479 líneas de compra en la fase B.
   En el 1er match se emparejaron 754 de ellas 50.98%
   En el 2do match se emparejaron 60 de ellas 4.06%
   En el 3ro match se emparejaron 68 de ellas 4.60%
   Quedan por emparejar 597 de líneas 40.37%

In [27]:
lista_capturistas = [
         'Elsa Ivette Diaz Leyva',
         'Alexa Yadira Mazariegos Zunun',
         'Dulce Guadalupe Pedroza Valenzuela',
         'Mariana Araceli Carvajal Flores',
         'Rosario Martinez Zarate',
      ]

match_3ro_compras_faltantes.loc[~match_3ro_compras_faltantes['vendedora'].isin(lista_capturistas)]

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_price,oficial,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
3,20858,3397,P03381 (B 87614),2024-07-10 00:25:12,5290,Maria Reyna Navarrete Cortez,13811,[3651] Triplay Pino 1/2 4'*8' 1/Cara *3651*,20.00,478.69,False,B 87614,2024-07-09,Alexa Yadira Mazariegos Zunun,Mayra Angelica Parada Manjarrez,2024-07-05
6,20853,3393,P03377 (2000005991981511),2024-07-09 23:14:09,5128,Mercado Libre,12805,[11448] Base P/Lijadora Dewalt #N329079 *11448*,10.00,151.04,False,2000005991981511,NaT,Elsa Ivette Diaz Leyva,Mayra Angelica Parada Manjarrez,2024-07-04
78,20467,3367,P03352 (MPIFCO 13856),2024-07-08 19:36:22,5296,Madereria Pichonchas,14772,[16313] Pegamento Titebond Verde1L *16313*,2.00,245.69,False,MPIFCO 13856,2024-07-08,Alexa Yadira Mazariegos Zunun,Irma Carvajal Flores,2024-07-03
82,20463,3362,P03347 (PA 68059),2024-07-08 19:31:36,5335,Casa Myers,28253,[11508] Detector Tipo Lapiz 1AC-A1-II Mca Fluk...,1.00,870.49,False,PA 68059,2024-07-02,Alexa Yadira Mazariegos Zunun,Irma Carvajal Flores,2024-07-03
83,20464,3362,P03347 (PA 68059),2024-07-08 19:31:36,5335,Casa Myers,27388,[24732] Kit 14 Brocas Milwaukee 48-89-2800 *24...,1.00,405.47,False,PA 68059,2024-07-02,Alexa Yadira Mazariegos Zunun,Irma Carvajal Flores,2024-07-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13352,135,91,P00080 (C 259462),2024-01-08 23:24:24,5321,El Gran Tlapalero,13552,[2489] Chapa Ph P/Perfil Alum #550-AN #585 CE ...,5.00,327.47,False,C 259462,NaT,<NA>,Brenda Luz Acosta Lopez,2024-01-03
13356,132,89,P00078 (B 83278),2024-01-08 22:19:12,5290,Maria Reyna Navarrete Cortez,13811,[3651] Triplay Pino 1/2 4'*8' 1/Cara *3651*,5.00,443.34,False,B 83278,NaT,<NA>,Mayra Angelica Parada Manjarrez,2024-01-03
13357,130,88,P00077 (IWAYYB 12428),2024-01-08 22:17:27,5281,Nueva Wal Mart De Mexico,12446,[10695] Brasso Liquido 200mls *10695*,8.00,151.72,False,IWAYYB 12428,NaT,<NA>,Irma Carvajal Flores,2024-01-03
13358,129,87,P00076 (IWAJY 697677),2024-01-08 22:15:35,5281,Nueva Wal Mart De Mexico,12446,[10695] Brasso Liquido 200mls *10695*,12.00,151.72,False,IWAJY 697677,NaT,<NA>,Irma Carvajal Flores,2024-01-03
13419,58,44,P00037 (C 259720),2024-01-03 23:49:14,5321,El Gran Tlapalero,10856,[528] Tope Ph Media Luna #54-C #1464 *528*,50.00,53.93,False,C 259720,NaT,<NA>,Irma Carvajal Flores,2023-12-29

In [28]:
match_fase_B = pd.concat([match_1ro_compras_ok, match_2do_compras_ok, match_3ro_compras_ok]).rename(columns={'fact_line_id': 'fact_line_id_match','line_id': 'line_id_match' })

costo_venta_fase_B = (
    match_fase_B.merge(
        ventas_fase_B,
        how='left',
        left_on='fact_line_id_match',
        right_on='fact_line_id'
    ).merge(
        compras_fase_B,
        how='left',
        left_on='line_id_match',
        right_on='line_id'
    )
)

costo_venta_fase_B.drop(columns=['fact_line_id_match', 'line_id_match'], inplace=True)

In [29]:
ventas_merged = pd.concat([costo_venta_fase_A, costo_venta_fase_B])

In [30]:
# desktop_path = Path.home().joinpath('desktop')
# archivo_path = desktop_path.joinpath('lineas_faltantes_costo_ventas' + '.xlsx')

# writer = pd.ExcelWriter(archivo_path, engine="openpyxl")

# match_3ro_compras_faltantes.to_excel(writer, sheet_name='comp_falt')
# match_3ro_ventas_faltantes.to_excel(writer, sheet_name='vent_falt')
# ventas_merged.to_excel(writer, sheet_name='vent_merged')
# ventas_año.to_excel(writer, sheet_name='total_ventas')

# writer.close()
# writer.handles = None

# No seguir  
Se ocupa terminar el costo de ventas: estas líneas son para obtener la "Utilidad" y el "Margen de Contribución".

In [31]:
# #Borrar esta línea, es provisional. Se tienen que corregir usando pd.NaN

# for i in range(len(ventas_año['price_subtotal'])):
#     ventas_año['price_subtotal'].iloc[i] = 0.01 if ventas_año['price_subtotal'].iloc[i] == 0 else ventas_año['price_subtotal'].iloc[i]

In [32]:
# ventas_año['costo_date_dif'] = ((ventas_año['invoice_date'] - ventas_año['costo_order_date']).dt.days).astype('Int64')
# ventas_año['costo_subtotal'] = ventas_año['quantity'] * ventas_año['costo_producto']
# ventas_año['utilidad_subtotal'] = ventas_año['price_subtotal'] - ventas_año['costo_subtotal']
# ventas_año['utilidad_%'] = ((ventas_año['price_subtotal'] / ventas_año['costo_subtotal']) - 1) * 100
# ventas_año['marg_util_%'] = (ventas_año['utilidad_subtotal'] / ventas_año['price_subtotal']) * 100


# cols_ventas = ['fact_doc_id', 'name', 'invoice_date', 'partner_id',
#        'partner_name', 'salesperson_id', 'salesperson_name', 'sale_team_description', 'business_model',
#        'product_id', 'product_name', 'quantity', 'price_subtotal',
#        'costo_subtotal', 'costo_order_date', 'costo_order_line_id',
#        'costo_date_dif', 'utilidad_subtotal', 'utilidad_%', 'marg_util_%', 'costo_producto']

# ventas = ventas_año[cols_ventas]