In [1]:
import os
from pathlib import Path
import xmlrpc.client
import pandas as pd
from sqlalchemy import create_engine

In [2]:
def api_params_func(test_db: bool = False) -> dict:

    api_url = os.environ.get('ODOO_URL_API')
    api_db = os.environ.get('ODOO_DB_API')
    api_test_db = os.environ.get('ODOO_DB_PRUEBA_API')
    api_username = os.environ.get('ODOO_USERNAME_API')
    api_clave = os.environ.get('ODOO_CLAVE_API')


    api_params = {}
    if test_db:
        api_params['api_db'] = api_test_db
    else:
        api_params['api_db'] = api_db


    common = xmlrpc.client.ServerProxy(f'{api_url}/xmlrpc/2/common')
    uid = common.authenticate(api_params['api_db'], api_username, api_clave, {})
    models = xmlrpc.client.ServerProxy(f'{api_url}/xmlrpc/2/object')


    api_params['api_clave'] = api_clave
    api_params['api_uid'] = uid
    api_params['api_models'] = models

    return api_params

In [3]:
def search_costo_ventas_func(mes: int, tolerance: list) -> list[str]:
    
    if type(mes) != int or mes < 1 or mes > 12:
        raise Exception (f'El mes es incorrecto. El párametro "mes" debe ser un número entero entre 1 y 12. Escribiste: {mes}')
    
    if type(tolerance) != list or len(tolerance) != 2:
        raise Exception (f'La tolerancia debe ser una lista de sólo dos elementos')

    if type(tolerance[0]) != int or type(tolerance[1]) != int:
        raise Exception (f'Los elementos de la lista de tolerancia deben ser sólo números tipo enteros')
    
    param_dia_hr_ini = pd.Timestamp(2024, mes, 1) + pd.Timedelta(hours=7)
    param_dia_hr_fin = pd.Timestamp(2024, mes+1, 1) + pd.Timedelta(hours=7) - pd.Timedelta(seconds= 1)
    
    param_dia_hr_ini_tolerance = param_dia_hr_ini - pd.Timedelta(days = tolerance[0])
    param_dia_hr_fin_tolerance = param_dia_hr_fin + pd.Timedelta(days = tolerance[1])
    
    search_costo_ventas = [
        "&", "&",
            ("state", "in", ["purchase", "done"]),
            ("date_approve", ">=", param_dia_hr_ini_tolerance.strftime('%Y-%m-%d %H:%M:%S')),
            ("date_approve", "<=", param_dia_hr_fin_tolerance.strftime('%Y-%m-%d %H:%M:%S')),
        ]

    return search_costo_ventas

In [4]:
def mes_to_string_func(mes: int) -> str:
    
    if type(mes) != int or mes < 1 or mes > 12:
        raise Exception (f'El mes es incorrecto. El párametro "mes" debe ser un número entero entre 1 y 12. Escribiste: {mes}')
    
    match mes:
        case 1:
            mes_to_string = 'enero'
        case 2:
            mes_to_string = 'febrero'
        case 3:
            mes_to_string = 'marzo'
        case 4:
            mes_to_string = 'abril'
        case 5:
            mes_to_string = 'mayo'
        case 6:
            mes_to_string = 'junio'
        case 7:
            mes_to_string = 'julio'
        case 8:
            mes_to_string = 'agosto'
        case 9:
            mes_to_string = 'septiembre'
        case 10:
            mes_to_string = 'octubre'
        case 11:
            mes_to_string = 'noviembre'
        case 12:
            mes_to_string = 'diciembre'

    return mes_to_string

In [5]:
def get_dfs_from_database(db_mode: str, mes_to_string:str, tolerance:list) -> list[pd.DataFrame]:
    
    if db_mode.lower() == 'local':
    
        db_file_path_str = str(Path().cwd().parent.parent.joinpath(f'data/comisiones.db'))
        engine = create_engine(f'sqlite:///{db_file_path_str}')

        with engine.connect() as conn, conn.begin():
            ventas = pd.read_sql_table(f'ventas_{mes_to_string}', conn, dtype_backend='numpy_nullable')
            try:
                ultimo_costo = pd.read_sql_table(f'ultimo_costo_{mes_to_string}', conn, dtype_backend='numpy_nullable')
                ultimo_costo['tolerance_order_date'] = ultimo_costo['order_date'].dt.normalize() - pd.Timedelta(days=tolerance[1])
            except:
                ultimo_costo = None

        engine.dispose()
    

    elif db_mode.lower() != 'local':
        raise Exception (f'Sólo existe la base de datos "Local"')


    return ventas, ultimo_costo

In [6]:
def _get_df_from_excel(file_name:str, file_location:str) -> pd.DataFrame:

    file_path_str = str(Path().cwd().parent.parent.joinpath(f'data/{file_location}/{file_name}'))
    df = pd.read_excel(file_path_str, dtype_backend='numpy_nullable')

    return df

In [7]:
def prov_locales_df_from_excel() -> list[pd.DataFrame]:
    
    file_name = 'proveedores_oficiales.xlsx'
    file_location = 'compras'

    df = _get_df_from_excel(file_name, file_location)

    prov_oficiales = df.loc[df['oficial'] == 1][['partner_id', 'partner_name']]
    prov_locales = df.loc[df['oficial'] == 0][['partner_id', 'partner_name']]

    return prov_oficiales, prov_locales

In [8]:
def ultimo_costo_sae_df_from_excel(tolerance:list) -> list[pd.DataFrame]:
    
    file_name = 'ultimo_costo_sae.xlsx'
    file_location = 'costo_ventas'

    df = _get_df_from_excel(file_name, file_location)

    df['tolerance_order_date'] = df['order_date'].dt.normalize() - pd.Timedelta(days=tolerance[1])

    return df

In [9]:
def calificados_fase_c_df_from_excel() -> list[pd.DataFrame]:

    file_name = 'calificados_fase_c.xlsx'
    file_location = 'costo_ventas'

    df = _get_df_from_excel(file_name, file_location)

    # Check que verifica que todas las líneas de compra estén calificadas
    if pd.NA in df['calificacion'].unique():
        print('¡Cuidado!, tienes líneas de compras "line_id" sin calificar')
        return None
    
    df['calificacion'] = df['calificacion'].str.upper()
    calificados_fase_c_OK = df.loc[df['calificacion'] == 'OK'] # Líneas 'line_id' que tienen un match con 'fact_line_id'
    calificados_fase_c_B = df.loc[df['calificacion'] == 'B'] # Líneas para regresar a la fase B y que el algoritmo las catalogue.
    calificados_fase_c_C = df.loc[df['calificacion'] == 'C'] # Líneas para regresar a la fase C y que el humano las catalogue.
    calificados_fase_c_D = df.loc[df['calificacion'] == 'D'] # Líneas para que el algoritmo fase D (final) las catalogue.
    calificados_fase_c_E = df.loc[df['calificacion'] == 'E'] # Líneas para eliminar, la observación tiene el por qué.


    return calificados_fase_c_OK, calificados_fase_c_B, calificados_fase_c_C, calificados_fase_c_D, calificados_fase_c_E

In [10]:
def api_call_purchase_doc_func(api_params: dict, search_costo_ventas: list[str] ) -> list[int, dict]:
    
    api_db = api_params['api_db']
    api_clave = api_params['api_clave']
    uid = api_params['api_uid']
    models = api_params['api_models']

    purchase_doc_fields = [
                    'name',
                    'state',
                    'partner_id',
                    'partner_ref',
                    'date_approve',
                    'x_fecha_factura',
                    'user_id',
                    'create_uid'
                    ]

    purchase_doc_ids = models.execute_kw(api_db, uid, api_clave, 'purchase.order', 'search', [search_costo_ventas])
    purchase_doc_json = models.execute_kw(api_db, uid, api_clave, 'purchase.order', 'read', [purchase_doc_ids], {'fields': purchase_doc_fields})
    
    return purchase_doc_ids, purchase_doc_json

In [11]:
def purchase_doc_func(purchase_doc_json: list[dict], prov_oficiales:pd.DataFrame) -> pd.DataFrame:

    purchase_doc_data = []

    for compra in purchase_doc_json:
        new = {}
        new['order_id'] = compra['id']
        new['order_name'] = compra['name']
        new['order_state'] = compra['state']
        new['order_date'] = compra['date_approve'] if compra['date_approve'] else pd.NA
        new['partner_id'] = compra['partner_id'][0]
        new['partner_name'] = compra['partner_id'][1]
        new['partner_fact_ref'] = compra['partner_ref']
        new['partner_fact_date'] = compra['x_fecha_factura'] if compra['x_fecha_factura'] else pd.NA
        new['capturista'] = compra['create_uid'][1] if compra['create_uid'] else pd.NA
        new['vendedora'] = compra['user_id'][1] if compra['user_id'] else pd.NA

        purchase_doc_data.append(new)

    compras_doc = pd.DataFrame(purchase_doc_data)
    compras_doc['order_date'] = pd.to_datetime(compras_doc['order_date'], format='%Y-%m-%d %H:%M:%S')
    compras_doc['partner_fact_date'] = pd.to_datetime(compras_doc['partner_fact_date'], format='%Y-%m-%d')
    compras_doc['oficial'] = compras_doc['partner_id'].isin(prov_oficiales['partner_id'])

    return compras_doc

In [12]:
def api_call_purchase_line_func(api_params: dict, purchase_doc_ids: list[int]) -> list[dict]:
    
    api_db = api_params['api_db']
    api_clave = api_params['api_clave']
    uid = api_params['api_uid']
    models = api_params['api_models']

    purchase_line_fields = [
                        'order_id',
                        'date_approve',
                        'partner_id',
                        'product_id',
                        'product_qty',
                        'price_unit_discounted'
                        ]

    purchase_line_ids = models.execute_kw(api_db, uid, api_clave, 'purchase.order.line', 'search', [[("order_id.id", "in", purchase_doc_ids)]])
    purchase_line_json = models.execute_kw(api_db, uid, api_clave, 'purchase.order.line', 'read', [purchase_line_ids], {'fields': purchase_line_fields})
    
    return purchase_line_json

In [13]:
def purchase_line_func(purchase_line_json: list[dict]) -> pd.DataFrame:
    
    purchase_line_data = []

    for line in purchase_line_json:
        new = {}
        new['line_id'] = line['id']
        new['order_id'] = line['order_id'][0]
        new['order_name'] = line['order_id'][1]
        new['order_date'] = line['date_approve'] if line['date_approve'] else pd.NA
        new['partner_id'] = line['partner_id'][0]
        new['partner_name'] = line['partner_id'][1]
        new['product_id_pp'] = line['product_id'][0]
        new['product_name'] = line['product_id'][1]
        new['product_qty'] = line['product_qty']
        new['product_cost'] = line['price_unit_discounted']
        
        purchase_line_data.append(new)

    compras_line = pd.DataFrame(purchase_line_data)
    compras_line['order_date'] = pd.to_datetime(compras_line['order_date'], format='%Y-%m-%d %H:%M:%S')

    return compras_line

In [14]:
def compras_func(compras_doc:pd.DataFrame, compras_line:pd.DataFrame, ultimo_costo:pd.DataFrame, tolerance) -> pd.DataFrame:
    
    compras_odoo = pd.merge(
                    compras_line,
                    compras_doc[['order_id', 'partner_fact_ref', 'partner_fact_date', 'capturista', 'vendedora']], 
                    how='left', 
                    on='order_id'
                )

    compras_odoo['tolerance_order_date'] = compras_odoo['order_date'].dt.normalize() - pd.Timedelta(days=tolerance[1])

    cols_to_Int64 = ['line_id', 'order_id', 'partner_id', 'product_id_pp']
    compras_odoo[cols_to_Int64] = compras_odoo[cols_to_Int64].astype('Int64')

    compras_odoo['product_qty'] = compras_odoo['product_qty'].astype('Float64')
    compras_odoo['vendedora'] = compras_odoo['vendedora'].convert_dtypes()

    compras = pd.concat([compras_odoo, ultimo_costo])

    return compras, compras_odoo

# Pruebas

In [90]:
mes = 1
tolerance = [3, 3]

api_params = api_params_func()
search_costo_ventas = search_costo_ventas_func(mes, tolerance)
mes_to_string = mes_to_string_func(mes)

ventas, ultimo_costo = get_dfs_from_database('local', mes_to_string, tolerance)

prov_oficiales, prov_locales = prov_locales_df_from_excel()

if not ultimo_costo:
    ultimo_costo = ultimo_costo_sae_df_from_excel(tolerance)
calificados_fase_c_OK, calificados_fase_c_B, calificados_fase_c_C, calificados_fase_c_D, calificados_fase_c_E = calificados_fase_c_df_from_excel()

purchase_doc_ids, purchase_doc_json = api_call_purchase_doc_func(api_params, search_costo_ventas)
purchase_line_json = api_call_purchase_line_func(api_params, purchase_doc_ids)

compras_doc = purchase_doc_func(purchase_doc_json, prov_oficiales)
compras_line = purchase_line_func(purchase_line_json)
compras, compras_odoo = compras_func(compras_doc, compras_line, ultimo_costo, tolerance)

In [89]:
lista_capturistas = [
       'Elsa Ivette Diaz Leyva',
       'Alexa Yadira Mazariegos Zunun',
       'Dulce Guadalupe Pedroza Valenzuela',
       'Mariana Araceli Carvajal Flores',
       'Rosario Martinez Zarate'
]

cols_vent = ['fact_doc_id', 'name', 'invoice_date', 'fact_line_id', 'quantity', 'price_unit', 'salesperson_name', 'product_id', 'product_name']

cols_costo_venta = ['fact_doc_id', 'name', 'invoice_date', 'fact_line_id', 'quantity', 'product_id', 'price_unit', 'discount', 
       'line_id', 'order_name', 'order_date', 'partner_name_y', 'product_id_pp', 'product_name_y', 'product_qty',
       'product_cost']

cols_match = [ 
       'line_id', 'order_name', 'order_date', 'partner_fact_date', 'partner_name_y', 'product_id_pp', 'product_name_y', 'product_qty',
       'product_cost', 'vendedora',
       'fact_doc_id', 'name', 'invoice_date', 'fact_line_id', 'quantity', 'salesperson_name', 'product_id', 'product_name_x', 'price_unit', 'discount',]

In [92]:
compras_especiales = compras_odoo.loc[
                ~compras_odoo['vendedora'].isin(lista_capturistas)
                ]

wep = compras_especiales['product_id_pp'].unique()

In [93]:
for prod in wep:
    print(f'    ---> Código a explorar {prod}')
    display(ventas.loc[ventas['product_id'] == prod, cols_vent])
    display(compras_especiales.loc[compras_especiales['product_id_pp'] == prod])
    print('\n\n\n')

    ---> Código a explorar 28532

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
9879,15861,F2-VS/2024/00223,2024-01-30,60121,1.0,18980.0,Brenda Luz Acosta Lopez,28532,Conquest 1 Lt (Caja c/12 pz) *1826*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
0,2049,556,P00545 (MXQUIMI0 121742),2024-02-03 18:39:55,5297,Quimica Mexicana Industrial,28532,[1826] Conquest 1 Lt (Caja c/12 pz) *1826*,5.0,11734.20,MXQUIMI0 121742,NaT,Gretel Gómez Alcázar,Brenda Luz Acosta Lopez,2024-01-31
276,1689,484,P00473 (MXQUIMI 0121565),2024-01-31 00:22:58,5297,Quimica Mexicana Industrial,28532,[1826] Conquest 1 Lt (Caja c/12 pz) *1826*,1.0,12486.65,MXQUIMI 0121565,NaT,<NA>,Brenda Luz Acosta Lopez,2024-01-28

    ---> Código a explorar 14038

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
1563,2874,F1-VS/2024/00047,2024-01-06,10436,2.0,889.0,Irma Carvajal Flores,14038,Triplay Caoba 1/2 4'*8' *40125*
2311,3871,F2-VS/2024/00048,2024-01-09,14098,4.0,1233.23,Brenda Luz Acosta Lopez,14038,Triplay Caoba 1/2 4'*8' *40125*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
1,2042,554,P00543 (B 83822),2024-02-03 00:47:16,5290,Maria Reyna Navarrete Cortez,14038,[40125] Triplay Caoba 1/2 4'*8' *40125*,2.0,613.55,B 83822,NaT,<NA>,Irma Carvajal Flores,2024-01-31
1662,220,126,P00115 (SJCFCO 587),2024-01-10 00:31:11,5326,Madereria El Pino De Los Cabos,14038,[40125] Triplay Caoba 1/2 4'*8' *40125*,4.0,668.10,SJCFCO 587,NaT,<NA>,Brenda Luz Acosta Lopez,2024-01-07
1711,168,107,P00096 (B 83302),2024-01-09 15:46:20,5290,Maria Reyna Navarrete Cortez,14038,[40125] Triplay Caoba 1/2 4'*8' *40125*,2.0,613.55,B 83302,NaT,<NA>,Irma Carvajal Flores,2024-01-06

    ---> Código a explorar 14173

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
1564,2874,F1-VS/2024/00047,2024-01-06,10437,2.0,1331.0,Irma Carvajal Flores,14173,Triplay Caoba 3/4 4'*8' *3661*
2313,3871,F2-VS/2024/00048,2024-01-09,14100,1.0,1599.0,Brenda Luz Acosta Lopez,14173,Triplay Caoba 3/4 4'*8' *3661*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
2,2043,554,P00543 (B 83822),2024-02-03 00:47:16,5290,Maria Reyna Navarrete Cortez,14173,[3661] Triplay Caoba 3/4 4'*8' *3661*,2.0,746.93,B 83822,NaT,<NA>,Irma Carvajal Flores,2024-01-31
1661,219,126,P00115 (SJCFCO 587),2024-01-10 00:31:11,5326,Madereria El Pino De Los Cabos,14173,[3661] Triplay Caoba 3/4 4'*8' *3661*,1.0,918.10,SJCFCO 587,NaT,<NA>,Brenda Luz Acosta Lopez,2024-01-07
1712,169,107,P00096 (B 83302),2024-01-09 15:46:20,5290,Maria Reyna Navarrete Cortez,14173,[3661] Triplay Caoba 3/4 4'*8' *3661*,2.0,746.93,B 83302,NaT,<NA>,Irma Carvajal Flores,2024-01-06

    ---> Código a explorar 13454

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
1562,2874,F1-VS/2024/00047,2024-01-06,10435,2.0,428.0,Irma Carvajal Flores,13454,Triplay Caoba 1/4 4'*8' *3711*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
3,2044,554,P00543 (B 83822),2024-02-03 00:47:16,5290,Maria Reyna Navarrete Cortez,13454,[3711] Triplay Caoba 1/4 4'*8' *3711*,2.0,294.84,B 83822,NaT,<NA>,Irma Carvajal Flores,2024-01-31
1710,167,107,P00096 (B 83302),2024-01-09 15:46:20,5290,Maria Reyna Navarrete Cortez,13454,[3711] Triplay Caoba 1/4 4'*8' *3711*,2.0,294.84,B 83302,NaT,<NA>,Irma Carvajal Flores,2024-01-06

    ---> Código a explorar 13811

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
580,1156,F1-VS/2024/00015,2024-01-04,4210,6.0,750.9,Mayra Angelica Parada Manjarrez,13811,Triplay Pino 1/2 4'*8' 1/Cara *3651*
1328,2498,F1-VS/2024/00038,2024-01-06,9124,3.0,721.0,Mayra Angelica Parada Manjarrez,13811,Triplay Pino 1/2 4'*8' 1/Cara *3651*
1991,3378,F1-VS/2024/00080,2024-01-08,12396,5.0,680.0,Irma Carvajal Flores,13811,Triplay Pino 1/2 4'*8' 1/Cara *3651*
2365,3920,F1-VS/2024/00097,2024-01-09,14278,6.0,673.0,Irma Carvajal Flores,13811,Triplay Pino 1/2 4'*8' 1/Cara *3651*
3129,5113,F1-VS/2024/00127,2024-01-11,18781,6.0,711.6,Mayra Angelica Parada Manjarrez,13811,Triplay Pino 1/2 4'*8' 1/Cara *3651*
3666,5977,F1-VS/2024/00152,2024-01-12,21898,2.0,720.0,Irma Carvajal Flores,13811,Triplay Pino 1/2 4'*8' 1/Cara *3651*
4884,8003,F1-VS/2024/00191,2024-01-17,29659,20.0,640.0,Irma Carvajal Flores,13811,Triplay Pino 1/2 4'*8' 1/Cara *3651*
5236,8417,F1-VS/2024/00203,2024-01-17,31127,4.0,640.0,Irma Carvajal Flores,13811,Triplay Pino 1/2 4'*8' 1/Cara *3651*
5258,8431,F1-VS/2024/00207,2024-01-17,31188,14.0,715.0,Irma Carvajal Flores,13811,Triplay Pino 1/2 4'*8' 1/Cara *3651*
6176,9727,F1-VS/2024/00244,2024-01-19,36164,18.0,625.0,Irma Carvajal Flores,13811,Triplay Pino 1/2 4'*8' 1/Cara *3651*
7658,12085,F2-VS/2024/00185,2024-01-24,45072,4.0,620.21,Brenda Luz Acosta Lopez,13811,Triplay Pino 1/2 4'*8' 1/Cara *3651*
8316,13146,F2-VS/2024/00193,2024-01-25,49321,7.0,711.21,Brenda Luz Acosta Lopez,13811,Triplay Pino 1/2 4'*8' 1/Cara *3651*
9661,15509,F2-VS/2024/00220,2024-01-30,58565,25.0,890.0,Brenda Luz Acosta Lopez,13811,Triplay Pino 1/2 4'*8' 1/Cara *3651*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
4,2045,554,P00543 (B 83822),2024-02-03 00:47:16,5290,Maria Reyna Navarrete Cortez,13811,[3651] Triplay Pino 1/2 4'*8' 1/Cara *3651*,4.0,443.34,B 83822,NaT,<NA>,Irma Carvajal Flores,2024-01-31
313,1656,473,P00462 (SJCFCO 2507),2024-01-30 17:49:19,5326,Madereria El Pino De Los Cabos,13811,[3651] Triplay Pino 1/2 4'*8' 1/Cara *3651*,25.0,456.90,SJCFCO 2507,NaT,<NA>,Brenda Luz Acosta Lopez,2024-01-27
620,1341,402,P00391 (SJCFCO 2197),2024-01-26 00:59:19,5326,Madereria El Pino De Los Cabos,13811,[3651] Triplay Pino 1/2 4'*8' 1/Cara *3651*,7.0,456.90,SJCFCO 2197,NaT,<NA>,Brenda Luz Acosta Lopez,2024-01-23
742,1199,377,P00366 (SJCFCO 2008),2024-01-24 22:06:34,5326,Madereria El Pino De Los Cabos,13811,[3651] Triplay Pino 1/2 4'*8' 1/Cara *3651*,4.0,456.90,SJCFCO 2008,NaT,<NA>,Brenda Luz Acosta Lopez,2024-01-21
944,989,309,P00298 (B 83528),2024-01-19 22:52:52,5290,Maria Reyna Navarrete Cortez,13811,[3651] Triplay Pino 1/2 4'*8' 1/Cara *3651*,14.0,443.34,B 83528,NaT,<NA>,Irma Carvajal Flores,2024-01-16
1153,771,281,P00270 (B 83475),2024-01-18 20:20:13,5290,Maria Reyna Navarrete Cortez,13811,[3651] Triplay Pino 1/2 4'*8' 1/Cara *3651*,22.0,443.34,B 83475,NaT,<NA>,Irma Carvajal Flores,2024-01-15
1208,699,259,P00248 (B 83459),2024-01-17 20:05:46,5290,Maria Reyna Navarrete Cortez,13811,[3651] Triplay Pino 1/2 4'*8' 1/Cara *3651*,19.0,443.34,B 83459,NaT,<NA>,Mayra Angelica Parada Manjarrez,2024-01-14
1351,545,198,P00187 (B 83392),2024-01-13 00:59:38,5290,Maria Reyna Navarrete Cortez,13811,[3651] Triplay Pino 1/2 4'*8' 1/Cara *3651*,3.0,443.34,B 83392,NaT,<NA>,Mayra Angelica Parada Manjarrez,2024-01-10
1491,395,164,P00153 (MPIFCO 622),2024-01-11 23:13:19,5296,Madereria Pichonchas,13811,[3651] Triplay Pino 1/2 4'*8' 1/Cara *3651*,6.0,474.14,MPIFCO 622,NaT,<NA>,Mayra Angelica Parada Manjarrez,2024-01-08
1635,246,139,P00128 (B 83329),2024-01-10 18:50:51,5290,Maria Reyna Navarrete Cortez,13811,[3651] Triplay Pino 1/2 4'*8' 1/Cara *3651*,4.0,443.34,B 83329,NaT,<NA>,Irma Carvajal Flores,2024-01-07
1714,171,107,P00096 (B 83302),2024-01-09 15:46:20,5290,Maria Reyna Navarrete Cortez,13811,[3651] Triplay Pino 1/2 4'*8' 1/Cara *3651*,5.0,443.34,B 83302,NaT,<NA>,Irma Carvajal Flores,2024-01-06
1746,132,89,P00078 (B 83278),2024-01-08 22:19:12,5290,Maria Reyna Navarrete Cortez,13811,[3651] Triplay Pino 1/2 4'*8' 1/Cara *3651*,5.0,443.34,B 83278,NaT,<NA>,Mayra Angelica Parada Manjarrez,2024-01-05

    ---> Código a explorar 14147

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
333,722,F2-VS/2024/00002,2024-01-03,2576,20.0,969.82,Yamilet Blanco Salas,14147,Triplay Pino 3/4 4'*8' 1/Cara *3637*
823,1552,F1-VS/2024/00024,2024-01-05,5706,2.0,969.82,Mayra Angelica Parada Manjarrez,14147,Triplay Pino 3/4 4'*8' 1/Cara *3637*
1329,2498,F1-VS/2024/00038,2024-01-06,9125,4.0,969.82,Mayra Angelica Parada Manjarrez,14147,Triplay Pino 3/4 4'*8' 1/Cara *3637*
1989,3378,F1-VS/2024/00080,2024-01-08,12394,3.0,969.82,Irma Carvajal Flores,14147,Triplay Pino 3/4 4'*8' 1/Cara *3637*
1993,3378,F1-VS/2024/00080,2024-01-08,12398,3.0,969.82,Irma Carvajal Flores,14147,Triplay Pino 3/4 4'*8' 1/Cara *3637*
2185,3707,F2-VS/2024/00045,2024-01-09,13536,7.0,995.0,Brenda Luz Acosta Lopez,14147,Triplay Pino 3/4 4'*8' 1/Cara *3637*
2380,3950,F1-VS/2024/00102,2024-01-09,14372,8.0,1066.82,Mayra Angelica Parada Manjarrez,14147,Triplay Pino 3/4 4'*8' 1/Cara *3637*
3107,5101,F1-VS/2024/00124,2024-01-11,18729,45.0,1002.17,Mayra Angelica Parada Manjarrez,14147,Triplay Pino 3/4 4'*8' 1/Cara *3637*
3120,5105,F1-VS/2024/00125,2024-01-11,18752,6.0,1002.17,Mayra Angelica Parada Manjarrez,14147,Triplay Pino 3/4 4'*8' 1/Cara *3637*
3128,5112,F1-VS/2024/00126,2024-01-11,18778,2.0,1066.82,Mayra Angelica Parada Manjarrez,14147,Triplay Pino 3/4 4'*8' 1/Cara *3637*
3130,5113,F1-VS/2024/00127,2024-01-11,18782,4.0,969.85,Mayra Angelica Parada Manjarrez,14147,Triplay Pino 3/4 4'*8' 1/Cara *3637*
3617,5924,F1-VS/2024/00146,2024-01-12,21712,10.0,1330.6,Mayra Angelica Parada Manjarrez,14147,Triplay Pino 3/4 4'*8' 1/Cara *3637*
5237,8417,F1-VS/2024/00203,2024-01-17,31128,4.0,905.0,Irma Carvajal Flores,14147,Triplay Pino 3/4 4'*8' 1/Cara *3637*
5679,8995,F1-VS/2024/00228,2024-01-18,33554,3.0,982.75,Mayra Angelica Parada Manjarrez,14147,Triplay Pino 3/4 4'*8' 1/Cara *3637*
7141,11349,F2-VS/2024/00170,2024-01-23,42341,3.0,969.82,Brenda Luz Acosta Lopez,14147,Triplay Pino 3/4 4'*8' 1/Cara *3637*
9005,14342,F2-VS/2024/00205,2024-01-27,53886,6.0,969.82,Brenda Luz Acosta Lopez,14147,Triplay Pino 3/4 4'*8' 1/Cara *3637*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
5,2046,554,P00543 (B 83822),2024-02-03 00:47:16,5290,Maria Reyna Navarrete Cortez,14147,[3637] Triplay Pino 3/4 4'*8' 1/Cara *3637*,4.0,609.41,B 83822,NaT,<NA>,Irma Carvajal Flores,2024-01-31
16,2032,544,P00533 (SJCFCO 2956),2024-02-03 00:14:28,5326,Madereria El Pino De Los Cabos,14147,[3637] Triplay Pino 3/4 4'*8' 1/Cara *3637*,1.0,629.31,SJCFCO 2956,NaT,<NA>,Brenda Luz Acosta Lopez,2024-01-31
455,1510,458,P00447 (SJCFO 2428),2024-01-29 17:27:01,5326,Madereria El Pino De Los Cabos,14147,[3637] Triplay Pino 3/4 4'*8' 1/Cara *3637*,6.0,629.31,SJCFO 2428,NaT,<NA>,Brenda Luz Acosta Lopez,2024-01-26
775,1165,359,P00348 (SJCFCO 1852),2024-01-23 18:08:37,5326,Madereria El Pino De Los Cabos,14147,[3637] Triplay Pino 3/4 4'*8' 1/Cara *3637*,3.0,629.31,SJCFCO 1852,NaT,<NA>,Brenda Luz Acosta Lopez,2024-01-20
808,1130,341,P00330 (B 83501),2024-01-22 20:24:26,5290,Maria Reyna Navarrete Cortez,14147,[3637] Triplay Pino 3/4 4'*8' 1/Cara *3637*,3.0,609.41,B 83501,NaT,<NA>,Mayra Angelica Parada Manjarrez,2024-01-19
1154,772,281,P00270 (B 83475),2024-01-18 20:20:13,5290,Maria Reyna Navarrete Cortez,14147,[3637] Triplay Pino 3/4 4'*8' 1/Cara *3637*,6.0,609.41,B 83475,NaT,<NA>,Irma Carvajal Flores,2024-01-15
1328,566,212,P00201 (MPIFCO 716),2024-01-15 19:04:22,5296,Madereria Pichonchas,14147,[3637] Triplay Pino 3/4 4'*8' 1/Cara *3637*,10.0,646.55,MPIFCO 716,NaT,<NA>,Irma Carvajal Flores,2024-01-12
1470,422,180,P00169 (B 83355),2024-01-12 16:05:14,5290,Maria Reyna Navarrete Cortez,14147,[3637] Triplay Pino 3/4 4'*8' 1/Cara *3637*,6.0,544.44,B 83355,NaT,<NA>,Mayra Angelica Parada Manjarrez,2024-01-09
1490,402,165,P00154 (MPIFCO 626),2024-01-11 23:18:40,5296,Madereria Pichonchas,14147,[3637] Triplay Pino 3/4 4'*8' 1/Cara *3637*,45.0,633.62,MPIFCO 626,NaT,<NA>,Mayra Angelica Parada Manjarrez,2024-01-08
1492,396,164,P00153 (MPIFCO 622),2024-01-11 23:13:19,5296,Madereria Pichonchas,14147,[3637] Triplay Pino 3/4 4'*8' 1/Cara *3637*,6.0,646.55,MPIFCO 622,NaT,<NA>,Mayra Angelica Parada Manjarrez,2024-01-08
1657,221,127,P00116 (MPIFCO 462),2024-01-10 00:44:47,5296,Madereria Pichonchas,14147,[3637] Triplay Pino 3/4 4'*8' 1/Cara *3637*,8.0,646.55,MPIFCO 462,NaT,<NA>,Mayra Angelica Parada Manjarrez,2024-01-07
1664,216,124,P00113 (SJCFCO 549),2024-01-10 00:27:40,5326,Madereria El Pino De Los Cabos,14147,[3637] Triplay Pino 3/4 4'*8' 1/Cara *3637*,7.0,646.55,SJCFCO 549,NaT,<NA>,Brenda Luz Acosta Lopez,2024-01-07
1674,205,119,P00108 (MPIFCO 423),2024-01-09 21:12:11,5296,Madereria Pichonchas,14147,[3637] Triplay Pino 3/4 4'*8' 1/Cara *3637*,6.0,646.55,MPIFCO 423,NaT,Elsa Ivette Diaz Leyva,Irma Carvajal Flores,2024-01-06
1750,126,84,P00073 (MPIFCO 306),2024-01-08 15:43:21,5296,Madereria Pichonchas,14147,[3637] Triplay Pino 3/4 4'*8' 1/Cara *3637*,4.0,646.55,MPIFCO 306,NaT,<NA>,Mayra Angelica Parada Manjarrez,2024-01-05
1805,62,48,P00041 (MPIFCO 125),2024-01-04 00:03:53,5296,Madereria Pichonchas,14147,[3637] Triplay Pino 3/4 4'*8' 1/Cara *3637*,2.0,646.55,MPIFCO 125,NaT,<NA>,Mayra Angelica Parada Manjarrez,2024-01-01
1866,3,1,P00001 (SJCFCO 68),2024-01-03 00:05:53,5326,Madereria El Pino De Los Cabos,14147,[3637] Triplay Pino 3/4 4'*8' 1/Cara *3637*,20.0,646.55,SJCFCO 68,NaT,<NA>,Yamilet Blanco Salas,2023-12-31

    ---> Código a explorar 13371

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
1327,2498,F1-VS/2024/00038,2024-01-06,9123,5.0,409.31,Mayra Angelica Parada Manjarrez,13371,Triplay Pino 1/4 4'*8' 1/Cara *12749*
1561,2874,F1-VS/2024/00047,2024-01-06,10434,4.0,409.31,Irma Carvajal Flores,13371,Triplay Pino 1/4 4'*8' 1/Cara *12749*
1618,2994,F2-VS/2024/00024,2024-01-08,11002,10.0,390.0,Yamilet Blanco Salas,13371,Triplay Pino 1/4 4'*8' 1/Cara *12749*
1992,3378,F1-VS/2024/00080,2024-01-08,12397,5.0,409.31,Irma Carvajal Flores,13371,Triplay Pino 1/4 4'*8' 1/Cara *12749*
3210,5183,F1-VS/2024/00141,2024-01-11,19048,10.0,413.0,Mayra Angelica Parada Manjarrez,13371,Triplay Pino 1/4 4'*8' 1/Cara *12749*
3668,5978,F1-VS/2024/00153,2024-01-12,21902,2.0,409.31,Irma Carvajal Flores,13371,Triplay Pino 1/4 4'*8' 1/Cara *12749*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
6,2047,554,P00543 (B 83822),2024-02-03 00:47:16,5290,Maria Reyna Navarrete Cortez,13371,[12749] Triplay Pino 1/4 4'*8' 1/Cara *12749*,4.0,272.87,B 83822,NaT,<NA>,Irma Carvajal Flores,2024-01-31
62,1905,521,P00510 (SJCFCO 2907),2024-02-02 19:14:18,5326,Madereria El Pino De Los Cabos,13371,[12749] Triplay Pino 1/4 4'*8' 1/Cara *12749*,2.0,267.25,SJCFCO 2907,NaT,<NA>,Brenda Luz Acosta Lopez,2024-01-30
1352,546,198,P00187 (B 83392),2024-01-13 00:59:38,5290,Maria Reyna Navarrete Cortez,13371,[12749] Triplay Pino 1/4 4'*8' 1/Cara *12749*,2.0,272.87,B 83392,NaT,<NA>,Mayra Angelica Parada Manjarrez,2024-01-10
1474,419,178,P00167 (B 83374),2024-01-12 15:39:47,5290,Maria Reyna Navarrete Cortez,13371,[12749] Triplay Pino 1/4 4'*8' 1/Cara *12749*,10.0,272.87,B 83374,NaT,<NA>,Mayra Angelica Parada Manjarrez,2024-01-09
1709,166,107,P00096 (B 83302),2024-01-09 15:46:20,5290,Maria Reyna Navarrete Cortez,13371,[12749] Triplay Pino 1/4 4'*8' 1/Cara *12749*,9.0,272.87,B 83302,NaT,<NA>,Irma Carvajal Flores,2024-01-06
1745,131,89,P00078 (B 83278),2024-01-08 22:19:12,5290,Maria Reyna Navarrete Cortez,13371,[12749] Triplay Pino 1/4 4'*8' 1/Cara *12749*,5.0,272.87,B 83278,NaT,<NA>,Mayra Angelica Parada Manjarrez,2024-01-05
1863,5,2,P00002 (SJCFCO 23),2024-01-03 00:09:24,5326,Madereria El Pino De Los Cabos,13371,[12749] Triplay Pino 1/4 4'*8' 1/Cara *12749*,10.0,267.25,SJCFCO 23,NaT,<NA>,Yamilet Blanco Salas,2023-12-31

    ---> Código a explorar 13689

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
7721,12163,F1-VS/2024/00299,2024-01-24,45383,18.0,589.0,Irma Carvajal Flores,13689,Pasta Española Marfil *78936*
7894,12410,F1-VS/2024/00312,2024-01-24,46316,6.0,581.91,Irma Carvajal Flores,13689,Pasta Española Marfil *78936*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
7,2041,553,P00542 (3444),2024-02-03 00:39:31,5365,Raul Mosqueda Verdugo,13689,[78936] Pasta Española Marfil *78936*,35.0,387.94,3444,NaT,<NA>,Irma Carvajal Flores,2024-01-31
1361,534,192,P00181 (3215),2024-01-12 23:40:29,5365,Raul Mosqueda Verdugo,13689,[78936] Pasta Española Marfil *78936*,18.0,387.94,3215,NaT,<NA>,Irma Carvajal Flores,2024-01-09

    ---> Código a explorar 12552

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
1333,2500,F1-VS/2024/00040,2024-01-06,9133,6.0,480.0,Irma Carvajal Flores,12552,Bisagra P/Cristal Herralum M-1033 180° *6923*
6243,9818,F1-VS/2024/00248,2024-01-19,36469,2.0,480.0,Irma Carvajal Flores,12552,Bisagra P/Cristal Herralum M-1033 180° *6923*
7647,12060,F2-VS/2024/00184,2024-01-24,44990,10.0,382.2,Brenda Luz Acosta Lopez,12552,Bisagra P/Cristal Herralum M-1033 180° *6923*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
8,2040,552,P00541 (A 150732),2024-02-03 00:35:57,5280,DISTRIBUIDORA DE HERRAJES Y ALUMINIO DE LOS CABOS,12552,[6923] Bisagra P/Cristal Herralum M-1033 180° ...,10.0,392.25,A 150732,NaT,<NA>,Brenda Luz Acosta Lopez,2024-01-31
716,1225,384,P00373 (C 166021),2024-01-25 18:05:15,5280,DISTRIBUIDORA DE HERRAJES Y ALUMINIO DE LOS CABOS,12552,[6923] Bisagra P/Cristal Herralum M-1033 180° ...,10.0,215.52,C 166021,NaT,<NA>,Brenda Luz Acosta Lopez,2024-01-22
833,1104,328,P00317 (C 165785),2024-01-22 15:40:20,5280,DISTRIBUIDORA DE HERRAJES Y ALUMINIO DE LOS CABOS,12552,[6923] Bisagra P/Cristal Herralum M-1033 180° ...,2.0,215.52,C 165785,NaT,<NA>,Irma Carvajal Flores,2024-01-19
1775,99,64,P00057 (C 164840),2024-01-05 15:48:40,5280,DISTRIBUIDORA DE HERRAJES Y ALUMINIO DE LOS CABOS,12552,[6923] Bisagra P/Cristal Herralum M-1033 180° ...,6.0,215.52,C 164840,NaT,<NA>,Irma Carvajal Flores,2024-01-02

    ---> Código a explorar 28601

Empty DataFrame
Columns: [fact_doc_id, name, invoice_date, fact_line_id, quantity, price_unit, salesperson_name, product_id, product_name]
Index: []

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
9,2039,551,P00540 (2000005335462817D),2024-02-03 00:33:10,5128,Mercado Libre,28601,[1930] Contra Lavabo Tapon Push Sin Rebosadero...,10.0,421.55,2000005335462817D,NaT,<NA>,Patricia Flores Pantaleón,2024-01-31

    ---> Código a explorar 28602

Empty DataFrame
Columns: [fact_doc_id, name, invoice_date, fact_line_id, quantity, price_unit, salesperson_name, product_id, product_name]
Index: []

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
10,2038,550,P00539 (2000005335462817C),2024-02-03 00:31:38,5128,Mercado Libre,28602,[1935] Manguera Neon Flex Led Rollo 25M 7mm Bl...,5.0,568.1,2000005335462817C,NaT,<NA>,Patricia Flores Pantaleón,2024-01-31

    ---> Código a explorar 14764

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
1660,3052,F2-VS/2024/00027,2024-01-08,11192,10.0,746.0,Yamilet Blanco Salas,14764,Serie de 500 luces 25Mts Leds *24334*
8271,13115,F2-VS/2024/00192,2024-01-25,49196,2.0,746.0,Yamilet Blanco Salas,14764,Serie de 500 luces 25Mts Leds *24334*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
11,2037,549,P00538 (2000005305809785),2024-02-03 00:21:05,5128,Mercado Libre,14764,[24334] Serie de 500 luces 25Mts Leds *24334*,2.0,473.28,2000005305809785,NaT,<NA>,Yamilet Blanco Salas,2024-01-31
1679,201,115,P00104 (2000005246690935),2024-01-09 20:34:52,5128,Mercado Libre,14764,[24334] Serie de 500 luces 25Mts Leds *24334*,1.0,4137.93,2000005246690935,NaT,<NA>,Brenda Luz Acosta Lopez,2024-01-06

    ---> Código a explorar 28468

Empty DataFrame
Columns: [fact_doc_id, name, invoice_date, fact_line_id, quantity, price_unit, salesperson_name, product_id, product_name]
Index: []

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
12,2036,548,P00537 (2000005305107881F),2024-02-03 00:19:03,5128,Mercado Libre,28468,[1648] Broca Para Metal Urrea 5/32 *1648*,5.0,46.55,2000005305107881F,NaT,<NA>,Yamilet Blanco Salas,2024-01-31

    ---> Código a explorar 28467

Empty DataFrame
Columns: [fact_doc_id, name, invoice_date, fact_line_id, quantity, price_unit, salesperson_name, product_id, product_name]
Index: []

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
13,2035,547,P00536 (2000005305107881E),2024-02-03 00:18:04,5128,Mercado Libre,28467,[1646] Broca Para Metal Urrea 1/8 *1646*,2.0,50.0,2000005305107881E,NaT,<NA>,Yamilet Blanco Salas,2024-01-31

    ---> Código a explorar 28469

Empty DataFrame
Columns: [fact_doc_id, name, invoice_date, fact_line_id, quantity, price_unit, salesperson_name, product_id, product_name]
Index: []

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
14,2034,546,P00535 (2000005305107881D),2024-02-03 00:17:23,5128,Mercado Libre,28469,[1650] Broca Para Metal Urrea 7/32 *1650*,5.0,49.14,2000005305107881D,NaT,<NA>,Yamilet Blanco Salas,2024-01-31

    ---> Código a explorar 28470

Empty DataFrame
Columns: [fact_doc_id, name, invoice_date, fact_line_id, quantity, price_unit, salesperson_name, product_id, product_name]
Index: []

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
15,2033,545,P00534 (2000005305107881),2024-02-03 00:15:58,5128,Mercado Libre,28470,[1675] Broca Para Metal Urrea 1/4 *1675*,5.0,43.96,2000005305107881,NaT,<NA>,Yamilet Blanco Salas,2024-01-31

    ---> Código a explorar 28425

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
5527,8850,F2-VS/2024/00132,2024-01-18,32955,4.0,798.8,Brenda Luz Acosta Lopez,28425,Bisagra Para Cristal Herralum M-1032180SA *591*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
17,2031,543,P00532 (A 150684),2024-02-03 00:13:11,5280,DISTRIBUIDORA DE HERRAJES Y ALUMINIO DE LOS CABOS,28425,[591] Bisagra Para Cristal Herralum M-1032180S...,6.0,533.44,A 150684,NaT,<NA>,Irma Carvajal Flores,2024-01-31
1189,716,263,P00252 (A 149798),2024-01-17 21:06:04,5280,DISTRIBUIDORA DE HERRAJES Y ALUMINIO DE LOS CABOS,28425,[591] Bisagra Para Cristal Herralum M-1032180S...,4.0,533.44,A 149798,NaT,<NA>,Brenda Luz Acosta Lopez,2024-01-14

    ---> Código a explorar 28600

Empty DataFrame
Columns: [fact_doc_id, name, invoice_date, fact_line_id, quantity, price_unit, salesperson_name, product_id, product_name]
Index: []

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
18,2027,539,P00528 (A 150720),2024-02-02 22:34:43,5280,DISTRIBUIDORA DE HERRAJES Y ALUMINIO DE LOS CABOS,28600,[1928] Angulo 1x 0.05 Natural 1324-1 *1928*,3.0,116.38,A 150720,NaT,<NA>,Brenda Luz Acosta Lopez,2024-01-30

    ---> Código a explorar 28291

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
3224,5204,F2-VS/2024/00080,2024-01-11,19134,3.0,412.5,Yamilet Blanco Salas,28291,Cinta D/Montaje 3M D/Espuma Scotch 110 *10819*
4560,7486,F2-VS/2024/00120,2024-01-16,27645,6.0,412.5,Brenda Luz Acosta Lopez,28291,Cinta D/Montaje 3M D/Espuma Scotch 110 *10819*
4889,8009,F2-VS/2024/00124,2024-01-17,29678,14.0,412.5,Brenda Luz Acosta Lopez,28291,Cinta D/Montaje 3M D/Espuma Scotch 110 *10819*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
49,1933,527,P00516 (4HGFFI 185842),2024-02-02 20:49:12,5387,Home Depot Mexico,28291,[10819] Cinta D/Montaje 3M D/Espuma Scotch 110...,5.0,275.0,4HGFFI 185842,NaT,<NA>,Brenda Luz Acosta Lopez,2024-01-30
475,1489,446,P00435 (4HGFFI 182762),2024-01-27 21:35:45,5387,Home Depot Mexico,28291,[10819] Cinta D/Montaje 3M D/Espuma Scotch 110...,10.0,275.0,4HGFFI 182762,NaT,Gretel Gómez Alcázar,Brenda Luz Acosta Lopez,2024-01-24
1162,764,276,P00265 (4HGFFI 178621),2024-01-18 18:04:45,5387,Home Depot Mexico,28291,[10819] Cinta D/Montaje 3M D/Espuma Scotch 110...,14.0,275.0,4HGFFI 178621,NaT,<NA>,Brenda Luz Acosta Lopez,2024-01-15
1264,614,236,P00225 (4HGFFI 177093),2024-01-16 15:46:24,5387,Home Depot Mexico,28291,[10819] Cinta D/Montaje 3M D/Espuma Scotch 110...,6.0,275.0,4HGFFI 177093,NaT,<NA>,Brenda Luz Acosta Lopez,2024-01-13
1477,418,177,P00166 (4HGFFI 175877),2024-01-12 15:37:23,5387,Home Depot Mexico,28291,[10819] Cinta D/Montaje 3M D/Espuma Scotch 110...,3.0,275.0,4HGFFI 175877,NaT,<NA>,Irma Carvajal Flores,2024-01-09

    ---> Código a explorar 28599

Empty DataFrame
Columns: [fact_doc_id, name, invoice_date, fact_line_id, quantity, price_unit, salesperson_name, product_id, product_name]
Index: []

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
50,1934,527,P00516 (4HGFFI 185842),2024-02-02 20:49:12,5387,Home Depot Mexico,28599,[1927] Esponja multiusos Amarilla Mod-70005 *1...,8.0,68.1,4HGFFI 185842,NaT,<NA>,Brenda Luz Acosta Lopez,2024-01-30

    ---> Código a explorar 12706

Empty DataFrame
Columns: [fact_doc_id, name, invoice_date, fact_line_id, quantity, price_unit, salesperson_name, product_id, product_name]
Index: []

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
51,1931,526,P00515 (LC 8277),2024-02-02 20:43:11,5181,Vector De Baja California,12706,[55035] Canal Liston CAL.20 6.35 X 3.05 *55035*,10.0,105.42,LC 8277,NaT,<NA>,Brenda Luz Acosta Lopez,2024-01-30

    ---> Código a explorar 28241

Empty DataFrame
Columns: [fact_doc_id, name, invoice_date, fact_line_id, quantity, price_unit, salesperson_name, product_id, product_name]
Index: []

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
52,1932,526,P00515 (LC 8277),2024-02-02 20:43:11,5181,Vector De Baja California,28241,[11766] Poste 4.10x3.05 C-20 *11766*,10.0,160.53,LC 8277,NaT,<NA>,Brenda Luz Acosta Lopez,2024-01-30

    ---> Código a explorar 28593

Empty DataFrame
Columns: [fact_doc_id, name, invoice_date, fact_line_id, quantity, price_unit, salesperson_name, product_id, product_name]
Index: []

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
59,1906,522,P00511 (2000007494713840),2024-02-02 19:18:20,5128,Mercado Libre,28593,[1922] Batería 20v/60v 6amp Mod. DCB606 Dewalt...,1.0,3292.24,2000007494713840,NaT,<NA>,Mayra Angelica Parada Manjarrez,2024-01-30

    ---> Código a explorar 13357

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
6036,9524,F2-VS/2024/00143,2024-01-19,35490,8.0,555.0,Brenda Luz Acosta Lopez,13357,Tabla Americana 1x12x8 *6321*
8347,13181,F2-VS/2024/00194,2024-01-25,49446,10.0,413.0,Brenda Luz Acosta Lopez,13357,Tabla Americana 1x12x8 *6321*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
60,1903,521,P00510 (SJCFCO 2907),2024-02-02 19:14:18,5326,Madereria El Pino De Los Cabos,13357,[6321] Tabla Americana 1x12x8 *6321*,12.0,268.97,SJCFCO 2907,NaT,<NA>,Brenda Luz Acosta Lopez,2024-01-30
122,1842,514,P00503 (A 22677),2024-02-02 16:17:45,5264,Maria Teresa Quezada Hernandez,13357,[6321] Tabla Americana 1x12x8 *6321*,20.0,262.07,A 22677,NaT,<NA>,Irma Carvajal Flores,2024-01-30
621,1342,402,P00391 (SJCFCO 2197),2024-01-26 00:59:19,5326,Madereria El Pino De Los Cabos,13357,[6321] Tabla Americana 1x12x8 *6321*,10.0,268.97,SJCFCO 2197,NaT,<NA>,Brenda Luz Acosta Lopez,2024-01-23
992,940,301,P00290 (SJCFCO 1566),2024-01-19 18:40:43,5326,Madereria El Pino De Los Cabos,13357,[6321] Tabla Americana 1x12x8 *6321*,8.0,268.97,SJCFCO 1566,NaT,<NA>,Brenda Luz Acosta Lopez,2024-01-16

    ---> Código a explorar 14121

Empty DataFrame
Columns: [fact_doc_id, name, invoice_date, fact_line_id, quantity, price_unit, salesperson_name, product_id, product_name]
Index: []

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
61,1904,521,P00510 (SJCFCO 2907),2024-02-02 19:14:18,5326,Madereria El Pino De Los Cabos,14121,[12267] Tablon Americano #1 2X12X8' *12267*,5.0,606.90,SJCFCO 2907,NaT,<NA>,Brenda Luz Acosta Lopez,2024-01-30
123,1843,514,P00503 (A 22677),2024-02-02 16:17:45,5264,Maria Teresa Quezada Hernandez,14121,[12267] Tablon Americano #1 2X12X8' *12267*,20.0,620.69,A 22677,NaT,<NA>,Irma Carvajal Flores,2024-01-30

    ---> Código a explorar 11168

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
2808,4581,F2-VS/2024/00062,2024-01-10,16682,3.0,106.45,Brenda Luz Acosta Lopez,11168,Sil.Pens Baños&Cocinas Blanco 280ml *10162*
4279,7004,F1-VS/2024/00164,2024-01-15,25943,45.0,106.45,Irma Carvajal Flores,11168,Sil.Pens Baños&Cocinas Blanco 280ml *10162*
5895,9404,F2-VS/2024/00135,2024-01-19,35003,10.0,106.45,Brenda Luz Acosta Lopez,11168,Sil.Pens Baños&Cocinas Blanco 280ml *10162*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
63,1902,520,P00509 (A 6829),2024-02-02 19:12:59,5389,Ferreteros Y Materialistas De Los Cabos,11168,[10162] Sil.Pens Baños&Cocinas Blanco 280ml *1...,25.0,70.34,A 6829,NaT,<NA>,Brenda Luz Acosta Lopez,2024-01-30

    ---> Código a explorar 27026

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
3181,5159,F2-VS/2024/00077,2024-01-11,18960,2.0,362.07,Brenda Luz Acosta Lopez,27026,Polimor Blanco NIASA (10Kg) CE *269*
9686,15532,F2-VS/2024/00221,2024-01-30,58649,20.0,323.44,Brenda Luz Acosta Lopez,27026,Polimor Blanco NIASA (10Kg) CE *269*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
64,1901,519,P00508 (4HGFFI 185288),2024-02-02 18:47:35,5387,Home Depot Mexico,27026,[269] Polimor Blanco NIASA (10Kg) CE *269*,3.0,241.38,4HGFFI 185288,NaT,<NA>,Brenda Luz Acosta Lopez,2024-01-30
266,1699,493,P00482 (4HGFFI 184627),2024-01-31 19:44:17,5387,Home Depot Mexico,27026,[269] Polimor Blanco NIASA (10Kg) CE *269*,20.0,241.38,4HGFFI 184627,NaT,<NA>,Brenda Luz Acosta Lopez,2024-01-28
1367,528,186,P00175 (4HGFFI 176221),2024-01-12 21:40:55,5387,Home Depot Mexico,27026,[269] Polimor Blanco NIASA (10Kg) CE *269*,2.0,241.38,4HGFFI 176221,NaT,<NA>,Brenda Luz Acosta Lopez,2024-01-09

    ---> Código a explorar 14458

Empty DataFrame
Columns: [fact_doc_id, name, invoice_date, fact_line_id, quantity, price_unit, salesperson_name, product_id, product_name]
Index: []

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
65,1900,518,P00507 (SJCFCO 2840),2024-02-02 18:11:25,5326,Madereria El Pino De Los Cabos,14458,[25061] Triplay Marino 1/2 *25061*,2.0,1594.83,SJCFCO 2840,NaT,<NA>,Irma Carvajal Flores,2024-01-30

    ---> Código a explorar 28551

Empty DataFrame
Columns: [fact_doc_id, name, invoice_date, fact_line_id, quantity, price_unit, salesperson_name, product_id, product_name]
Index: []

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
66,1899,517,P00506 (FCAB 484274),2024-02-02 18:09:08,5334,Electronica Pazeña,28551,[25775] Bateria Lition Tipo Boton BAT-CR2430 *...,50.0,25.0,FCAB 484274,NaT,<NA>,Brenda Luz Acosta Lopez,2024-01-30
483,1482,441,P00430 (FSJC 36656),2024-01-27 19:47:48,5334,Electronica Pazeña,28551,[25775] Bateria Lition Tipo Boton BAT-CR2430 *...,10.0,25.0,FSJC 36656,NaT,Gretel Gómez Alcázar,Brenda Luz Acosta Lopez,2024-01-24

    ---> Código a explorar 13869

Empty DataFrame
Columns: [fact_doc_id, name, invoice_date, fact_line_id, quantity, price_unit, salesperson_name, product_id, product_name]
Index: []

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
124,1836,513,P00502 (B 83787),2024-02-02 16:16:14,5290,Maria Reyna Navarrete Cortez,13869,[41589] Triplay Cedro 1/4 4'*8' *41589*,10.0,413.1,B 83787,NaT,<NA>,Irma Carvajal Flores,2024-01-30

    ---> Código a explorar 14287

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
2361,3919,F1-VS/2024/00096,2024-01-09,14272,1.0,2363.8,Mayra Angelica Parada Manjarrez,14287,Tabla Alder 1*8 (Cama) *5211*
2435,4106,F1-VS/2024/00103,2024-01-10,14956,1.0,2363.6,Mayra Angelica Parada Manjarrez,14287,Tabla Alder 1*8 (Cama) *5211*
2795,4578,F1-VS/2024/00119,2024-01-10,16663,1.0,2363.8,Mayra Angelica Parada Manjarrez,14287,Tabla Alder 1*8 (Cama) *5211*
6475,10208,F1-VS/2024/00258,2024-01-20,38053,2.0,2363.8,Mayra Angelica Parada Manjarrez,14287,Tabla Alder 1*8 (Cama) *5211*
8395,13239,F1-VS/2024/00322,2024-01-25,49645,1.0,2118.09,Yamilet Blanco Salas,14287,Tabla Alder 1*8 (Cama) *5211*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
125,1837,513,P00502 (B 83787),2024-02-02 16:16:14,5290,Maria Reyna Navarrete Cortez,14287,[5211] Tabla Alder 1*8 (Cama) *5211*,2.0,881.03,B 83787,NaT,<NA>,Irma Carvajal Flores,2024-01-30
602,1366,408,P00397 (SJCFCO 2196),2024-01-26 17:06:25,5326,Madereria El Pino De Los Cabos,14287,[5211] Tabla Alder 1*8 (Cama) *5211*,1.0,965.52,SJCFCO 2196,NaT,<NA>,Irma Carvajal Flores,2024-01-23
751,1191,373,P00362 (MPIFCO 1281),2024-01-24 16:36:43,5296,Madereria Pichonchas,14287,[5211] Tabla Alder 1*8 (Cama) *5211*,2.0,965.52,MPIFCO 1281,NaT,<NA>,Mayra Angelica Parada Manjarrez,2024-01-21
1658,222,127,P00116 (MPIFCO 462),2024-01-10 00:44:47,5296,Madereria Pichonchas,14287,[5211] Tabla Alder 1*8 (Cama) *5211*,3.0,965.52,MPIFCO 462,NaT,<NA>,Mayra Angelica Parada Manjarrez,2024-01-07

    ---> Código a explorar 14164

Empty DataFrame
Columns: [fact_doc_id, name, invoice_date, fact_line_id, quantity, price_unit, salesperson_name, product_id, product_name]
Index: []

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
126,1838,513,P00502 (B 83787),2024-02-02 16:16:14,5290,Maria Reyna Navarrete Cortez,14164,[36541] Triplay Parota 1/2 x 4 x 8 *36541*,10.0,866.77,B 83787,NaT,<NA>,Irma Carvajal Flores,2024-01-30

    ---> Código a explorar 14282

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
3114,5105,F1-VS/2024/00125,2024-01-11,18746,2.0,1487.07,Mayra Angelica Parada Manjarrez,14282,Triplay Parota 3/4 x 4 x 8 *30066*
4617,7521,F1-VS/2024/00175,2024-01-16,27810,5.0,1506.9,Mayra Angelica Parada Manjarrez,14282,Triplay Parota 3/4 x 4 x 8 *30066*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
127,1839,513,P00502 (B 83787),2024-02-02 16:16:14,5290,Maria Reyna Navarrete Cortez,14282,[30066] Triplay Parota 3/4 x 4 x 8 *30066*,10.0,1155.69,B 83787,NaT,<NA>,Irma Carvajal Flores,2024-01-30
1247,639,244,P00233 (MPIFCO 926),2024-01-16 20:18:53,5296,Madereria Pichonchas,14282,[30066] Triplay Parota 3/4 x 4 x 8 *30066*,5.0,948.28,MPIFCO 926,NaT,<NA>,Mayra Angelica Parada Manjarrez,2024-01-13
1488,400,165,P00154 (MPIFCO 626),2024-01-11 23:18:40,5296,Madereria Pichonchas,14282,[30066] Triplay Parota 3/4 x 4 x 8 *30066*,2.0,948.28,MPIFCO 626,NaT,<NA>,Mayra Angelica Parada Manjarrez,2024-01-08

    ---> Código a explorar 28588

Empty DataFrame
Columns: [fact_doc_id, name, invoice_date, fact_line_id, quantity, price_unit, salesperson_name, product_id, product_name]
Index: []

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
128,1840,513,P00502 (B 83787),2024-02-02 16:16:14,5290,Maria Reyna Navarrete Cortez,28588,[1916] Tabla Encino 1*12 (Cama)*1916*,4.0,3696.0,B 83787,NaT,<NA>,Irma Carvajal Flores,2024-01-30

    ---> Código a explorar 14677

Empty DataFrame
Columns: [fact_doc_id, name, invoice_date, fact_line_id, quantity, price_unit, salesperson_name, product_id, product_name]
Index: []

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
129,1841,513,P00502 (B 83787),2024-02-02 16:16:14,5290,Maria Reyna Navarrete Cortez,14677,"[11422] Tabla Cedro Naconal 2"" Cama *11422*",2.0,3877.45,B 83787,NaT,<NA>,Irma Carvajal Flores,2024-01-30

    ---> Código a explorar 28207

Empty DataFrame
Columns: [fact_doc_id, name, invoice_date, fact_line_id, quantity, price_unit, salesperson_name, product_id, product_name]
Index: []

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
130,1835,511,P00500 (FA 87943),2024-02-02 00:27:17,5289,Aceros Y Cementos De Los Cabos,28207,[13168] Color P/Cemento Cafe *13168*,1.0,94.83,FA 87943,NaT,<NA>,Mayra Angelica Parada Manjarrez,2024-01-30

    ---> Código a explorar 8019

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
33,166,F2-CC/2024/00013,2024-01-02,491,37.0,5.4,Angela Carrillo Cárdenas,8019,Mascarilla / Respirador KN95 MASC01 ( 1 pz ) *...
1691,3096,F2-CC/2024/00393,2024-01-08,11337,4.0,5.4,Nadia Santos Nava,8019,Mascarilla / Respirador KN95 MASC01 ( 1 pz ) *...
5011,8192,F2-CC/2024/01043,2024-01-17,30309,63.0,5.4,Angela Carrillo Cárdenas,8019,Mascarilla / Respirador KN95 MASC01 ( 1 pz ) *...
5290,8457,F2-CC/2024/01082,2024-01-17,31288,100.0,5.4,Karla Jaqueline Rivera Hernández,8019,Mascarilla / Respirador KN95 MASC01 ( 1 pz ) *...
8403,13239,F1-VS/2024/00322,2024-01-25,49653,50.0,5.4,Yamilet Blanco Salas,8019,Mascarilla / Respirador KN95 MASC01 ( 1 pz ) *...
8656,13651,F2-CC/2024/01778,2024-01-26,51289,4.0,5.4,<NA>,8019,Mascarilla / Respirador KN95 MASC01 ( 1 pz ) *...
8777,13864,F2-CC/2024/01814,2024-01-26,51977,26.0,5.4,Karla Jaqueline Rivera Hernández,8019,Mascarilla / Respirador KN95 MASC01 ( 1 pz ) *...

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
131,1834,510,P00499 (2000005258548521H),2024-02-01 23:53:29,5128,Mercado Libre,8019,[28860] Mascarilla / Respirador KN95 MASC01 ( ...,100.0,3.62,2000005258548521H,NaT,<NA>,Angela Carrillo Cárdenas,2024-01-29
626,1336,399,P00388 (2000005323215311B),2024-01-26 00:44:08,5128,Mercado Libre,8019,[28860] Mascarilla / Respirador KN95 MASC01 ( ...,60.0,3.62,2000005323215311B,NaT,<NA>,Irma Carvajal Flores,2024-01-23

    ---> Código a explorar 10527

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
425,951,F2-CC/2024/00108,2024-01-04,3485,2.0,71.92,Nadia Santos Nava,10527,Chapa Ph P/Cajon #21-C #1 *1418*
2468,4149,F2-CC/2024/00539,2024-01-10,15111,1.0,71.92,Nadia Santos Nava,10527,Chapa Ph P/Cajon #21-C #1 *1418*
3573,5864,F2-CC/2024/00751,2024-01-12,21502,1.0,71.92,Karla Jaqueline Rivera Hernández,10527,Chapa Ph P/Cajon #21-C #1 *1418*
4535,7440,F2-CC/2024/00940,2024-01-16,27483,2.0,71.92,Karla Jaqueline Rivera Hernández,10527,Chapa Ph P/Cajon #21-C #1 *1418*
5064,8242,F1-VS/2024/00195,2024-01-17,30491,25.0,71.92,Mayra Angelica Parada Manjarrez,10527,Chapa Ph P/Cajon #21-C #1 *1418*
5150,8307,F2-CC/2024/01062,2024-01-17,30751,1.0,71.92,Nadia Santos Nava,10527,Chapa Ph P/Cajon #21-C #1 *1418*
7349,11622,F1-VS/2024/00290,2024-01-23,43281,1.0,102.26,Mayra Angelica Parada Manjarrez,10527,Chapa Ph P/Cajon #21-C #1 *1418*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
132,1830,509,P00498 (C 262259),2024-02-01 23:47:27,5321,El Gran Tlapalero,10527,[1418] Chapa Ph P/Cajon #21-C #1 *1418*,50.0,42.50,C 262259,NaT,<NA>,Irma Carvajal Flores,2024-01-29
761,1178,367,P00356 (C 261591),2024-01-24 16:24:19,5321,El Gran Tlapalero,10527,[1418] Chapa Ph P/Cajon #21-C #1 *1418*,12.0,44.19,C 261591,NaT,<NA>,Mayra Angelica Parada Manjarrez,2024-01-21
1248,635,243,P00232 (C 261179),2024-01-16 18:55:26,5321,El Gran Tlapalero,10527,[1418] Chapa Ph P/Cajon #21-C #1 *1418*,25.0,43.79,C 261179,NaT,<NA>,Mayra Angelica Parada Manjarrez,2024-01-13

    ---> Código a explorar 13552

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
6260,9853,F2-VS/2024/00149,2024-01-19,36574,4.0,530.92,Brenda Luz Acosta Lopez,13552,Chapa Ph P/Perfil Alum #550-AN #585 CE *2489*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
133,1831,509,P00498 (C 262259),2024-02-01 23:47:27,5321,El Gran Tlapalero,13552,[2489] Chapa Ph P/Perfil Alum #550-AN #585 CE ...,10.0,312.55,C 262259,NaT,<NA>,Irma Carvajal Flores,2024-01-29
1742,135,91,P00080 (C 259462),2024-01-08 23:24:24,5321,El Gran Tlapalero,13552,[2489] Chapa Ph P/Perfil Alum #550-AN #585 CE ...,5.0,327.47,C 259462,NaT,<NA>,Brenda Luz Acosta Lopez,2024-01-05

    ---> Código a explorar 10856

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
849,1579,F1-VS/2024/00028,2024-01-05,5801,125.0,81.36,Irma Carvajal Flores,10856,Tope Ph Media Luna #54-C #1464 *528*
2350,3911,F1-VS/2024/00095,2024-01-09,14241,100.0,81.36,Irma Carvajal Flores,10856,Tope Ph Media Luna #54-C #1464 *528*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
134,1832,509,P00498 (C 262259),2024-02-01 23:47:27,5321,El Gran Tlapalero,10856,[528] Tope Ph Media Luna #54-C #1464 *528*,100.0,52.24,C 262259,NaT,<NA>,Irma Carvajal Flores,2024-01-29
1809,58,44,P00037 (C 259720),2024-01-03 23:49:14,5321,El Gran Tlapalero,10856,[528] Tope Ph Media Luna #54-C #1464 *528*,50.0,53.93,C 259720,NaT,<NA>,Irma Carvajal Flores,2023-12-31

    ---> Código a explorar 12854

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
7729,12174,F1-VS/2024/00301,2024-01-24,45421,5.0,286.67,Irma Carvajal Flores,12854,Pata D/Chiva Ph #59-C #1222 *6336*
7763,12203,F1-VS/2024/00307,2024-01-24,45528,18.0,246.0,Irma Carvajal Flores,12854,Pata D/Chiva Ph #59-C #1222 *6336*
9821,15768,F1-VS/2024/00352,2024-01-30,59568,4.0,286.67,Mayra Angelica Parada Manjarrez,12854,Pata D/Chiva Ph #59-C #1222 *6336*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
135,1833,509,P00498 (C 262259),2024-02-01 23:47:27,5321,El Gran Tlapalero,12854,[6336] Pata D/Chiva Ph #59-C #1222 *6336*,35.0,147.87,C 262259,NaT,<NA>,Irma Carvajal Flores,2024-01-29

    ---> Código a explorar 13539

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
5718,9059,F1-VS/2024/00231,2024-01-18,33760,5.0,515.76,Mayra Angelica Parada Manjarrez,13539,Chapa Ph P/Perfil Alum #550-ABL #592 *22534*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
136,3516,509,P00498 (C 262259),2024-02-01 23:47:27,5321,El Gran Tlapalero,13539,[22534] Chapa Ph P/Perfil Alum #550-ABL #592 *...,10.0,312.55,C 262259,NaT,<NA>,Irma Carvajal Flores,2024-01-29

    ---> Código a explorar 13796

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
7935,12670,F1-VS/2024/00314,2024-01-25,47714,3.0,658.39,Irma Carvajal Flores,13796,Cartucho MultiGas 3M 60926 CE *60926*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
137,1829,508,P00497 (2000005335471273),2024-02-01 23:39:41,5128,Mercado Libre,13796,[60926] Cartucho MultiGas 3M 60926 CE *60926*,15.0,384.36,2000005335471273,NaT,<NA>,Irma Carvajal Flores,2024-01-29

    ---> Código a explorar 28583

Empty DataFrame
Columns: [fact_doc_id, name, invoice_date, fact_line_id, quantity, price_unit, salesperson_name, product_id, product_name]
Index: []

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
138,1828,507,P00496 (CS1VC1FA 37320),2024-02-01 19:44:14,5222,Pro Riego,28583,[1913] Controlador NODE-200 2 Estaciones *1913*,2.0,3098.61,CS1VC1FA 37320,NaT,<NA>,Irma Carvajal Flores,2024-01-29

    ---> Código a explorar 28577

Empty DataFrame
Columns: [fact_doc_id, name, invoice_date, fact_line_id, quantity, price_unit, salesperson_name, product_id, product_name]
Index: []

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
139,1827,506,P00495 (SCO 28744),2024-02-01 19:35:11,5315,Mas O Menos De Bcs,28577,[1907] Fester CR-66 Blanco 35kg *1907*,3.0,2830.17,SCO 28744,NaT,<NA>,Brenda Luz Acosta Lopez,2024-01-29

    ---> Código a explorar 27292

Empty DataFrame
Columns: [fact_doc_id, name, invoice_date, fact_line_id, quantity, price_unit, salesperson_name, product_id, product_name]
Index: []

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
140,1825,505,P00494 (SJC 558311),2024-02-01 19:33:39,5309,Electrica Dos Hermanos,27292,[24977] Pegamento P/PVC Azul 1Lt (Pz) CE *24977*,1.0,255.12,SJC 558311,NaT,<NA>,Brenda Luz Acosta Lopez,2024-01-29

    ---> Código a explorar 28582

Empty DataFrame
Columns: [fact_doc_id, name, invoice_date, fact_line_id, quantity, price_unit, salesperson_name, product_id, product_name]
Index: []

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
141,1826,505,P00494 (SJC 558311),2024-02-01 19:33:39,5309,Electrica Dos Hermanos,28582,[1912] Primer Limpiador 1Lt 32oz *1912*,1.0,137.41,SJC 558311,NaT,<NA>,Brenda Luz Acosta Lopez,2024-01-29

    ---> Código a explorar 26477

Empty DataFrame
Columns: [fact_doc_id, name, invoice_date, fact_line_id, quantity, price_unit, salesperson_name, product_id, product_name]
Index: []

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
142,1824,504,P00493 (SJ 36905),2024-02-01 19:29:36,5369,Acyma Del Noroeste,26477,[8741] Compuesto Easy Sand Secado rapido 8.17k...,3.0,199.76,SJ 36905,NaT,<NA>,Brenda Luz Acosta Lopez,2024-01-29

    ---> Código a explorar 27722

Empty DataFrame
Columns: [fact_doc_id, name, invoice_date, fact_line_id, quantity, price_unit, salesperson_name, product_id, product_name]
Index: []

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
143,1823,503,P00492 (SJC 828),2024-02-01 19:28:11,5396,Isvi Israel Rocha Granados (Ferre- Mar),27722,[24006] Mecate Seda Trenza 13MM (Mt) CE *24006*,50.0,14.99,SJC 828,NaT,<NA>,Brenda Luz Acosta Lopez,2024-01-29

    ---> Código a explorar 28580

Empty DataFrame
Columns: [fact_doc_id, name, invoice_date, fact_line_id, quantity, price_unit, salesperson_name, product_id, product_name]
Index: []

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
144,1821,502,P00491 (F 6781),2024-02-01 19:20:32,5394,100 Luxes Iluminacion Y Diseños,28580,[1910] Foco Interior Empotrados S/L100-240 12V...,10.0,125.0,F 6781,NaT,<NA>,Brenda Luz Acosta Lopez,2024-01-29

    ---> Código a explorar 28581

Empty DataFrame
Columns: [fact_doc_id, name, invoice_date, fact_line_id, quantity, price_unit, salesperson_name, product_id, product_name]
Index: []

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
145,1822,502,P00491 (F 6781),2024-02-01 19:20:32,5394,100 Luxes Iluminacion Y Diseños,28581,[1911] Luminario YD-220/B 100-240 V *1911*,20.0,35.0,F 6781,NaT,<NA>,Brenda Luz Acosta Lopez,2024-01-29

    ---> Código a explorar 28579

Empty DataFrame
Columns: [fact_doc_id, name, invoice_date, fact_line_id, quantity, price_unit, salesperson_name, product_id, product_name]
Index: []

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
146,1818,501,P00490 (SJ 27795),2024-02-01 18:54:41,5143,Fymsa Baja Sur,28579,[33369] Block 10 x 20 x 40 *33369*,20.0,18.47,SJ 27795,NaT,<NA>,Brenda Luz Acosta Lopez,2024-01-29

    ---> Código a explorar 28578

Empty DataFrame
Columns: [fact_doc_id, name, invoice_date, fact_line_id, quantity, price_unit, salesperson_name, product_id, product_name]
Index: []

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
147,1819,501,P00490 (SJ 27795),2024-02-01 18:54:41,5143,Fymsa Baja Sur,28578,[14344] Block 15x20x40 *14344*,20.0,19.81,SJ 27795,NaT,<NA>,Brenda Luz Acosta Lopez,2024-01-29

    ---> Código a explorar 14862

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
1683,3086,F2-VS/2024/00029,2024-01-08,11303,4.0,627.05,Yamilet Blanco Salas,14862,Cemento Blanco (50 Kilos) *13884*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
148,1820,501,P00490 (SJ 27795),2024-02-01 18:54:41,5143,Fymsa Baja Sur,14862,[13884] Cemento Blanco (50 Kilos) *13884*,1.0,434.40,SJ 27795,NaT,<NA>,Brenda Luz Acosta Lopez,2024-01-29
1804,65,50,P00043 (100104946),2024-01-04 00:24:20,5173,Casper Ventas Y Representaciones,14862,[13884] Cemento Blanco (50 Kilos) *13884*,4.0,418.03,100104946,NaT,<NA>,Yamilet Blanco Salas,2024-01-01

    ---> Código a explorar 13786

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
2312,3871,F2-VS/2024/00048,2024-01-09,14099,6.0,859.65,Brenda Luz Acosta Lopez,13786,"Tabla Americana 1"" X 12"" X 16' *13538*"
3644,5961,F1-VS/2024/00148,2024-01-12,21835,5.0,806.9,Yamilet Blanco Salas,13786,"Tabla Americana 1"" X 12"" X 16' *13538*"
3728,6185,F2-VS/2024/00099,2024-01-13,22875,5.0,859.65,Brenda Luz Acosta Lopez,13786,"Tabla Americana 1"" X 12"" X 16' *13538*"
5235,8417,F1-VS/2024/00203,2024-01-17,31126,6.0,740.0,Irma Carvajal Flores,13786,"Tabla Americana 1"" X 12"" X 16' *13538*"
5249,8421,F1-VS/2024/00206,2024-01-17,31155,1.0,840.0,Irma Carvajal Flores,13786,"Tabla Americana 1"" X 12"" X 16' *13538*"
5261,8440,F1-VS/2024/00208,2024-01-17,31220,2.0,840.0,Irma Carvajal Flores,13786,"Tabla Americana 1"" X 12"" X 16' *13538*"

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
149,1816,500,P00489 (MPIFCO 1990),2024-02-01 18:48:18,5296,Madereria Pichonchas,13786,"[13538] Tabla Americana 1"" X 12"" X 16' *13538*",1.0,537.93,MPIFCO 1990,NaT,<NA>,Irma Carvajal Flores,2024-01-29
151,1812,498,P00487 (SJCFCO 2727),2024-01-31 22:31:53,5326,Madereria El Pino De Los Cabos,13786,"[13538] Tabla Americana 1"" X 12"" X 16' *13538*",1.0,537.93,SJCFCO 2727,NaT,<NA>,Mayra Angelica Parada Manjarrez,2024-01-28
1148,780,283,P00272 (A 103868),2024-01-18 20:39:09,5352,Luz Raquel Rodriguez Montoya,13786,"[13538] Tabla Americana 1"" X 12"" X 16' *13538*",9.0,524.14,A 103868,NaT,<NA>,Irma Carvajal Flores,2024-01-15
1345,550,202,P00191 (SJCFCO 950),2024-01-13 19:36:03,5326,Madereria El Pino De Los Cabos,13786,"[13538] Tabla Americana 1"" X 12"" X 16' *13538*",5.0,537.93,SJCFCO 950,NaT,Gretel Gómez Alcázar,Brenda Luz Acosta Lopez,2024-01-10
1354,541,197,P00186 (A 103781),2024-01-13 00:56:51,5352,Luz Raquel Rodriguez Montoya,13786,"[13538] Tabla Americana 1"" X 12"" X 16' *13538*",5.0,524.14,A 103781,NaT,<NA>,Mayra Angelica Parada Manjarrez,2024-01-10
1660,218,126,P00115 (SJCFCO 587),2024-01-10 00:31:11,5326,Madereria El Pino De Los Cabos,13786,"[13538] Tabla Americana 1"" X 12"" X 16' *13538*",6.0,537.93,SJCFCO 587,NaT,<NA>,Brenda Luz Acosta Lopez,2024-01-07

    ---> Código a explorar 14499

Empty DataFrame
Columns: [fact_doc_id, name, invoice_date, fact_line_id, quantity, price_unit, salesperson_name, product_id, product_name]
Index: []

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
150,1817,500,P00489 (MPIFCO 1990),2024-02-01 18:48:18,5296,Madereria Pichonchas,14499,[20684] Triplay Marino 5/8 4*8 *20684*,2.0,1939.66,MPIFCO 1990,NaT,<NA>,Irma Carvajal Flores,2024-01-29

    ---> Código a explorar 14292

Empty DataFrame
Columns: [fact_doc_id, name, invoice_date, fact_line_id, quantity, price_unit, salesperson_name, product_id, product_name]
Index: []

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
152,1813,498,P00487 (SJCFCO 2727),2024-01-31 22:31:53,5326,Madereria El Pino De Los Cabos,14292,[50507] Triplay de encino 5/8*4*8 *50507*,2.0,862.07,SJCFCO 2727,NaT,<NA>,Mayra Angelica Parada Manjarrez,2024-01-28

    ---> Código a explorar 14290

Empty DataFrame
Columns: [fact_doc_id, name, invoice_date, fact_line_id, quantity, price_unit, salesperson_name, product_id, product_name]
Index: []

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
153,1814,498,P00487 (SJCFCO 2727),2024-01-31 22:31:53,5326,Madereria El Pino De Los Cabos,14290,"[24850] Triplay encino 3/4"" *24850*",2.0,948.28,SJCFCO 2727,NaT,<NA>,Mayra Angelica Parada Manjarrez,2024-01-28

    ---> Código a explorar 28575

Empty DataFrame
Columns: [fact_doc_id, name, invoice_date, fact_line_id, quantity, price_unit, salesperson_name, product_id, product_name]
Index: []

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
154,1811,497,P00486 (37295),2024-01-31 22:29:16,5378,Maderas Dimar,28575,"[1904] Bisagra Curva Soft Clip Y Piston, Ducas...",30.0,78.4,37295,NaT,<NA>,Mayra Angelica Parada Manjarrez,2024-01-28

    ---> Código a explorar 28276

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
9064,14425,F2-VS/2024/00208,2024-01-27,54162,1.0,336.37,Yamilet Blanco Salas,28276,Candado Phillips #113 Gl C#45 *1111*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
155,1807,496,P00485 (W0000459056),2024-01-31 20:41:20,5157,Ferre-Pat,28276,[1111] Candado Phillips #113 Gl C#45 *1111*,10.0,90.31,W0000459056,NaT,<NA>,Mayra Angelica Parada Manjarrez,2024-01-28
461,1500,454,P00443 (C 261746),2024-01-29 17:14:59,5321,El Gran Tlapalero,28276,[1111] Candado Phillips #113 Gl C#45 *1111*,1.0,87.03,C 261746,NaT,<NA>,Brenda Luz Acosta Lopez,2024-01-26

    ---> Código a explorar 27920

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
5673,8988,F1-VS/2024/00227,2024-01-18,33526,50.0,73.5,Mayra Angelica Parada Manjarrez,27920,Dis. Austromex 4 1/2 x 3/64 x 7/8 #750 *20476*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
156,1808,496,P00485 (W0000459056),2024-01-31 20:41:20,5157,Ferre-Pat,27920,[20476] Dis. Austromex 4 1/2 x 3/64 x 7/8 #750...,40.0,40.13,W0000459056,NaT,<NA>,Mayra Angelica Parada Manjarrez,2024-01-28
280,1683,480,P00469 (W0000460284),2024-01-30 23:48:18,5157,Ferre-Pat,27920,[20476] Dis. Austromex 4 1/2 x 3/64 x 7/8 #750...,50.0,40.13,W0000460284,NaT,<NA>,Irma Carvajal Flores,2024-01-27
1157,770,280,P00269 (W0000457956),2024-01-18 19:52:13,5157,Ferre-Pat,27920,[20476] Dis. Austromex 4 1/2 x 3/64 x 7/8 #750...,10.0,53.90,W0000457956,NaT,<NA>,Mayra Angelica Parada Manjarrez,2024-01-15

    ---> Código a explorar 13971

Empty DataFrame
Columns: [fact_doc_id, name, invoice_date, fact_line_id, quantity, price_unit, salesperson_name, product_id, product_name]
Index: []

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
157,1809,496,P00485 (W0000459056),2024-01-31 20:41:20,5157,Ferre-Pat,13971,[29097] Chapa Yale Manija P/Baño BA #89569 *29...,16.0,660.6,W0000459056,NaT,<NA>,Mayra Angelica Parada Manjarrez,2024-01-28

    ---> Código a explorar 14140

Empty DataFrame
Columns: [fact_doc_id, name, invoice_date, fact_line_id, quantity, price_unit, salesperson_name, product_id, product_name]
Index: []

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
158,1810,496,P00485 (W0000459056),2024-01-31 20:41:20,5157,Ferre-Pat,14140,[95148] Chapa Yale Manija P/Recamara BA #89568...,16.0,498.59,W0000459056,NaT,<NA>,Mayra Angelica Parada Manjarrez,2024-01-28

    ---> Código a explorar 12504

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
9613,15465,F2-VS/2024/00219,2024-01-30,58405,30.0,260.0,Brenda Luz Acosta Lopez,12504,"Protector Fieltro 1"" Scotch SP802-NA 32P *40852*"

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
264,1700,494,P00483 (MX 4169825),2024-01-31 19:55:44,5161,Uline Shipping Supplies,12504,"[40852] Protector Fieltro 1"" Scotch SP802-NA 3...",30.0,136.93,MX 4169825,NaT,<NA>,Brenda Luz Acosta Lopez,2024-01-28
593,1370,412,P00401 (MX 4162249),2024-01-26 17:47:36,5161,Uline Shipping Supplies,12504,"[40852] Protector Fieltro 1"" Scotch SP802-NA 3...",6.0,175.30,MX 4162249,NaT,<NA>,Nadia Santos Nava,2024-01-23

    ---> Código a explorar 28535

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
8043,12803,F2-VS/2024/00190,2024-01-25,48161,10.0,895.0,Brenda Luz Acosta Lopez,28535,Cartucho P/Mascarilla Mod. 6006 3M (2pz) *1829*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
265,1701,494,P00483 (MX 4169825),2024-01-31 19:55:44,5161,Uline Shipping Supplies,28535,[1829] Cartucho P/Mascarilla Mod. 6006 3M (2pz...,10.0,493.86,MX 4169825,NaT,<NA>,Brenda Luz Acosta Lopez,2024-01-28

    ---> Código a explorar 28570

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
10072,16304,F2-VS/2024/00226,2024-01-31,61832,3.0,1250.0,Brenda Luz Acosta Lopez,28570,Redimix cubeta 19 lt *1897*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
267,1698,492,P00481 (SJ 36856),2024-01-31 19:37:13,5369,Acyma Del Noroeste,28570,[1897] Redimix cubeta 19 lt *1897*,3.0,809.17,SJ 36856,NaT,<NA>,Brenda Luz Acosta Lopez,2024-01-28

    ---> Código a explorar 28193

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
1347,2523,F1-VS/2024/00042,2024-01-06,9205,1.0,339.0,Irma Carvajal Flores,28193,Pegamento Amar. Elmer'S 1Lt *13789*
5251,8421,F1-VS/2024/00206,2024-01-17,31157,1.0,339.0,Irma Carvajal Flores,28193,Pegamento Amar. Elmer'S 1Lt *13789*
5285,8456,F1-VS/2024/00217,2024-01-17,31281,1.0,339.0,Irma Carvajal Flores,28193,Pegamento Amar. Elmer'S 1Lt *13789*
9973,16168,F1-VS/2024/00355,2024-01-31,61378,3.0,310.0,Irma Carvajal Flores,28193,Pegamento Amar. Elmer'S 1Lt *13789*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
268,1697,491,P00480 (MPIFCO 2034),2024-01-31 19:22:47,5296,Madereria Pichonchas,28193,[13789] Pegamento Amar. Elmer'S 1Lt *13789*,3.0,200.0,MPIFCO 2034,NaT,<NA>,Irma Carvajal Flores,2024-01-28
782,1157,353,P00342 (MPIFCO 1211),2024-01-23 15:47:32,5296,Madereria Pichonchas,28193,[13789] Pegamento Amar. Elmer'S 1Lt *13789*,1.0,200.0,MPIFCO 1211,NaT,<NA>,Irma Carvajal Flores,2024-01-20
1331,569,212,P00201 (MPIFCO 716),2024-01-15 19:04:22,5296,Madereria Pichonchas,28193,[13789] Pegamento Amar. Elmer'S 1Lt *13789*,1.0,200.0,MPIFCO 716,NaT,<NA>,Irma Carvajal Flores,2024-01-12

    ---> Código a explorar 13453

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
1279,2443,F1-VS/2024/00035,2024-01-06,8937,2.0,454.56,Mayra Angelica Parada Manjarrez,13453,Cemento Gris Bulto (50kg) CE *1587*
2022,3397,F2-VS/2024/00037,2024-01-08,12473,2.0,470.44,Yamilet Blanco Salas,13453,Cemento Gris Bulto (50kg) CE *1587*
2414,4004,F2-VS/2024/00055,2024-01-10,14550,10.0,456.0,Brenda Luz Acosta Lopez,13453,Cemento Gris Bulto (50kg) CE *1587*
3729,6185,F2-VS/2024/00099,2024-01-13,22876,4.0,462.08,Brenda Luz Acosta Lopez,13453,Cemento Gris Bulto (50kg) CE *1587*
5232,8415,F1-VS/2024/00202,2024-01-17,31116,2.0,461.95,Mayra Angelica Parada Manjarrez,13453,Cemento Gris Bulto (50kg) CE *1587*
5644,8952,F1-VS/2024/00224,2024-01-18,33364,2.0,472.72,Mayra Angelica Parada Manjarrez,13453,Cemento Gris Bulto (50kg) CE *1587*
6880,10862,F1-VS/2024/00269,2024-01-22,40407,1.0,461.95,Mayra Angelica Parada Manjarrez,13453,Cemento Gris Bulto (50kg) CE *1587*
9974,16169,F1-VS/2024/00356,2024-01-31,61381,2.0,459.0,Irma Carvajal Flores,13453,Cemento Gris Bulto (50kg) CE *1587*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
269,1696,490,P00479 (LA 37562),2024-01-31 19:21:56,5143,Fymsa Baja Sur,13453,[1587] Cemento Gris Bulto (50kg) CE *1587*,2.0,306.03,LA 37562,NaT,<NA>,Irma Carvajal Flores,2024-01-28
1308,591,226,P00215 (LA 36607),2024-01-15 20:42:53,5143,Fymsa Baja Sur,13453,[1587] Cemento Gris Bulto (50kg) CE *1587*,1.0,322.70,LA 36607,NaT,<NA>,Mayra Angelica Parada Manjarrez,2024-01-12
1346,549,201,P00190 (100105371),2024-01-13 19:17:53,5173,Casper Ventas Y Representaciones,13453,[1587] Cemento Gris Bulto (50kg) CE *1587*,4.0,344.26,100105371,NaT,Gretel Gómez Alcázar,Brenda Luz Acosta Lopez,2024-01-10
1652,226,129,P00118 (SJ 27053),2024-01-10 17:00:06,5143,Fymsa Baja Sur,13453,[1587] Cemento Gris Bulto (50kg) CE *1587*,10.0,322.70,SJ 27053,NaT,<NA>,Brenda Luz Acosta Lopez,2024-01-07
1690,190,109,P00098 (SJ 27023),2024-01-09 16:06:50,5143,Fymsa Baja Sur,13453,[1587] Cemento Gris Bulto (50kg) CE *1587*,2.0,322.70,SJ 27023,NaT,<NA>,Irma Carvajal Flores,2024-01-06
1799,75,56,P00049 (LA 36122),2024-01-04 17:19:43,5143,Fymsa Baja Sur,13453,[1587] Cemento Gris Bulto (50kg) CE *1587*,2.0,322.70,LA 36122,NaT,<NA>,Mayra Angelica Parada Manjarrez,2024-01-01

    ---> Código a explorar 28571

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
10066,16290,F1-VS/2024/00361,2024-01-31,61790,4.0,340.59,Mayra Angelica Parada Manjarrez,28571,Lijadora Manual p/ Extensión 9x23.4x8.5 *1898*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
270,1695,489,P00478 (4HGFFI 184515),2024-01-31 17:51:43,5387,Home Depot Mexico,28571,[1898] Lijadora Manual p/ Extensión 9x23.4x8.5...,4.0,223.28,4HGFFI 184515,NaT,<NA>,Mayra Angelica Parada Manjarrez,2024-01-28

    ---> Código a explorar 28214

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
10016,16222,F2-VS/2024/00224,2024-01-31,61566,30.0,506.0,Brenda Luz Acosta Lopez,28214,Tablaroca Verde anti-moho USG *12671*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
271,1693,488,P00477 (SJ 36871),2024-01-31 17:43:47,5369,Acyma Del Noroeste,28214,[12671] Tablaroca Verde anti-moho USG *12671*,30.0,296.62,SJ 36871,NaT,<NA>,Brenda Luz Acosta Lopez,2024-01-28

    ---> Código a explorar 26634

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
10017,16222,F2-VS/2024/00224,2024-01-31,61567,5000.0,0.66,Brenda Luz Acosta Lopez,26634,Pija autorr. p/durock 1 1/4 *70045*
10019,16226,F2-VS/2024/00225,2024-01-31,61579,1000.0,0.7,Brenda Luz Acosta Lopez,26634,Pija autorr. p/durock 1 1/4 *70045*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
272,1694,488,P00477 (SJ 36871),2024-01-31 17:43:47,5369,Acyma Del Noroeste,26634,[70045] Pija autorr. p/durock 1 1/4 *70045*,6000.0,0.43,SJ 36871,NaT,<NA>,Brenda Luz Acosta Lopez,2024-01-28

    ---> Código a explorar 28566

Empty DataFrame
Columns: [fact_doc_id, name, invoice_date, fact_line_id, quantity, price_unit, salesperson_name, product_id, product_name]
Index: []

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
273,1692,487,P00476 (WA 13040),2024-01-31 16:52:38,5221,Distribuidor Mayorista De Tornillos De Yucatan...,28566,"[1893] Pija C/Hex Autorroscable 12x1"" Galv. *1...",50.0,0.53,WA 13040,NaT,<NA>,Mayra Angelica Parada Manjarrez,2024-01-28

    ---> Código a explorar 28569

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
10022,16227,F2-CC/2024/02119,2024-01-31,61584,100.0,4.08,Yolanda Alejandra Rodriguez González,28569,"Perno D/Anclaje 1/4"" X 3 3/4"" *1896*"

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
274,1691,486,P00475 (WA 13060),2024-01-31 16:30:41,5221,Distribuidor Mayorista De Tornillos De Yucatan...,28569,"[1896] Perno D/Anclaje 1/4"" X 3 3/4"" *1896*",100.0,2.72,WA 13060,NaT,<NA>,Yolanda Alejandra Rodriguez González,2024-01-28

    ---> Código a explorar 28568

Empty DataFrame
Columns: [fact_doc_id, name, invoice_date, fact_line_id, quantity, price_unit, salesperson_name, product_id, product_name]
Index: []

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
275,1690,485,P00474 (2000005335462817),2024-01-31 16:07:07,5128,Mercado Libre,28568,[74184] Bona Decking Oil Neutral 10L *74184*,2.0,4213.36,2000005335462817,NaT,<NA>,Brenda Luz Acosta Lopez,2024-01-28

    ---> Código a explorar 28564

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
9874,15835,F1-VS/2024/00353,2024-01-30,59912,10.0,448.0,Mayra Angelica Parada Manjarrez,28564,Cerradura Seguridad P/Armario 2llaves *1883*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
277,1688,483,P00472 (701-4575823-9502602),2024-01-31 00:21:15,5147,Amazon,28564,[1883] Cerradura Seguridad P/Armario 2llaves *...,10.0,256.89,701-4575823-9502602,NaT,<NA>,Mayra Angelica Parada Manjarrez,2024-01-28

    ---> Código a explorar 11956

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
2003,3386,F1-VS/2024/00084,2024-01-08,12426,7.0,174.55,Mayra Angelica Parada Manjarrez,11956,Barrote 2*4*10 *45218*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
278,1687,482,P00471 (B 83672),2024-01-31 00:17:49,5290,Maria Reyna Navarrete Cortez,11956,[45218] Barrote 2*4*10 *45218*,6.0,102.38,B 83672,NaT,<NA>,Mayra Angelica Parada Manjarrez,2024-01-28
1727,152,100,P00089 (B 83301),2024-01-09 00:21:13,5290,Maria Reyna Navarrete Cortez,11956,[45218] Barrote 2*4*10 *45218*,7.0,102.38,B 83301,NaT,<NA>,Mayra Angelica Parada Manjarrez,2024-01-06

    ---> Código a explorar 7671

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
3365,5592,F2-CC/2024/00715,2024-01-12,20562,600.0,1.32,Karla Jaqueline Rivera Hernández,7671,Pija C/Pl 12*3 Smpfz (1800P/C) C#42 *3996*
3389,5592,F2-CC/2024/00715,2024-01-12,20586,300.0,1.32,Karla Jaqueline Rivera Hernández,7671,Pija C/Pl 12*3 Smpfz (1800P/C) C#42 *3996*
3396,5592,F2-CC/2024/00715,2024-01-12,20593,200.0,1.32,Karla Jaqueline Rivera Hernández,7671,Pija C/Pl 12*3 Smpfz (1800P/C) C#42 *3996*
7211,11435,F1-CC/2024/01128,2024-01-23,42653,200.0,2.32,Reyna Arriaga Flores,7671,Pija C/Pl 12*3 Smpfz (1800P/C) C#42 *3996*
9586,15452,F2-CC/2024/02025,2024-01-30,58344,600.0,1.32,Karla Jaqueline Rivera Hernández,7671,Pija C/Pl 12*3 Smpfz (1800P/C) C#42 *3996*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
279,1686,481,P00470 (WA 13061),2024-01-30 23:52:32,5221,Distribuidor Mayorista De Tornillos De Yucatan...,7671,[3996] Pija C/Pl 12*3 Smpfz (1800P/C) C#42 *3996*,600.0,0.81,WA 13061,NaT,<NA>,Karla Jaqueline Rivera Hernández,2024-01-27
767,1172,362,P00351 (WA 12978),2024-01-23 20:20:32,5221,Distribuidor Mayorista De Tornillos De Yucatan...,7671,[3996] Pija C/Pl 12*3 Smpfz (1800P/C) C#42 *3996*,1000.0,0.81,WA 12978,NaT,<NA>,Reyna Arriaga Flores,2024-01-20
1252,634,242,P00231 (WA 12872),2024-01-16 18:42:24,5221,Distribuidor Mayorista De Tornillos De Yucatan...,7671,[3996] Pija C/Pl 12*3 Smpfz (1800P/C) C#42 *3996*,100.0,0.81,WA 12872,NaT,<NA>,Mayra Angelica Parada Manjarrez,2024-01-13
1365,530,188,P00177 (WA 12838),2024-01-12 22:56:28,5221,Distribuidor Mayorista De Tornillos De Yucatan...,7671,[3996] Pija C/Pl 12*3 Smpfz (1800P/C) C#42 *3996*,1100.0,0.81,WA 12838,NaT,<NA>,Karla Jaqueline Rivera Hernández,2024-01-09

    ---> Código a explorar 28565

Empty DataFrame
Columns: [fact_doc_id, name, invoice_date, fact_line_id, quantity, price_unit, salesperson_name, product_id, product_name]
Index: []

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
281,1684,480,P00469 (W0000460284),2024-01-30 23:48:18,5157,Ferre-Pat,28565,"[1891] Disco p/metal 14"" #733 Austromex *1891*",5.0,45.99,W0000460284,NaT,<NA>,Irma Carvajal Flores,2024-01-27

    ---> Código a explorar 28499

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
9799,15749,F1-VS/2024/00351,2024-01-30,59498,1.0,3838.0,Irma Carvajal Flores,28499,Nivel Laser Bosch #0601063VD0 *1753*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
282,1685,480,P00469 (W0000460284),2024-01-30 23:48:18,5157,Ferre-Pat,28499,[1753] Nivel Laser Bosch #0601063VD0 *1753*,1.0,2375.86,W0000460284,NaT,<NA>,Irma Carvajal Flores,2024-01-27

    ---> Código a explorar 28563

Empty DataFrame
Columns: [fact_doc_id, name, invoice_date, fact_line_id, quantity, price_unit, salesperson_name, product_id, product_name]
Index: []

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
283,1682,479,P00468 (A 58713),2024-01-30 23:22:49,5298,Eduardo Ramirez Fisher,28563,"[1882] Llave Angular 1/2"" Coplex IP-100 *1882*",30.0,117.1,A 58713,NaT,<NA>,Yolanda Alejandra Rodriguez González,2024-01-27

    ---> Código a explorar 14768

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
9792,15740,F1-VS/2024/00350,2024-01-30,59469,1.0,4553.0,Irma Carvajal Flores,14768,Multimetro Amperimetro Fluke #302 *64481*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
284,1681,478,P00467 (PA 61888),2024-01-30 22:57:49,5335,Casa Myers,14768,[64481] Multimetro Amperimetro Fluke #302 *64481*,1.0,2505.2,PA 61888,NaT,<NA>,Irma Carvajal Flores,2024-01-27

    ---> Código a explorar 13943

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
2794,4578,F1-VS/2024/00119,2024-01-10,16662,3.0,975.52,Mayra Angelica Parada Manjarrez,13943,Triplay Birch 1/2 4'*8' *15143*
3115,5105,F1-VS/2024/00125,2024-01-11,18747,2.0,975.52,Mayra Angelica Parada Manjarrez,13943,Triplay Birch 1/2 4'*8' *15143*
3616,5924,F1-VS/2024/00146,2024-01-12,21711,20.0,975.52,Mayra Angelica Parada Manjarrez,13943,Triplay Birch 1/2 4'*8' *15143*
3618,5925,F1-VS/2024/00147,2024-01-12,21715,4.0,975.52,Mayra Angelica Parada Manjarrez,13943,Triplay Birch 1/2 4'*8' *15143*
3646,5961,F1-VS/2024/00148,2024-01-12,21837,5.0,846.0,Yamilet Blanco Salas,13943,Triplay Birch 1/2 4'*8' *15143*
4735,7668,F1-VS/2024/00184,2024-01-16,28301,16.0,975.52,Mayra Angelica Parada Manjarrez,13943,Triplay Birch 1/2 4'*8' *15143*
4738,7670,F1-VS/2024/00186,2024-01-16,28308,3.0,975.52,Mayra Angelica Parada Manjarrez,13943,Triplay Birch 1/2 4'*8' *15143*
4740,7671,F1-VS/2024/00187,2024-01-16,28312,2.0,975.52,Mayra Angelica Parada Manjarrez,13943,Triplay Birch 1/2 4'*8' *15143*
4745,7680,F1-VS/2024/00188,2024-01-16,28339,20.0,975.52,Mayra Angelica Parada Manjarrez,13943,Triplay Birch 1/2 4'*8' *15143*
5250,8421,F1-VS/2024/00206,2024-01-17,31156,2.0,710.0,Irma Carvajal Flores,13943,Triplay Birch 1/2 4'*8' *15143*
5936,9424,F1-VS/2024/00240,2024-01-19,35120,1.0,975.52,Mayra Angelica Parada Manjarrez,13943,Triplay Birch 1/2 4'*8' *15143*
6483,10208,F1-VS/2024/00258,2024-01-20,38061,2.0,975.52,Mayra Angelica Parada Manjarrez,13943,Triplay Birch 1/2 4'*8' *15143*
8399,13239,F1-VS/2024/00322,2024-01-25,49649,2.0,957.0,Yamilet Blanco Salas,13943,Triplay Birch 1/2 4'*8' *15143*
9276,14874,F1-VS/2024/00337,2024-01-29,55982,9.0,957.0,Irma Carvajal Flores,13943,Triplay Birch 1/2 4'*8' *15143*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
292,1673,475,P00464 (SJCFCO 2467),2024-01-30 18:24:59,5326,Madereria El Pino De Los Cabos,13943,[15143] Triplay Birch 1/2 4'*8' *15143*,9.0,500.00,SJCFCO 2467,NaT,<NA>,Irma Carvajal Flores,2024-01-27
600,1364,408,P00397 (SJCFCO 2196),2024-01-26 17:06:25,5326,Madereria El Pino De Los Cabos,13943,[15143] Triplay Birch 1/2 4'*8' *15143*,2.0,500.00,SJCFCO 2196,NaT,<NA>,Irma Carvajal Flores,2024-01-23
750,1190,373,P00362 (MPIFCO 1281),2024-01-24 16:36:43,5296,Madereria Pichonchas,13943,[15143] Triplay Birch 1/2 4'*8' *15143*,2.0,500.00,MPIFCO 1281,NaT,<NA>,Mayra Angelica Parada Manjarrez,2024-01-21
813,1122,338,P00327 (B 83390),2024-01-22 18:07:06,5290,Maria Reyna Navarrete Cortez,13943,[15143] Triplay Birch 1/2 4'*8' *15143*,6.0,536.41,B 83390,NaT,<NA>,Irma Carvajal Flores,2024-01-19
1116,816,293,P00282 (B 83512),2024-01-19 16:10:13,5290,Maria Reyna Navarrete Cortez,13943,[15143] Triplay Birch 1/2 4'*8' *15143*,1.0,536.41,B 83512,NaT,<NA>,Mayra Angelica Parada Manjarrez,2024-01-16
1155,773,281,P00270 (B 83475),2024-01-18 20:20:13,5290,Maria Reyna Navarrete Cortez,13943,[15143] Triplay Birch 1/2 4'*8' *15143*,2.0,536.41,B 83475,NaT,<NA>,Irma Carvajal Flores,2024-01-15
1234,665,248,P00237 (B 83446),2024-01-16 23:15:25,5290,Maria Reyna Navarrete Cortez,13943,[15143] Triplay Birch 1/2 4'*8' *15143*,41.0,536.41,B 83446,NaT,<NA>,Mayra Angelica Parada Manjarrez,2024-01-13
1325,575,215,P00204 (B 83363),2024-01-15 19:26:13,5290,Maria Reyna Navarrete Cortez,13943,[15143] Triplay Birch 1/2 4'*8' *15143*,5.0,536.41,B 83363,NaT,<NA>,Irma Carvajal Flores,2024-01-12
1349,543,198,P00187 (B 83392),2024-01-13 00:59:38,5290,Maria Reyna Navarrete Cortez,13943,[15143] Triplay Birch 1/2 4'*8' *15143*,24.0,536.41,B 83392,NaT,<NA>,Mayra Angelica Parada Manjarrez,2024-01-10
1471,423,180,P00169 (B 83355),2024-01-12 16:05:14,5290,Maria Reyna Navarrete Cortez,13943,[15143] Triplay Birch 1/2 4'*8' *15143*,2.0,536.41,B 83355,NaT,<NA>,Mayra Angelica Parada Manjarrez,2024-01-09
1650,231,130,P00119 (B 83327),2024-01-10 17:40:39,5290,Maria Reyna Navarrete Cortez,13943,[15143] Triplay Birch 1/2 4'*8' *15143*,3.0,536.41,B 83327,NaT,<NA>,Mayra Angelica Parada Manjarrez,2024-01-07

    ---> Código a explorar 14156

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
4732,7663,F1-VS/2024/00183,2024-01-16,28286,30.0,1487.07,Mayra Angelica Parada Manjarrez,14156,Triplay Birch 3/4 4'*8' *15293*
4736,7669,F1-VS/2024/00185,2024-01-16,28304,30.0,1330.8,Mayra Angelica Parada Manjarrez,14156,Triplay Birch 3/4 4'*8' *15293*
4737,7670,F1-VS/2024/00186,2024-01-16,28307,3.0,1330.8,Mayra Angelica Parada Manjarrez,14156,Triplay Birch 3/4 4'*8' *15293*
4739,7671,F1-VS/2024/00187,2024-01-16,28311,6.0,1330.8,Mayra Angelica Parada Manjarrez,14156,Triplay Birch 3/4 4'*8' *15293*
5229,8413,F1-VS/2024/00200,2024-01-17,31109,2.0,1330.6,Mayra Angelica Parada Manjarrez,14156,Triplay Birch 3/4 4'*8' *15293*
5265,8442,F1-VS/2024/00210,2024-01-17,31229,2.0,1100.0,Irma Carvajal Flores,14156,Triplay Birch 3/4 4'*8' *15293*
8400,13239,F1-VS/2024/00322,2024-01-25,49650,2.0,1540.96,Yamilet Blanco Salas,14156,Triplay Birch 3/4 4'*8' *15293*
9662,15509,F2-VS/2024/00220,2024-01-30,58566,10.0,1248.62,Brenda Luz Acosta Lopez,14156,Triplay Birch 3/4 4'*8' *15293*
9668,15509,F2-VS/2024/00220,2024-01-30,58573,3.0,1248.62,Brenda Luz Acosta Lopez,14156,Triplay Birch 3/4 4'*8' *15293*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
309,1652,473,P00462 (SJCFCO 2507),2024-01-30 17:49:19,5326,Madereria El Pino De Los Cabos,14156,[15293] Triplay Birch 3/4 4'*8' *15293*,13.0,724.14,SJCFCO 2507,NaT,<NA>,Brenda Luz Acosta Lopez,2024-01-27
601,1365,408,P00397 (SJCFCO 2196),2024-01-26 17:06:25,5326,Madereria El Pino De Los Cabos,14156,[15293] Triplay Birch 3/4 4'*8' *15293*,2.0,724.14,SJCFCO 2196,NaT,<NA>,Irma Carvajal Flores,2024-01-23
765,1175,364,P00353 (B 83520),2024-01-23 23:05:42,5290,Maria Reyna Navarrete Cortez,14156,[15293] Triplay Birch 3/4 4'*8' *15293*,2.0,723.19,B 83520,NaT,<NA>,Irma Carvajal Flores,2024-01-20
1185,738,267,P00256 (B 83469),2024-01-17 22:58:39,5290,Maria Reyna Navarrete Cortez,14156,[15293] Triplay Birch 3/4 4'*8' *15293*,2.0,723.19,B 83469,NaT,<NA>,Mayra Angelica Parada Manjarrez,2024-01-14
1235,666,248,P00237 (B 83446),2024-01-16 23:15:25,5290,Maria Reyna Navarrete Cortez,14156,[15293] Triplay Birch 3/4 4'*8' *15293*,69.0,723.19,B 83446,NaT,<NA>,Mayra Angelica Parada Manjarrez,2024-01-13

    ---> Código a explorar 13331

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
2002,3386,F1-VS/2024/00084,2024-01-08,12425,4.0,486.66,Mayra Angelica Parada Manjarrez,13331,Triplay Birch 1/4 4'*8' *16320*
2362,3919,F1-VS/2024/00096,2024-01-09,14273,2.0,489.8,Mayra Angelica Parada Manjarrez,13331,Triplay Birch 1/4 4'*8' *16320*
2429,4106,F1-VS/2024/00103,2024-01-10,14950,1.0,489.66,Mayra Angelica Parada Manjarrez,13331,Triplay Birch 1/4 4'*8' *16320*
3615,5924,F1-VS/2024/00146,2024-01-12,21710,29.0,489.86,Mayra Angelica Parada Manjarrez,13331,Triplay Birch 1/4 4'*8' *16320*
4746,7680,F1-VS/2024/00188,2024-01-16,28340,10.0,489.86,Mayra Angelica Parada Manjarrez,13331,Triplay Birch 1/4 4'*8' *16320*
5262,8440,F1-VS/2024/00208,2024-01-17,31221,3.0,418.0,Irma Carvajal Flores,13331,Triplay Birch 1/4 4'*8' *16320*
6474,10208,F1-VS/2024/00258,2024-01-20,38052,8.0,489.66,Mayra Angelica Parada Manjarrez,13331,Triplay Birch 1/4 4'*8' *16320*
7880,12370,F1-VS/2024/00310,2024-01-24,46159,12.0,413.81,Mayra Angelica Parada Manjarrez,13331,Triplay Birch 1/4 4'*8' *16320*
8203,13045,F1-VS/2024/00316,2024-01-25,48950,6.0,402.0,Irma Carvajal Flores,13331,Triplay Birch 1/4 4'*8' *16320*
8398,13239,F1-VS/2024/00322,2024-01-25,49648,2.0,581.9,Yamilet Blanco Salas,13331,Triplay Birch 1/4 4'*8' *16320*
9665,15509,F2-VS/2024/00220,2024-01-30,58570,5.0,435.4,Brenda Luz Acosta Lopez,13331,Triplay Birch 1/4 4'*8' *16320*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
310,1653,473,P00462 (SJCFCO 2507),2024-01-30 17:49:19,5326,Madereria El Pino De Los Cabos,13331,[16320] Triplay Birch 1/4 4'*8' *16320*,5.0,267.24,SJCFCO 2507,NaT,<NA>,Brenda Luz Acosta Lopez,2024-01-27
579,1384,415,P00404 (B 83634),2024-01-26 18:12:59,5378,Maderas Dimar,13331,[16320] Triplay Birch 1/4 4'*8' *16320*,12.0,261.09,B 83634,NaT,<NA>,Mayra Angelica Parada Manjarrez,2024-01-23
599,1363,408,P00397 (SJCFCO 2196),2024-01-26 17:06:25,5326,Madereria El Pino De Los Cabos,13331,[16320] Triplay Birch 1/4 4'*8' *16320*,2.0,267.24,SJCFCO 2196,NaT,<NA>,Irma Carvajal Flores,2024-01-23
749,1189,373,P00362 (MPIFCO 1281),2024-01-24 16:36:43,5296,Madereria Pichonchas,13331,[16320] Triplay Birch 1/4 4'*8' *16320*,8.0,267.24,MPIFCO 1281,NaT,<NA>,Mayra Angelica Parada Manjarrez,2024-01-21
814,1123,338,P00327 (B 83390),2024-01-22 18:07:06,5290,Maria Reyna Navarrete Cortez,13331,[16320] Triplay Birch 1/4 4'*8' *16320*,3.0,261.09,B 83390,NaT,<NA>,Irma Carvajal Flores,2024-01-19
1156,774,281,P00270 (B 83475),2024-01-18 20:20:13,5290,Maria Reyna Navarrete Cortez,13331,[16320] Triplay Birch 1/4 4'*8' *16320*,3.0,261.09,B 83475,NaT,<NA>,Irma Carvajal Flores,2024-01-15
1236,667,248,P00237 (B 83446),2024-01-16 23:15:25,5290,Maria Reyna Navarrete Cortez,13331,[16320] Triplay Birch 1/4 4'*8' *16320*,10.0,261.09,B 83446,NaT,<NA>,Mayra Angelica Parada Manjarrez,2024-01-13
1315,582,220,P00209 (SJCFCO 983),2024-01-15 19:37:11,5326,Madereria El Pino De Los Cabos,13331,[16320] Triplay Birch 1/4 4'*8' *16320*,5.0,267.24,SJCFCO 983,NaT,<NA>,Irma Carvajal Flores,2024-01-12
1350,544,198,P00187 (B 83392),2024-01-13 00:59:38,5290,Maria Reyna Navarrete Cortez,13331,[16320] Triplay Birch 1/4 4'*8' *16320*,29.0,261.09,B 83392,NaT,<NA>,Mayra Angelica Parada Manjarrez,2024-01-10
1634,245,139,P00128 (B 83329),2024-01-10 18:50:51,5290,Maria Reyna Navarrete Cortez,13331,[16320] Triplay Birch 1/4 4'*8' *16320*,6.0,261.09,B 83329,NaT,<NA>,Irma Carvajal Flores,2024-01-07
1648,229,130,P00119 (B 83327),2024-01-10 17:40:39,5290,Maria Reyna Navarrete Cortez,13331,[16320] Triplay Birch 1/4 4'*8' *16320*,3.0,261.09,B 83327,NaT,<NA>,Mayra Angelica Parada Manjarrez,2024-01-07
1725,150,100,P00089 (B 83301),2024-01-09 00:21:13,5290,Maria Reyna Navarrete Cortez,13331,[16320] Triplay Birch 1/4 4'*8' *16320*,4.0,261.09,B 83301,NaT,<NA>,Mayra Angelica Parada Manjarrez,2024-01-06

    ---> Código a explorar 12827

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
6001,9483,F2-VS/2024/00140,2024-01-19,35346,15.0,282.1,Brenda Luz Acosta Lopez,12827,Barrote 2 * 4 * 12 Americano *13712*
9666,15509,F2-VS/2024/00220,2024-01-30,58571,10.0,282.1,Brenda Luz Acosta Lopez,12827,Barrote 2 * 4 * 12 Americano *13712*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
311,1654,473,P00462 (SJCFCO 2507),2024-01-30 17:49:19,5326,Madereria El Pino De Los Cabos,12827,[13712] Barrote 2 * 4 * 12 Americano *13712*,10.0,181.03,SJCFCO 2507,NaT,<NA>,Brenda Luz Acosta Lopez,2024-01-27
993,941,301,P00290 (SJCFCO 1566),2024-01-19 18:40:43,5326,Madereria El Pino De Los Cabos,12827,[13712] Barrote 2 * 4 * 12 Americano *13712*,15.0,181.03,SJCFCO 1566,NaT,<NA>,Brenda Luz Acosta Lopez,2024-01-16

    ---> Código a explorar 14024

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
9667,15509,F2-VS/2024/00220,2024-01-30,58572,2.0,905.18,Brenda Luz Acosta Lopez,14024,"Triplay MDF 3/4"" Natural *15564*"

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
312,1655,473,P00462 (SJCFCO 2507),2024-01-30 17:49:19,5326,Madereria El Pino De Los Cabos,14024,"[15564] Triplay MDF 3/4"" Natural *15564*",2.0,517.24,SJCFCO 2507,NaT,<NA>,Brenda Luz Acosta Lopez,2024-01-27

    ---> Código a explorar 14184

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
817,1546,F1-VS/2024/00023,2024-01-05,5686,5.0,1673.2,Mayra Angelica Parada Manjarrez,14184,Tablon americano 2*12*10 *90057*
2184,3707,F2-VS/2024/00045,2024-01-09,13535,2.0,1293.11,Brenda Luz Acosta Lopez,14184,Tablon americano 2*12*10 *90057*
6654,10577,F2-VS/2024/00159,2024-01-22,39452,6.0,1293.11,Brenda Luz Acosta Lopez,14184,Tablon americano 2*12*10 *90057*
8397,13239,F1-VS/2024/00322,2024-01-25,49647,1.0,1336.21,Yamilet Blanco Salas,14184,Tablon americano 2*12*10 *90057*
9577,15434,F2-VS/2024/00215,2024-01-30,58291,1.0,1293.11,Brenda Luz Acosta Lopez,14184,Tablon americano 2*12*10 *90057*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
314,1651,472,P00461 (SJCFCO 2547),2024-01-30 17:47:24,5326,Madereria El Pino De Los Cabos,14184,[90057] Tablon americano 2*12*10 *90057*,1.0,758.62,SJCFCO 2547,NaT,<NA>,Brenda Luz Acosta Lopez,2024-01-27
597,1361,408,P00397 (SJCFCO 2196),2024-01-26 17:06:25,5326,Madereria El Pino De Los Cabos,14184,[90057] Tablon americano 2*12*10 *90057*,1.0,758.62,SJCFCO 2196,NaT,<NA>,Irma Carvajal Flores,2024-01-23
774,1164,359,P00348 (SJCFCO 1852),2024-01-23 18:08:37,5326,Madereria El Pino De Los Cabos,14184,[90057] Tablon americano 2*12*10 *90057*,2.0,758.62,SJCFCO 1852,NaT,<NA>,Brenda Luz Acosta Lopez,2024-01-20
825,1113,331,P00320 (SJCFCO 1746),2024-01-22 17:21:21,5326,Madereria El Pino De Los Cabos,14184,[90057] Tablon americano 2*12*10 *90057*,6.0,758.62,SJCFCO 1746,NaT,<NA>,Brenda Luz Acosta Lopez,2024-01-19
1801,74,55,P00048 (A 22053),2024-01-04 17:14:52,5264,Maria Teresa Quezada Hernandez,14184,[90057] Tablon americano 2*12*10 *90057*,5.0,931.04,A 22053,NaT,<NA>,Mayra Angelica Parada Manjarrez,2024-01-01

    ---> Código a explorar 28562

Empty DataFrame
Columns: [fact_doc_id, name, invoice_date, fact_line_id, quantity, price_unit, salesperson_name, product_id, product_name]
Index: []

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
424,1541,466,P00455 (2000007488714392),2024-01-30 00:39:56,5128,Mercado Libre,28562,[1879] Mezcladora Tipo Monomando Plateada B Me...,1.0,1206.03,2000007488714392,NaT,Elsa Ivette Diaz Leyva,Irma Carvajal Flores,2024-01-27

    ---> Código a explorar 28561

Empty DataFrame
Columns: [fact_doc_id, name, invoice_date, fact_line_id, quantity, price_unit, salesperson_name, product_id, product_name]
Index: []

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
425,1540,465,P00454 (AZG 3306336),2024-01-30 00:37:13,5266,Costco De Mexico,28561,"[1878] Laptop 15"" 256 GB Apple #680260 *1878*",1.0,24568.1,AZG 3306336,NaT,Elsa Ivette Diaz Leyva,Irma Carvajal Flores,2024-01-27

    ---> Código a explorar 27836

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
9337,14966,F1-VS/2024/00339,2024-01-29,56325,6.0,589.0,Irma Carvajal Flores,27836,Pasta Española Blanca *20659*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
453,1512,460,P00449 (3368),2024-01-29 18:34:45,5365,Raul Mosqueda Verdugo,27836,[20659] Pasta Española Blanca *20659*,6.0,387.94,3368,NaT,<NA>,Irma Carvajal Flores,2024-01-26

    ---> Código a explorar 28556

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
9227,14808,F2-CC/2024/01928,2024-01-29,55736,150.0,4.34,<NA>,28556,Regatón Redondo Para Tubo 5/8 Interno De Plást...

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
454,1511,459,P00448 (C 261903),2024-01-29 17:28:29,5321,El Gran Tlapalero,28556,[1867] Regatón Redondo Para Tubo 5/8 Interno D...,150.0,2.93,C 261903,NaT,<NA>,Patricia Flores Pantaleón,2024-01-26

    ---> Código a explorar 13380

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
9058,14413,F2-VS/2024/00206,2024-01-27,54123,20.0,969.96,Brenda Luz Acosta Lopez,13380,Bis. Jako Invisible 118mm Inox BC11828 *35395*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
456,1509,457,P00446 (D 16108953),2024-01-29 17:25:59,5246,Productos Jako,13380,[35395] Bis. Jako Invisible 118mm Inox BC11828...,20.0,269.24,D 16108953,NaT,<NA>,Brenda Luz Acosta Lopez,2024-01-26

    ---> Código a explorar 14201

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
3141,5126,F2-VS/2024/00071,2024-01-11,18839,10.0,1275.14,Yamilet Blanco Salas,14201,Bisagra Tectus 240 3D Gris #274.100 (Pz) *27002*
9573,15427,F2-VS/2024/00214,2024-01-30,58267,40.0,1275.14,Brenda Luz Acosta Lopez,14201,Bisagra Tectus 240 3D Gris #274.100 (Pz) *27002*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
457,1507,456,P00445 (F 303629),2024-01-29 17:23:00,5262,Chapas Y Maderas Importadas,14201,[27002] Bisagra Tectus 240 3D Gris #274.100 (P...,60.0,763.53,F 303629,NaT,<NA>,Brenda Luz Acosta Lopez,2024-01-26
1501,390,159,P00148 (F 302124),2024-01-11 21:52:16,5262,Chapas Y Maderas Importadas,14201,[27002] Bisagra Tectus 240 3D Gris #274.100 (P...,10.0,757.12,F 302124,NaT,<NA>,Brenda Luz Acosta Lopez,2024-01-08

    ---> Código a explorar 14263

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
2607,4331,F1-VS/2024/00108,2024-01-10,15801,5.0,1901.0,Irma Carvajal Flores,14263,Bis. Tectus 340 3D 80Kg Negro *55894*
6257,9845,F2-VS/2024/00148,2024-01-19,36551,35.0,1427.55,Brenda Luz Acosta Lopez,14263,Bis. Tectus 340 3D 80Kg Negro *55894*
8427,13250,F1-VS/2024/00324,2024-01-25,49707,30.0,1500.0,Irma Carvajal Flores,14263,Bis. Tectus 340 3D 80Kg Negro *55894*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
458,1508,456,P00445 (F 303629),2024-01-29 17:23:00,5262,Chapas Y Maderas Importadas,14263,[55894] Bis. Tectus 340 3D 80Kg Negro *55894*,20.0,884.77,F 303629,NaT,<NA>,Brenda Luz Acosta Lopez,2024-01-26
627,1335,398,P00387 (F 303424),2024-01-26 00:42:01,5262,Chapas Y Maderas Importadas,14263,[55894] Bis. Tectus 340 3D 80Kg Negro *55894*,40.0,910.27,F 303424,NaT,<NA>,Irma Carvajal Flores,2024-01-23
1500,389,159,P00148 (F 302124),2024-01-11 21:52:16,5262,Chapas Y Maderas Importadas,14263,[55894] Bis. Tectus 340 3D 80Kg Negro *55894*,35.0,877.36,F 302124,NaT,<NA>,Brenda Luz Acosta Lopez,2024-01-08

    ---> Código a explorar 28489

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
6322,9992,F2-VS/2024/00156,2024-01-20,37313,3.0,392.0,Brenda Luz Acosta Lopez,28489,Copa P/Desbaste Austromex #1284 G-80 *24686*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
459,1506,455,P00444 (FC-LPZ1-78711),2024-01-29 17:16:32,5285,Surtidora Mexicana Frontera,28489,[24686] Copa P/Desbaste Austromex #1284 G-80 *...,3.0,207.6225,FC-LPZ1-78711,NaT,<NA>,Brenda Luz Acosta Lopez,2024-01-26

    ---> Código a explorar 27184

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
5528,8850,F2-VS/2024/00132,2024-01-18,32956,10.0,29.0,Brenda Luz Acosta Lopez,27184,Carret. P/Riel Corre 2181300NI Pz *25631*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
460,1499,454,P00443 (C 261746),2024-01-29 17:14:59,5321,El Gran Tlapalero,27184,[25631] Carret. P/Riel Corre 2181300NI Pz *25631*,20.0,16.4,C 261746,NaT,<NA>,Brenda Luz Acosta Lopez,2024-01-26
1739,139,92,P00081 (C 259719),2024-01-08 23:29:22,5321,El Gran Tlapalero,27184,[25631] Carret. P/Riel Corre 2181300NI Pz *25631*,10.0,15.5,C 259719,NaT,<NA>,Brenda Luz Acosta Lopez,2024-01-05

    ---> Código a explorar 26983

Empty DataFrame
Columns: [fact_doc_id, name, invoice_date, fact_line_id, quantity, price_unit, salesperson_name, product_id, product_name]
Index: []

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
462,1501,454,P00443 (C 261746),2024-01-29 17:14:59,5321,El Gran Tlapalero,26983,[3003] Tope Phillips Codo #56-Cs *3003*,10.0,56.5,C 261746,NaT,<NA>,Brenda Luz Acosta Lopez,2024-01-26

    ---> Código a explorar 10839

Empty DataFrame
Columns: [fact_doc_id, name, invoice_date, fact_line_id, quantity, price_unit, salesperson_name, product_id, product_name]
Index: []

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
463,1502,454,P00443 (C 261746),2024-01-29 17:14:59,5321,El Gran Tlapalero,10839,[5206] Tope Ph Pared #57-C #147 *5206*,10.0,46.49,C 261746,NaT,<NA>,Brenda Luz Acosta Lopez,2024-01-26

    ---> Código a explorar 28450

Empty DataFrame
Columns: [fact_doc_id, name, invoice_date, fact_line_id, quantity, price_unit, salesperson_name, product_id, product_name]
Index: []

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
464,1503,454,P00443 (C 261746),2024-01-29 17:14:59,5321,El Gran Tlapalero,28450,"[1604] Disco de sierra 8 1/4"" DW03110 DeWalt *...",2.0,217.8,C 261746,NaT,<NA>,Brenda Luz Acosta Lopez,2024-01-26

    ---> Código a explorar 28449

Empty DataFrame
Columns: [fact_doc_id, name, invoice_date, fact_line_id, quantity, price_unit, salesperson_name, product_id, product_name]
Index: []

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
465,1504,454,P00443 (C 261746),2024-01-29 17:14:59,5321,El Gran Tlapalero,28449,"[1602] Disco de Sierra 10"" DW03220 DeWalt *1602*",2.0,688.97,C 261746,NaT,<NA>,Brenda Luz Acosta Lopez,2024-01-26

    ---> Código a explorar 26656

Empty DataFrame
Columns: [fact_doc_id, name, invoice_date, fact_line_id, quantity, price_unit, salesperson_name, product_id, product_name]
Index: []

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
466,1505,454,P00443 (C 261746),2024-01-29 17:14:59,5321,El Gran Tlapalero,26656,"[66988] Dis. Made 12"" 80Dt DEWALT DWA03150 CE ...",2.0,550.44,C 261746,NaT,<NA>,Brenda Luz Acosta Lopez,2024-01-26

    ---> Código a explorar 28062

Empty DataFrame
Columns: [fact_doc_id, name, invoice_date, fact_line_id, quantity, price_unit, salesperson_name, product_id, product_name]
Index: []

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
467,1498,453,P00442 (2000005335462817B),2024-01-29 17:10:12,5128,Mercado Libre,28062,[19892] Lampara Minero Led T6 Recargable 2020 ...,2.0,162.97,2000005335462817B,NaT,<NA>,Brenda Luz Acosta Lopez,2024-01-26

    ---> Código a explorar 27756

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
7862,12362,F1-VS/2024/00311,2024-01-24,46118,2.0,3426.72,Irma Carvajal Flores,27756,Pasta Covermix 509 (19Lt) Resanadora *22658*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
468,1496,452,P00441 (A 267),2024-01-29 16:55:21,5227,Anabell Hernandez Espinoza,27756,[22658] Pasta Covermix 509 (19Lt) Resanadora *...,2.0,1938.0,A 267,NaT,<NA>,Irma Carvajal Flores,2024-01-26
1237,663,247,P00236 (A 254),2024-01-16 22:55:29,5227,Anabell Hernandez Espinoza,27756,[22658] Pasta Covermix 509 (19Lt) Resanadora *...,2.0,2543.1,A 254,NaT,<NA>,Irma Carvajal Flores,2024-01-13

    ---> Código a explorar 27101

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
7893,12410,F1-VS/2024/00312,2024-01-24,46315,3.0,8017.25,Irma Carvajal Flores,27101,Pasta Corev Palladio 2343 (19Lt) Plas *25952*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
469,1497,452,P00441 (A 267),2024-01-29 16:55:21,5227,Anabell Hernandez Espinoza,27101,[25952] Pasta Corev Palladio 2343 (19Lt) Plas ...,2.0,5790.52,A 267,NaT,<NA>,Irma Carvajal Flores,2024-01-26
1238,664,247,P00236 (A 254),2024-01-16 22:55:29,5227,Anabell Hernandez Espinoza,27101,[25952] Pasta Corev Palladio 2343 (19Lt) Plas ...,2.0,5948.28,A 254,NaT,<NA>,Irma Carvajal Flores,2024-01-13

    ---> Código a explorar 14550

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
9336,14965,F1-VS/2024/00338,2024-01-29,56322,5.0,4200.0,Irma Carvajal Flores,14550,Cierra Puerta Tesa Uso Rudo 7500 #84883 *9979*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
470,1495,451,P00440 (RI 27126920),2024-01-29 16:21:47,5375,Assa Abloy Mexico,14550,[9979] Cierra Puerta Tesa Uso Rudo 7500 #84883...,5.0,2250.0,RI 27126920,NaT,<NA>,Irma Carvajal Flores,2024-01-26

    ---> Código a explorar 28555

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
9169,14705,F1-VS/2024/00336,2024-01-29,55401,10.0,145.0,Irma Carvajal Flores,28555,Solera 3/16 x 1/2 *1866*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
471,1494,450,P00439 (ACR1 111936664),2024-01-29 16:19:37,5235,Aceros Y Perfilados Del Noroeste,28555,[1866] Solera 3/16 x 1/2 *1866*,10.0,91.24,ACR1 111936664,NaT,<NA>,Irma Carvajal Flores,2024-01-26

    ---> Código a explorar 28554

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
9257,14853,F2-CC/2024/01937,2024-01-29,55903,1.0,267.75,Yolanda Alejandra Rodriguez González,28554,Grapa Para Cable Coaxial 9MM Negro (100pz) *1862*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
472,1493,449,P00438 (2000007467399796),2024-01-29 16:04:04,5128,Mercado Libre,28554,[1862] Grapa Para Cable Coaxial 9MM Negro (100...,1.0,178.5,2000007467399796,NaT,<NA>,Yolanda Alejandra Rodriguez González,2024-01-26

    ---> Código a explorar 14770

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
5567,8894,F1-VS/2024/00222,2024-01-18,33115,2.0,3623.37,Irma Carvajal Flores,14770,Pintura Kem-Tone Mate 711 SW *101001*
7864,12362,F1-VS/2024/00311,2024-01-24,46120,1.0,3623.37,Irma Carvajal Flores,14770,Pintura Kem-Tone Mate 711 SW *101001*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
473,1492,448,P00437 (WAI 53455),2024-01-29 15:47:23,5175,Cia Sherwin Williams,14770,[101001] Pintura Kem-Tone Mate 711 SW *101001*,1.0,2415.58,WAI 53455,NaT,<NA>,Irma Carvajal Flores,2024-01-26
595,1368,410,P00399 (WAI 53426),2024-01-26 17:10:49,5175,Cia Sherwin Williams,14770,[101001] Pintura Kem-Tone Mate 711 SW *101001*,1.0,2415.58,WAI 53426,NaT,<NA>,Irma Carvajal Flores,2024-01-23

    ---> Código a explorar 28497

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
9797,15749,F1-VS/2024/00351,2024-01-30,59496,1.0,10975.0,Irma Carvajal Flores,28497,M18 Fuel Cortador De Paneles De Yeso Inalambri...

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
474,1491,447,P00436 (FH 9699),2024-01-29 15:46:19,5153,Grupo Ferreteria Calzada,28497,[1748] M18 Fuel Cortador De Paneles De Yeso In...,1.0,5384.48,FH 9699,NaT,<NA>,Irma Carvajal Flores,2024-01-26

    ---> Código a explorar 27412

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
8880,14178,F2-VS/2024/00201,2024-01-27,53334,20.0,164.0,Brenda Luz Acosta Lopez,27412,Canastilla Plastica C/Tapon PH-076 *24700*
10184,16448,F2-VS/2024/00227,2024-01-31,62320,16.0,164.0,Brenda Luz Acosta Lopez,27412,Canastilla Plastica C/Tapon PH-076 *24700*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
476,1490,446,P00435 (4HGFFI 182762),2024-01-27 21:35:45,5387,Home Depot Mexico,27412,[24700] Canastilla Plastica C/Tapon PH-076 *24...,16.0,69.83,4HGFFI 182762,NaT,Gretel Gómez Alcázar,Brenda Luz Acosta Lopez,2024-01-24
559,1404,425,P00414 (4HGFFI 182193),2024-01-26 18:51:24,5387,Home Depot Mexico,27412,[24700] Canastilla Plastica C/Tapon PH-076 *24...,20.0,69.83,4HGFFI 182193,NaT,<NA>,Brenda Luz Acosta Lopez,2024-01-23

    ---> Código a explorar 28553

Empty DataFrame
Columns: [fact_doc_id, name, invoice_date, fact_line_id, quantity, price_unit, salesperson_name, product_id, product_name]
Index: []

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
477,1487,445,P00434 (4HGFFI 182764),2024-01-27 21:25:24,5387,Home Depot Mexico,28553,[1861] INTERRUPTOR P/ABCO C/CADENA *1861*,5.0,90.52,4HGFFI 182764,NaT,Gretel Gómez Alcázar,Brenda Luz Acosta Lopez,2024-01-24

    ---> Código a explorar 27182

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
9060,14417,F2-VS/2024/00207,2024-01-27,54138,2.0,137.58,Brenda Luz Acosta Lopez,27182,Pegamento JB Coldweld 28.4 gr *25656*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
478,1488,445,P00434 (4HGFFI 182764),2024-01-27 21:25:24,5387,Home Depot Mexico,27182,[25656] Pegamento JB Coldweld 28.4 gr *25656*,2.0,90.52,4HGFFI 182764,NaT,Gretel Gómez Alcázar,Brenda Luz Acosta Lopez,2024-01-24

    ---> Código a explorar 28552

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
9101,14472,F2-VS/2024/00210,2024-01-27,54324,2.0,263.5,Brenda Luz Acosta Lopez,28552,Pro-1000 Plus Negro Lt *24889*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
479,1485,444,P00433 (BSTARFA 136790),2024-01-27 20:07:48,5174,Campos Reyeros Y Cia,28552,[24889] Pro-1000 Plus Negro Lt *24889*,2.0,146.98,BSTARFA 136790,NaT,Gretel Gómez Alcázar,Brenda Luz Acosta Lopez,2024-01-24

    ---> Código a explorar 27598

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
9100,14472,F2-VS/2024/00210,2024-01-27,54323,3.0,393.11,Brenda Luz Acosta Lopez,27598,Flash Coat Negro Brillante 1 ltr *24273*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
480,1486,444,P00433 (BSTARFA 136790),2024-01-27 20:07:48,5174,Campos Reyeros Y Cia,27598,[24273] Flash Coat Negro Brillante 1 ltr *24273*,3.0,274.14,BSTARFA 136790,NaT,Gretel Gómez Alcázar,Brenda Luz Acosta Lopez,2024-01-24

    ---> Código a explorar 28122

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
8876,14173,F2-VS/2024/00200,2024-01-27,53318,2.0,979.5,Brenda Luz Acosta Lopez,28122,Cerradura P/Perfil Alum. Mod-1096 Herral *16639*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
481,1484,443,P00432 (A 150357),2024-01-27 19:56:17,5280,DISTRIBUIDORA DE HERRAJES Y ALUMINIO DE LOS CABOS,28122,[16639] Cerradura P/Perfil Alum. Mod-1096 Herr...,2.0,413.8,A 150357,NaT,Gretel Gómez Alcázar,Brenda Luz Acosta Lopez,2024-01-24

    ---> Código a explorar 14518

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
8935,14234,F2-VS/2024/00203,2024-01-27,53534,1.0,3192.0,Brenda Luz Acosta Lopez,14518,Cierra Puerta Hafele Oculto #931.77.029 *14544*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
482,1483,442,P00431 (SJCFCO 2347),2024-01-27 19:53:31,5326,Madereria El Pino De Los Cabos,14518,[14544] Cierra Puerta Hafele Oculto #931.77.02...,1.0,2127.59,SJCFCO 2347,NaT,Gretel Gómez Alcázar,Brenda Luz Acosta Lopez,2024-01-24
755,1184,370,P00359 (36985),2024-01-24 16:27:59,5378,Maderas Dimar,14518,[14544] Cierra Puerta Hafele Oculto #931.77.02...,5.0,2780.60,36985,NaT,<NA>,Mayra Angelica Parada Manjarrez,2024-01-21

    ---> Código a explorar 28383

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
8709,13748,F1-VS/2024/00333,2024-01-26,51609,2.0,2635.68,Irma Carvajal Flores,28383,Kit de Bisagra Para Puerta Superior Derecha TS...

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
524,1441,438,P00427 (5140 AFAD),2024-01-26 22:58:00,5361,Escamexport,28383,[1431] Kit de Bisagra Para Puerta Superior Der...,2.0,1734.0,5140 AFAD,NaT,<NA>,Irma Carvajal Flores,2024-01-23

    ---> Código a explorar 28524

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
8693,13720,F1-VS/2024/00330,2024-01-26,51515,2.0,675.0,Irma Carvajal Flores,28524,Solera 1/8x1 Inox *1811*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
528,1436,436,P00425 (1197),2024-01-26 22:30:58,5367,Inoxidables Gran Baja,28524,[1811] Solera 1/8x1 Inox *1811*,2.0,407.84,1197,NaT,<NA>,Irma Carvajal Flores,2024-01-23

    ---> Código a explorar 28525

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
8694,13720,F1-VS/2024/00330,2024-01-26,51516,2.0,2200.0,Irma Carvajal Flores,28525,"Tubo Redondo 1"" C.18 Inoxidable Tramo 6mts *1812*"

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
529,1437,436,P00425 (1197),2024-01-26 22:30:58,5367,Inoxidables Gran Baja,28525,"[1812] Tubo Redondo 1"" C.18 Inoxidable Tramo 6...",2.0,1314.15,1197,NaT,<NA>,Irma Carvajal Flores,2024-01-23

    ---> Código a explorar 28523

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
8692,13720,F1-VS/2024/00330,2024-01-26,51514,3.0,2130.0,Irma Carvajal Flores,28523,Lamina Acrilico Transparente 81.3 x 111.5cm 5m...

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
530,1435,435,P00424 (A 45256),2024-01-26 22:25:29,5249,Maria Del Rosario Lazarin Del Rio,28523,[1813] Lamina Acrilico Transparente 81.3 x 111...,3.0,1224.14,A 45256,NaT,<NA>,Irma Carvajal Flores,2024-01-23

    ---> Código a explorar 28549

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
8848,14109,F2-CC/2024/01831,2024-01-27,53117,10.0,19.39,<NA>,28549,Bateria Alcalina 1.5V 110MAH Tipo Boton #BAT-A...

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
531,1432,433,P00422 (FSJC 36637),2024-01-26 22:01:58,5334,Electronica Pazeña,28549,[1858] Bateria Alcalina 1.5V 110MAH Tipo Boton...,10.0,12.93,FSJC 36637,NaT,<NA>,Patricia Flores Pantaleón,2024-01-23

    ---> Código a explorar 28543

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
8815,13908,F2-VS/2024/00198,2024-01-26,52130,12.0,43.0,Brenda Luz Acosta Lopez,28543,Jaladera Pte. #3865 96mm Niq. Sat. *1845*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
532,1431,432,P00421 (SJCFCO 2290),2024-01-26 20:45:35,5326,Madereria El Pino De Los Cabos,28543,[1845] Jaladera Pte. #3865 96mm Niq. Sat. *1845*,12.0,29.31,SJCFCO 2290,NaT,<NA>,Brenda Luz Acosta Lopez,2024-01-23

    ---> Código a explorar 27164

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
8518,13453,F1-VS/2024/00329,2024-01-26,50621,10.0,274.13,Mayra Angelica Parada Manjarrez,27164,Piso sobre Piso 10Kg *25719*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
533,1430,431,P00420 (CON 88853),2024-01-26 20:43:33,5397,Erika Lissette Cota Ojeda,27164,[25719] Piso sobre Piso 10Kg *25719*,10.0,133.94,CON 88853,NaT,<NA>,Mayra Angelica Parada Manjarrez,2024-01-23

    ---> Código a explorar 26914

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
2021,3397,F2-VS/2024/00037,2024-01-08,12472,7.0,348.78,Yamilet Blanco Salas,26914,Hoja Tablaroca *36369*
8353,13187,F1-VS/2024/00318,2024-01-25,49466,5.0,300.9,Irma Carvajal Flores,26914,Hoja Tablaroca *36369*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
534,1429,430,P00419 (58083),2024-01-26 20:40:29,5383,"Juan Carlos Verboonen Espino (Tpp) (Tablaroca,...",26914,[36369] Hoja Tablaroca *36369*,5.0,188.00,58083,NaT,<NA>,Irma Carvajal Flores,2024-01-23
1688,191,110,P00099 (SJ 36460),2024-01-09 16:17:43,5369,Acyma Del Noroeste,26914,[36369] Hoja Tablaroca *36369*,7.0,196.99,SJ 36460,NaT,<NA>,Irma Carvajal Flores,2024-01-06

    ---> Código a explorar 14853

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
8642,13637,F2-CC/2024/01776,2024-01-26,51236,7.0,438.36,Yolanda Alejandra Rodriguez González,14853,Carda D/Alambre Trenzado 4 x 5/8 D-31712 *1371*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
535,1428,429,P00418 (SJT 15661),2024-01-26 20:27:16,5294,Fierro Y Lamina Construccion,14853,[1371] Carda D/Alambre Trenzado 4 x 5/8 D-3171...,6.0,244.39,SJT 15661,NaT,<NA>,Yolanda Alejandra Rodriguez González,2024-01-23

    ---> Código a explorar 28519

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
8410,13247,F2-VS/2024/00196,2024-01-25,49681,3.0,695.0,Brenda Luz Acosta Lopez,28519,Cinta Unión Para Alfombras Sintéticas *1792*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
536,1427,428,P00417 (2000005323200841B),2024-01-26 20:23:22,5128,Mercado Libre,28519,[1792] Cinta Unión Para Alfombras Sintéticas *...,2.0,474.14,2000005323200841B,NaT,<NA>,Brenda Luz Acosta Lopez,2024-01-23
785,1153,349,P00338 (2000005305184095C),2024-01-23 00:00:12,5128,Mercado Libre,28519,[1792] Cinta Unión Para Alfombras Sintéticas *...,1.0,443.97,2000005305184095C,NaT,<NA>,Brenda Luz Acosta Lopez,2024-01-20

    ---> Código a explorar 28445

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
8816,13909,F2-VS/2024/00199,2024-01-26,52133,10.0,57.21,Brenda Luz Acosta Lopez,28445,Tira De Puas Para Instalacion De Alfombra *1595*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
537,1426,427,P00416 (2000005305184095E),2024-01-26 20:22:34,5128,Mercado Libre,28445,[1595] Tira De Puas Para Instalacion De Alfomb...,10.0,31.9,2000005305184095E,NaT,<NA>,Brenda Luz Acosta Lopez,2024-01-23

    ---> Código a explorar 13827

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
1707,3109,F2-VS/2024/00030,2024-01-08,11388,3.0,674.1,Yamilet Blanco Salas,13827,Laca Sayer LI-0103 (4Lt) Ind Amaril Ocre *14388*
2307,3871,F2-VS/2024/00048,2024-01-09,14094,2.0,674.1,Brenda Luz Acosta Lopez,13827,Laca Sayer LI-0103 (4Lt) Ind Amaril Ocre *14388*
2772,4559,F1-VS/2024/00118,2024-01-10,16591,8.0,674.1,Mayra Angelica Parada Manjarrez,13827,Laca Sayer LI-0103 (4Lt) Ind Amaril Ocre *14388*
6937,10948,F1-VS/2024/00274,2024-01-22,40709,1.0,674.1,Mayra Angelica Parada Manjarrez,13827,Laca Sayer LI-0103 (4Lt) Ind Amaril Ocre *14388*
6954,10958,F1-VS/2024/00275,2024-01-22,40752,1.0,674.1,Mayra Angelica Parada Manjarrez,13827,Laca Sayer LI-0103 (4Lt) Ind Amaril Ocre *14388*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
568,1395,419,P00408 (A 10813357),2024-01-26 22:52:42,5178,Sayer Lack Mexicana,13827,[14388] Laca Sayer LI-0103 (4Lt) Ind Amaril Oc...,2.0,449.4,A 10813357,NaT,<NA>,Mayra Angelica Parada Manjarrez,2024-01-23

    ---> Código a explorar 10729

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
4363,7118,F1-VS/2024/00166,2024-01-15,26321,20.0,115.09,Mayra Angelica Parada Manjarrez,10729,Tope Phillips Recto #57-LA *5208*
8360,13198,F1-VS/2024/00319,2024-01-25,49503,10.0,115.09,Mayra Angelica Parada Manjarrez,10729,Tope Phillips Recto #57-LA *5208*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
580,1383,414,P00403 (MPIFCO 1668),2024-01-26 18:10:41,5296,Madereria Pichonchas,10729,[5208] Tope Phillips Recto #57-LA *5208*,10.0,79.31,MPIFCO 1668,NaT,<NA>,Mayra Angelica Parada Manjarrez,2024-01-23
1254,621,240,P00229 (36767),2024-01-16 16:14:37,5378,Maderas Dimar,10729,[5208] Tope Phillips Recto #57-LA *5208*,20.0,63.00,36767,NaT,<NA>,Mayra Angelica Parada Manjarrez,2024-01-13

    ---> Código a explorar 14548

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
3664,5972,F1-VS/2024/00151,2024-01-12,21884,1.0,7567.24,Irma Carvajal Flores,14548,Tabla Teka Nacional 1x8 (Cama) *24622*
8396,13239,F1-VS/2024/00322,2024-01-25,49646,1.0,2806.04,Yamilet Blanco Salas,14548,Tabla Teka Nacional 1x8 (Cama) *24622*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
594,1369,411,P00400 (MPIFCO 1690),2024-01-26 17:45:39,5296,Madereria Pichonchas,14548,[24622] Tabla Teka Nacional 1x8 (Cama) *24622*,1.0,1850.78,MPIFCO 1690,NaT,<NA>,Irma Carvajal Flores,2024-01-23
1330,568,212,P00201 (MPIFCO 716),2024-01-15 19:04:22,5296,Madereria Pichonchas,14548,[24622] Tabla Teka Nacional 1x8 (Cama) *24622*,1.0,5215.99,MPIFCO 716,NaT,<NA>,Irma Carvajal Flores,2024-01-12

    ---> Código a explorar 28408

Empty DataFrame
Columns: [fact_doc_id, name, invoice_date, fact_line_id, quantity, price_unit, salesperson_name, product_id, product_name]
Index: []

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
596,1367,409,P00398 (FH 9688),2024-01-26 17:08:29,5153,Grupo Ferreteria Calzada,28408,[1486] Pasta Para Soldar Solver 300GR *1486*,2.0,164.66,FH 9688,NaT,<NA>,Irma Carvajal Flores,2024-01-23

    ---> Código a explorar 13781

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
3132,5113,F1-VS/2024/00127,2024-01-11,18784,8.0,640.8,Mayra Angelica Parada Manjarrez,13781,"Tabla Americana 1"" X 12"" X 12' *14145*"
3667,5978,F1-VS/2024/00153,2024-01-12,21901,2.0,640.0,Irma Carvajal Flores,13781,"Tabla Americana 1"" X 12"" X 12' *14145*"
8401,13239,F1-VS/2024/00322,2024-01-25,49651,2.0,837.7,Yamilet Blanco Salas,13781,"Tabla Americana 1"" X 12"" X 12' *14145*"

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
598,1362,408,P00397 (SJCFCO 2196),2024-01-26 17:06:25,5326,Madereria El Pino De Los Cabos,13781,"[14145] Tabla Americana 1"" X 12"" X 12' *14145*",2.0,403.45,SJCFCO 2196,NaT,<NA>,Irma Carvajal Flores,2024-01-23
1329,567,212,P00201 (MPIFCO 716),2024-01-15 19:04:22,5296,Madereria Pichonchas,13781,"[14145] Tabla Americana 1"" X 12"" X 12' *14145*",2.0,403.45,MPIFCO 716,NaT,<NA>,Irma Carvajal Flores,2024-01-12
1493,397,164,P00153 (MPIFCO 622),2024-01-11 23:13:19,5296,Madereria Pichonchas,13781,"[14145] Tabla Americana 1"" X 12"" X 12' *14145*",8.0,403.45,MPIFCO 622,NaT,<NA>,Mayra Angelica Parada Manjarrez,2024-01-08

    ---> Código a explorar 26580

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
8463,13367,F2-VS/2024/00197,2024-01-26,50343,10.0,768.0,Brenda Luz Acosta Lopez,26580,Impac grout pro saco 25 Kg *74556*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
603,1360,407,P00396 (MCO 40096),2024-01-26 16:58:09,5315,Mas O Menos De Bcs,26580,[74556] Impac grout pro saco 25 Kg *74556*,10.0,547.41,MCO 40096,NaT,<NA>,Brenda Luz Acosta Lopez,2024-01-23

    ---> Código a explorar 28541

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
8462,13367,F2-VS/2024/00197,2024-01-26,50342,10.0,133.65,Brenda Luz Acosta Lopez,28541,Cubeta Vacía C/Tapa *33622*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
604,1359,406,P00395 (FA 11181),2024-01-26 16:53:16,5329,Eulalia Correa Arellano,28541,[33622] Cubeta Vacía C/Tapa *33622*,10.0,85.35,FA 11181,NaT,<NA>,Brenda Luz Acosta Lopez,2024-01-23

    ---> Código a explorar 13042

Empty DataFrame
Columns: [fact_doc_id, name, invoice_date, fact_line_id, quantity, price_unit, salesperson_name, product_id, product_name]
Index: []

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
617,1344,404,P00393 (RI 27112592),2024-01-26 15:22:40,5375,Assa Abloy Mexico,13042,[11277] Chapa Yale P/Rec Esfera Ace Inox #8116...,10.0,180.4,RI 27112592,NaT,<NA>,Mayra Angelica Parada Manjarrez,2024-01-23

    ---> Código a explorar 12988

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
5536,8850,F2-VS/2024/00132,2024-01-18,32966,5.0,316.88,Brenda Luz Acosta Lopez,12988,Chapa Yale P/Baño Esfera Ace Inox #81169 *9759*
7727,12174,F1-VS/2024/00301,2024-01-24,45419,6.0,316.88,Irma Carvajal Flores,12988,Chapa Yale P/Baño Esfera Ace Inox #81169 *9759*
9298,14897,F2-CC/2024/01945,2024-01-29,56074,2.0,316.88,Yolanda Alejandra Rodriguez González,12988,Chapa Yale P/Baño Esfera Ace Inox #81169 *9759*
9818,15768,F1-VS/2024/00352,2024-01-30,59565,2.0,316.88,Mayra Angelica Parada Manjarrez,12988,Chapa Yale P/Baño Esfera Ace Inox #81169 *9759*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
618,1345,404,P00393 (RI 27112592),2024-01-26 15:22:40,5375,Assa Abloy Mexico,12988,[9759] Chapa Yale P/Baño Esfera Ace Inox #8116...,10.0,171.6,RI 27112592,NaT,<NA>,Mayra Angelica Parada Manjarrez,2024-01-23

    ---> Código a explorar 28544

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
8847,14109,F2-CC/2024/01831,2024-01-27,53116,5.0,840.51,<NA>,28544,Termometro digital para alimentos Taylor-40A23...

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
619,1343,403,P00392 (2000005331992393),2024-01-26 01:00:42,5128,Mercado Libre,28544,[1846] Termometro digital para alimentos Taylo...,5.0,602.58,2000005331992393,NaT,<NA>,Patricia Flores Pantaleón,2024-01-23

    ---> Código a explorar 13965

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
1990,3378,F1-VS/2024/00080,2024-01-08,12395,5.0,832.0,Irma Carvajal Flores,13965,Triplay Pino 5/8 4'*8' 1/Cara *3650*
8458,13367,F2-VS/2024/00197,2024-01-26,50338,50.0,716.04,Brenda Luz Acosta Lopez,13965,Triplay Pino 5/8 4'*8' 1/Cara *3650*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
622,1338,401,P00390 (B 83651),2024-01-26 00:57:55,5290,Maria Reyna Navarrete Cortez,13965,[3650] Triplay Pino 5/8 4'*8' 1/Cara *3650*,50.0,530.41,B 83651,NaT,<NA>,Brenda Luz Acosta Lopez,2024-01-23
1713,170,107,P00096 (B 83302),2024-01-09 15:46:20,5290,Maria Reyna Navarrete Cortez,13965,[3650] Triplay Pino 5/8 4'*8' 1/Cara *3650*,5.0,530.41,B 83302,NaT,<NA>,Irma Carvajal Flores,2024-01-06

    ---> Código a explorar 12804

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
8459,13367,F2-VS/2024/00197,2024-01-26,50339,200.0,217.18,Brenda Luz Acosta Lopez,12804,Polin Nacional 10 *24594*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
623,1339,401,P00390 (B 83651),2024-01-26 00:57:55,5290,Maria Reyna Navarrete Cortez,12804,[24594] Polin Nacional 10 *24594*,200.0,160.88,B 83651,NaT,<NA>,Brenda Luz Acosta Lopez,2024-01-23

    ---> Código a explorar 11491

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
8460,13367,F2-VS/2024/00197,2024-01-26,50340,50.0,110.56,Brenda Luz Acosta Lopez,11491,Barrote 2X4X8` Nacional *17551*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
624,1340,401,P00390 (B 83651),2024-01-26 00:57:55,5290,Maria Reyna Navarrete Cortez,11491,[17551] Barrote 2X4X8` Nacional *17551*,50.0,81.9,B 83651,NaT,<NA>,Brenda Luz Acosta Lopez,2024-01-23

    ---> Código a explorar 28253

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
3087,5066,F1-VS/2024/00123,2024-01-11,18616,1.0,1325.0,Mayra Angelica Parada Manjarrez,28253,Detector Tipo Lapiz 1AC-A1-II Mca Fluke *11508*
8430,13251,F1-VS/2024/00325,2024-01-25,49712,1.0,1271.03,Irma Carvajal Flores,28253,Detector Tipo Lapiz 1AC-A1-II Mca Fluke *11508*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
625,1337,400,P00389 (2000005323215311),2024-01-26 00:45:01,5128,Mercado Libre,28253,[11508] Detector Tipo Lapiz 1AC-A1-II Mca Fluk...,1.0,602.59,2000005323215311,NaT,<NA>,Irma Carvajal Flores,2024-01-23
1178,745,273,P00262 (2000005281984605),2024-01-18 16:55:12,5128,Mercado Libre,28253,[11508] Detector Tipo Lapiz 1AC-A1-II Mca Fluk...,1.0,602.59,2000005281984605,NaT,<NA>,Mayra Angelica Parada Manjarrez,2024-01-15

    ---> Código a explorar 26820

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
7987,12730,F2-CC/2024/01637,2024-01-25,47918,2.0,1260.78,Nadia Santos Nava,26820,Pegamento D/Contacto 5000 4Lts. *4626*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
674,1267,396,P00385 (BSTARFA 136737),2024-01-25 23:29:44,5174,Campos Reyeros Y Cia,26820,[4626] Pegamento D/Contacto 5000 4Lts. *4626*,2.0,739.66,BSTARFA 136737,NaT,<NA>,Nadia Santos Nava,2024-01-22

    ---> Código a explorar 28539

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
8335,13163,F1-CC/2024/01293,2024-01-25,49386,3.0,848.37,Leticia Terán Salinas,28539,Formaica Gray Caspio BR 1.22x2.44 *1844*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
706,1235,390,P00379 (AA 279955),2024-01-25 22:21:35,5377,Aglomerados Y Triplay Vic,28539,[1844] Formaica Gray Caspio BR 1.22x2.44 *1844*,3.0,557.33,AA 279955,NaT,<NA>,Leticia Terán Salinas,2024-01-22

    ---> Código a explorar 27185

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
8066,12832,F2-CC/2024/01657,2024-01-25,48256,50.0,24.56,<NA>,27185,Carretilla 3 Ensamble 2181(30Kg) *25617*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
707,1234,389,P00378 (A 150213),2024-01-25 20:26:36,5280,DISTRIBUIDORA DE HERRAJES Y ALUMINIO DE LOS CABOS,27185,[25617] Carretilla 3 Ensamble 2181(30Kg) *25617*,50.0,17.25,A 150213,NaT,<NA>,Patricia Flores Pantaleón,2024-01-22

    ---> Código a explorar 28537

Empty DataFrame
Columns: [fact_doc_id, name, invoice_date, fact_line_id, quantity, price_unit, salesperson_name, product_id, product_name]
Index: []

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
708,1233,388,P00377 (37104),2024-01-25 20:24:42,5378,Maderas Dimar,28537,[1834] Clavo C-3 Martillado 3.2 Diametro *1834*,100.0,4.91,37104,NaT,<NA>,Mayra Angelica Parada Manjarrez,2024-01-22

    ---> Código a explorar 28538

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
8450,13365,F2-CC/2024/01727,2024-01-26,50326,1.0,1467.67,Nadia Santos Nava,28538,Desbrozadora Black And Decker *1835*
8454,13366,F2-CC/2024/01728,2024-01-26,50332,1.0,1467.67,Nadia Santos Nava,28538,Desbrozadora Black And Decker *1835*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
709,1232,387,P00376 (4HGFFI 181734),2024-01-25 19:10:41,5387,Home Depot Mexico,28538,[1835] Desbrozadora Black And Decker *1835*,2.0,978.45,4HGFFI 181734,NaT,<NA>,Nadia Santos Nava,2024-01-22

    ---> Código a explorar 7833

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
4275,6999,F2-CC/2024/00885,2024-01-15,25925,9.0,2.81,<NA>,7833,"Rondana Plana 1/2"" (29*Lb) C#181 *2537*"
4446,7319,F1-VS/2024/00169,2024-01-16,27045,15.0,2.91,Mayra Angelica Parada Manjarrez,7833,"Rondana Plana 1/2"" (29*Lb) C#181 *2537*"
4845,7815,F2-CC/2024/01004,2024-01-16,28797,15.0,2.81,Nadia Santos Nava,7833,"Rondana Plana 1/2"" (29*Lb) C#181 *2537*"
5263,8441,F1-VS/2024/00209,2024-01-17,31224,10.0,2.91,Mayra Angelica Parada Manjarrez,7833,"Rondana Plana 1/2"" (29*Lb) C#181 *2537*"
8336,13168,F2-CC/2024/01712,2024-01-25,49401,30.0,2.81,Karla Jaqueline Rivera Hernández,7833,"Rondana Plana 1/2"" (29*Lb) C#181 *2537*"
9210,14782,F1-CC/2024/01425,2024-01-29,55649,40.0,2.81,Yanin Becerril Barriga,7833,"Rondana Plana 1/2"" (29*Lb) C#181 *2537*"

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
710,1231,386,P00375 (WA 13006),2024-01-25 18:53:38,5221,Distribuidor Mayorista De Tornillos De Yucatan...,7833,"[2537] Rondana Plana 1/2"" (29*Lb) C#181 *2537*",30.0,0.78,WA 13006,NaT,<NA>,Karla Jaqueline Rivera Hernández,2024-01-22
1245,644,245,P00234 (WA 12878),2024-01-16 20:21:44,5221,Distribuidor Mayorista De Tornillos De Yucatan...,7833,"[2537] Rondana Plana 1/2"" (29*Lb) C#181 *2537*",10.0,0.78,WA 12878,NaT,<NA>,Mayra Angelica Parada Manjarrez,2024-01-13

    ---> Código a explorar 27968

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
7933,12658,F2-VS/2024/00188,2024-01-25,47679,2.0,300.0,Brenda Luz Acosta Lopez,27968,Guantes De Corte De Nitrilo 48-22-8932 L *20331*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
730,1211,382,P00371 (4HGFFI 181637),2024-01-25 17:05:22,5387,Home Depot Mexico,27968,[20331] Guantes De Corte De Nitrilo 48-22-8932...,2.0,202.59,4HGFFI 181637,NaT,<NA>,Brenda Luz Acosta Lopez,2024-01-22

    ---> Código a explorar 28463

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
7973,12708,F2-VS/2024/00189,2024-01-25,47848,4.0,439.67,Yamilet Blanco Salas,28463,Cespol P/Lavabo Curvo Ovalin P/Desagüe *1626*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
731,1210,381,P00370 (2000005305184095I),2024-01-25 16:51:03,5128,Mercado Libre,28463,[1626] Cespol P/Lavabo Curvo Ovalin P/Desagüe ...,4.0,278.45,2000005305184095I,NaT,<NA>,Yamilet Blanco Salas,2024-01-22

    ---> Código a explorar 28533

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
7644,12059,F2-VS/2024/00183,2024-01-24,44985,6.0,3795.0,Brenda Luz Acosta Lopez,28533,Fester CR-66 Gris 35 kg *5823*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
734,1207,379,P00368 (SCO 28623),2024-01-24 22:11:13,5315,Mas O Menos De Bcs,28533,[5823] Fester CR-66 Gris 35 kg *5823*,6.0,2711.21,SCO 28623,NaT,<NA>,Brenda Luz Acosta Lopez,2024-01-21

    ---> Código a explorar 8363

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
7403,11726,F2-VS/2024/00180,2024-01-23,43607,200.0,8.89,Brenda Luz Acosta Lopez,8363,"Tornillo C/Hexagonal 3/8 x 2"" A Inox CE *25891*"

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
735,1200,378,P00367 (WA 12976),2024-01-24 22:09:36,5221,Distribuidor Mayorista De Tornillos De Yucatan...,8363,"[25891] Tornillo C/Hexagonal 3/8 x 2"" A Inox C...",200.0,6.35,WA 12976,NaT,<NA>,Brenda Luz Acosta Lopez,2024-01-21

    ---> Código a explorar 7610

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
7404,11726,F2-VS/2024/00180,2024-01-23,43608,200.0,0.95,Brenda Luz Acosta Lopez,7610,Rondana Plana 3/8 ace. inox *99103*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
736,1201,378,P00367 (WA 12976),2024-01-24 22:09:36,5221,Distribuidor Mayorista De Tornillos De Yucatan...,7610,[99103] Rondana Plana 3/8 ace. inox *99103*,200.0,0.6,WA 12976,NaT,<NA>,Brenda Luz Acosta Lopez,2024-01-21
1304,598,229,P00218 (WA 12858),2024-01-15 23:14:57,5221,Distribuidor Mayorista De Tornillos De Yucatan...,7610,[99103] Rondana Plana 3/8 ace. inox *99103*,200.0,0.6,WA 12858,NaT,<NA>,Irma Carvajal Flores,2024-01-12

    ---> Código a explorar 7727

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
7405,11726,F2-VS/2024/00180,2024-01-23,43609,100.0,1.56,Brenda Luz Acosta Lopez,7727,"Rondana d/Presion 1/2"" Ace.Inox *11703*"

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
737,1202,378,P00367 (WA 12976),2024-01-24 22:09:36,5221,Distribuidor Mayorista De Tornillos De Yucatan...,7727,"[11703] Rondana d/Presion 1/2"" Ace.Inox *11703*",100.0,1.11,WA 12976,NaT,<NA>,Brenda Luz Acosta Lopez,2024-01-21

    ---> Código a explorar 28520

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
7406,11726,F2-VS/2024/00180,2024-01-23,43610,100.0,2.8,Brenda Luz Acosta Lopez,28520,"Pija Autorr. C/Hexagonal 1/4*3/4"" acero inox *..."

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
738,1203,378,P00367 (WA 12976),2024-01-24 22:09:36,5221,Distribuidor Mayorista De Tornillos De Yucatan...,28520,"[1794] Pija Autorr. C/Hexagonal 1/4*3/4"" acero...",100.0,1.99,WA 12976,NaT,<NA>,Brenda Luz Acosta Lopez,2024-01-21

    ---> Código a explorar 28217

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
7407,11726,F2-VS/2024/00180,2024-01-23,43611,100.0,4.9,Brenda Luz Acosta Lopez,28217,"Tornillo C/Hexagonal 1/4* 21/2"" Inox. *123546*"

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
739,1204,378,P00367 (WA 12976),2024-01-24 22:09:36,5221,Distribuidor Mayorista De Tornillos De Yucatan...,28217,"[123546] Tornillo C/Hexagonal 1/4* 21/2"" Inox....",100.0,3.5,WA 12976,NaT,<NA>,Brenda Luz Acosta Lopez,2024-01-21

    ---> Código a explorar 7796

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
7408,11726,F2-VS/2024/00180,2024-01-23,43612,100.0,1.87,Brenda Luz Acosta Lopez,7796,"Rondana Plana 1/2"" Acero Inox. *15290*"

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
740,1205,378,P00367 (WA 12976),2024-01-24 22:09:36,5221,Distribuidor Mayorista De Tornillos De Yucatan...,7796,"[15290] Rondana Plana 1/2"" Acero Inox. *15290*",100.0,1.33,WA 12976,NaT,<NA>,Brenda Luz Acosta Lopez,2024-01-21

    ---> Código a explorar 27060

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
7409,11726,F2-VS/2024/00180,2024-01-23,43613,200.0,0.9,Brenda Luz Acosta Lopez,27060,Rondana Presion inox 3/8 CE *26332*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
741,1206,378,P00367 (WA 12976),2024-01-24 22:09:36,5221,Distribuidor Mayorista De Tornillos De Yucatan...,27060,[26332] Rondana Presion inox 3/8 CE *26332*,200.0,0.61,WA 12976,NaT,<NA>,Brenda Luz Acosta Lopez,2024-01-21

    ---> Código a explorar 12677

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
8428,13251,F1-VS/2024/00325,2024-01-25,49710,16.0,234.0,Irma Carvajal Flores,12677,"Rodaja C/Placa #G3-LD 3"" Plana Gi *12887*"

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
743,1198,376,P00365 (4HGFFI 181137),2024-01-24 18:30:30,5387,Home Depot Mexico,12677,"[12887] Rodaja C/Placa #G3-LD 3"" Plana Gi *12887*",6.0,119.83,4HGFFI 181137,NaT,<NA>,Irma Carvajal Flores,2024-01-21
835,1102,327,P00316 (4HGFFI 179589),2024-01-22 15:39:16,5387,Home Depot Mexico,12677,"[12887] Rodaja C/Placa #G3-LD 3"" Plana Gi *12887*",9.0,119.83,4HGFFI 179589,NaT,<NA>,Irma Carvajal Flores,2024-01-19

    ---> Código a explorar 14433

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
7379,11677,F1-VS/2024/00292,2024-01-23,43451,1.0,2828.0,Irma Carvajal Flores,14433,"Tabla Parota 1"" (Cama) *51379*"

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
744,1197,375,P00364 (SJCFCO 1949),2024-01-24 18:29:28,5326,Madereria El Pino De Los Cabos,14433,"[51379] Tabla Parota 1"" (Cama) *51379*",1.0,1810.35,SJCFCO 1949,NaT,<NA>,Irma Carvajal Flores,2024-01-21

    ---> Código a explorar 14772

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
824,1553,F1-VS/2024/00025,2024-01-05,5709,6.0,413.79,Mayra Angelica Parada Manjarrez,14772,Pegamento Titebond Verde1L *16313*
2363,3919,F1-VS/2024/00096,2024-01-09,14274,1.0,409.0,Mayra Angelica Parada Manjarrez,14772,Pegamento Titebond Verde1L *16313*
2433,4106,F1-VS/2024/00103,2024-01-10,14954,1.0,409.0,Mayra Angelica Parada Manjarrez,14772,Pegamento Titebond Verde1L *16313*
2803,4578,F1-VS/2024/00119,2024-01-10,16671,2.0,409.0,Mayra Angelica Parada Manjarrez,14772,Pegamento Titebond Verde1L *16313*
3121,5105,F1-VS/2024/00125,2024-01-11,18753,1.0,409.13,Mayra Angelica Parada Manjarrez,14772,Pegamento Titebond Verde1L *16313*
3867,6361,F1-VS/2024/00159,2024-01-13,23492,3.0,409.0,Mayra Angelica Parada Manjarrez,14772,Pegamento Titebond Verde1L *16313*
6477,10208,F1-VS/2024/00258,2024-01-20,38055,2.0,409.0,Mayra Angelica Parada Manjarrez,14772,Pegamento Titebond Verde1L *16313*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
752,1192,373,P00362 (MPIFCO 1281),2024-01-24 16:36:43,5296,Madereria Pichonchas,14772,[16313] Pegamento Titebond Verde1L *16313*,2.0,245.69,MPIFCO 1281,NaT,<NA>,Mayra Angelica Parada Manjarrez,2024-01-21
1332,570,212,P00201 (MPIFCO 716),2024-01-15 19:04:22,5296,Madereria Pichonchas,14772,[16313] Pegamento Titebond Verde1L *16313*,3.0,245.69,MPIFCO 716,NaT,<NA>,Irma Carvajal Flores,2024-01-12
1495,399,164,P00153 (MPIFCO 622),2024-01-11 23:13:19,5296,Madereria Pichonchas,14772,[16313] Pegamento Titebond Verde1L *16313*,1.0,245.69,MPIFCO 622,NaT,<NA>,Mayra Angelica Parada Manjarrez,2024-01-08
1659,223,127,P00116 (MPIFCO 462),2024-01-10 00:44:47,5296,Madereria Pichonchas,14772,[16313] Pegamento Titebond Verde1L *16313*,4.0,245.69,MPIFCO 462,NaT,<NA>,Mayra Angelica Parada Manjarrez,2024-01-07
1806,63,48,P00041 (MPIFCO 125),2024-01-04 00:03:53,5296,Madereria Pichonchas,14772,[16313] Pegamento Titebond Verde1L *16313*,6.0,245.69,MPIFCO 125,NaT,<NA>,Mayra Angelica Parada Manjarrez,2024-01-01

    ---> Código a explorar 27893

Empty DataFrame
Columns: [fact_doc_id, name, invoice_date, fact_line_id, quantity, price_unit, salesperson_name, product_id, product_name]
Index: []

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
753,1188,372,P00361 (MPFIFCO 1443),2024-01-24 16:31:04,5296,Madereria Pichonchas,27893,"[20525] Tuerca Conector 1/4"" 20 X 15 *20525*",100.0,5.18,MPFIFCO 1443,NaT,<NA>,Mayra Angelica Parada Manjarrez,2024-01-21
758,1180,368,P00357 (36925),2024-01-24 16:04:50,5378,Maderas Dimar,27893,"[20525] Tuerca Conector 1/4"" 20 X 15 *20525*",100.0,1.43,36925,NaT,<NA>,Mayra Angelica Parada Manjarrez,2024-01-21

    ---> Código a explorar 28384

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
2024,3398,F1-VS/2024/00086,2024-01-08,12477,20.0,78.94,Mayra Angelica Parada Manjarrez,28384,Jaladera Secretarial A/86 Negro *1435*
5022,8214,F1-VS/2024/00192,2024-01-17,30374,6.0,78.94,Mayra Angelica Parada Manjarrez,28384,Jaladera Secretarial A/86 Negro *1435*
7347,11621,F1-VS/2024/00289,2024-01-23,43277,2.0,75.72,Mayra Angelica Parada Manjarrez,28384,Jaladera Secretarial A/86 Negro *1435*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
754,1187,371,P00360 (37039),2024-01-24 16:29:11,5378,Maderas Dimar,28384,[1435] Jaladera Secretarial A/86 Negro *1435*,2.0,50.48,37039,NaT,<NA>,Mayra Angelica Parada Manjarrez,2024-01-21
1179,744,272,P00261 (36820),2024-01-18 16:51:34,5378,Maderas Dimar,28384,[1435] Jaladera Secretarial A/86 Negro *1435*,6.0,50.48,36820,NaT,<NA>,Mayra Angelica Parada Manjarrez,2024-01-15
1724,156,102,P00091 (36522),2024-01-09 00:41:30,5378,Maderas Dimar,28384,[1435] Jaladera Secretarial A/86 Negro *1435*,20.0,50.48,36522,NaT,<NA>,Mayra Angelica Parada Manjarrez,2024-01-06

    ---> Código a explorar 28518

Empty DataFrame
Columns: [fact_doc_id, name, invoice_date, fact_line_id, quantity, price_unit, salesperson_name, product_id, product_name]
Index: []

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
756,1185,370,P00359 (36985),2024-01-24 16:27:59,5378,Maderas Dimar,28518,[57031] Corredera Montaje/Inf 350mm 433.10.435...,7.0,395.35,36985,NaT,<NA>,Mayra Angelica Parada Manjarrez,2024-01-21

    ---> Código a explorar 28531

Empty DataFrame
Columns: [fact_doc_id, name, invoice_date, fact_line_id, quantity, price_unit, salesperson_name, product_id, product_name]
Index: []

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
757,1186,370,P00359 (36985),2024-01-24 16:27:59,5378,Maderas Dimar,28531,"[1823] Bisagra 3x3"" #7213 Dexter (pz) CE *1823*",30.0,29.48,36985,NaT,<NA>,Mayra Angelica Parada Manjarrez,2024-01-21

    ---> Código a explorar 28503

Empty DataFrame
Columns: [fact_doc_id, name, invoice_date, fact_line_id, quantity, price_unit, salesperson_name, product_id, product_name]
Index: []

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
759,1181,368,P00357 (36925),2024-01-24 16:04:50,5378,Maderas Dimar,28503,[1763] Bisagra Bronce Antiguo 3X3 Hafele *1763*,30.0,99.02,36925,NaT,<NA>,Mayra Angelica Parada Manjarrez,2024-01-21

    ---> Código a explorar 7945

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
1361,2532,F1-CC/2024/00268,2024-01-06,9244,40.0,4.52,Leticia Terán Salinas,7945,"Torn. Conector JCB 1/4"" 20x70mm #3427 *74284*"

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
760,1182,368,P00357 (36925),2024-01-24 16:04:50,5378,Maderas Dimar,7945,"[74284] Torn. Conector JCB 1/4"" 20x70mm #3427 ...",50.0,3.89,36925,NaT,<NA>,Mayra Angelica Parada Manjarrez,2024-01-21

    ---> Código a explorar 13892

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
3229,5204,F2-VS/2024/00080,2024-01-11,19140,1.0,797.52,Yamilet Blanco Salas,13892,Cierra Puerta Ph #1404-AN #443 *5783*
4857,7834,F2-VS/2024/00122,2024-01-16,28873,1.0,797.52,Brenda Luz Acosta Lopez,13892,Cierra Puerta Ph #1404-AN #443 *5783*
7361,11645,F1-VS/2024/00291,2024-01-23,43351,10.0,797.52,Mayra Angelica Parada Manjarrez,13892,Cierra Puerta Ph #1404-AN #443 *5783*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
762,1179,367,P00356 (C 261591),2024-01-24 16:24:19,5321,El Gran Tlapalero,13892,[5783] Cierra Puerta Ph #1404-AN #443 *5783*,10.0,440.51,C 261591,NaT,<NA>,Mayra Angelica Parada Manjarrez,2024-01-21

    ---> Código a explorar 28142

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
7049,11087,F1-VS/2024/00281,2024-01-22,41185,10.0,225.38,Mayra Angelica Parada Manjarrez,28142,Pegamarmol Blanco Niasa 20 kg. *16305*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
763,1177,366,P00355 (LA 37042),2024-01-23 23:21:26,5143,Fymsa Baja Sur,28142,[16305] Pegamarmol Blanco Niasa 20 kg. *16305*,10.0,126.28,LA 37042,NaT,<NA>,Mayra Angelica Parada Manjarrez,2024-01-20

    ---> Código a explorar 14075

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
2001,3386,F1-VS/2024/00084,2024-01-08,12424,8.0,960.01,Mayra Angelica Parada Manjarrez,14075,Triplay Birch 5/8 4'*8' *40032*
2428,4106,F1-VS/2024/00103,2024-01-10,14949,2.0,960.01,Mayra Angelica Parada Manjarrez,14075,Triplay Birch 5/8 4'*8' *40032*
5230,8413,F1-VS/2024/00200,2024-01-17,31110,5.0,960.6,Mayra Angelica Parada Manjarrez,14075,Triplay Birch 5/8 4'*8' *40032*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
764,1176,365,P00354 (B 83477),2024-01-23 23:19:54,5290,Maria Reyna Navarrete Cortez,14075,[40032] Triplay Birch 5/8 4'*8' *40032*,3.0,615.51,B 83477,NaT,<NA>,Mayra Angelica Parada Manjarrez,2024-01-20
1206,697,259,P00248 (B 83459),2024-01-17 20:05:46,5290,Maria Reyna Navarrete Cortez,14075,[40032] Triplay Birch 5/8 4'*8' *40032*,2.0,615.51,B 83459,NaT,<NA>,Mayra Angelica Parada Manjarrez,2024-01-14
1649,230,130,P00119 (B 83327),2024-01-10 17:40:39,5290,Maria Reyna Navarrete Cortez,14075,[40032] Triplay Birch 5/8 4'*8' *40032*,2.0,615.51,B 83327,NaT,<NA>,Mayra Angelica Parada Manjarrez,2024-01-07
1726,151,100,P00089 (B 83301),2024-01-09 00:21:13,5290,Maria Reyna Navarrete Cortez,14075,[40032] Triplay Birch 5/8 4'*8' *40032*,8.0,615.51,B 83301,NaT,<NA>,Mayra Angelica Parada Manjarrez,2024-01-06

    ---> Código a explorar 26824

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
7178,11395,F1-VS/2024/00286,2024-01-23,42518,2.0,3478.96,Irma Carvajal Flores,26824,Sellador River 48% *46093*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
766,1174,363,P00352 (BSLUCFA 318562),2024-01-23 23:04:38,5174,Campos Reyeros Y Cia,26824,[46093] Sellador River 48% *46093*,2.0,2288.79,BSLUCFA 318562,NaT,<NA>,Irma Carvajal Flores,2024-01-20

    ---> Código a explorar 13075

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
6035,9524,F2-VS/2024/00143,2024-01-19,35489,20.0,314.17,Brenda Luz Acosta Lopez,13075,Polin 4 X 4 X 8 *13555*
6182,9727,F1-VS/2024/00244,2024-01-19,36170,16.0,310.0,Irma Carvajal Flores,13075,Polin 4 X 4 X 8 *13555*
6982,10990,F2-VS/2024/00162,2024-01-22,40865,8.0,314.17,Brenda Luz Acosta Lopez,13075,Polin 4 X 4 X 8 *13555*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
773,1163,359,P00348 (SJCFCO 1852),2024-01-23 18:08:37,5326,Madereria El Pino De Los Cabos,13075,[13555] Polin 4 X 4 X 8 *13555*,8.0,250.0,SJCFCO 1852,NaT,<NA>,Brenda Luz Acosta Lopez,2024-01-20
946,988,308,P00297 (A 22379),2024-01-19 22:51:47,5264,Maria Teresa Quezada Hernandez,13075,[13555] Polin 4 X 4 X 8 *13555*,16.0,250.0,A 22379,NaT,<NA>,Irma Carvajal Flores,2024-01-16
991,939,301,P00290 (SJCFCO 1566),2024-01-19 18:40:43,5326,Madereria El Pino De Los Cabos,13075,[13555] Polin 4 X 4 X 8 *13555*,20.0,250.0,SJCFCO 1566,NaT,<NA>,Brenda Luz Acosta Lopez,2024-01-16

    ---> Código a explorar 10314

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
7140,11349,F2-VS/2024/00170,2024-01-23,42340,4.0,74.0,Brenda Luz Acosta Lopez,10314,Fajilla 1*2*8 pies *15069*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
776,1166,359,P00348 (SJCFCO 1852),2024-01-23 18:08:37,5326,Madereria El Pino De Los Cabos,10314,[15069] Fajilla 1*2*8 pies *15069*,4.0,42.5,SJCFCO 1852,NaT,<NA>,Brenda Luz Acosta Lopez,2024-01-20

    ---> Código a explorar 28511

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
6670,10599,F1-VS/2024/00264,2024-01-22,39523,10.0,296.9,Mayra Angelica Parada Manjarrez,28511,"Morillo 3-4"" x 10 *1781*"
6754,10730,F1-VS/2024/00267,2024-01-22,39944,2.0,296.9,Mayra Angelica Parada Manjarrez,28511,"Morillo 3-4"" x 10 *1781*"
7139,11349,F2-VS/2024/00170,2024-01-23,42339,3.0,511.0,Brenda Luz Acosta Lopez,28511,"Morillo 3-4"" x 10 *1781*"

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
777,1162,358,P00347 (FCO 9404750),2024-01-23 18:05:12,5318,Soluciones En Madera El Roble,28511,"[1781] Morillo 3-4"" x 10 *1781*",4.0,168.11,FCO 9404750,NaT,<NA>,Brenda Luz Acosta Lopez,2024-01-20
789,1149,345,P00334 (FCO 9404742),2024-01-22 22:57:23,5318,Soluciones En Madera El Roble,28511,"[1781] Morillo 3-4"" x 10 *1781*",12.0,168.11,FCO 9404742,NaT,<NA>,Mayra Angelica Parada Manjarrez,2024-01-19

    ---> Código a explorar 28483

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
5951,9433,F2-VS/2024/00139,2024-01-19,35229,3650.0,0.65,Brenda Luz Acosta Lopez,28483,"Pija Cabeza Plana 10*1/2"" CE *1720*"
6701,10624,F1-CC/2024/01050,2024-01-22,39616,300.0,0.82,Reyna Arriaga Flores,28483,"Pija Cabeza Plana 10*1/2"" CE *1720*"

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
778,1161,357,P00346 (WA 12959),2024-01-23 17:45:46,5221,Distribuidor Mayorista De Tornillos De Yucatan...,28483,"[1720] Pija Cabeza Plana 10*1/2"" CE *1720*",300.0,0.51,WA 12959,NaT,<NA>,Reyna Arriaga Flores,2024-01-20
1122,809,287,P00276 (WA 12903),2024-01-18 21:24:25,5221,Distribuidor Mayorista De Tornillos De Yucatan...,28483,"[1720] Pija Cabeza Plana 10*1/2"" CE *1720*",3650.0,0.18,WA 12903,NaT,<NA>,Brenda Luz Acosta Lopez,2024-01-15

    ---> Código a explorar 28405

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
6966,10974,F2-CC/2024/01416,2024-01-22,40809,2.0,646.5,Karla Jaqueline Rivera Hernández,28405,"Sierra Cinta 1/2"" con 4 Dientes 2.90 Metros de..."

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
779,1160,356,P00345 (A 5448),2024-01-23 16:59:14,5180,Gema Veronica Pasquealli Dominguez,28405,"[1480] Sierra Cinta 1/2"" con 4 Dientes 2.90 Me...",2.0,437.08,A 5448,NaT,<NA>,Karla Jaqueline Rivera Hernández,2024-01-20

    ---> Código a explorar 26953

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
7090,11292,F2-VS/2024/00163,2024-01-23,42142,20.0,266.6,Brenda Luz Acosta Lopez,26953,USG Poste Galv. C-20 3 5/8 x 10 *33668*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
780,1159,355,P00344 (SJ 36729),2024-01-23 16:55:46,5369,Acyma Del Noroeste,26953,[33668] USG Poste Galv. C-20 3 5/8 x 10 *33668*,20.0,163.78,SJ 36729,NaT,<NA>,Brenda Luz Acosta Lopez,2024-01-20

    ---> Código a explorar 28480

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
7119,11325,F2-VS/2024/00168,2024-01-23,42259,9.0,1611.21,Brenda Luz Acosta Lopez,28480,Respirador Cara Comp. 6800 3M *11092*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
781,1158,354,P00343 (2000005305812539),2024-01-23 16:53:56,5128,Mercado Libre,28480,[11092] Respirador Cara Comp. 6800 3M *11092*,9.0,688.8,2000005305812539,NaT,<NA>,Brenda Luz Acosta Lopez,2024-01-20

    ---> Código a explorar 28478

Empty DataFrame
Columns: [fact_doc_id, name, invoice_date, fact_line_id, quantity, price_unit, salesperson_name, product_id, product_name]
Index: []

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
783,1156,352,P00341 (2000007404911030),2024-01-23 15:45:09,5128,Mercado Libre,28478,[1710] Kit Cargador 40v DC40RA + Batería 40v 4...,1.0,5119.82,2000007404911030,NaT,<NA>,Irma Carvajal Flores,2024-01-20

    ---> Código a explorar 12026

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
5877,9281,F1-VS/2024/00236,2024-01-18,34546,10.0,172.0,Irma Carvajal Flores,12026,Coilcleaner Adesa Limpieza Acido 3.7L *918*
7743,12179,F1-VS/2024/00302,2024-01-24,45447,1.0,180.0,Irma Carvajal Flores,12026,Coilcleaner Adesa Limpieza Acido 3.7L *918*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
784,1155,351,P00340 (9001035810),2024-01-23 15:43:12,5312,Refrigeracion Y Accesorios,12026,[918] Coilcleaner Adesa Limpieza Acido 3.7L *918*,10.0,113.16,9001035810,NaT,<NA>,Irma Carvajal Flores,2024-01-20

    ---> Código a explorar 7569

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
1894,3266,F1-CC/2024/00326,2024-01-08,12004,50.0,0.71,Gladiz Melisa Galvez Espinoza,7569,Pija Autorr. C/Rondana 8*1 1/2 *15006*
2149,3646,F1-CC/2024/00357,2024-01-09,13333,27.0,0.71,Gladiz Melisa Galvez Espinoza,7569,Pija Autorr. C/Rondana 8*1 1/2 *15006*
6987,10991,F1-VS/2024/00276,2024-01-22,40876,500.0,0.81,Mayra Angelica Parada Manjarrez,7569,Pija Autorr. C/Rondana 8*1 1/2 *15006*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
786,1152,348,P00337 (WA 12970),2024-01-22 23:56:43,5221,Distribuidor Mayorista De Tornillos De Yucatan...,7569,[15006] Pija Autorr. C/Rondana 8*1 1/2 *15006*,500.0,0.35,WA 12970,NaT,<NA>,Mayra Angelica Parada Manjarrez,2024-01-19

    ---> Código a explorar 27177

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
7054,11253,F1-VS/2024/00284,2024-01-23,42009,1.0,903.0,Irma Carvajal Flores,27177,"Sierra Cinta 3/8"" 10Dts 2.36 Mts *25692*"

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
787,1151,347,P00336 (A 5449),2024-01-22 23:45:22,5180,Gema Veronica Pasquealli Dominguez,27177,"[25692] Sierra Cinta 3/8"" 10Dts 2.36 Mts *25692*",1.0,497.45,A 5449,NaT,<NA>,Irma Carvajal Flores,2024-01-19

    ---> Código a explorar 14233

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
3172,5156,F1-VS/2024/00133,2024-01-11,18943,5.0,1350.0,Irma Carvajal Flores,14233,Cierra Puerta Ph #1406-AN #3480 *18579*
7050,11089,F1-VS/2024/00282,2024-01-22,41196,5.0,1410.66,Irma Carvajal Flores,14233,Cierra Puerta Ph #1406-AN #3480 *18579*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
788,1150,346,P00335 (PA 61442),2024-01-22 23:42:47,5335,Casa Myers,14233,[18579] Cierra Puerta Ph #1406-AN #3480 *18579*,10.0,833.79,PA 61442,NaT,<NA>,Irma Carvajal Flores,2024-01-19
1502,388,158,P00147 (PA 60568),2024-01-11 21:34:26,5335,Casa Myers,14233,[18579] Cierra Puerta Ph #1406-AN #3480 *18579*,5.0,833.79,PA 60568,NaT,<NA>,Irma Carvajal Flores,2024-01-08

    ---> Código a explorar 28512

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
7041,11073,F2-CC/2024/01438,2024-01-22,41142,1.0,4809.05,<NA>,28512,"Motosierra A Gasolina Stihl MS 170 1,7 Hp 30,1..."

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
806,1132,343,P00332 (2000005305184095H),2024-01-22 20:33:07,5128,Mercado Libre,28512,"[1783] Motosierra A Gasolina Stihl MS 170 1,7 ...",1.0,3206.03,2000005305184095H,NaT,<NA>,Patricia Flores Pantaleón,2024-01-19

    ---> Código a explorar 28513

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
6965,10971,F2-CC/2024/01415,2024-01-22,40800,1.0,3488.14,Nadia Santos Nava,28513,"Medidor Distancia Makita 50m, Área Volumen LD0..."

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
807,1131,342,P00331 (2000005305184095G),2024-01-22 20:32:19,5128,Mercado Libre,28513,"[1784] Medidor Distancia Makita 50m, Área Volu...",1.0,2146.55,2000005305184095G,NaT,<NA>,Nadia Santos Nava,2024-01-19

    ---> Código a explorar 11435

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
6668,10594,F1-VS/2024/00263,2024-01-22,39509,10.0,113.72,Mayra Angelica Parada Manjarrez,11435,Silicón Negro D/Uso General F109 Sista *27003*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
809,1128,340,P00329 (C 261663),2024-01-22 20:22:53,5321,El Gran Tlapalero,11435,[27003] Silicón Negro D/Uso General F109 Sista...,10.0,87.15,C 261663,NaT,<NA>,Irma Carvajal Flores,2024-01-19

    ---> Código a explorar 12834

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
7042,11077,F1-VS/2024/00278,2024-01-22,41154,2.0,310.0,Irma Carvajal Flores,12834,Candado Ph #8-EL 15.85mm Laton #110 *1101*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
810,1129,340,P00329 (C 261663),2024-01-22 20:22:53,5321,El Gran Tlapalero,12834,[1101] Candado Ph #8-EL 15.85mm Laton #110 *1101*,2.0,217.88,C 261663,NaT,<NA>,Irma Carvajal Flores,2024-01-19

    ---> Código a explorar 28504

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
6305,9980,F1-VS/2024/00254,2024-01-20,37266,3.0,159.83,Mayra Angelica Parada Manjarrez,28504,"Cinta doble cara 19mm, Ceys *1773*"

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
811,1126,339,P00328 (4HGFFI 180112),2024-01-22 18:49:01,5387,Home Depot Mexico,28504,"[1773] Cinta doble cara 19mm, Ceys *1773*",3.0,105.17,4HGFFI 180112,NaT,<NA>,Mayra Angelica Parada Manjarrez,2024-01-19

    ---> Código a explorar 11339

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
5112,8282,F2-VS/2024/00125,2024-01-17,30647,10.0,112.36,Brenda Luz Acosta Lopez,11339,Sil.Resistol No Mas Clavos (353gr) Fuerte y Fa...
6304,9980,F1-VS/2024/00254,2024-01-20,37265,2.0,146.76,Mayra Angelica Parada Manjarrez,11339,Sil.Resistol No Mas Clavos (353gr) Fuerte y Fa...
6370,10048,F1-VS/2024/00255,2024-01-20,37527,12.0,112.36,Irma Carvajal Flores,11339,Sil.Resistol No Mas Clavos (353gr) Fuerte y Fa...

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
812,1127,339,P00328 (4HGFFI 180112),2024-01-22 18:49:01,5387,Home Depot Mexico,11339,[10129] Sil.Resistol No Mas Clavos (353gr) Fue...,2.0,99.14,4HGFFI 180112,NaT,<NA>,Mayra Angelica Parada Manjarrez,2024-01-19
1143,781,284,P00273 (4HGFFI 177738),2024-01-18 20:44:43,5387,Home Depot Mexico,11339,[10129] Sil.Resistol No Mas Clavos (353gr) Fue...,12.0,96.55,4HGFFI 177738,NaT,<NA>,Irma Carvajal Flores,2024-01-15

    ---> Código a explorar 28510

Empty DataFrame
Columns: [fact_doc_id, name, invoice_date, fact_line_id, quantity, price_unit, salesperson_name, product_id, product_name]
Index: []

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
815,1124,338,P00327 (B 83390),2024-01-22 18:07:06,5290,Maria Reyna Navarrete Cortez,28510,[10634] Triplay Cedro 5/8 4'*8' *10634*,1.0,874.8,B 83390,NaT,<NA>,Irma Carvajal Flores,2024-01-19

    ---> Código a explorar 14703

Empty DataFrame
Columns: [fact_doc_id, name, invoice_date, fact_line_id, quantity, price_unit, salesperson_name, product_id, product_name]
Index: []

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
816,1125,338,P00327 (B 83390),2024-01-22 18:07:06,5290,Maria Reyna Navarrete Cortez,14703,"[11427] Tabla Cedro Rojo 1"" *11427*",25.0,71.6,B 83390,NaT,<NA>,Irma Carvajal Flores,2024-01-19

    ---> Código a explorar 13785

Empty DataFrame
Columns: [fact_doc_id, name, invoice_date, fact_line_id, quantity, price_unit, salesperson_name, product_id, product_name]
Index: []

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
817,1120,337,P00326 (36685),2024-01-22 17:59:37,5378,Maderas Dimar,13785,"[16908] Triplay MDF 1/2"" Natural *16908*",2.0,235.16,36685,NaT,<NA>,Irma Carvajal Flores,2024-01-19

    ---> Código a explorar 14108

Empty DataFrame
Columns: [fact_doc_id, name, invoice_date, fact_line_id, quantity, price_unit, salesperson_name, product_id, product_name]
Index: []

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
818,1121,337,P00326 (36685),2024-01-22 17:59:37,5378,Maderas Dimar,14108,"[95624] Triplay MDF 5/8"" C/Melamina Blanca *95...",2.0,498.07,36685,NaT,<NA>,Irma Carvajal Flores,2024-01-19

    ---> Código a explorar 27542

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
9530,15303,F1-VS/2024/00342,2024-01-29,57584,1.0,576.0,Irma Carvajal Flores,27542,Toalla Microfibra Amarillo C/36pz *24426*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
819,1119,336,P00325 (AZG 3306331),2024-01-22 17:35:19,5266,Costco De Mexico,27542,[24426] Toalla Microfibra Amarillo C/36pz *24426*,1.0,300.87,AZG 3306331,NaT,<NA>,Irma Carvajal Flores,2024-01-19

    ---> Código a explorar 8400

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
6628,10427,F1-VS/2024/00259,2024-01-20,38765,25.0,12.67,Irma Carvajal Flores,8400,"Bis. Trup Tubular 1/2"" #44636 Sold (Par) *45687*"

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
820,1118,335,P00324 (CL 165527),2024-01-22 17:32:05,5294,Fierro Y Lamina Construccion,8400,"[45687] Bis. Trup Tubular 1/2"" #44636 Sold (Pa...",25.0,9.0,CL 165527,NaT,<NA>,Irma Carvajal Flores,2024-01-19

    ---> Código a explorar 11928

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
1822,3195,F2-CC/2024/00406,2024-01-08,11748,1.0,163.43,Yolanda Alejandra Rodriguez González,11928,Chapa P/Cajon Ph #250-C Cañ Largo C #33 *1426*
6910,10917,F1-VS/2024/00273,2024-01-22,40603,15.0,203.0,Mayra Angelica Parada Manjarrez,11928,Chapa P/Cajon Ph #250-C Cañ Largo C #33 *1426*
9988,16188,F2-CC/2024/02108,2024-01-31,61450,12.0,163.43,Yolanda Alejandra Rodriguez González,11928,Chapa P/Cajon Ph #250-C Cañ Largo C #33 *1426*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
821,1117,334,P00323 (C 261588),2024-01-22 17:29:34,5321,El Gran Tlapalero,11928,[1426] Chapa P/Cajon Ph #250-C Cañ Largo C #33...,30.0,94.93,C 261588,NaT,<NA>,Mayra Angelica Parada Manjarrez,2024-01-19

    ---> Código a explorar 28508

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
6899,10890,F1-VS/2024/00272,2024-01-22,40503,1.0,3394.4,Mayra Angelica Parada Manjarrez,28508,Juego brocas 13pz #49.22.4025 Milwaukee *70984*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
822,1116,333,P00322 (4HGFFI 180110),2024-01-22 17:27:48,5387,Home Depot Mexico,28508,[70984] Juego brocas 13pz #49.22.4025 Milwauke...,1.0,2262.93,4HGFFI 180110,NaT,<NA>,Mayra Angelica Parada Manjarrez,2024-01-19

    ---> Código a explorar 13755

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
6660,10585,F2-VS/2024/00160,2024-01-22,39478,3.0,698.28,Brenda Luz Acosta Lopez,13755,Triplay Pino 3/8 4'*8' 1/Cara *3652*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
823,1114,332,P00321 (SJCFCO 1756),2024-01-22 17:22:46,5326,Madereria El Pino De Los Cabos,13755,[3652] Triplay Pino 3/8 4'*8' 1/Cara *3652*,3.0,418.11,SJCFCO 1756,NaT,<NA>,Brenda Luz Acosta Lopez,2024-01-19

    ---> Código a explorar 26699

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
6653,10574,F2-VS/2024/00158,2024-01-22,39441,7.0,396.0,Brenda Luz Acosta Lopez,26699,Pegamento Titebond II Premiun Azul 1L *5877*
6879,10862,F1-VS/2024/00269,2024-01-22,40406,1.0,413.79,Mayra Angelica Parada Manjarrez,26699,Pegamento Titebond II Premiun Azul 1L *5877*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
824,1115,332,P00321 (SJCFCO 1756),2024-01-22 17:22:46,5326,Madereria El Pino De Los Cabos,26699,[5877] Pegamento Titebond II Premiun Azul 1L *...,7.0,219.83,SJCFCO 1756,NaT,<NA>,Brenda Luz Acosta Lopez,2024-01-19
1310,590,225,P00214 (MPIFCO 852),2024-01-15 20:41:00,5296,Madereria Pichonchas,26699,[5877] Pegamento Titebond II Premiun Azul 1L *...,2.0,219.83,MPIFCO 852,NaT,<NA>,Mayra Angelica Parada Manjarrez,2024-01-12
1311,588,223,P00212 (MPIFCO 849),2024-01-15 20:38:38,5296,Madereria Pichonchas,26699,[5877] Pegamento Titebond II Premiun Azul 1L *...,1.0,219.83,MPIFCO 849,NaT,<NA>,Mayra Angelica Parada Manjarrez,2024-01-12

    ---> Código a explorar 28026

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
3682,5999,F1-VS/2024/00155,2024-01-12,22019,4.0,710.05,Irma Carvajal Flores,28026,Perfil 107 C-14 C-150 (LM-H1515) *20198*
6623,10427,F1-VS/2024/00259,2024-01-20,38760,25.0,678.0,Irma Carvajal Flores,28026,Perfil 107 C-14 C-150 (LM-H1515) *20198*
6633,10432,F1-VS/2024/00261,2024-01-20,38782,20.0,678.58,Irma Carvajal Flores,28026,Perfil 107 C-14 C-150 (LM-H1515) *20198*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
826,1111,330,P00319 (ACR1 111936482),2024-01-22 17:09:04,5235,Aceros Y Perfilados Del Noroeste,28026,[20198] Perfil 107 C-14 C-150 (LM-H1515) *20198*,20.0,467.99,ACR1 111936482,NaT,<NA>,Irma Carvajal Flores,2024-01-19
828,1106,329,P00318 (ACR1 111936483),2024-01-22 17:02:37,5235,Aceros Y Perfilados Del Noroeste,28026,[20198] Perfil 107 C-14 C-150 (LM-H1515) *20198*,25.0,467.99,ACR1 111936483,NaT,<NA>,Irma Carvajal Flores,2024-01-19

    ---> Código a explorar 27725

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
5472,8764,F1-VS/2024/00221,2024-01-18,32655,8.0,540.0,Irma Carvajal Flores,27725,"Angulo 3/16 x 1"" Fierro *2385*"
6634,10432,F1-VS/2024/00261,2024-01-20,38783,12.0,516.99,Irma Carvajal Flores,27725,"Angulo 3/16 x 1"" Fierro *2385*"

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
827,1112,330,P00319 (ACR1 111936482),2024-01-22 17:09:04,5235,Aceros Y Perfilados Del Noroeste,27725,"[2385] Angulo 3/16 x 1"" Fierro *2385*",12.0,356.55,ACR1 111936482,NaT,<NA>,Irma Carvajal Flores,2024-01-19
1149,775,282,P00271 (ACR1 111936405),2024-01-18 20:24:44,5235,Aceros Y Perfilados Del Noroeste,27725,"[2385] Angulo 3/16 x 1"" Fierro *2385*",8.0,360.65,ACR1 111936405,NaT,<NA>,Irma Carvajal Flores,2024-01-15

    ---> Código a explorar 26483

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
6624,10427,F1-VS/2024/00259,2024-01-20,38761,25.0,930.0,Irma Carvajal Flores,26483,Perfil 200 C/14 C-200 *8708*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
829,1107,329,P00318 (ACR1 111936483),2024-01-22 17:02:37,5235,Aceros Y Perfilados Del Noroeste,26483,[8708] Perfil 200 C/14 C-200 *8708*,25.0,646.28,ACR1 111936483,NaT,<NA>,Irma Carvajal Flores,2024-01-19

    ---> Código a explorar 26774

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
6625,10427,F1-VS/2024/00259,2024-01-20,38762,25.0,368.0,Irma Carvajal Flores,26774,Cuadrado Liso 1/2. *5471*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
830,1108,329,P00318 (ACR1 111936483),2024-01-22 17:02:37,5235,Aceros Y Perfilados Del Noroeste,26774,[5471] Cuadrado Liso 1/2. *5471*,25.0,255.22,ACR1 111936483,NaT,<NA>,Irma Carvajal Flores,2024-01-19

    ---> Código a explorar 28507

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
6626,10427,F1-VS/2024/00259,2024-01-20,38763,25.0,445.68,Irma Carvajal Flores,28507,Redondo Liso 5/8 A 6.10 Mts. *1779*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
831,1109,329,P00318 (ACR1 111936483),2024-01-22 17:02:37,5235,Aceros Y Perfilados Del Noroeste,28507,[1779] Redondo Liso 5/8 A 6.10 Mts. *1779*,25.0,307.37,ACR1 111936483,NaT,<NA>,Irma Carvajal Flores,2024-01-19

    ---> Código a explorar 26531

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
6627,10427,F1-VS/2024/00259,2024-01-20,38764,25.0,1007.0,Irma Carvajal Flores,26531,"Angulo 1/4 X 1 1/2"" 300105 *78541*"

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
832,1110,329,P00318 (ACR1 111936483),2024-01-22 17:02:37,5235,Aceros Y Perfilados Del Noroeste,26531,"[78541] Angulo 1/4 X 1 1/2"" 300105 *78541*",25.0,719.52,ACR1 111936483,NaT,<NA>,Irma Carvajal Flores,2024-01-19

    ---> Código a explorar 28498

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
9798,15749,F1-VS/2024/00351,2024-01-30,59497,1.0,1702.13,Irma Carvajal Flores,28498,Escalera Tijera Alum T-III #130796 Cuprum *1749*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
834,1101,327,P00316 (4HGFFI 179589),2024-01-22 15:39:16,5387,Home Depot Mexico,28498,[1749] Escalera Tijera Alum T-III #130796 Cupr...,1.0,1119.82,4HGFFI 179589,NaT,<NA>,Irma Carvajal Flores,2024-01-19

    ---> Código a explorar 26878

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
8431,13251,F1-VS/2024/00325,2024-01-25,49713,1.0,675.0,Irma Carvajal Flores,26878,Flexometro Magnetico 5m Plas. Milwaukee *40881*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
836,1103,327,P00316 (4HGFFI 179589),2024-01-22 15:39:16,5387,Home Depot Mexico,26878,[40881] Flexometro Magnetico 5m Plas. Milwauke...,1.0,322.41,4HGFFI 179589,NaT,<NA>,Irma Carvajal Flores,2024-01-19

    ---> Código a explorar 27770

Empty DataFrame
Columns: [fact_doc_id, name, invoice_date, fact_line_id, quantity, price_unit, salesperson_name, product_id, product_name]
Index: []

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
837,1100,326,P00315 (2000005301404071B),2024-01-22 15:36:08,5128,Mercado Libre,27770,[21600] Pirografo Mef 10 puntas *21600*,1.0,990.52,2000005301404071B,NaT,<NA>,Mayra Angelica Parada Manjarrez,2024-01-19

    ---> Código a explorar 28490

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
5723,9060,F1-VS/2024/00232,2024-01-18,33767,1.0,602.76,Mayra Angelica Parada Manjarrez,28490,Jgo Avellanadores #6 #8 #10 Dewalt *58211*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
838,1099,325,P00314 (2000005301404071C),2024-01-22 15:34:41,5128,Mercado Libre,28490,[58211] Jgo Avellanadores #6 #8 #10 Dewalt *58...,1.0,280.17,2000005301404071C,NaT,<NA>,Mayra Angelica Parada Manjarrez,2024-01-19

    ---> Código a explorar 26803

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
6318,9991,F2-VS/2024/00155,2024-01-20,37306,1.0,651.0,Brenda Luz Acosta Lopez,26803,Fulminante Cal-22 Rojo *48922*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
844,1093,322,P00311 (2000005305184095B),2024-01-20 17:09:34,5128,Mercado Libre,26803,[48922] Fulminante Cal-22 Rojo *48922*,1.0,336.21,2000005305184095B,NaT,Gretel Gómez Alcázar,Brenda Luz Acosta Lopez,2024-01-17

    ---> Código a explorar 7543

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
6177,9727,F1-VS/2024/00244,2024-01-19,36165,150.0,0.6,Irma Carvajal Flores,7543,"Rondana Neopreno 1/4"" C#176 *9364*"

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
845,1092,321,P00310 (WA 12941),2024-01-20 00:46:54,5221,Distribuidor Mayorista De Tornillos De Yucatan...,7543,"[9364] Rondana Neopreno 1/4"" C#176 *9364*",113.0,0.2,WA 12941,NaT,<NA>,Irma Carvajal Flores,2024-01-17

    ---> Código a explorar 10679

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
5257,8431,F1-VS/2024/00207,2024-01-17,31187,20.0,80.0,Irma Carvajal Flores,10679,Fajilla 1*2*10 *12822*
6180,9727,F1-VS/2024/00244,2024-01-19,36168,36.0,73.0,Irma Carvajal Flores,10679,Fajilla 1*2*10 *12822*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
945,987,308,P00297 (A 22379),2024-01-19 22:51:47,5264,Maria Teresa Quezada Hernandez,10679,[12822] Fajilla 1*2*10 *12822*,36.0,48.28,A 22379,NaT,<NA>,Irma Carvajal Flores,2024-01-16
1147,779,283,P00272 (A 103868),2024-01-18 20:39:09,5352,Luz Raquel Rodriguez Montoya,10679,[12822] Fajilla 1*2*10 *12822*,20.0,48.28,A 103868,NaT,<NA>,Irma Carvajal Flores,2024-01-15

    ---> Código a explorar 28492

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
6181,9727,F1-VS/2024/00244,2024-01-19,36169,16.0,805.0,Irma Carvajal Flores,28492,Lamina Galv. R72 C/26 4.27mts *1742*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
947,985,307,P00296 (ACR1 111936456),2024-01-19 22:50:25,5235,Aceros Y Perfilados Del Noroeste,28492,[1742] Lamina Galv. R72 C/26 4.27mts *1742*,16.0,549.1,ACR1 111936456,NaT,<NA>,Irma Carvajal Flores,2024-01-16

    ---> Código a explorar 28493

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
6183,9727,F1-VS/2024/00244,2024-01-19,36171,3.0,591.0,Irma Carvajal Flores,28493,Caballete Dentado C/26 3.05mts *1745*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
948,986,307,P00296 (ACR1 111936456),2024-01-19 22:50:25,5235,Aceros Y Perfilados Del Noroeste,28493,[1745] Caballete Dentado C/26 3.05mts *1745*,3.0,394.84,ACR1 111936456,NaT,<NA>,Irma Carvajal Flores,2024-01-16

    ---> Código a explorar 27029

Empty DataFrame
Columns: [fact_doc_id, name, invoice_date, fact_line_id, quantity, price_unit, salesperson_name, product_id, product_name]
Index: []

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
949,984,306,P00295 (MX 4146178),2024-01-19 22:46:44,5161,Uline Shipping Supplies,27029,[26603] Mascarilla 2 Filtros 3M R6211 #31355 *...,3.0,1292.2,MX 4146178,NaT,<NA>,Brenda Luz Acosta Lopez,2024-01-16

    ---> Código a explorar 28461

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
6288,9861,F2-VS/2024/00151,2024-01-19,36626,2.0,5820.52,Yamilet Blanco Salas,28461,"Grifo Giratorio de 10"" *1620*"

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
950,983,305,P00294 (MX 4146084),2024-01-19 20:41:15,5161,Uline Shipping Supplies,28461,"[1620] Grifo Giratorio de 10"" *1620*",2.0,4446.31,MX 4146084,NaT,<NA>,Brenda Luz Acosta Lopez,2024-01-16

    ---> Código a explorar 28462

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
6274,9859,F2-VS/2024/00150,2024-01-19,36607,5.0,1227.16,Yamilet Blanco Salas,28462,Cespol P/lavabo Urrea 207 Cromo *1622*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
990,943,303,P00292 (2000005305184095F),2024-01-19 20:12:48,5128,Mercado Libre,28462,[1622] Cespol P/lavabo Urrea 207 Cromo *1622*,5.0,688.79,2000005305184095F,NaT,<NA>,Brenda Luz Acosta Lopez,2024-01-16

    ---> Código a explorar 28134

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
6002,9483,F2-VS/2024/00140,2024-01-19,35347,2.0,1042.52,Brenda Luz Acosta Lopez,28134,Resina Pre-Acelerada (Galon) *16359*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
994,938,300,P00289 (B 23733),2024-01-19 18:37:58,14051,Grecia Fabiola Mosqueda Verdugo,28134,[16359] Resina Pre-Acelerada (Galon) *16359*,2.0,599.14,B 23733,NaT,<NA>,Brenda Luz Acosta Lopez,2024-01-16

    ---> Código a explorar 28316

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
5940,9428,F2-VS/2024/00138,2024-01-19,35134,2.0,920.0,Brenda Luz Acosta Lopez,28316,GP Densglass 1/2 4x8 *10062*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
995,936,299,P00288 (SJ 36679),2024-01-19 18:36:35,5369,Acyma Del Noroeste,28316,[10062] GP Densglass 1/2 4x8 *10062*,2.0,652.37,SJ 36679,NaT,<NA>,Brenda Luz Acosta Lopez,2024-01-16

    ---> Código a explorar 28395

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
5941,9428,F2-VS/2024/00138,2024-01-19,35135,1.0,974.0,Brenda Luz Acosta Lopez,28395,"Durock 1/2"" 4x8 *12672*"

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
996,937,299,P00288 (SJ 36679),2024-01-19 18:36:35,5369,Acyma Del Noroeste,28395,"[12672] Durock 1/2"" 4x8 *12672*",1.0,695.2,SJ 36679,NaT,<NA>,Brenda Luz Acosta Lopez,2024-01-16

    ---> Código a explorar 28158

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
3180,5159,F2-VS/2024/00077,2024-01-11,18959,2.0,180.0,Brenda Luz Acosta Lopez,28158,Cal (Bulto) *14865*
5942,9428,F2-VS/2024/00138,2024-01-19,35136,3.0,244.29,Brenda Luz Acosta Lopez,28158,Cal (Bulto) *14865*
6722,10669,F1-VS/2024/00266,2024-01-22,39753,2.0,179.53,Irma Carvajal Flores,28158,Cal (Bulto) *14865*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
997,935,298,P00287 (SJ 27357),2024-01-19 17:57:36,5143,Fymsa Baja Sur,28158,[14865] Cal (Bulto) *14865*,3.0,126.44,SJ 27357,NaT,<NA>,Brenda Luz Acosta Lopez,2024-01-16
1124,808,286,P00275 (SJ 27248),2024-01-18 21:09:43,5143,Fymsa Baja Sur,28158,[14865] Cal (Bulto) *14865*,2.0,126.44,SJ 27248,NaT,<NA>,Irma Carvajal Flores,2024-01-15
1499,391,160,P00149 (FRCO 706),2024-01-11 21:53:52,5373,Ferreteria Y Plomeria Santana,28158,[14865] Cal (Bulto) *14865*,2.0,120.00,FRCO 706,NaT,<NA>,Brenda Luz Acosta Lopez,2024-01-08

    ---> Código a explorar 28496

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
5934,9422,F1-VS/2024/00239,2024-01-19,35114,2.0,260.0,Irma Carvajal Flores,28496,Emboquillador Fluido Y Sellado Rojo 10kg *566*
5939,9427,F1-VS/2024/00241,2024-01-19,35131,15.0,260.0,Irma Carvajal Flores,28496,Emboquillador Fluido Y Sellado Rojo 10kg *566*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
998,933,297,P00286 (4HGFFI 179132),2024-01-19 17:54:11,5387,Home Depot Mexico,28496,[566] Emboquillador Fluido Y Sellado Rojo 10kg...,17.0,162.07,4HGFFI 179132,NaT,<NA>,Irma Carvajal Flores,2024-01-16

    ---> Código a explorar 11036

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
5692,9005,F1-VS/2024/00229,2024-01-18,33593,8.0,89.87,Mayra Angelica Parada Manjarrez,11036,Pila D/Boton CR2032 Energizer Paq 2 Pzs *56076*
6159,9707,F1-VS/2024/00243,2024-01-19,36095,22.0,89.87,Mayra Angelica Parada Manjarrez,11036,Pila D/Boton CR2032 Energizer Paq 2 Pzs *56076*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
999,934,297,P00286 (4HGFFI 179132),2024-01-19 17:54:11,5387,Home Depot Mexico,11036,[56076] Pila D/Boton CR2032 Energizer Paq 2 Pz...,22.0,66.38,4HGFFI 179132,NaT,<NA>,Irma Carvajal Flores,2024-01-16
1476,417,177,P00166 (4HGFFI 175877),2024-01-12 15:37:23,5387,Home Depot Mexico,11036,[56076] Pila D/Boton CR2032 Energizer Paq 2 Pz...,8.0,66.38,4HGFFI 175877,NaT,<NA>,Irma Carvajal Flores,2024-01-09

    ---> Código a explorar 28147

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
5937,9424,F1-VS/2024/00240,2024-01-19,35121,1.0,705.6,Mayra Angelica Parada Manjarrez,28147,Formica #595 Negro Bte. *1574*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
1115,817,294,P00283 (36894),2024-01-19 16:11:53,5378,Maderas Dimar,28147,[1574] Formica #595 Negro Bte. *1574*,1.0,423.28,36894,NaT,<NA>,Mayra Angelica Parada Manjarrez,2024-01-16

    ---> Código a explorar 7538

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
5727,9061,F2-CC/2024/01158,2024-01-18,33773,7000.0,0.58,Karla Jaqueline Rivera Hernández,7538,"Pija C/Pl 8*1 1/2"" Smpfz (8000P/C) C#19 *3959*"
5931,9421,F2-CC/2024/01196,2024-01-19,35101,100.0,0.58,<NA>,7538,"Pija C/Pl 8*1 1/2"" Smpfz (8000P/C) C#19 *3959*"
6524,10256,F2-CC/2024/01326,2024-01-20,38225,35.0,0.58,Yolanda Alejandra Rodriguez González,7538,"Pija C/Pl 8*1 1/2"" Smpfz (8000P/C) C#19 *3959*"
7474,11852,F1-CC/2024/01160,2024-01-24,44271,8.0,0.58,Viviana Montaño Inzunza,7538,"Pija C/Pl 8*1 1/2"" Smpfz (8000P/C) C#19 *3959*"
7542,11963,F2-CC/2024/01550,2024-01-24,44629,30.0,0.58,Karla Jaqueline Rivera Hernández,7538,"Pija C/Pl 8*1 1/2"" Smpfz (8000P/C) C#19 *3959*"
8721,13764,F1-CC/2024/01361,2024-01-26,51663,4.0,0.58,Gladiz Melisa Galvez Espinoza,7538,"Pija C/Pl 8*1 1/2"" Smpfz (8000P/C) C#19 *3959*"

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
1117,815,292,P00281 (WA 12922),2024-01-18 23:10:31,5221,Distribuidor Mayorista De Tornillos De Yucatan...,7538,"[3959] Pija C/Pl 8*1 1/2"" Smpfz (8000P/C) C#19...",7000.0,0.38,WA 12922,NaT,<NA>,Karla Jaqueline Rivera Hernández,2024-01-15

    ---> Código a explorar 27331

Empty DataFrame
Columns: [fact_doc_id, name, invoice_date, fact_line_id, quantity, price_unit, salesperson_name, product_id, product_name]
Index: []

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
1118,814,291,P00280 (2000005281980027C),2024-01-18 23:08:04,5128,Mercado Libre,27331,[24831] Segt. P/S. Cal. DW T Bi-M DW3742C (14p...,2.0,812.93,2000005281980027C,NaT,<NA>,Brenda Luz Acosta Lopez,2024-01-15

    ---> Código a explorar 12756

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
2027,3399,F2-VS/2024/00038,2024-01-08,12482,8.0,245.56,Brenda Luz Acosta Lopez,12756,Pila Panasonic Lto Crp2 *26164*
5906,9410,F2-VS/2024/00136,2024-01-19,35028,7.0,245.56,Brenda Luz Acosta Lopez,12756,Pila Panasonic Lto Crp2 *26164*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
1119,813,290,P00279 (2000005281980027B),2024-01-18 23:06:18,5128,Mercado Libre,12756,[26164] Pila Panasonic Lto Crp2 *26164*,17.0,151.73,2000005281980027B,NaT,<NA>,Brenda Luz Acosta Lopez,2024-01-15

    ---> Código a explorar 28494

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
5987,9471,F1-CC/2024/00932,2024-01-19,35300,30.0,54.32,Reyna Arriaga Flores,28494,Taquete Expansor Z 5/8 *1746*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
1120,812,289,P00278 (WA 12921),2024-01-18 23:04:26,5221,Distribuidor Mayorista De Tornillos De Yucatan...,28494,[1746] Taquete Expansor Z 5/8 *1746*,30.0,33.43,WA 12921,NaT,<NA>,Reyna Arriaga Flores,2024-01-15

    ---> Código a explorar 14220

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
5888,9399,F1-VS/2024/00237,2024-01-19,34984,2.0,1438.76,Mayra Angelica Parada Manjarrez,14220,Cerradura Ashico Corrediza Cuadra LA. *29033*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
1121,811,288,P00277 (2000005301404071),2024-01-18 21:40:37,5128,Mercado Libre,14220,[29033] Cerradura Ashico Corrediza Cuadra LA. ...,2.0,942.24,2000005301404071,NaT,<NA>,Mayra Angelica Parada Manjarrez,2024-01-15

    ---> Código a explorar 28491

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
5952,9433,F2-VS/2024/00139,2024-01-19,35230,500.0,1.53,Brenda Luz Acosta Lopez,28491,"Pija C/Pl 12*3"" CE *1739*"
6320,9991,F2-VS/2024/00155,2024-01-20,37311,200.0,1.99,Brenda Luz Acosta Lopez,28491,"Pija C/Pl 12*3"" CE *1739*"

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
1123,810,287,P00276 (WA 12903),2024-01-18 21:24:25,5221,Distribuidor Mayorista De Tornillos De Yucatan...,28491,"[1739] Pija C/Pl 12*3"" CE *1739*",700.0,0.81,WA 12903,NaT,<NA>,Brenda Luz Acosta Lopez,2024-01-15

    ---> Código a explorar 26819

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
4605,7521,F1-VS/2024/00175,2024-01-16,27797,7.0,231.46,Mayra Angelica Parada Manjarrez,26819,Pegamento Bco. Resistol 850 1Lt *4631*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
1144,782,284,P00273 (4HGFFI 177738),2024-01-18 20:44:43,5387,Home Depot Mexico,26819,[4631] Pegamento Bco. Resistol 850 1Lt *4631*,7.0,154.31,4HGFFI 177738,NaT,<NA>,Irma Carvajal Flores,2024-01-15

    ---> Código a explorar 26821

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
4607,7521,F1-VS/2024/00175,2024-01-16,27799,4.0,394.4,Mayra Angelica Parada Manjarrez,26821,Pegamento D/Contacto 5000 1Lt. *4625*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
1145,783,284,P00273 (4HGFFI 177738),2024-01-18 20:44:43,5387,Home Depot Mexico,26821,[4625] Pegamento D/Contacto 5000 1Lt. *4625*,4.0,262.93,4HGFFI 177738,NaT,<NA>,Irma Carvajal Flores,2024-01-15

    ---> Código a explorar 26509

Empty DataFrame
Columns: [fact_doc_id, name, invoice_date, fact_line_id, quantity, price_unit, salesperson_name, product_id, product_name]
Index: []

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
1146,784,284,P00273 (4HGFFI 177738),2024-01-18 20:44:43,5387,Home Depot Mexico,26509,[81] Juego de Formon Stanley *81*,2.0,387.07,4HGFFI 177738,NaT,<NA>,Irma Carvajal Flores,2024-01-15

    ---> Código a explorar 28145

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
3681,5999,F1-VS/2024/00155,2024-01-12,22018,4.0,860.0,Irma Carvajal Flores,28145,"Angulo 3/16"" x 1 1/2"" Tramo *16014*"
5473,8764,F1-VS/2024/00221,2024-01-18,32656,10.0,837.0,Irma Carvajal Flores,28145,"Angulo 3/16"" x 1 1/2"" Tramo *16014*"
5475,8764,F1-VS/2024/00221,2024-01-18,32658,5.0,840.0,Irma Carvajal Flores,28145,"Angulo 3/16"" x 1 1/2"" Tramo *16014*"

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
1150,776,282,P00271 (ACR1 111936405),2024-01-18 20:24:44,5235,Aceros Y Perfilados Del Noroeste,28145,"[16014] Angulo 3/16"" x 1 1/2"" Tramo *16014*",10.0,558.92,ACR1 111936405,NaT,<NA>,Irma Carvajal Flores,2024-01-15
1152,778,282,P00271 (ACR1 111936405),2024-01-18 20:24:44,5235,Aceros Y Perfilados Del Noroeste,28145,"[16014] Angulo 3/16"" x 1 1/2"" Tramo *16014*",5.0,558.92,ACR1 111936405,NaT,<NA>,Irma Carvajal Flores,2024-01-15

    ---> Código a explorar 26640

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
5474,8764,F1-VS/2024/00221,2024-01-18,32657,5.0,1646.65,Irma Carvajal Flores,26640,Tubo Negro CEDULA30 C.12 *69895*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
1151,777,282,P00271 (ACR1 111936405),2024-01-18 20:24:44,5235,Aceros Y Perfilados Del Noroeste,26640,[69895] Tubo Negro CEDULA30 C.12 *69895*,5.0,1097.77,ACR1 111936405,NaT,<NA>,Irma Carvajal Flores,2024-01-15

    ---> Código a explorar 28170

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
6011,9494,F2-VS/2024/00142,2024-01-19,35387,20.0,33.4,Brenda Luz Acosta Lopez,28170,Kola Loka *14362*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
1161,766,277,P00266 (JR 163013),2024-01-18 18:06:13,5230,Tiendas Chedraui,28170,[14362] Kola Loka *14362*,20.0,11.38,JR 163013,NaT,<NA>,Brenda Luz Acosta Lopez,2024-01-15

    ---> Código a explorar 11961

Empty DataFrame
Columns: [fact_doc_id, name, invoice_date, fact_line_id, quantity, price_unit, salesperson_name, product_id, product_name]
Index: []

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
1163,765,276,P00265 (4HGFFI 178621),2024-01-18 18:04:45,5387,Home Depot Mexico,11961,"[66454] Cinta Masking 2"" Azul 3M (2090) CE *66...",33.0,87.44,4HGFFI 178621,NaT,<NA>,Brenda Luz Acosta Lopez,2024-01-15
1262,612,236,P00225 (4HGFFI 177093),2024-01-16 15:46:24,5387,Home Depot Mexico,11961,"[66454] Cinta Masking 2"" Azul 3M (2090) CE *66...",41.0,89.58,4HGFFI 177093,NaT,<NA>,Brenda Luz Acosta Lopez,2024-01-13
1363,532,190,P00179 (4HGFFI 176269),2024-01-12 23:03:10,5387,Home Depot Mexico,11961,"[66454] Cinta Masking 2"" Azul 3M (2090) CE *66...",26.0,90.81,4HGFFI 176269,NaT,<NA>,Brenda Luz Acosta Lopez,2024-01-09

    ---> Código a explorar 26810

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
2339,3893,F2-VS/2024/00050,2024-01-09,14180,2.0,751.21,Yamilet Blanco Salas,26810,Paquete Pilas AA (40 pz) Duracell *47501*
2342,3901,F2-VS/2024/00051,2024-01-09,14203,1.0,751.21,Yamilet Blanco Salas,26810,Paquete Pilas AA (40 pz) Duracell *47501*
4042,6746,F2-VS/2024/00104,2024-01-15,24974,4.0,751.21,Brenda Luz Acosta Lopez,26810,Paquete Pilas AA (40 pz) Duracell *47501*
4043,6747,F2-VS/2024/00105,2024-01-15,24977,4.0,751.21,Brenda Luz Acosta Lopez,26810,Paquete Pilas AA (40 pz) Duracell *47501*
4457,7329,F2-VS/2024/00116,2024-01-16,27096,1.0,690.0,Brenda Luz Acosta Lopez,26810,Paquete Pilas AA (40 pz) Duracell *47501*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
1164,763,275,P00264 (AZG 3305941),2024-01-18 18:00:32,5266,Costco De Mexico,26810,[47501] Paquete Pilas AA (40 pz) Duracell *47501*,1.0,322.63,AZG 3305941,NaT,<NA>,Brenda Luz Acosta Lopez,2024-01-15
1336,558,207,P00196 (AZG 3302759),2024-01-15 18:50:40,5266,Costco De Mexico,26810,[47501] Paquete Pilas AA (40 pz) Duracell *47501*,8.0,322.64,AZG 3302759,NaT,<NA>,Brenda Luz Acosta Lopez,2024-01-12
1643,236,134,P00123 (AZG 3298252),2024-01-10 17:58:15,5266,Costco De Mexico,26810,[47501] Paquete Pilas AA (40 pz) Duracell *47501*,2.0,322.63,AZG 3298252,NaT,<NA>,Brenda Luz Acosta Lopez,2024-01-07
1645,235,133,P00122 (AZG 3298248),2024-01-10 17:56:36,5266,Costco De Mexico,26810,[47501] Paquete Pilas AA (40 pz) Duracell *47501*,1.0,322.63,AZG 3298248,NaT,<NA>,Brenda Luz Acosta Lopez,2024-01-07

    ---> Código a explorar 28482

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
5438,8737,F1-VS/2024/00220,2024-01-18,32546,4.0,431.1,Mayra Angelica Parada Manjarrez,28482,Perfil tubular C-100 Cal-14 *1718*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
1180,743,271,P00260 (LA 36771),2024-01-18 00:17:51,5143,Fymsa Baja Sur,28482,[1718] Perfil tubular C-100 Cal-14 *1718*,4.0,283.62,LA 36771,NaT,<NA>,Mayra Angelica Parada Manjarrez,2024-01-15

    ---> Código a explorar 28481

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
5268,8448,F1-VS/2024/00212,2024-01-17,31246,1.0,3433.19,Mayra Angelica Parada Manjarrez,28481,Sellador 48% 19L Comex *1716*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
1181,742,270,P00259 (BLEVIFA 14993),2024-01-17 23:34:26,5174,Campos Reyeros Y Cia,28481,[1716] Sellador 48% 19L Comex *1716*,1.0,2288.79,BLEVIFA 14993,NaT,<NA>,Mayra Angelica Parada Manjarrez,2024-01-14

    ---> Código a explorar 28477

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
10048,16263,F1-VS/2024/00360,2024-01-31,61704,1.0,3930.0,Irma Carvajal Flores,28477,Silla Ejecutiva Olmo Negro *1706*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
1182,741,269,P00258 (FAOMXPOS 22090685),2024-01-17 23:15:04,14806,OPERADORA OMX SA DE CV,28477,[1706] Silla Ejecutiva Olmo Negro *1706*,3.0,2585.34,FAOMXPOS 22090685,NaT,<NA>,Irma Carvajal Flores,2024-01-14

    ---> Código a explorar 12636

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
3108,5101,F1-VS/2024/00124,2024-01-11,18730,48.0,366.89,Mayra Angelica Parada Manjarrez,12636,Barrote 2 X 4 X 16' *13430*
5242,8418,F1-VS/2024/00204,2024-01-17,31135,30.0,366.89,Mayra Angelica Parada Manjarrez,12636,Barrote 2 X 4 X 16' *13430*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
1183,739,268,P00257 (A 22312),2024-01-17 23:00:17,5264,Maria Teresa Quezada Hernandez,12636,[13430] Barrote 2 X 4 X 16' *13430*,30.0,228.45,A 22312,NaT,<NA>,Mayra Angelica Parada Manjarrez,2024-01-14
1353,540,197,P00186 (A 103781),2024-01-13 00:56:51,5352,Luz Raquel Rodriguez Montoya,12636,[13430] Barrote 2 X 4 X 16' *13430*,48.0,228.45,A 103781,NaT,<NA>,Mayra Angelica Parada Manjarrez,2024-01-10

    ---> Código a explorar 13906

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
5243,8418,F1-VS/2024/00204,2024-01-17,31136,30.0,756.47,Mayra Angelica Parada Manjarrez,13906,"Polin 4x4x16"" *1478*"

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
1184,740,268,P00257 (A 22312),2024-01-17 23:00:17,5264,Maria Teresa Quezada Hernandez,13906,"[1478] Polin 4x4x16"" *1478*",30.0,504.31,A 22312,NaT,<NA>,Mayra Angelica Parada Manjarrez,2024-01-14

    ---> Código a explorar 13636

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
582,1156,F1-VS/2024/00015,2024-01-04,4212,10.0,640.05,Mayra Angelica Parada Manjarrez,13636,Tabla Americana 1x12x10 *13756*
816,1546,F1-VS/2024/00023,2024-01-05,5685,5.0,581.25,Mayra Angelica Parada Manjarrez,13636,Tabla Americana 1x12x10 *13756*
1986,3377,F1-VS/2024/00079,2024-01-08,12389,5.0,548.0,Irma Carvajal Flores,13636,Tabla Americana 1x12x10 *13756*
2381,3950,F1-VS/2024/00102,2024-01-09,14373,8.0,541.82,Mayra Angelica Parada Manjarrez,13636,Tabla Americana 1x12x10 *13756*
5938,9424,F1-VS/2024/00240,2024-01-19,35122,1.0,534.04,Mayra Angelica Parada Manjarrez,13636,Tabla Americana 1x12x10 *13756*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
1186,737,266,P00255 (A 22185),2024-01-17 22:57:09,5264,Maria Teresa Quezada Hernandez,13636,[13756] Tabla Americana 1x12x10 *13756*,8.0,327.59,A 22185,NaT,<NA>,Mayra Angelica Parada Manjarrez,2024-01-14
1667,213,122,P00111 (A 22147),2024-01-09 21:49:19,5264,Maria Teresa Quezada Hernandez,13636,[13756] Tabla Americana 1x12x10 *13756*,5.0,327.59,A 22147,NaT,<NA>,Irma Carvajal Flores,2024-01-06
1800,73,55,P00048 (A 22053),2024-01-04 17:14:52,5264,Maria Teresa Quezada Hernandez,13636,[13756] Tabla Americana 1x12x10 *13756*,5.0,356.03,A 22053,NaT,<NA>,Mayra Angelica Parada Manjarrez,2024-01-01

    ---> Código a explorar 14777

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
834,1570,F1-VS/2024/00026,2024-01-05,5761,7.0,2700.0,Irma Carvajal Flores,14777,"Usgi Radar 2x2x5/8"" LST *20703*"
9528,15303,F1-VS/2024/00342,2024-01-29,57582,2.0,2525.0,Irma Carvajal Flores,14777,"Usgi Radar 2x2x5/8"" LST *20703*"

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
1188,719,264,P00253 (SL 6785),2024-01-17 22:05:07,5181,Vector De Baja California,14777,"[20703] Usgi Radar 2x2x5/8"" LST *20703*",2.0,1595.79,SL 6785,NaT,Elsa Ivette Diaz Leyva,Irma Carvajal Flores,2024-01-14
1210,691,256,P00245 (SL 6785),2024-01-17 16:28:20,5181,Vector De Baja California,14777,"[20703] Usgi Radar 2x2x5/8"" LST *20703*",2.0,1607.95,SL 6785,NaT,<NA>,Irma Carvajal Flores,2024-01-14
1812,56,42,P00035 (SL 6710),2024-01-03 22:49:32,5181,Vector De Baja California,14777,"[20703] Usgi Radar 2x2x5/8"" LST *20703*",7.0,1607.95,SL 6710,NaT,<NA>,Irma Carvajal Flores,2023-12-31

    ---> Código a explorar 13624

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
5451,8741,F2-VS/2024/00128,2024-01-18,32569,10.0,679.62,Brenda Luz Acosta Lopez,13624,Triplay Parota 1/4 *10635*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
1190,714,262,P00251 (SJCFCO 1309),2024-01-17 21:04:26,5326,Madereria El Pino De Los Cabos,13624,[10635] Triplay Parota 1/4 *10635*,10.0,336.21,SJCFCO 1309,NaT,<NA>,Brenda Luz Acosta Lopez,2024-01-14

    ---> Código a explorar 14163

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
4616,7521,F1-VS/2024/00175,2024-01-16,27809,5.0,1099.15,Mayra Angelica Parada Manjarrez,14163,Triplay Parota 1/2 *29112*
5452,8741,F2-VS/2024/00128,2024-01-18,32570,10.0,1421.25,Brenda Luz Acosta Lopez,14163,Triplay Parota 1/2 *29112*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
1191,715,262,P00251 (SJCFCO 1309),2024-01-17 21:04:26,5326,Madereria El Pino De Los Cabos,14163,[29112] Triplay Parota 1/2 *29112*,10.0,732.76,SJCFCO 1309,NaT,<NA>,Brenda Luz Acosta Lopez,2024-01-14
1246,638,244,P00233 (MPIFCO 926),2024-01-16 20:18:53,5296,Madereria Pichonchas,14163,[29112] Triplay Parota 1/2 *29112*,5.0,732.76,MPIFCO 926,NaT,<NA>,Mayra Angelica Parada Manjarrez,2024-01-13

    ---> Código a explorar 28065

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
5408,8671,F1-VS/2024/00218,2024-01-18,32292,40.0,73.38,Mayra Angelica Parada Manjarrez,28065,Thinner standar Comex 1 lt *197076*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
1192,702,261,P00250 (BSLUCFA 318062),2024-01-17 20:43:46,5174,Campos Reyeros Y Cia,28065,[197076] Thinner standar Comex 1 lt *197076*,40.0,48.71,BSLUCFA 318062,NaT,<NA>,Mayra Angelica Parada Manjarrez,2024-01-14

    ---> Código a explorar 27888

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
5409,8671,F1-VS/2024/00218,2024-01-18,32293,5.0,1513.45,Mayra Angelica Parada Manjarrez,27888,Thinner 20Lt Standar Comex *20540*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
1193,703,261,P00250 (BSLUCFA 318062),2024-01-17 20:43:46,5174,Campos Reyeros Y Cia,27888,[20540] Thinner 20Lt Standar Comex *20540*,5.0,995.69,BSLUCFA 318062,NaT,<NA>,Mayra Angelica Parada Manjarrez,2024-01-14

    ---> Código a explorar 26499

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
2000,3386,F1-VS/2024/00084,2024-01-08,12423,1.0,2131.04,Mayra Angelica Parada Manjarrez,26499,Thinner Americano Comex 19L *8301*
2781,4559,F1-VS/2024/00118,2024-01-10,16600,13.0,2131.04,Mayra Angelica Parada Manjarrez,26499,Thinner Americano Comex 19L *8301*
5410,8671,F1-VS/2024/00218,2024-01-18,32294,7.0,2131.03,Mayra Angelica Parada Manjarrez,26499,Thinner Americano Comex 19L *8301*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
1194,704,261,P00250 (BSLUCFA 318062),2024-01-17 20:43:46,5174,Campos Reyeros Y Cia,26499,[8301] Thinner Americano Comex 19L *8301*,7.0,1420.69,BSLUCFA 318062,NaT,<NA>,Mayra Angelica Parada Manjarrez,2024-01-14
1567,312,145,P00134 (BSLUCFA 317720),2024-01-11 00:28:32,5174,Campos Reyeros Y Cia,26499,[8301] Thinner Americano Comex 19L *8301*,1.0,1420.69,BSLUCFA 317720,NaT,<NA>,Mayra Angelica Parada Manjarrez,2024-01-08
1568,308,144,P00133 (BSLUCFA 317715),2024-01-11 00:27:14,5174,Campos Reyeros Y Cia,26499,[8301] Thinner Americano Comex 19L *8301*,13.0,1420.69,BSLUCFA 317715,NaT,<NA>,Mayra Angelica Parada Manjarrez,2024-01-08

    ---> Código a explorar 27216

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
5414,8671,F1-VS/2024/00218,2024-01-18,32298,5.0,1425.66,Mayra Angelica Parada Manjarrez,27216,Flash Coat Blanco Brillante 4Lts *25458*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
1195,705,261,P00250 (BSLUCFA 318062),2024-01-17 20:43:46,5174,Campos Reyeros Y Cia,27216,[25458] Flash Coat Blanco Brillante 4Lts *25458*,5.0,938.36,BSLUCFA 318062,NaT,<NA>,Mayra Angelica Parada Manjarrez,2024-01-14

    ---> Código a explorar 28471

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
5415,8671,F1-VS/2024/00218,2024-01-18,32299,12.0,230.6,Mayra Angelica Parada Manjarrez,28471,Polyform Tinta Aceite Nogal Americano PET 1L *...

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
1196,706,261,P00250 (BSLUCFA 318062),2024-01-17 20:43:46,5174,Campos Reyeros Y Cia,28471,[1677] Polyform Tinta Aceite Nogal Americano P...,12.0,134.48,BSLUCFA 318062,NaT,<NA>,Mayra Angelica Parada Manjarrez,2024-01-14

    ---> Código a explorar 27235

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
5416,8671,F1-VS/2024/00218,2024-01-18,32300,80.0,230.6,Mayra Angelica Parada Manjarrez,27235,Polyform Tinta Aceite Chocolate (1Lt) *25305*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
1197,707,261,P00250 (BSLUCFA 318062),2024-01-17 20:43:46,5174,Campos Reyeros Y Cia,27235,[25305] Polyform Tinta Aceite Chocolate (1Lt) ...,80.0,134.48,BSLUCFA 318062,NaT,<NA>,Mayra Angelica Parada Manjarrez,2024-01-14

    ---> Código a explorar 28472

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
5421,8671,F1-VS/2024/00218,2024-01-18,32305,29.0,203.1,Mayra Angelica Parada Manjarrez,28472,Aerocomex Alta Temperatura Negro 400ml *1680*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
1198,708,261,P00250 (BSLUCFA 318062),2024-01-17 20:43:46,5174,Campos Reyeros Y Cia,28472,[1680] Aerocomex Alta Temperatura Negro 400ml ...,29.0,134.05,BSLUCFA 318062,NaT,<NA>,Mayra Angelica Parada Manjarrez,2024-01-14

    ---> Código a explorar 28473

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
5420,8671,F1-VS/2024/00218,2024-01-18,32304,30.0,203.1,Mayra Angelica Parada Manjarrez,28473,Aerocomex Alta Temperatura Blanco 400ml *1681*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
1199,709,261,P00250 (BSLUCFA 318062),2024-01-17 20:43:46,5174,Campos Reyeros Y Cia,28473,[1681] Aerocomex Alta Temperatura Blanco 400ml...,30.0,134.05,BSLUCFA 318062,NaT,<NA>,Mayra Angelica Parada Manjarrez,2024-01-14

    ---> Código a explorar 28474

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
5417,8671,F1-VS/2024/00218,2024-01-18,32301,20.0,129.96,Mayra Angelica Parada Manjarrez,28474,Aerocomex Negro Mate 400ml *1685*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
1200,710,261,P00250 (BSLUCFA 318062),2024-01-17 20:43:46,5174,Campos Reyeros Y Cia,28474,[1685] Aerocomex Negro Mate 400ml *1685*,20.0,73.71,BSLUCFA 318062,NaT,<NA>,Mayra Angelica Parada Manjarrez,2024-01-14

    ---> Código a explorar 26470

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
5418,8671,F1-VS/2024/00218,2024-01-18,32302,10.0,129.96,Mayra Angelica Parada Manjarrez,26470,Aerosol Aerocomex Cafe 0.33 *87723*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
1201,711,261,P00250 (BSLUCFA 318062),2024-01-17 20:43:46,5174,Campos Reyeros Y Cia,26470,[87723] Aerosol Aerocomex Cafe 0.33 *87723*,10.0,73.71,BSLUCFA 318062,NaT,<NA>,Mayra Angelica Parada Manjarrez,2024-01-14

    ---> Código a explorar 28475

Empty DataFrame
Columns: [fact_doc_id, name, invoice_date, fact_line_id, quantity, price_unit, salesperson_name, product_id, product_name]
Index: []

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
1202,712,261,P00250 (BSLUCFA 318062),2024-01-17 20:43:46,5174,Campos Reyeros Y Cia,28475,[1703] Aerocomex Rojo 400ml *1703*,13.0,73.71,BSLUCFA 318062,NaT,<NA>,Mayra Angelica Parada Manjarrez,2024-01-14

    ---> Código a explorar 27808

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
5419,8671,F1-VS/2024/00218,2024-01-18,32303,13.0,129.96,Mayra Angelica Parada Manjarrez,27808,Aerocomex Rojo (400ml) CE *20705*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
1203,713,261,P00250 (BSLUCFA 318062),2024-01-17 20:43:46,5174,Campos Reyeros Y Cia,27808,[20705] Aerocomex Rojo (400ml) CE *20705*,13.0,73.71,BSLUCFA 318062,NaT,<NA>,Mayra Angelica Parada Manjarrez,2024-01-14

    ---> Código a explorar 13870

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
5241,8418,F1-VS/2024/00204,2024-01-17,31134,15.0,850.0,Mayra Angelica Parada Manjarrez,13870,Triplay Pino 5/8 4'*8' 0/Caras *16480*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
1207,698,259,P00248 (B 83459),2024-01-17 20:05:46,5290,Maria Reyna Navarrete Cortez,13870,[16480] Triplay Pino 5/8 4'*8' 0/Caras *16480*,15.0,475.05,B 83459,NaT,<NA>,Mayra Angelica Parada Manjarrez,2024-01-14

    ---> Código a explorar 27457

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
5427,8686,F2-VS/2024/00127,2024-01-18,32349,10.0,665.0,Brenda Luz Acosta Lopez,27457,Kit polyform 11000 Brillante 1Lt *24621*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
1209,696,258,P00247 (BSTARFA 136488),2024-01-17 19:59:42,5174,Campos Reyeros Y Cia,27457,[24621] Kit polyform 11000 Brillante 1Lt *24621*,10.0,471.55,BSTARFA 136488,NaT,<NA>,Brenda Luz Acosta Lopez,2024-01-14

    ---> Código a explorar 28460

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
9529,15303,F1-VS/2024/00342,2024-01-29,57583,15.0,255.0,Irma Carvajal Flores,28460,Crane Glasbord FRP Liso 19.mm 2x2 *1619*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
1211,692,256,P00245 (SL 6785),2024-01-17 16:28:20,5181,Vector De Baja California,28460,[1619] Crane Glasbord FRP Liso 19.mm 2x2 *1619*,15.0,162.07,SL 6785,NaT,<NA>,Irma Carvajal Flores,2024-01-14

    ---> Código a explorar 13283

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
4883,7927,F1-VS/2024/00190,2024-01-17,29222,10.0,405.0,Irma Carvajal Flores,13283,Triplay Caoba 1/8 4'*8' *3763*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
1212,690,255,P00244 (B 83432),2024-01-17 16:01:25,5290,Maria Reyna Navarrete Cortez,13283,[3763] Triplay Caoba 1/8 4'*8' *3763*,5.0,270.27,B 83432,NaT,<NA>,Irma Carvajal Flores,2024-01-14
1324,574,215,P00204 (B 83363),2024-01-15 19:26:13,5290,Maria Reyna Navarrete Cortez,13283,[3763] Triplay Caoba 1/8 4'*8' *3763*,5.0,270.27,B 83363,NaT,<NA>,Irma Carvajal Flores,2024-01-12

    ---> Código a explorar 9946

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
4881,7923,F1-VS/2024/00189,2024-01-17,29210,150.0,46.09,Irma Carvajal Flores,9946,"Pila duracell ""C"" *2310*"

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
1213,689,254,P00243 (BBABA 590633),2024-01-17 16:00:21,5239,Tiendas Soriana,9946,"[2310] Pila duracell ""C"" *2310*",50.0,30.9,BBABA 590633,NaT,<NA>,Irma Carvajal Flores,2024-01-14
1214,688,253,P00242 (BBACF 264682),2024-01-17 15:58:38,5239,Tiendas Soriana,9946,"[2310] Pila duracell ""C"" *2310*",100.0,30.9,BBACF 264682,NaT,<NA>,Irma Carvajal Flores,2024-01-14

    ---> Código a explorar 28459

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
5269,8449,F1-VS/2024/00213,2024-01-17,31249,3.0,1575.0,Irma Carvajal Flores,28459,Contra Para Lavabo Push Cromo TH-064 *64064*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
1215,686,252,P00241 (FA 047870),2024-01-17 15:53:24,5250,El Fluxometro De Cabos,28459,[64064] Contra Para Lavabo Push Cromo TH-064 *...,3.0,1051.2,FA 047870,NaT,<NA>,Irma Carvajal Flores,2024-01-14

    ---> Código a explorar 26678

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
5267,8447,F1-VS/2024/00211,2024-01-17,31243,1.0,12268.95,Irma Carvajal Flores,26678,Fluxometro P/Taza 4.8 LTS 6065121MX.002 *63*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
1216,687,252,P00241 (FA 047870),2024-01-17 15:53:24,5250,El Fluxometro De Cabos,26678,[63] Fluxometro P/Taza 4.8 LTS 6065121MX.002 *63*,1.0,7567.2,FA 047870,NaT,<NA>,Irma Carvajal Flores,2024-01-14

    ---> Código a explorar 28453

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
4723,7648,F1-VS/2024/00182,2024-01-16,28239,60.0,3.72,Irma Carvajal Flores,28453,Tornillo Cabeza Queso 8 x 25 *1608*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
1239,661,246,P00235 (WA 12877),2024-01-16 22:50:30,5221,Distribuidor Mayorista De Tornillos De Yucatan...,28453,[1608] Tornillo Cabeza Queso 8 x 25 *1608*,60.0,2.48,WA 12877,NaT,<NA>,Irma Carvajal Flores,2024-01-13

    ---> Código a explorar 7783

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
4722,7648,F1-VS/2024/00182,2024-01-16,28238,60.0,2.19,Irma Carvajal Flores,7783,"Tornillo C/Hexagonal 1/4* 2"" C#58 *5245*"

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
1240,662,246,P00235 (WA 12877),2024-01-16 22:50:30,5221,Distribuidor Mayorista De Tornillos De Yucatan...,7783,"[5245] Tornillo C/Hexagonal 1/4* 2"" C#58 *5245*",60.0,0.83,WA 12877,NaT,<NA>,Irma Carvajal Flores,2024-01-13

    ---> Código a explorar 11664

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
351,738,F2-CC/2024/00097,2024-01-03,2639,0.25,139.62,Karla Jaqueline Rivera Hernández,11664,"Pija Drywall 6x2"" DWL62 (Kg) R/Fina *4018*"
4615,7521,F1-VS/2024/00175,2024-01-16,27808,1.0,179.62,Mayra Angelica Parada Manjarrez,11664,"Pija Drywall 6x2"" DWL62 (Kg) R/Fina *4018*"

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
1241,640,245,P00234 (WA 12878),2024-01-16 20:21:44,5221,Distribuidor Mayorista De Tornillos De Yucatan...,11664,"[4018] Pija Drywall 6x2"" DWL62 (Kg) R/Fina *4018*",1.0,93.86,WA 12878,NaT,<NA>,Mayra Angelica Parada Manjarrez,2024-01-13

    ---> Código a explorar 12694

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
4613,7521,F1-VS/2024/00175,2024-01-16,27806,5.0,252.35,Mayra Angelica Parada Manjarrez,12694,"Pija Drywall 6 x 1""DWLF61 (Kg) R/Fina *24368*"
8063,12830,F2-CC/2024/01655,2024-01-25,48249,2.0,252.35,<NA>,12694,"Pija Drywall 6 x 1""DWLF61 (Kg) R/Fina *24368*"

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
1242,641,245,P00234 (WA 12878),2024-01-16 20:21:44,5221,Distribuidor Mayorista De Tornillos De Yucatan...,12694,"[24368] Pija Drywall 6 x 1""DWLF61 (Kg) R/Fina ...",5.0,83.32,WA 12878,NaT,<NA>,Mayra Angelica Parada Manjarrez,2024-01-13

    ---> Código a explorar 11762

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
4614,7521,F1-VS/2024/00175,2024-01-16,27807,1.0,186.07,Mayra Angelica Parada Manjarrez,11762,"Pija Drywall 6 x 1 1/2"" DWL6112 (Kg) R/Fi *4015*"

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
1243,642,245,P00234 (WA 12878),2024-01-16 20:21:44,5221,Distribuidor Mayorista De Tornillos De Yucatan...,11762,"[4015] Pija Drywall 6 x 1 1/2"" DWL6112 (Kg) R/...",1.0,83.32,WA 12878,NaT,<NA>,Mayra Angelica Parada Manjarrez,2024-01-13

    ---> Código a explorar 8420

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
5264,8441,F1-VS/2024/00209,2024-01-17,31225,8.0,18.24,Mayra Angelica Parada Manjarrez,8420,"Tornillo C/Hexagonal 1/2* 3"" C#78 *5239*"

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
1244,643,245,P00234 (WA 12878),2024-01-16 20:21:44,5221,Distribuidor Mayorista De Tornillos De Yucatan...,8420,"[5239] Tornillo C/Hexagonal 1/2* 3"" C#78 *5239*",8.0,6.61,WA 12878,NaT,<NA>,Mayra Angelica Parada Manjarrez,2024-01-13

    ---> Código a explorar 11948

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
5065,8242,F1-VS/2024/00195,2024-01-17,30492,12.0,165.0,Mayra Angelica Parada Manjarrez,11948,Chapa P/Cajon Ph #250-CH Cañ Chico C #31 *1424*
7053,11094,F1-VS/2024/00283,2024-01-22,41211,5.0,165.0,Irma Carvajal Flores,11948,Chapa P/Cajon Ph #250-CH Cañ Chico C #31 *1424*
7723,12167,F1-VS/2024/00300,2024-01-24,45396,7.0,140.0,Irma Carvajal Flores,11948,Chapa P/Cajon Ph #250-CH Cañ Chico C #31 *1424*
7868,12362,F1-VS/2024/00311,2024-01-24,46124,1.0,203.92,Irma Carvajal Flores,11948,Chapa P/Cajon Ph #250-CH Cañ Chico C #31 *1424*
9561,15420,F1-VS/2024/00344,2024-01-30,58234,25.0,165.0,Irma Carvajal Flores,11948,Chapa P/Cajon Ph #250-CH Cañ Chico C #31 *1424*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
1249,636,243,P00232 (C 261179),2024-01-16 18:55:26,5321,El Gran Tlapalero,11948,[1424] Chapa P/Cajon Ph #250-CH Cañ Chico C #3...,24.0,92.15,C 261179,NaT,<NA>,Mayra Angelica Parada Manjarrez,2024-01-13

    ---> Código a explorar 26418

Empty DataFrame
Columns: [fact_doc_id, name, invoice_date, fact_line_id, quantity, price_unit, salesperson_name, product_id, product_name]
Index: []

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
1250,637,243,P00232 (C 261179),2024-01-16 18:55:26,5321,El Gran Tlapalero,26418,[99684] Chapa Ph P/Perfil Alum 549-ABL CE *99...,5.0,327.63,C 261179,NaT,<NA>,Mayra Angelica Parada Manjarrez,2024-01-13

    ---> Código a explorar 7856

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
439,974,F2-CC/2024/00114,2024-01-04,3559,6.0,3.05,<NA>,7856,"Tornillo C/Hexagonal 1/4* 2 1/2"" C#59 *5244*"
1818,3191,F1-VS/2024/00058,2024-01-08,11734,250.0,3.6,Irma Carvajal Flores,7856,"Tornillo C/Hexagonal 1/4* 2 1/2"" C#59 *5244*"
4448,7319,F1-VS/2024/00169,2024-01-16,27048,50.0,3.65,Mayra Angelica Parada Manjarrez,7856,"Tornillo C/Hexagonal 1/4* 2 1/2"" C#59 *5244*"
5950,9433,F2-VS/2024/00139,2024-01-19,35159,200.0,3.05,Brenda Luz Acosta Lopez,7856,"Tornillo C/Hexagonal 1/4* 2 1/2"" C#59 *5244*"

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
1251,633,242,P00231 (WA 12872),2024-01-16 18:42:24,5221,Distribuidor Mayorista De Tornillos De Yucatan...,7856,"[5244] Tornillo C/Hexagonal 1/4* 2 1/2"" C#59 *...",50.0,1.3,WA 12872,NaT,<NA>,Mayra Angelica Parada Manjarrez,2024-01-13
1687,196,111,P00100 (XA 21547),2024-01-09 17:31:47,5221,Distribuidor Mayorista De Tornillos De Yucatan...,7856,"[5244] Tornillo C/Hexagonal 1/4* 2 1/2"" C#59 *...",150.0,1.3,XA 21547,NaT,<NA>,Irma Carvajal Flores,2024-01-06

    ---> Código a explorar 28424

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
4052,6762,F2-VS/2024/00108,2024-01-15,25025,25.0,285.0,Yamilet Blanco Salas,28424,Mandil blanco pvc 1.10m x 70cm *1522*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
1253,623,241,P00230 (2000005246690935B),2024-01-16 17:02:32,5128,Mercado Libre,28424,[1522] Mandil blanco pvc 1.10m x 70cm *1522*,25.0,154.31,2000005246690935B,NaT,<NA>,Brenda Luz Acosta Lopez,2024-01-13

    ---> Código a explorar 13842

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
757,1475,F1-VS/2024/00021,2024-01-05,5431,1.0,749.79,Mayra Angelica Parada Manjarrez,13842,Pistola P/Pintar Devilbis MGQ-500 *11143*
1219,2362,F2-VS/2024/00012,2024-01-06,8665,1.0,518.33,Brenda Luz Acosta Lopez,13842,Pistola P/Pintar Devilbis MGQ-500 *11143*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
1255,622,240,P00229 (36767),2024-01-16 16:14:37,5378,Maderas Dimar,13842,[11143] Pistola P/Pintar Devilbis MGQ-500 *11143*,2.0,488.03,36767,NaT,<NA>,Mayra Angelica Parada Manjarrez,2024-01-13
1482,411,173,P00162 (A 27753),2024-01-12 17:57:44,5241,Jose Leobardo Corrales Acosta,13842,[11143] Pistola P/Pintar Devilbis MGQ-500 *11143*,2.0,488.03,A 27753,NaT,<NA>,Mayra Angelica Parada Manjarrez,2024-01-09
1737,137,92,P00081 (C 259719),2024-01-08 23:29:22,5321,El Gran Tlapalero,13842,[11143] Pistola P/Pintar Devilbis MGQ-500 *11143*,1.0,363.37,C 259719,NaT,<NA>,Brenda Luz Acosta Lopez,2024-01-05

    ---> Código a explorar 26901

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
4466,7342,F2-VS/2024/00117,2024-01-16,27137,5.0,97.5,Brenda Luz Acosta Lopez,26901,Perfacinta Chica (Rollo C/76 Mt) 250' *3761*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
1256,619,239,P00228 (SJ 36576),2024-01-16 16:12:57,5369,Acyma Del Noroeste,26901,[3761] Perfacinta Chica (Rollo C/76 Mt) 250' ...,5.0,81.0,SJ 36576,NaT,<NA>,Brenda Luz Acosta Lopez,2024-01-13

    ---> Código a explorar 26908

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
4467,7342,F2-VS/2024/00117,2024-01-16,27138,3.0,95.0,Brenda Luz Acosta Lopez,26908,Fibracinta 2x150 *36941*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
1257,620,239,P00228 (SJ 36576),2024-01-16 16:12:57,5369,Acyma Del Noroeste,26908,[36941] Fibracinta 2x150 *36941*,3.0,70.36,SJ 36576,NaT,<NA>,Brenda Luz Acosta Lopez,2024-01-13

    ---> Código a explorar 28443

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
4487,7356,F2-VS/2024/00118,2024-01-16,27204,1.0,4388.86,Yamilet Blanco Salas,28443,"Mini Esmeriladora 4 1/2"" 6130-33 Milwaukee *1585*"

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
1258,617,238,P00227 (W0000456606B),2024-01-16 16:08:55,5157,Ferre-Pat,28443,"[1585] Mini Esmeriladora 4 1/2"" 6130-33 Milwau...",1.0,1452.59,W0000456606B,NaT,<NA>,Brenda Luz Acosta Lopez,2024-01-13

    ---> Código a explorar 28442

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
4486,7356,F2-VS/2024/00118,2024-01-16,27203,1.0,4388.86,Yamilet Blanco Salas,28442,"Rotomartillo SDS-Plus 1-1/32"" 5386-21 Milwauke..."

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
1259,618,238,P00227 (W0000456606B),2024-01-16 16:08:55,5157,Ferre-Pat,28442,"[1582] Rotomartillo SDS-Plus 1-1/32"" 5386-21 M...",1.0,3730.17,W0000456606B,NaT,<NA>,Brenda Luz Acosta Lopez,2024-01-13

    ---> Código a explorar 28441

Empty DataFrame
Columns: [fact_doc_id, name, invoice_date, fact_line_id, quantity, price_unit, salesperson_name, product_id, product_name]
Index: []

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
1260,615,237,P00226 (BBACF 264552),2024-01-16 16:06:41,5239,Tiendas Soriana,28441,[20157] Refresco Regular Lean Coca Cola *20157*,3.0,242.24,BBACF 264552,NaT,<NA>,Brenda Luz Acosta Lopez,2024-01-13

    ---> Código a explorar 28440

Empty DataFrame
Columns: [fact_doc_id, name, invoice_date, fact_line_id, quantity, price_unit, salesperson_name, product_id, product_name]
Index: []

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
1261,616,237,P00226 (BBACF 264552),2024-01-16 16:06:41,5239,Tiendas Soriana,28440,[20156] Botana Sabrisurtido 1/35pz *20156*,2.0,341.1,BBACF 264552,NaT,<NA>,Brenda Luz Acosta Lopez,2024-01-13

    ---> Código a explorar 28432

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
4885,8005,F2-VS/2024/00123,2024-01-17,29664,5.0,420.24,Brenda Luz Acosta Lopez,28432,Chapa Phillips No.800 Libre Izquierda BP SOS 4...

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
1263,613,236,P00225 (4HGFFI 177093),2024-01-16 15:46:24,5387,Home Depot Mexico,28432,[1563] Chapa Phillips No.800 Libre Izquierda B...,5.0,260.34,4HGFFI 177093,NaT,<NA>,Brenda Luz Acosta Lopez,2024-01-13

    ---> Código a explorar 7640

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
1911,3291,F2-CC/2024/00415,2024-01-08,12085,6.0,1.17,<NA>,7640,Pija C/Pl 10*3 Smpfz (3000P/C) #34 *3984*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
1265,610,235,P00224 (WA 12864),2024-01-16 15:14:48,5221,Distribuidor Mayorista De Tornillos De Yucatan...,7640,[3984] Pija C/Pl 10*3 Smpfz (3000P/C) #34 *3984*,100.0,0.72,WA 12864,NaT,<NA>,Mayra Angelica Parada Manjarrez,2024-01-13

    ---> Código a explorar 7545

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
2241,3802,F1-VS/2024/00088,2024-01-09,13847,2.0,0.62,Irma Carvajal Flores,7545,"Pija C/Pl 10*1 1/2"" Smpfz (4000P/C) C#30 *3975*"
6859,10862,F1-VS/2024/00269,2024-01-22,40386,500.0,0.62,Mayra Angelica Parada Manjarrez,7545,"Pija C/Pl 10*1 1/2"" Smpfz (4000P/C) C#30 *3975*"

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
1266,611,235,P00224 (WA 12864),2024-01-16 15:14:48,5221,Distribuidor Mayorista De Tornillos De Yucatan...,7545,"[3975] Pija C/Pl 10*1 1/2"" Smpfz (4000P/C) C#3...",600.0,0.38,WA 12864,NaT,<NA>,Mayra Angelica Parada Manjarrez,2024-01-13

    ---> Código a explorar 28051

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
2416,4004,F2-VS/2024/00055,2024-01-10,14552,1.0,272.55,Brenda Luz Acosta Lopez,28051,Yeso maximo 40KG *2011*
6881,10862,F1-VS/2024/00269,2024-01-22,40408,1.0,276.18,Mayra Angelica Parada Manjarrez,28051,Yeso maximo 40KG *2011*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
1292,609,233,P00222 (LA 36616),2024-01-16 00:43:44,5143,Fymsa Baja Sur,28051,[2011] Yeso maximo 40KG *2011*,1.0,174.52,LA 36616,NaT,<NA>,Mayra Angelica Parada Manjarrez,2024-01-13
1653,227,129,P00118 (SJ 27053),2024-01-10 17:00:06,5143,Fymsa Baja Sur,28051,[2011] Yeso maximo 40KG *2011*,1.0,166.97,SJ 27053,NaT,<NA>,Brenda Luz Acosta Lopez,2024-01-07

    ---> Código a explorar 28103

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
4425,7211,F1-VS/2024/00167,2024-01-15,26622,1.0,6270.25,Mayra Angelica Parada Manjarrez,28103,Sierra Caladora Dewalt DW331K *17494*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
1293,607,232,P00221 (W0000456606),2024-01-16 00:28:08,5157,Ferre-Pat,28103,[17494] Sierra Caladora Dewalt DW331K *17494*,1.0,3619.83,W0000456606,NaT,<NA>,Mayra Angelica Parada Manjarrez,2024-01-13

    ---> Código a explorar 28393

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
4426,7211,F1-VS/2024/00167,2024-01-15,26623,10.0,709.91,Mayra Angelica Parada Manjarrez,28393,Puntas Magnéticas Milwaukee 48-32-4564 *24704*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
1294,608,232,P00221 (W0000456606),2024-01-16 00:28:08,5157,Ferre-Pat,28393,[24704] Puntas Magnéticas Milwaukee 48-32-4564...,4.0,119.61,W0000456606,NaT,<NA>,Mayra Angelica Parada Manjarrez,2024-01-13

    ---> Código a explorar 28458

Empty DataFrame
Columns: [fact_doc_id, name, invoice_date, fact_line_id, quantity, price_unit, salesperson_name, product_id, product_name]
Index: []

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
1295,684,232,P00221 (W0000456606),2024-01-16 00:28:08,5157,Ferre-Pat,28458,[1614] Puntas Magnet Impac PH2 X 3-1/2 4564 MI...,20.0,23.92,W0000456606,NaT,<NA>,Mayra Angelica Parada Manjarrez,2024-01-13

    ---> Código a explorar 14628

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
6851,10862,F1-VS/2024/00269,2024-01-22,40378,1.0,5821.1,Mayra Angelica Parada Manjarrez,14628,Sellador Acrilico Transp. 12721 (19Lt) *13894*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
1302,600,230,P00219 (AAAC 27690),2024-01-15 23:42:37,5162,Pinturas Vare Operadora De La Baja,14628,[13894] Sellador Acrilico Transp. 12721 (19Lt)...,1.0,3063.71,AAAC 27690,NaT,<NA>,Mayra Angelica Parada Manjarrez,2024-01-12

    ---> Código a explorar 26453

Empty DataFrame
Columns: [fact_doc_id, name, invoice_date, fact_line_id, quantity, price_unit, salesperson_name, product_id, product_name]
Index: []

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
1303,597,229,P00218 (WA 12858),2024-01-15 23:14:57,5221,Distribuidor Mayorista De Tornillos De Yucatan...,26453,[902] Tuerca Hexagonal 3/8 A.I *902*,200.0,1.26,WA 12858,NaT,<NA>,Irma Carvajal Flores,2024-01-12

    ---> Código a explorar 28437

Empty DataFrame
Columns: [fact_doc_id, name, invoice_date, fact_line_id, quantity, price_unit, salesperson_name, product_id, product_name]
Index: []

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
1305,599,229,P00218 (WA 12858),2024-01-15 23:14:57,5221,Distribuidor Mayorista De Tornillos De Yucatan...,28437,"[1576] Tornillo Cabeza de Coche 3/8-16 x 2"" Ac...",20.0,6.83,WA 12858,NaT,<NA>,Irma Carvajal Flores,2024-01-12

    ---> Código a explorar 26811

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
3650,5961,F1-VS/2024/00148,2024-01-12,21841,2.0,576.0,Yamilet Blanco Salas,26811,Paquete Pilas AAA (40 pz) Duracell *47500*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
1306,596,228,P00217 (AZG 3299875),2024-01-15 23:05:49,5266,Costco De Mexico,26811,[47500] Paquete Pilas AAA (40 pz) Duracell *47...,2.0,322.63,AZG 3299875,NaT,<NA>,Irma Carvajal Flores,2024-01-12

    ---> Código a explorar 28436

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
4882,7924,F1-CC/2024/00783,2024-01-17,29213,40.0,96.33,Gladiz Melisa Galvez Espinoza,28436,Pasador Rish A3001 100mm Negro Mate *1571*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
1307,595,227,P00216 (C 260504),2024-01-15 23:01:43,5321,El Gran Tlapalero,28436,[1571] Pasador Rish A3001 100mm Negro Mate *1571*,40.0,55.37,C 260504,NaT,<NA>,Gladiz Melisa Galvez Espinoza,2024-01-12

    ---> Código a explorar 13057

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
2023,3397,F2-VS/2024/00037,2024-01-08,12474,3.0,563.84,Yamilet Blanco Salas,13057,Redimix c/21.08 kg *7006*
2413,4004,F2-VS/2024/00055,2024-01-10,14549,6.0,343.34,Brenda Luz Acosta Lopez,13057,Redimix c/21.08 kg *7006*
5648,8952,F1-VS/2024/00224,2024-01-18,33368,1.0,495.36,Mayra Angelica Parada Manjarrez,13057,Redimix c/21.08 kg *7006*
6854,10862,F1-VS/2024/00269,2024-01-22,40381,1.0,552.19,Mayra Angelica Parada Manjarrez,13057,Redimix c/21.08 kg *7006*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
1309,592,226,P00215 (LA 36607),2024-01-15 20:42:53,5143,Fymsa Baja Sur,13057,[7006] Redimix c/21.08 kg *7006*,1.0,229.00,LA 36607,NaT,<NA>,Mayra Angelica Parada Manjarrez,2024-01-12
1655,224,128,P00117 (SJ 36478),2024-01-10 16:56:04,5369,Acyma Del Noroeste,13057,[7006] Redimix c/21.08 kg *7006*,6.0,213.56,SJ 36478,NaT,<NA>,Brenda Luz Acosta Lopez,2024-01-07
1689,192,110,P00099 (SJ 36460),2024-01-09 16:17:43,5369,Acyma Del Noroeste,13057,[7006] Redimix c/21.08 kg *7006*,3.0,213.56,SJ 36460,NaT,<NA>,Irma Carvajal Flores,2024-01-06

    ---> Código a explorar 28379

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
3995,6697,F1-VS/2024/00161,2024-01-15,24801,1.0,2656.0,Irma Carvajal Flores,28379,"Esmeril de Banco 6"" DW752-B3 *10872*"

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
1314,583,221,P00210 (C 261231),2024-01-15 19:39:47,5321,El Gran Tlapalero,28379,"[10872] Esmeril de Banco 6"" DW752-B3 *10872*",1.0,1824.36,C 261231,NaT,<NA>,Irma Carvajal Flores,2024-01-12

    ---> Código a explorar 28428

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
9563,15421,F1-VS/2024/00345,2024-01-30,58243,10.0,120.0,Irma Carvajal Flores,28428,Interruptor Magnético Para Puertas O Ventanas ...

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
1316,581,219,P00208 (FCAB 480815),2024-01-15 19:35:24,5334,Electronica Pazeña,28428,[1527] Interruptor Magnético Para Puertas O Ve...,10.0,59.48,FCAB 480815,NaT,<NA>,Irma Carvajal Flores,2024-01-12

    ---> Código a explorar 27394

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
3089,5066,F1-VS/2024/00123,2024-01-11,18618,1.0,950.0,Mayra Angelica Parada Manjarrez,27394,Pinza electricista Klein tool #KT215 CE *247181*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
1317,580,218,P00207 (4HGFFI 177069),2024-01-15 21:00:06,5387,Home Depot Mexico,27394,[247181] Pinza electricista Klein tool #KT215 ...,1.0,625.0,4HGFFI 177069,NaT,<NA>,Irma Carvajal Flores,2024-01-12

    ---> Código a explorar 28435

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
9569,15421,F1-VS/2024/00345,2024-01-30,58249,1.0,350.0,Irma Carvajal Flores,28435,Juego De Llaves Torx Tipo Navaja Husky *1570*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
1318,593,218,P00207 (4HGFFI 177069),2024-01-15 21:00:06,5387,Home Depot Mexico,28435,[1570] Juego De Llaves Torx Tipo Navaja Husky ...,1.0,219.83,4HGFFI 177069,NaT,<NA>,Irma Carvajal Flores,2024-01-12

    ---> Código a explorar 26798

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
9564,15421,F1-VS/2024/00345,2024-01-30,58244,3.0,320.0,Irma Carvajal Flores,26798,Kronos Estructurado MC DONALDS 20*20 *50214*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
1319,579,217,P00206 (254SLSLCO93693),2024-01-15 20:33:26,5278,Comercabos,26798,[50214] Kronos Estructurado MC DONALDS 20*20 *...,3.0,197.41,254SLSLCO93693,NaT,<NA>,Irma Carvajal Flores,2024-01-12

    ---> Código a explorar 28434

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
9565,15421,F1-VS/2024/00345,2024-01-30,58245,1.0,380.0,Irma Carvajal Flores,28434,Astratto Blanco 20X30 P25 Primera *1565*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
1320,587,217,P00206 (254SLSLCO93693),2024-01-15 20:33:26,5278,Comercabos,28434,[1565] Astratto Blanco 20X30 P25 Primera *1565*,1.0,225.0,254SLSLCO93693,NaT,<NA>,Irma Carvajal Flores,2024-01-12

    ---> Código a explorar 28429

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
9566,15421,F1-VS/2024/00345,2024-01-30,58246,1.0,55.0,Irma Carvajal Flores,28429,Boquilla Ajustable de 4 Pies (1.2m) Con Filtro...

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
1321,576,216,P00205 (CS1VC1FA 36984),2024-01-15 19:28:37,5222,Pro Riego,28429,[1533] Boquilla Ajustable de 4 Pies (1.2m) Con...,2.0,27.62,CS1VC1FA 36984,NaT,<NA>,Irma Carvajal Flores,2024-01-12

    ---> Código a explorar 28430

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
9567,15421,F1-VS/2024/00345,2024-01-30,58247,1.0,55.0,Irma Carvajal Flores,28430,Boquilla Ajustable De 8 Pies (2.40m) Con Filtr...

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
1322,577,216,P00205 (CS1VC1FA 36984),2024-01-15 19:28:37,5222,Pro Riego,28430,[1537] Boquilla Ajustable De 8 Pies (2.40m) Co...,2.0,27.62,CS1VC1FA 36984,NaT,<NA>,Irma Carvajal Flores,2024-01-12

    ---> Código a explorar 28431

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
9568,15421,F1-VS/2024/00345,2024-01-30,58248,1.0,55.0,Irma Carvajal Flores,28431,Boquilla Ajustable De 6 Pies (1.8m) Con Filtro...

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
1323,578,216,P00205 (CS1VC1FA 36984),2024-01-15 19:28:37,5222,Pro Riego,28431,[1538] Boquilla Ajustable De 6 Pies (1.8m) Con...,2.0,27.62,CS1VC1FA 36984,NaT,<NA>,Irma Carvajal Flores,2024-01-12

    ---> Código a explorar 27287

Empty DataFrame
Columns: [fact_doc_id, name, invoice_date, fact_line_id, quantity, price_unit, salesperson_name, product_id, product_name]
Index: []

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
1326,571,213,P00202 (MD 38072),2024-01-15 19:07:31,5166,Mas Bodega Y Logistica,27287,[24996] Acido Muriatico Sultan (1 Ltl) *24996*,15.0,23.84,MD 38072,NaT,<NA>,Irma Carvajal Flores,2024-01-12

    ---> Código a explorar 14374

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
1988,3377,F1-VS/2024/00079,2024-01-08,12391,1.0,1990.0,Irma Carvajal Flores,14374,"TABLA DE ALDER 1"" CAMA *5902*"
3161,5144,F1-VS/2024/00130,2024-01-11,18901,5.0,2363.9,Mayra Angelica Parada Manjarrez,14374,"TABLA DE ALDER 1"" CAMA *5902*"
3169,5152,F1-VS/2024/00131,2024-01-11,18929,10.0,2363.9,Mayra Angelica Parada Manjarrez,14374,"TABLA DE ALDER 1"" CAMA *5902*"
3170,5155,F1-VS/2024/00134,2024-01-11,18939,5.0,2363.9,Mayra Angelica Parada Manjarrez,14374,"TABLA DE ALDER 1"" CAMA *5902*"
3176,5158,F1-VS/2024/00136,2024-01-11,18951,5.0,2363.9,Mayra Angelica Parada Manjarrez,14374,"TABLA DE ALDER 1"" CAMA *5902*"
3858,6361,F1-VS/2024/00159,2024-01-13,23483,4.0,2363.8,Mayra Angelica Parada Manjarrez,14374,"TABLA DE ALDER 1"" CAMA *5902*"

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
1327,565,212,P00201 (MPIFCO 716),2024-01-15 19:04:22,5296,Madereria Pichonchas,14374,"[5902] TABLA DE ALDER 1"" CAMA *5902*",4.0,1206.90,MPIFCO 716,NaT,<NA>,Irma Carvajal Flores,2024-01-12
1489,401,165,P00154 (MPIFCO 626),2024-01-11 23:18:40,5296,Madereria Pichonchas,14374,"[5902] TABLA DE ALDER 1"" CAMA *5902*",25.0,1206.90,MPIFCO 626,NaT,<NA>,Mayra Angelica Parada Manjarrez,2024-01-08
1675,206,119,P00108 (MPIFCO 423),2024-01-09 21:12:11,5296,Madereria Pichonchas,14374,"[5902] TABLA DE ALDER 1"" CAMA *5902*",1.0,965.52,MPIFCO 423,NaT,Elsa Ivette Diaz Leyva,Irma Carvajal Flores,2024-01-06

    ---> Código a explorar 26462

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
4712,7630,F1-VS/2024/00176,2024-01-16,28184,150.0,15.97,Mayra Angelica Parada Manjarrez,26462,Palo de Arco 1.50mts *88744*
4717,7643,F1-VS/2024/00177,2024-01-16,28223,150.0,15.97,Mayra Angelica Parada Manjarrez,26462,Palo de Arco 1.50mts *88744*
4718,7644,F1-VS/2024/00178,2024-01-16,28226,150.0,15.97,Mayra Angelica Parada Manjarrez,26462,Palo de Arco 1.50mts *88744*
4719,7645,F1-VS/2024/00179,2024-01-16,28229,150.0,15.97,Mayra Angelica Parada Manjarrez,26462,Palo de Arco 1.50mts *88744*
4720,7646,F1-VS/2024/00180,2024-01-16,28232,150.0,15.97,Mayra Angelica Parada Manjarrez,26462,Palo de Arco 1.50mts *88744*
4721,7647,F1-VS/2024/00181,2024-01-16,28235,150.0,15.97,Mayra Angelica Parada Manjarrez,26462,Palo de Arco 1.50mts *88744*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
1333,564,211,P00200 (295),2024-01-15 18:57:27,5167,Maria Rosa Castillo Castro,26462,[88744] Palo de Arco 1.50mts *88744*,900.0,8.63,295,NaT,<NA>,Mayra Angelica Parada Manjarrez,2024-01-12

    ---> Código a explorar 13685

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
5645,8952,F1-VS/2024/00224,2024-01-18,33365,2.0,587.39,Mayra Angelica Parada Manjarrez,13685,Polimor Niasa (20kg) *95212*
5972,9450,F1-VS/2024/00242,2024-01-19,35231,2.0,587.66,Mayra Angelica Parada Manjarrez,13685,Polimor Niasa (20kg) *95212*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
1334,563,210,P00199 (LA 36364),2024-01-15 18:55:38,5143,Fymsa Baja Sur,13685,[95212] Polimor Niasa (20kg) *95212*,2.0,388.68,LA 36364,NaT,<NA>,Mayra Angelica Parada Manjarrez,2024-01-12

    ---> Código a explorar 28117

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
2801,4578,F1-VS/2024/00119,2024-01-10,16669,2.0,455.18,Mayra Angelica Parada Manjarrez,28117,Thinner Americano 4 lts *16725*
3178,5158,F1-VS/2024/00136,2024-01-11,18955,2.0,455.17,Mayra Angelica Parada Manjarrez,28117,Thinner Americano 4 lts *16725*
3620,5925,F1-VS/2024/00147,2024-01-12,21717,1.0,455.18,Mayra Angelica Parada Manjarrez,28117,Thinner Americano 4 lts *16725*
6481,10208,F1-VS/2024/00258,2024-01-20,38059,2.0,455.17,Mayra Angelica Parada Manjarrez,28117,Thinner Americano 4 lts *16725*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
1335,562,209,P00198 (BLEVIFA 14923),2024-01-15 18:54:33,5174,Campos Reyeros Y Cia,28117,[16725] Thinner Americano 4 lts *16725*,1.0,303.45,BLEVIFA 14923,NaT,<NA>,Mayra Angelica Parada Manjarrez,2024-01-12
1356,539,196,P00185 (BLEVIFA 014922),2024-01-13 00:42:13,5174,Campos Reyeros Y Cia,28117,[16725] Thinner Americano 4 lts *16725*,4.0,303.45,BLEVIFA 014922,NaT,<NA>,Mayra Angelica Parada Manjarrez,2024-01-10
1504,386,156,P00145 (BLEVIFA 014889),2024-01-11 20:52:49,5174,Campos Reyeros Y Cia,28117,[16725] Thinner Americano 4 lts *16725*,4.0,303.45,BLEVIFA 014889,NaT,<NA>,Mayra Angelica Parada Manjarrez,2024-01-08

    ---> Código a explorar 8599

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
4098,6809,F2-VS/2024/00109,2024-01-15,25199,200.0,16.12,Brenda Luz Acosta Lopez,8599,Pila AA Duracell 1pz *6492*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
1337,559,207,P00196 (AZG 3302759),2024-01-15 18:50:40,5266,Costco De Mexico,8599,[6492] Pila AA Duracell 1pz *6492*,200.0,8.07,AZG 3302759,NaT,<NA>,Brenda Luz Acosta Lopez,2024-01-12

    ---> Código a explorar 7823

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
4222,6947,F2-VS/2024/00113,2024-01-15,25727,50.0,2.88,Yamilet Blanco Salas,7823,"Pija C/Plana 14 x 1"" A Inox CE *72083*"

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
1338,554,206,P00195 (WA 12852),2024-01-15 18:39:14,5221,Distribuidor Mayorista De Tornillos De Yucatan...,7823,"[72083] Pija C/Plana 14 x 1"" A Inox CE *72083*",50.0,1.48,WA 12852,NaT,<NA>,Brenda Luz Acosta Lopez,2024-01-12

    ---> Código a explorar 7983

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
4224,6947,F2-VS/2024/00113,2024-01-15,25729,40.0,4.25,Yamilet Blanco Salas,7983,"Pija C/Plana 14x2"" Acero Inox.. *4428*"

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
1339,555,206,P00195 (WA 12852),2024-01-15 18:39:14,5221,Distribuidor Mayorista De Tornillos De Yucatan...,7983,"[4428] Pija C/Plana 14x2"" Acero Inox.. *4428*",40.0,2.61,WA 12852,NaT,<NA>,Brenda Luz Acosta Lopez,2024-01-12

    ---> Código a explorar 7957

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
4223,6947,F2-VS/2024/00113,2024-01-15,25728,40.0,5.14,Yamilet Blanco Salas,7957,"Pija C/Plana 14x2 1/2"" Acero Inox CE *25865*"

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
1340,556,206,P00195 (WA 12852),2024-01-15 18:39:14,5221,Distribuidor Mayorista De Tornillos De Yucatan...,7957,"[25865] Pija C/Plana 14x2 1/2"" Acero Inox CE *...",40.0,2.94,WA 12852,NaT,<NA>,Brenda Luz Acosta Lopez,2024-01-12

    ---> Código a explorar 28433

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
4225,6947,F2-VS/2024/00113,2024-01-15,25730,40.0,3.1,Yamilet Blanco Salas,28433,"Pija Cabeza Plana Inox. 14 X 1 1/2"" CE *40925*"

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
1341,557,206,P00195 (WA 12852),2024-01-15 18:39:14,5221,Distribuidor Mayorista De Tornillos De Yucatan...,28433,"[40925] Pija Cabeza Plana Inox. 14 X 1 1/2"" CE...",40.0,1.96,WA 12852,NaT,<NA>,Brenda Luz Acosta Lopez,2024-01-12

    ---> Código a explorar 28427

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
5017,8204,F2-CC/2024/01046,2024-01-17,30345,2.0,219.83,<NA>,28427,Regatón Redondo Para Tubo 5/8 Interno De Plást...

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
1342,553,205,P00194 (2000005281980027),2024-01-15 17:20:46,5128,Mercado Libre,28427,[1525] Regatón Redondo Para Tubo 5/8 Interno D...,2.0,146.55,2000005281980027,NaT,<NA>,Patricia Flores Pantaleón,2024-01-12

    ---> Código a explorar 28426

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
4184,6902,F2-CC/2024/00871,2024-01-15,25551,1.0,1737.0,Nadia Santos Nava,28426,Herramientas Mecánicas Pro 40 Pzas Stanley Stm...

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
1343,552,204,P00193 (2000005258548521B),2024-01-15 17:19:09,5128,Mercado Libre,28426,[1523] Herramientas Mecánicas Pro 40 Pzas Stan...,1.0,1158.0,2000005258548521B,NaT,<NA>,Nadia Santos Nava,2024-01-12

    ---> Código a explorar 27031

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
6652,10513,F1-VS/2024/00262,2024-01-22,39200,12.0,475.0,Irma Carvajal Flores,27031,"Rueda Giratoria 4 X 1 1/4"" *26509*"

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
1344,551,203,P00192 (MX 4128231),2024-01-15 17:17:06,5161,Uline Shipping Supplies,27031,"[26509] Rueda Giratoria 4 X 1 1/4"" *26509*",12.0,310.29,MX 4128231,NaT,<NA>,Irma Carvajal Flores,2024-01-12

    ---> Código a explorar 12329

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
3851,6347,F1-VS/2024/00158,2024-01-13,23442,20.0,174.89,Irma Carvajal Flores,12329,Porta-candado Premium 127mm Jako CMHK008 *4830*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
1347,548,200,P00189 (D 16108671),2024-01-13 18:58:28,5246,Productos Jako,12329,[4830] Porta-candado Premium 127mm Jako CMHK00...,20.0,99.19,D 16108671,NaT,Gretel Gómez Alcázar,Irma Carvajal Flores,2024-01-10

    ---> Código a explorar 28423

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
3760,6229,F1-VS/2024/00156,2024-01-13,23024,2.0,492.0,Irma Carvajal Flores,28423,Carbones 5140033-19 Sierra Mesa Dwe7480 Dewalt...

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
1348,547,199,P00188 (2000005281984605B),2024-01-13 16:35:10,5128,Mercado Libre,28423,[9022] Carbones 5140033-19 Sierra Mesa Dwe7480...,2.0,327.59,2000005281984605B,NaT,Gretel Gómez Alcázar,Irma Carvajal Flores,2024-01-10

    ---> Código a explorar 14386

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
1565,2874,F1-VS/2024/00047,2024-01-06,10438,6.0,1886.0,Irma Carvajal Flores,14386,Tablon Americano 2*12*16 *12861*
3645,5961,F1-VS/2024/00148,2024-01-12,21836,2.0,2068.97,Yamilet Blanco Salas,14386,Tablon Americano 2*12*16 *12861*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
1355,542,197,P00186 (A 103781),2024-01-13 00:56:51,5352,Luz Raquel Rodriguez Montoya,14386,[12861] Tablon Americano 2*12*16 *12861*,2.0,1241.38,A 103781,NaT,<NA>,Mayra Angelica Parada Manjarrez,2024-01-10
1668,214,122,P00111 (A 22147),2024-01-09 21:49:19,5264,Maria Teresa Quezada Hernandez,14386,[12861] Tablon Americano 2*12*16 *12861*,6.0,1241.38,A 22147,NaT,<NA>,Irma Carvajal Flores,2024-01-06

    ---> Código a explorar 13413

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
3879,6376,F2-VS/2024/00103,2024-01-13,23542,1.0,460.7,Yamilet Blanco Salas,13413,Lija D/Rollo G-220 P/Plomero *13846*
5897,9404,F2-VS/2024/00135,2024-01-19,35005,1.0,460.7,Brenda Luz Acosta Lopez,13413,Lija D/Rollo G-220 P/Plomero *13846*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
1357,537,195,P00184 (A 27772),2024-01-15 15:26:16,5241,Jose Leobardo Corrales Acosta,13413,[13846] Lija D/Rollo G-220 P/Plomero *13846*,1.0,283.51,A 27772,NaT,<NA>,Yamilet Blanco Salas,2024-01-12

    ---> Código a explorar 8488

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
462,995,F2-CC/2024/00121,2024-01-04,3638,15.0,14.9,Karla Jaqueline Rivera Hernández,8488,Fibra P/Mad. Verde M/Usos (5633) 72939 *2227*
1390,2578,F1-CC/2024/00274,2024-01-06,9396,60.0,14.9,Gladiz Melisa Galvez Espinoza,8488,Fibra P/Mad. Verde M/Usos (5633) 72939 *2227*
2891,4803,F2-VS/2024/00068,2024-01-11,17695,12.0,14.9,Yamilet Blanco Salas,8488,Fibra P/Mad. Verde M/Usos (5633) 72939 *2227*
3473,5685,F1-CC/2024/00564,2024-01-12,20923,15.0,14.9,Reyna Arriaga Flores,8488,Fibra P/Mad. Verde M/Usos (5633) 72939 *2227*
3876,6376,F2-VS/2024/00103,2024-01-13,23539,24.0,14.9,Yamilet Blanco Salas,8488,Fibra P/Mad. Verde M/Usos (5633) 72939 *2227*
5349,8516,F2-CC/2024/01098,2024-01-17,31500,1.0,14.9,Angela Carrillo Cárdenas,8488,Fibra P/Mad. Verde M/Usos (5633) 72939 *2227*
5624,8944,F2-CC/2024/01147,2024-01-18,33300,15.0,14.9,Karla Jaqueline Rivera Hernández,8488,Fibra P/Mad. Verde M/Usos (5633) 72939 *2227*
5923,9411,F2-CC/2024/01195,2024-01-19,35047,12.0,14.9,Karla Jaqueline Rivera Hernández,8488,Fibra P/Mad. Verde M/Usos (5633) 72939 *2227*
7875,12362,F1-VS/2024/00311,2024-01-24,46131,6.0,43.74,Irma Carvajal Flores,8488,Fibra P/Mad. Verde M/Usos (5633) 72939 *2227*
9048,14398,F2-CC/2024/01887,2024-01-27,54073,12.0,14.9,Karla Jaqueline Rivera Hernández,8488,Fibra P/Mad. Verde M/Usos (5633) 72939 *2227*
10205,16453,F2-CC/2024/02146,2024-01-31,62353,12.0,14.9,Karla Jaqueline Rivera Hernández,8488,Fibra P/Mad. Verde M/Usos (5633) 72939 *2227*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
1358,538,195,P00184 (A 27772),2024-01-15 15:26:16,5241,Jose Leobardo Corrales Acosta,8488,[2227] Fibra P/Mad. Verde M/Usos (5633) 72939 ...,36.0,9.17,A 27772,NaT,<NA>,Yamilet Blanco Salas,2024-01-12

    ---> Código a explorar 12223

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
3691,6144,F2-VS/2024/00095,2024-01-13,22728,40.0,195.25,Brenda Luz Acosta Lopez,12223,"Mecate Ixtle Henequen 1/2"" HN 13mm (Kg) *14403*"
8164,12969,F1-CC/2024/01263,2024-01-25,48712,43.0,188.42,Reyna Arriaga Flores,12223,"Mecate Ixtle Henequen 1/2"" HN 13mm (Kg) *14403*"

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
1359,536,194,P00183 (A 27761),2024-01-15 15:26:50,5241,Jose Leobardo Corrales Acosta,12223,"[14403] Mecate Ixtle Henequen 1/2"" HN 13mm (Kg...",39.7,115.95,A 27761,NaT,<NA>,Brenda Luz Acosta Lopez,2024-01-12

    ---> Código a explorar 28422

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
3792,6281,F2-VS/2024/00100,2024-01-13,23190,6.0,212.07,Yamilet Blanco Salas,28422,Tapa Ciega Coladera 1342.282 RC-018 *1521*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
1362,533,191,P00180 (FA0 47818),2024-01-12 23:39:13,5250,El Fluxometro De Cabos,28422,[1521] Tapa Ciega Coladera 1342.282 RC-018 *1521*,6.0,163.34,FA0 47818,NaT,<NA>,Brenda Luz Acosta Lopez,2024-01-09

    ---> Código a explorar 28263

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
6266,9853,F2-VS/2024/00149,2024-01-19,36584,5.0,78.0,Brenda Luz Acosta Lopez,28263,Tope Anti-Impacto Redondo *11273*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
1364,531,189,P00178 (4HGFFI 176262),2024-01-12 23:00:52,5387,Home Depot Mexico,28263,[11273] Tope Anti-Impacto Redondo *11273*,5.0,56.04,4HGFFI 176262,NaT,<NA>,Brenda Luz Acosta Lopez,2024-01-09

    ---> Código a explorar 13638

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
2813,4583,F2-VS/2024/00063,2024-01-10,16692,6.0,625.0,Brenda Luz Acosta Lopez,13638,Chapa Yale P/Entrada Ball Cm 80049 *11816*
4716,7638,F2-CC/2024/00969,2024-01-16,28208,1.0,580.34,Karla Jaqueline Rivera Hernández,13638,Chapa Yale P/Entrada Ball Cm 80049 *11816*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
1366,529,187,P00176 (C 260333),2024-01-12 21:42:43,5321,El Gran Tlapalero,13638,[11816] Chapa Yale P/Entrada Ball Cm 80049 *11...,10.0,350.24,C 260333,NaT,<NA>,Brenda Luz Acosta Lopez,2024-01-09

    ---> Código a explorar 28414

Empty DataFrame
Columns: [fact_doc_id, name, invoice_date, fact_line_id, quantity, price_unit, salesperson_name, product_id, product_name]
Index: []

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
1472,420,179,P00168 (200107393),2024-01-12 15:59:44,5173,Casper Ventas Y Representaciones,28414,[1504] Disco de Corte Rin Continuo 4 1/2 Katan...,8.0,475.92,200107393,NaT,<NA>,Brenda Luz Acosta Lopez,2024-01-09

    ---> Código a explorar 28415

Empty DataFrame
Columns: [fact_doc_id, name, invoice_date, fact_line_id, quantity, price_unit, salesperson_name, product_id, product_name]
Index: []

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
1473,421,179,P00168 (200107393),2024-01-12 15:59:44,5173,Casper Ventas Y Representaciones,28415,"[1506] Disco de Corte Rin Continuo 7"" Katana ...",6.0,735.1,200107393,NaT,<NA>,Brenda Luz Acosta Lopez,2024-01-09

    ---> Código a explorar 27747

Empty DataFrame
Columns: [fact_doc_id, name, invoice_date, fact_line_id, quantity, price_unit, salesperson_name, product_id, product_name]
Index: []

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
1475,416,177,P00166 (4HGFFI 175877),2024-01-12 15:37:23,5387,Home Depot Mexico,27747,[23167] Cerrojo Kwikset #258 Bronce *23167*,1.0,1197.41,4HGFFI 175877,NaT,<NA>,Irma Carvajal Flores,2024-01-09

    ---> Código a explorar 12627

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
3994,6696,F1-VS/2024/00160,2024-01-15,24798,10.0,209.0,Irma Carvajal Flores,12627,Porta-candado Premium 100mm Jako CMHK007 *13868*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
1480,413,175,P00164 (36649),2024-01-12 01:00:01,5378,Maderas Dimar,12627,[13868] Porta-candado Premium 100mm Jako CMHK0...,10.0,119.8,36649,NaT,<NA>,Irma Carvajal Flores,2024-01-09

    ---> Código a explorar 26435

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
3182,5160,F1-VS/2024/00137,2024-01-11,18963,10.0,2357.32,Mayra Angelica Parada Manjarrez,26435,Jal. Manija Sencilla Blanco CE *95131*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
1481,412,174,P00163 (A 45109),2024-01-11 23:59:04,5249,Maria Del Rosario Lazarin Del Rio,26435,[95131] Jal. Manija Sencilla Blanco CE *95131*,10.0,1680.0,A 45109,NaT,<NA>,Mayra Angelica Parada Manjarrez,2024-01-08

    ---> Código a explorar 10177

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
2626,4350,F1-CC/2024/00444,2024-01-10,15871,80.0,59.67,Leticia Terán Salinas,10177,Disco Laminado Z-80 Inox 4 1/2 #72954 *24337*
2922,4814,F1-CC/2024/00486,2024-01-11,17754,2.0,58.06,Leticia Terán Salinas,10177,Disco Laminado Z-80 Inox 4 1/2 #72954 *24337*
3673,5984,F1-VS/2024/00154,2024-01-12,21923,2.0,58.06,Irma Carvajal Flores,10177,Disco Laminado Z-80 Inox 4 1/2 #72954 *24337*
6635,10432,F1-VS/2024/00261,2024-01-20,38784,1.0,58.06,Irma Carvajal Flores,10177,Disco Laminado Z-80 Inox 4 1/2 #72954 *24337*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
1483,410,172,P00161 (A 27752),2024-01-12 17:58:03,5241,Jose Leobardo Corrales Acosta,10177,[24337] Disco Laminado Z-80 Inox 4 1/2 #72954 ...,80.0,37.71,A 27752,NaT,<NA>,Leticia Terán Salinas,2024-01-09

    ---> Código a explorar 10217

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
1655,3044,F2-VS/2024/00026,2024-01-08,11167,6.0,59.0,Yamilet Blanco Salas,10217,Tope Dexter Codo P/Piso #6861 L.A. *85479*
3684,6132,F2-VS/2024/00093,2024-01-12,22692,4.0,59.0,Yamilet Blanco Salas,10217,Tope Dexter Codo P/Piso #6861 L.A. *85479*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
1484,409,171,P00160 (AA 1038122),2024-01-15 17:45:40,5283,Chapa Industrias,10217,[85479] Tope Dexter Codo P/Piso #6861 L.A. *85...,12.0,36.6,AA 1038122,NaT,<NA>,Yamilet Blanco Salas,2024-01-12

    ---> Código a explorar 28413

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
9562,15421,F1-VS/2024/00345,2024-01-30,58242,1.0,3274.14,Irma Carvajal Flores,28413,Pintura Kem-Tone Extra White Mate Bajo SW7102 ...

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
1486,407,169,P00158 (WAI 53236),2024-01-11 23:44:42,5175,Cia Sherwin Williams,28413,[1498] Pintura Kem-Tone Extra White Mate Bajo ...,1.0,2182.76,WAI 53236,NaT,<NA>,Irma Carvajal Flores,2024-01-08

    ---> Código a explorar 28279

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
3225,5204,F2-VS/2024/00080,2024-01-11,19135,2.0,235.19,Yamilet Blanco Salas,28279,Liquido Limpiador Foam Cleaner 4Lt *11058*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
1487,405,167,P00156 (CSL202400126),2024-01-11 23:28:59,5226,Jorge Arturo Chavarria Fernandez,28279,[11058] Liquido Limpiador Foam Cleaner 4Lt *11...,2.0,189.66,CSL202400126,NaT,<NA>,Irma Carvajal Flores,2024-01-08

    ---> Código a explorar 14389

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
2805,4579,F2-VS/2024/00060,2024-01-10,16675,105.0,91.82,Brenda Luz Acosta Lopez,14389,"PIE DE TABLA DE ALDER 1"" *7009*"
3131,5113,F1-VS/2024/00127,2024-01-11,18783,35.0,55.31,Mayra Angelica Parada Manjarrez,14389,"PIE DE TABLA DE ALDER 1"" *7009*"

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
1494,398,164,P00153 (MPIFCO 622),2024-01-11 23:13:19,5296,Madereria Pichonchas,14389,"[7009] PIE DE TABLA DE ALDER 1"" *7009*",35.0,34.48,MPIFCO 622,NaT,<NA>,Mayra Angelica Parada Manjarrez,2024-01-08
1640,238,135,P00124 (SJCFCO 624),2024-01-10 18:03:37,5326,Madereria El Pino De Los Cabos,14389,"[7009] PIE DE TABLA DE ALDER 1"" *7009*",105.0,34.48,SJCFCO 624,NaT,<NA>,Brenda Luz Acosta Lopez,2024-01-07

    ---> Código a explorar 14841

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
597,1165,F1-VS/2024/00016,2024-01-04,4253,15.0,174.68,Mayra Angelica Parada Manjarrez,14841,Bisagra Recta Cierre Lento #315.07.023 *71335*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
1496,394,163,P00152 (36623),2024-01-11 23:09:48,5378,Maderas Dimar,14841,[71335] Bisagra Recta Cierre Lento #315.07.023...,3.0,100.45,36623,NaT,<NA>,Mayra Angelica Parada Manjarrez,2024-01-08

    ---> Código a explorar 28412

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
3154,5133,F2-VS/2024/00073,2024-01-11,18868,3.0,150.34,Yamilet Blanco Salas,28412,Pasador De Sobreponer 12Cm Latón Brillante L03...

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
1497,393,162,P00151 (2000005258548521D),2024-01-11 23:07:53,5128,Mercado Libre,28412,[1497] Pasador De Sobreponer 12Cm Latón Brilla...,3.0,90.52,2000005258548521D,NaT,<NA>,Yamilet Blanco Salas,2024-01-08

    ---> Código a explorar 28411

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
3134,5119,F2-VS/2024/00070,2024-01-11,18809,2.0,783.63,Yamilet Blanco Salas,28411,Cinta Scotch #27 de 3/4 3M Fibra de Vidrio *1496*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
1498,392,161,P00150 (2000005258548521E),2024-01-11 23:06:47,5128,Mercado Libre,28411,[1496] Cinta Scotch #27 de 3/4 3M Fibra de Vid...,2.0,541.38,2000005258548521E,NaT,<NA>,Yamilet Blanco Salas,2024-01-08

    ---> Código a explorar 14474

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
3179,5158,F1-VS/2024/00136,2024-01-11,18956,2.0,2104.12,Mayra Angelica Parada Manjarrez,14474,Kit Polyform 11000 Brillante (Galon) *90097*
6267,9855,F1-VS/2024/00251,2024-01-19,36590,2.0,2104.12,Mayra Angelica Parada Manjarrez,14474,Kit Polyform 11000 Brillante (Galon) *90097*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
1503,387,157,P00146 (BSLUCFA 317815),2024-01-11 20:55:27,5174,Campos Reyeros Y Cia,14474,[90097] Kit Polyform 11000 Brillante (Galon) *...,2.0,1369.83,BSLUCFA 317815,NaT,<NA>,Mayra Angelica Parada Manjarrez,2024-01-08

    ---> Código a explorar 28409

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
2974,4895,F2-VS/2024/00069,2024-01-11,18019,5.0,572.85,Yamilet Blanco Salas,28409,"Varilla Corrugada 5/8"" *36794*"

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
1508,383,154,P00143 (BJ 181572),2024-01-11 19:34:21,5294,Fierro Y Lamina Construccion,28409,"[36794] Varilla Corrugada 5/8"" *36794*",5.0,417.26,BJ 181572,NaT,<NA>,Brenda Luz Acosta Lopez,2024-01-08

    ---> Código a explorar 28222

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
2810,4581,F2-VS/2024/00062,2024-01-10,16684,2.0,97.02,Brenda Luz Acosta Lopez,28222,"Cinta teflon Garlock 3/4"" x 13.20 *12186*"

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
1542,343,151,P00140 (SJC 555211),2024-01-11 18:41:32,5309,Electrica Dos Hermanos,28222,"[12186] Cinta teflon Garlock 3/4"" x 13.20 *12186*",2.0,64.68,SJC 555211,NaT,<NA>,Brenda Luz Acosta Lopez,2024-01-08

    ---> Código a explorar 9878

Empty DataFrame
Columns: [fact_doc_id, name, invoice_date, fact_line_id, quantity, price_unit, salesperson_name, product_id, product_name]
Index: []

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
1564,315,148,P00137 (114375127-7),2024-01-11 17:59:49,5384,Truper,9878,"[6356] Clavo P/Madera 3 1/2"" C/C #44155 Truper...",300.0,29.76,114375127-7,NaT,<NA>,Yolanda Alejandra Rodriguez González,2024-01-08

    ---> Código a explorar 28407

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
7926,12648,F2-VS/2024/00187,2024-01-25,47645,1.0,1952.62,Brenda Luz Acosta Lopez,28407,Pieza de Montaje Delantero #59 para sierra DC-...

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
1565,314,147,P00136 (C 74218),2024-01-25 16:42:32,5344,D Castro Importadores De Norteamerica,28407,[1484] Pieza de Montaje Delantero #59 para sie...,1.0,903.51,C 74218,NaT,<NA>,Brenda Luz Acosta Lopez,2024-01-22

    ---> Código a explorar 26790

Empty DataFrame
Columns: [fact_doc_id, name, invoice_date, fact_line_id, quantity, price_unit, salesperson_name, product_id, product_name]
Index: []

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
1566,313,146,P00135 (RI 27058581),2024-01-11 18:00:38,5375,Assa Abloy Mexico,26790,[5297] Tope de piso Satin Bruken BRK4155 #6673...,35.0,98.93,RI 27058581,NaT,<NA>,Brenda Luz Acosta Lopez,2024-01-08

    ---> Código a explorar 28390

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
2776,4559,F1-VS/2024/00118,2024-01-10,16595,30.0,21.31,Mayra Angelica Parada Manjarrez,28390,"Brocha Cerda Natural 2"" *10702*"
4474,7351,F1-VS/2024/00172,2024-01-16,27177,43.0,21.31,Mayra Angelica Parada Manjarrez,28390,"Brocha Cerda Natural 2"" *10702*"

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
1569,309,144,P00133 (BSLUCFA 317715),2024-01-11 00:27:14,5174,Campos Reyeros Y Cia,28390,"[10702] Brocha Cerda Natural 2"" *10702*",73.0,13.36,BSLUCFA 317715,NaT,<NA>,Mayra Angelica Parada Manjarrez,2024-01-08

    ---> Código a explorar 28391

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
2777,4559,F1-VS/2024/00118,2024-01-10,16596,30.0,30.14,Mayra Angelica Parada Manjarrez,28391,"Brocha Cerda Natural 3"" *7683*"
4475,7351,F1-VS/2024/00172,2024-01-16,27178,57.0,30.14,Mayra Angelica Parada Manjarrez,28391,"Brocha Cerda Natural 3"" *7683*"

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
1570,310,144,P00133 (BSLUCFA 317715),2024-01-11 00:27:14,5174,Campos Reyeros Y Cia,28391,"[7683] Brocha Cerda Natural 3"" *7683*",87.0,19.83,BSLUCFA 317715,NaT,<NA>,Mayra Angelica Parada Manjarrez,2024-01-08

    ---> Código a explorar 27728

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
2782,4559,F1-VS/2024/00118,2024-01-10,16601,27.0,129.96,Mayra Angelica Parada Manjarrez,27728,Aerosol Aerocomex Negro Brillante 0.33 *2370*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
1571,311,144,P00133 (BSLUCFA 317715),2024-01-11 00:27:14,5174,Campos Reyeros Y Cia,27728,[2370] Aerosol Aerocomex Negro Brillante 0.33 ...,27.0,73.71,BSLUCFA 317715,NaT,<NA>,Mayra Angelica Parada Manjarrez,2024-01-08

    ---> Código a explorar 8411

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
2351,3911,F1-VS/2024/00095,2024-01-09,14242,100.0,20.0,Irma Carvajal Flores,8411,Carretilla 2/P/Puerta 2095 25 Kg *55021*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
1633,247,140,P00129 (C 165092),2024-01-10 18:52:59,5280,DISTRIBUIDORA DE HERRAJES Y ALUMINIO DE LOS CABOS,8411,[55021] Carretilla 2/P/Puerta 2095 25 Kg *55021*,100.0,12.29,C 165092,NaT,<NA>,Irma Carvajal Flores,2024-01-07

    ---> Código a explorar 14769

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
1289,2467,F1-VS/2024/00036,2024-01-06,9007,1.0,3671.0,Irma Carvajal Flores,14769,Kem-Tone Base Deep Mate SW-7019 *41555*
5566,8894,F1-VS/2024/00222,2024-01-18,33114,3.0,3671.0,Irma Carvajal Flores,14769,Kem-Tone Base Deep Mate SW-7019 *41555*
9570,15421,F1-VS/2024/00345,2024-01-30,58250,3.0,3671.0,Irma Carvajal Flores,14769,Kem-Tone Base Deep Mate SW-7019 *41555*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
1636,244,138,P00127 (WAI 53269),2024-01-10 18:49:21,5175,Cia Sherwin Williams,14769,[41555] Kem-Tone Base Deep Mate SW-7019 *41555*,3.0,1818.95,WAI 53269,NaT,<NA>,Irma Carvajal Flores,2024-01-07

    ---> Código a explorar 28394

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
2766,4557,F1-VS/2024/00116,2024-01-10,16565,20.0,942.68,Mayra Angelica Parada Manjarrez,28394,Solera 5 x 20 *74415*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
1637,242,137,P00126 (FCO 9404565),2024-01-10 18:46:12,5318,Soluciones En Madera El Roble,28394,[74415] Solera 5 x 20 *74415*,20.0,700.0,FCO 9404565,NaT,<NA>,Mayra Angelica Parada Manjarrez,2024-01-07

    ---> Código a explorar 28392

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
2761,4547,F1-VS/2024/00115,2024-01-10,16536,30.0,2182.06,Mayra Angelica Parada Manjarrez,28392,Viga Douglas 6x6x10 *1443*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
1638,243,137,P00126 (FCO 9404565),2024-01-10 18:46:12,5318,Soluciones En Madera El Roble,28392,[1443] Viga Douglas 6x6x10 *1443*,30.0,1422.41,FCO 9404565,NaT,<NA>,Mayra Angelica Parada Manjarrez,2024-01-07

    ---> Código a explorar 28389

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
2524,4219,F1-VS/2024/00106,2024-01-10,15366,1.0,61893.23,Mayra Angelica Parada Manjarrez,28389,Taladro Sumergible Nemo 18V HD-18-3Li-50 *1438*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
1639,241,136,P00125 (SAT 613),2024-01-10 18:20:09,5139,D Garcia Group Los Cabos,28389,[1438] Taladro Sumergible Nemo 18V HD-18-3Li-5...,1.0,37030.4,SAT 613,NaT,<NA>,Mayra Angelica Parada Manjarrez,2024-01-07

    ---> Código a explorar 11052

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
2804,4579,F2-VS/2024/00060,2024-01-10,16674,140.0,121.75,Brenda Luz Acosta Lopez,11052,"PIE DE TABLON DE ALDER 2"" *8001*"

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
1641,239,135,P00124 (SJCFCO 624),2024-01-10 18:03:37,5326,Madereria El Pino De Los Cabos,11052,"[8001] PIE DE TABLON DE ALDER 2"" *8001*",140.0,60.35,SJCFCO 624,NaT,<NA>,Brenda Luz Acosta Lopez,2024-01-07

    ---> Código a explorar 14454

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
2806,4579,F2-VS/2024/00060,2024-01-10,16676,5.0,2981.15,Brenda Luz Acosta Lopez,14454,Deck DE IPE METRO 19mm. *10033*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
1642,240,135,P00124 (SJCFCO 624),2024-01-10 18:03:37,5326,Madereria El Pino De Los Cabos,14454,[10033] Deck DE IPE METRO 19mm. *10033*,5.0,1607.59,SJCFCO 624,NaT,<NA>,Brenda Luz Acosta Lopez,2024-01-07

    ---> Código a explorar 10726

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
2338,3892,F2-VS/2024/00049,2024-01-09,14177,50.0,80.82,Yamilet Blanco Salas,10726,Pila Duracell 9V CE *56321*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
1644,237,134,P00123 (AZG 3298252),2024-01-10 17:58:15,5266,Costco De Mexico,10726,[56321] Pila Duracell 9V CE *56321*,16.0,53.77,AZG 3298252,NaT,<NA>,Brenda Luz Acosta Lopez,2024-01-07
1646,234,132,P00121 (AZG 3298243),2024-01-10 17:54:41,5266,Costco De Mexico,10726,[56321] Pila Duracell 9V CE *56321*,32.0,53.77,AZG 3298243,NaT,<NA>,Brenda Luz Acosta Lopez,2024-01-07

    ---> Código a explorar 13291

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
2437,4106,F1-VS/2024/00103,2024-01-10,14958,2.0,405.85,Mayra Angelica Parada Manjarrez,13291,"Riel D/Extenc. Completa Cierre Suave 18"" 450mm..."

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
1647,233,131,P00120 (36583),2024-01-10 17:43:42,5378,Maderas Dimar,13291,[7511] Riel D/Extenc. Completa Cierre Suave 18...,2.0,252.53,36583,NaT,<NA>,Mayra Angelica Parada Manjarrez,2024-01-07

    ---> Código a explorar 11697

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
2364,3919,F1-VS/2024/00096,2024-01-09,14275,4.0,168.76,Mayra Angelica Parada Manjarrez,11697,Barrote 2X4X8 Pino *13556*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
1651,232,130,P00119 (B 83327),2024-01-10 17:40:39,5290,Maria Reyna Navarrete Cortez,11697,[13556] Barrote 2X4X8 Pino *13556*,4.0,81.9,B 83327,NaT,<NA>,Mayra Angelica Parada Manjarrez,2024-01-07

    ---> Código a explorar 26661

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
2415,4004,F2-VS/2024/00055,2024-01-10,14551,2.0,871.55,Brenda Luz Acosta Lopez,26661,Aditivo Duracril Niasabond (4Lts) *66517*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
1654,228,129,P00118 (SJ 27053),2024-01-10 17:00:06,5143,Fymsa Baja Sur,26661,[66517] Aditivo Duracril Niasabond (4Lts) *66517*,2.0,377.42,SJ 27053,NaT,<NA>,Brenda Luz Acosta Lopez,2024-01-07

    ---> Código a explorar 28388

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
2417,4004,F2-VS/2024/00055,2024-01-10,14553,3.0,514.23,Brenda Luz Acosta Lopez,28388,Base Coat Cemenquin 20 kg *1437*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
1656,225,128,P00117 (SJ 36478),2024-01-10 16:56:04,5369,Acyma Del Noroeste,28388,[1437] Base Coat Cemenquin 20 kg *1437*,3.0,242.86,SJ 36478,NaT,<NA>,Brenda Luz Acosta Lopez,2024-01-07

    ---> Código a explorar 28073

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
2170,3687,F2-VS/2024/00044,2024-01-09,13469,40.0,430.61,Yamilet Blanco Salas,28073,Tablaroca verde 1/2 *19063*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
1663,217,125,P00114 (SJ 36469),2024-01-10 00:28:59,5369,Acyma Del Noroeste,28073,[19063] Tablaroca verde 1/2 *19063*,40.0,296.62,SJ 36469,NaT,<NA>,Brenda Luz Acosta Lopez,2024-01-07

    ---> Código a explorar 28076

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
1331,2499,F2-VS/2024/00017,2024-01-06,9129,1.0,1210.35,Irma Carvajal Flores,28076,Cable THHW-LS AWG Cal.12 Verde IUSA100MT *187*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
1665,215,123,P00112 (SJC 554886),2024-01-09 21:51:35,5309,Electrica Dos Hermanos,28076,[187] Cable THHW-LS AWG Cal.12 Verde IUSA100MT...,1.0,730.16,SJC 554886,NaT,<NA>,Irma Carvajal Flores,2024-01-06

    ---> Código a explorar 14340

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
1987,3377,F1-VS/2024/00079,2024-01-08,12390,5.0,1696.0,Irma Carvajal Flores,14340,"Tablon 2""x12""x10"" *14892*"

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
1666,212,122,P00111 (A 22147),2024-01-09 21:49:19,5264,Maria Teresa Quezada Hernandez,14340,"[14892] Tablon 2""x12""x10"" *14892*",5.0,931.04,A 22147,NaT,<NA>,Irma Carvajal Flores,2024-01-06

    ---> Código a explorar 28299

Empty DataFrame
Columns: [fact_doc_id, name, invoice_date, fact_line_id, quantity, price_unit, salesperson_name, product_id, product_name]
Index: []

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
1676,204,118,P00107 (A 29770),2024-01-09 21:11:04,5229,Monica Tereza Velasco Haro,28299,"[10562] Papel P/Pintar D/Pergamino 18"" Rollo *...",2.0,646.56,A 29770,NaT,<NA>,Mayra Angelica Parada Manjarrez,2024-01-06
1677,203,117,P00106 (A 29769),2024-01-09 21:09:56,5229,Monica Tereza Velasco Haro,28299,"[10562] Papel P/Pintar D/Pergamino 18"" Rollo *...",2.0,646.56,A 29769,NaT,<NA>,Mayra Angelica Parada Manjarrez,2024-01-06

    ---> Código a explorar 28208

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
1616,2992,F2-VS/2024/00022,2024-01-08,10996,3.0,172.62,Yamilet Blanco Salas,28208,Jgo Carbones P/lijadora Dwe6421/Dwe6411 *1316*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
1678,202,116,P00105 (2000005258548521C),2024-01-09 20:36:26,5128,Mercado Libre,28208,[1316] Jgo Carbones P/lijadora Dwe6421/Dwe6411...,5.0,99.14,2000005258548521C,NaT,<NA>,Brenda Luz Acosta Lopez,2024-01-06

    ---> Código a explorar 14423

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
3137,5121,F1-VS/2024/00128,2024-01-11,18822,1.0,1681.02,Mayra Angelica Parada Manjarrez,14423,"Esmeriladora Ang 4 1/2"" 710W 9554HNG Mk *MAK95..."
7087,11285,F2-CC/2024/01449,2024-01-23,42121,1.0,2085.52,Nadia Santos Nava,14423,"Esmeriladora Ang 4 1/2"" 710W 9554HNG Mk *MAK95..."

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
1680,200,114,P00103 (2000007312787526),2024-01-09 17:52:45,5128,Mercado Libre,14423,"[MAK9554HNG] Esmeriladora Ang 4 1/2"" 710W 9554...",1.0,1030.17,2000007312787526,NaT,<NA>,Mayra Angelica Parada Manjarrez,2024-01-06

    ---> Código a explorar 28364

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
2315,3872,F1-VS/2024/00090,2024-01-09,14104,100.0,26.6,Irma Carvajal Flores,28364,Tornillo Hexagonal Bronce 1/4 x 2 1/2 *1392*
2322,3880,F1-VS/2024/00092,2024-01-09,14131,100.0,26.6,Irma Carvajal Flores,28364,Tornillo Hexagonal Bronce 1/4 x 2 1/2 *1392*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
1681,198,113,P00102 (XA 21546),2024-01-09 17:34:44,5221,Distribuidor Mayorista De Tornillos De Yucatan...,28364,[1392] Tornillo Hexagonal Bronce 1/4 x 2 1/2 *...,200.0,17.5,XA 21546,NaT,<NA>,Irma Carvajal Flores,2024-01-06

    ---> Código a explorar 28365

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
2316,3872,F1-VS/2024/00090,2024-01-09,14105,200.0,18.4,Irma Carvajal Flores,28365,Tornillo Hexagonal Bronce 1/4 x 2 *1393*
2320,3876,F1-VS/2024/00091,2024-01-09,14119,300.0,18.4,Irma Carvajal Flores,28365,Tornillo Hexagonal Bronce 1/4 x 2 *1393*
2323,3880,F1-VS/2024/00092,2024-01-09,14132,200.0,18.4,Irma Carvajal Flores,28365,Tornillo Hexagonal Bronce 1/4 x 2 *1393*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
1682,199,113,P00102 (XA 21546),2024-01-09 17:34:44,5221,Distribuidor Mayorista De Tornillos De Yucatan...,28365,[1393] Tornillo Hexagonal Bronce 1/4 x 2 *1393*,700.0,12.22,XA 21546,NaT,<NA>,Irma Carvajal Flores,2024-01-06

    ---> Código a explorar 7481

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
330,712,F1-CC/2024/00060,2024-01-03,2541,10.0,0.34,Viviana Montaño Inzunza,7481,Rondana Plana 3/16 C#184 *2540*
1430,2672,F2-CC/2024/00313,2024-01-06,9728,50.0,0.34,Angela Carrillo Cárdenas,7481,Rondana Plana 3/16 C#184 *2540*
1816,3191,F1-VS/2024/00058,2024-01-08,11732,2800.0,0.34,Irma Carvajal Flores,7481,Rondana Plana 3/16 C#184 *2540*
3270,5452,F2-CC/2024/00701,2024-01-12,20046,10.0,0.34,<NA>,7481,Rondana Plana 3/16 C#184 *2540*
3733,6193,F2-CC/2024/00783,2024-01-13,22900,6.0,0.34,Yolanda Alejandra Rodriguez González,7481,Rondana Plana 3/16 C#184 *2540*
9929,15952,F2-CC/2024/02091,2024-01-30,60417,100.0,0.34,Nadia Santos Nava,7481,Rondana Plana 3/16 C#184 *2540*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
1683,197,112,P00101 (WA 12776),2024-01-09 17:33:11,5221,Distribuidor Mayorista De Tornillos De Yucatan...,7481,[2540] Rondana Plana 3/16 C#184 *2540*,200.0,0.16,WA 12776,NaT,<NA>,Irma Carvajal Flores,2024-01-06
1685,194,111,P00100 (XA 21547),2024-01-09 17:31:47,5221,Distribuidor Mayorista De Tornillos De Yucatan...,7481,[2540] Rondana Plana 3/16 C#184 *2540*,800.0,0.17,XA 21547,NaT,<NA>,Irma Carvajal Flores,2024-01-06

    ---> Código a explorar 28376

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
1815,3191,F1-VS/2024/00058,2024-01-08,11731,2800.0,3.05,Irma Carvajal Flores,28376,Tornillo Maquina Galvanizado 3/16-24 x2 *1406*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
1684,193,111,P00100 (XA 21547),2024-01-09 17:31:47,5221,Distribuidor Mayorista De Tornillos De Yucatan...,28376,[1406] Tornillo Maquina Galvanizado 3/16-24 x2...,2800.0,0.85,XA 21547,NaT,<NA>,Irma Carvajal Flores,2024-01-06

    ---> Código a explorar 8002

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
9,125,F1-CC/2024/00004,2024-01-02,345,2.0,3.6,Gladiz Melisa Galvez Espinoza,8002,"Tuerca Hexagonal 3/4"" Hncz (360/Ct) C#2 *5393*"

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
1686,195,111,P00100 (XA 21547),2024-01-09 17:31:47,5221,Distribuidor Mayorista De Tornillos De Yucatan...,8002,"[5393] Tuerca Hexagonal 3/4"" Hncz (360/Ct) C#2...",1400.0,0.14,XA 21547,NaT,<NA>,Irma Carvajal Flores,2024-01-06

    ---> Código a explorar 28370

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
2013,3396,F1-VS/2024/00085,2024-01-08,12462,3.0,234.0,Irma Carvajal Flores,28370,Boquilla S/Arena Negro*1401*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
1715,163,105,P00094 (A 6354),2024-01-09 15:40:11,5269,Proveedora De Pisos Y Sanitarios De Los Cabos,28370,[1401] Boquilla S/Arena Negro*1401*,2.0,142.24,A 6354,NaT,<NA>,Irma Carvajal Flores,2024-01-06
1720,162,104,P00093 (E 46983),2024-01-09 15:37:55,5269,Proveedora De Pisos Y Sanitarios De Los Cabos,28370,[1401] Boquilla S/Arena Negro*1401*,1.0,130.17,E 46983,NaT,<NA>,Irma Carvajal Flores,2024-01-06

    ---> Código a explorar 14775

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
2015,3396,F1-VS/2024/00085,2024-01-08,12464,1.0,234.0,Irma Carvajal Flores,14775,Boquilla Sin Arena Gris *40086*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
1716,158,104,P00093 (E 46983),2024-01-09 15:37:55,5269,Proveedora De Pisos Y Sanitarios De Los Cabos,14775,[40086] Boquilla Sin Arena Gris *40086*,1.0,130.17,E 46983,NaT,<NA>,Irma Carvajal Flores,2024-01-06

    ---> Código a explorar 28372

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
2014,3396,F1-VS/2024/00085,2024-01-08,12463,1.0,234.0,Irma Carvajal Flores,28372,Boquilla S/Arena Ladrillo Amarillo Yellow *1405*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
1717,159,104,P00093 (E 46983),2024-01-09 15:37:55,5269,Proveedora De Pisos Y Sanitarios De Los Cabos,28372,[1405] Boquilla S/Arena Ladrillo Amarillo Yell...,1.0,130.17,E 46983,NaT,<NA>,Irma Carvajal Flores,2024-01-06

    ---> Código a explorar 28371

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
2012,3396,F1-VS/2024/00085,2024-01-08,12461,2.0,234.0,Irma Carvajal Flores,28371,Boquilla S/Arena Ladrillo Red Cora *1403*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
1718,160,104,P00093 (E 46983),2024-01-09 15:37:55,5269,Proveedora De Pisos Y Sanitarios De Los Cabos,28371,[1403] Boquilla S/Arena Ladrillo Red Cora *1403*,2.0,130.17,E 46983,NaT,<NA>,Irma Carvajal Flores,2024-01-06

    ---> Código a explorar 28380

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
2011,3396,F1-VS/2024/00085,2024-01-08,12460,1.0,234.0,Irma Carvajal Flores,28380,Boquilla S/Arena Beige *1419*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
1719,161,104,P00093 (E 46983),2024-01-09 15:37:55,5269,Proveedora De Pisos Y Sanitarios De Los Cabos,28380,[1419] Boquilla S/Arena Beige *1419*,1.0,130.17,E 46983,NaT,<NA>,Irma Carvajal Flores,2024-01-06

    ---> Código a explorar 28378

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
2042,3501,F2-CC/2024/00446,2024-01-09,12844,219.0,3.15,Yolanda Alejandra Rodriguez González,28378,Perno de Anclaje 1/4 x 2 1/4 *1417*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
1721,157,103,P00092 (WA 12769),2024-01-09 15:13:03,5221,Distribuidor Mayorista De Tornillos De Yucatan...,28378,[1417] Perno de Anclaje 1/4 x 2 1/4 *1417*,219.0,2.1,WA 12769,NaT,<NA>,Yolanda Alejandra Rodriguez González,2024-01-06

    ---> Código a explorar 27746

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
2026,3398,F1-VS/2024/00086,2024-01-08,12479,15.0,426.3,Mayra Angelica Parada Manjarrez,27746,Herraje DN-80 Sr Jgo. P/1 Puerta *23170*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
1722,154,102,P00091 (36522),2024-01-09 00:41:30,5378,Maderas Dimar,27746,[23170] Herraje DN-80 Sr Jgo. P/1 Puerta *23170*,15.0,269.99,36522,NaT,<NA>,Mayra Angelica Parada Manjarrez,2024-01-06

    ---> Código a explorar 28161

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
2025,3398,F1-VS/2024/00086,2024-01-08,12478,15.0,697.6,Mayra Angelica Parada Manjarrez,28161,Riel Ducasse U-21 Alum. 3Mts *14816*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
1723,155,102,P00091 (36522),2024-01-09 00:41:30,5378,Maderas Dimar,28161,[14816] Riel Ducasse U-21 Alum. 3Mts *14816*,15.0,458.77,36522,NaT,<NA>,Mayra Angelica Parada Manjarrez,2024-01-06

    ---> Código a explorar 28382

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
7745,12179,F1-VS/2024/00302,2024-01-24,45449,1.0,195.0,Irma Carvajal Flores,28382,"Valvula BCE B RSC 3/4"" *1421*"

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
1728,148,99,P00088 (FACSL 306857),2024-01-09 00:18:22,5351,El Arco Csl,28382,"[1421] Valvula BCE B RSC 3/4"" *1421*",2.0,126.72,FACSL 306857,NaT,<NA>,Irma Carvajal Flores,2024-01-06

    ---> Código a explorar 28381

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
7746,12179,F1-VS/2024/00302,2024-01-24,45450,1.0,132.0,Irma Carvajal Flores,28381,"Valvula BCE B RSC 1/2"" *1420*"

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
1729,149,99,P00088 (FACSL 306857),2024-01-09 00:18:22,5351,El Arco Csl,28381,"[1420] Valvula BCE B RSC 1/2"" *1420*",1.0,82.76,FACSL 306857,NaT,<NA>,Irma Carvajal Flores,2024-01-06

    ---> Código a explorar 28353

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
3672,5984,F1-VS/2024/00154,2024-01-12,21922,1.0,4208.0,Irma Carvajal Flores,28353,Juego de Sierra Hormigon Gstk 10pz *1385*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
1730,147,98,P00087 (702-2522719-0141828),2024-01-09 00:13:09,5147,Amazon,28353,[1385] Juego de Sierra Hormigon Gstk 10pz *1385*,1.0,2843.93,702-2522719-0141828,NaT,<NA>,Irma Carvajal Flores,2024-01-06

    ---> Código a explorar 27002

Empty DataFrame
Columns: [fact_doc_id, name, invoice_date, fact_line_id, quantity, price_unit, salesperson_name, product_id, product_name]
Index: []

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
1731,146,97,P00086 (BSTARFA 136026),2024-01-09 00:09:43,5174,Campos Reyeros Y Cia,27002,[29040] Polyform Tinta Aceite Nog.Clasico 1 Lt...,2.0,134.48,BSTARFA 136026,NaT,<NA>,Irma Carvajal Flores,2024-01-06

    ---> Código a explorar 13577

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
1995,3379,F1-VS/2024/00081,2024-01-08,12402,10.0,580.0,Mayra Angelica Parada Manjarrez,13577,Morillo 4 x 6 *50077*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
1732,145,96,P00085 (FCO 9404537),2024-01-08 23:47:26,5318,Soluciones En Madera El Roble,13577,[50077] Morillo 4 x 6 *50077*,10.0,284.49,FCO 9404537,NaT,<NA>,Mayra Angelica Parada Manjarrez,2024-01-05

    ---> Código a explorar 28359

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
821,1548,F2-CC/2024/00204,2024-01-05,5694,25.0,202.6,Karla Jaqueline Rivera Hernández,28359,"Polín Nacional de 8"" *1391*"

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
1733,143,95,P00084 (SJCFCO 299),2024-01-08 23:41:10,5326,Madereria El Pino De Los Cabos,28359,"[1391] Polín Nacional de 8"" *1391*",25.0,137.93,SJCFCO 299,NaT,<NA>,Karla Jaqueline Rivera Hernández,2024-01-05

    ---> Código a explorar 13959

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
820,1548,F2-CC/2024/00204,2024-01-05,5693,7.0,816.66,Karla Jaqueline Rivera Hernández,13959,Triplay Pino 3/4 4'*8' 0/Caras *5790*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
1734,144,95,P00084 (SJCFCO 299),2024-01-08 23:41:10,5326,Madereria El Pino De Los Cabos,13959,[5790] Triplay Pino 3/4 4'*8' 0/Caras *5790*,7.0,573.28,SJCFCO 299,NaT,<NA>,Karla Jaqueline Rivera Hernández,2024-01-05

    ---> Código a explorar 27765

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
1617,2993,F2-VS/2024/00023,2024-01-08,10999,10.0,80.17,Yamilet Blanco Salas,27765,Kola Loka Industrial 209 gr *22201*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
1735,142,94,P00083 (IWAOZ 359353),2024-01-08 23:32:42,5281,Nueva Wal Mart De Mexico,27765,[22201] Kola Loka Industrial 209 gr *22201*,10.0,48.28,IWAOZ 359353,NaT,<NA>,Yamilet Blanco Salas,2024-01-05

    ---> Código a explorar 26743

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
1211,2348,F2-VS/2024/00008,2024-01-06,8622,21.0,88.41,Brenda Luz Acosta Lopez,26743,Chapa Soprano 30mm Standar G C J1031 *55866*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
1736,141,93,P00082 (C 259178),2024-01-08 23:31:03,5321,El Gran Tlapalero,26743,[55866] Chapa Soprano 30mm Standar G C J1031 *...,40.0,40.07,C 259178,NaT,<NA>,Brenda Luz Acosta Lopez,2024-01-05

    ---> Código a explorar 27734

Empty DataFrame
Columns: [fact_doc_id, name, invoice_date, fact_line_id, quantity, price_unit, salesperson_name, product_id, product_name]
Index: []

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
1738,138,92,P00081 (C 259719),2024-01-08 23:29:22,5321,El Gran Tlapalero,27734,[23549] Carret. P/Mosquitero Herralum #2097 *2...,50.0,7.75,C 259719,NaT,<NA>,Brenda Luz Acosta Lopez,2024-01-05

    ---> Código a explorar 12738

Empty DataFrame
Columns: [fact_doc_id, name, invoice_date, fact_line_id, quantity, price_unit, salesperson_name, product_id, product_name]
Index: []

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
1740,140,92,P00081 (C 259719),2024-01-08 23:29:22,5321,El Gran Tlapalero,12738,[8496] Pata D/Chiva Phillips #58-C *8496*,5.0,171.51,C 259719,NaT,<NA>,Brenda Luz Acosta Lopez,2024-01-05

    ---> Código a explorar 28312

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
1218,2358,F2-VS/2024/00011,2024-01-06,8653,9.0,127.0,Brenda Luz Acosta Lopez,28312,Silicon Sista Blanco *1033*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
1741,134,91,P00080 (C 259462),2024-01-08 23:24:24,5321,El Gran Tlapalero,28312,[1033] Silicon Sista Blanco *1033*,15.0,79.78,C 259462,NaT,<NA>,Brenda Luz Acosta Lopez,2024-01-05
1752,124,83,P00072 (C 259180),2024-01-06 17:47:03,5321,El Gran Tlapalero,28312,[1033] Silicon Sista Blanco *1033*,9.0,78.58,C 259180,NaT,Gretel Gómez Alcázar,Brenda Luz Acosta Lopez,2024-01-03

    ---> Código a explorar 11902

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
1200,2335,F2-VS/2024/00007,2024-01-06,8577,10.0,160.83,Brenda Luz Acosta Lopez,11902,Tope Ph Magnetico #1054 NS #3174 *30063*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
1743,136,91,P00080 (C 259462),2024-01-08 23:24:24,5321,El Gran Tlapalero,11902,[30063] Tope Ph Magnetico #1054 NS #3174 *30063*,10.0,89.98,C 259462,NaT,<NA>,Brenda Luz Acosta Lopez,2024-01-05

    ---> Código a explorar 28194

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
1350,2524,F1-VS/2024/00041,2024-01-06,9210,2.0,1234.6,Mayra Angelica Parada Manjarrez,28194,Pegamento Amar. Elmer'S 4Lts *13788*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
1744,133,90,P00079 (36500),2024-01-08 22:20:29,5378,Maderas Dimar,28194,Pegamento Amar. Elmer'S 4Lts *13788*,2.0,556.52,36500,NaT,<NA>,Mayra Angelica Parada Manjarrez,2024-01-05

    ---> Código a explorar 12446

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
1985,3376,F1-VS/2024/00078,2024-01-08,12386,20.0,230.0,Irma Carvajal Flores,12446,Brasso Liquido 200mls *10695*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
1747,130,88,P00077 (IWAYYB 12428),2024-01-08 22:17:27,5281,Nueva Wal Mart De Mexico,12446,[10695] Brasso Liquido 200mls *10695*,8.0,151.72,IWAYYB 12428,NaT,<NA>,Irma Carvajal Flores,2024-01-05
1748,129,87,P00076 (IWAJY 697677),2024-01-08 22:15:35,5281,Nueva Wal Mart De Mexico,12446,[10695] Brasso Liquido 200mls *10695*,12.0,151.72,IWAJY 697677,NaT,<NA>,Irma Carvajal Flores,2024-01-05

    ---> Código a explorar 13119

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
1337,2504,F1-VS/2024/00039,2024-01-06,9147,1.0,400.86,Mayra Angelica Parada Manjarrez,13119,Pegamento D/Contacto 5000 1Lt.(CE) *25834*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
1749,128,86,P00075 (4HGFFI 173735),2024-01-08 15:53:33,5387,Home Depot Mexico,13119,[25834] Pegamento D/Contacto 5000 1Lt.(CE) *25...,1.0,262.93,4HGFFI 173735,NaT,<NA>,Mayra Angelica Parada Manjarrez,2024-01-05

    ---> Código a explorar 28369

Empty DataFrame
Columns: [fact_doc_id, name, invoice_date, fact_line_id, quantity, price_unit, salesperson_name, product_id, product_name]
Index: []

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
1751,123,83,P00072 (C 259180),2024-01-06 17:47:03,5321,El Gran Tlapalero,28369,[1399] Bisagra 149 Colonial 1-1/2 Negra Pza *1...,14.0,12.48,C 259180,NaT,Gretel Gómez Alcázar,Brenda Luz Acosta Lopez,2024-01-03

    ---> Código a explorar 13257

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
1213,2350,F2-VS/2024/00010,2024-01-06,8628,11.0,885.32,Brenda Luz Acosta Lopez,13257,Chapa Ph D/Embutir #X-1000-Cromo #570 *1515*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
1753,125,83,P00072 (C 259180),2024-01-06 17:47:03,5321,El Gran Tlapalero,13257,[1515] Chapa Ph D/Embutir #X-1000-Cromo #570 *...,11.0,249.61,C 259180,NaT,Gretel Gómez Alcázar,Brenda Luz Acosta Lopez,2024-01-03

    ---> Código a explorar 28368

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
3597,5882,F2-VS/2024/00088,2024-01-12,21580,2.0,402.0,Brenda Luz Acosta Lopez,28368,Bolsa Para Polvo N409756 P/lijadora Dwe6421-b3...

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
1754,122,82,P00071 (2000005206736429),2024-01-06 17:05:07,5128,Mercado Libre,28368,[1397] Bolsa Para Polvo N409756 P/lijadora Dwe...,2.0,255.17,2000005206736429,NaT,Gretel Gómez Alcázar,Brenda Luz Acosta Lopez,2024-01-03

    ---> Código a explorar 28367

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
1275,2438,F2-VS/2024/00016,2024-01-06,8919,4.0,740.0,Brenda Luz Acosta Lopez,28367,Stanley Cuchilla Retráctil Para Alfombra 10-49...

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
1755,121,81,P00070 (2000005194227643),2024-01-06 16:48:50,5128,Mercado Libre,28367,[1395] Stanley Cuchilla Retráctil Para Alfombr...,4.0,244.23,2000005194227643,NaT,Gretel Gómez Alcázar,Brenda Luz Acosta Lopez,2024-01-03

    ---> Código a explorar 28363

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
933,1718,F1-VS/2024/00030,2024-01-05,6319,1.0,450.0,Mayra Angelica Parada Manjarrez,28363,Chapa Doble Manija Herralock E-400 *21731*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
1756,119,70,P00063 (C 164865),2024-01-05 23:33:26,5280,DISTRIBUIDORA DE HERRAJES Y ALUMINIO DE LOS CABOS,28363,[21731] Chapa Doble Manija Herralock E-400 *21...,1.0,258.62,C 164865,NaT,<NA>,Mayra Angelica Parada Manjarrez,2024-01-02

    ---> Código a explorar 28354

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
1360,2531,F1-VS/2024/00043,2024-01-06,9241,1.0,3098.0,Irma Carvajal Flores,28354,Película Decorativa Color Humo AD220-8*1388*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
1757,120,70,P00063 (C 164865),2024-01-05 23:33:26,5280,DISTRIBUIDORA DE HERRAJES Y ALUMINIO DE LOS CABOS,28354,[1388] Película Decorativa Color Humo AD220-8*...,1.0,2344.8,C 164865,NaT,<NA>,Mayra Angelica Parada Manjarrez,2024-01-02

    ---> Código a explorar 12755

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
1212,2349,F2-VS/2024/00009,2024-01-06,8625,25.0,285.39,Brenda Luz Acosta Lopez,12755,Tinta Hidro Sayer TH-8029 (1Lt) Chocolat *14444*
1709,3109,F2-VS/2024/00030,2024-01-08,11390,17.0,285.39,Yamilet Blanco Salas,12755,Tinta Hidro Sayer TH-8029 (1Lt) Chocolat *14444*
1921,3300,F2-CC/2024/00418,2024-01-08,12119,2.0,245.38,Nadia Santos Nava,12755,Tinta Hidro Sayer TH-8029 (1Lt) Chocolat *14444*
2216,3762,F2-CC/2024/00494,2024-01-09,13718,1.0,245.38,Nadia Santos Nava,12755,Tinta Hidro Sayer TH-8029 (1Lt) Chocolat *14444*
3160,5143,F2-VS/2024/00076,2024-01-11,18898,8.0,285.39,Yamilet Blanco Salas,12755,Tinta Hidro Sayer TH-8029 (1Lt) Chocolat *14444*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
1772,103,67,P00060 (A 10767768),2024-01-08 15:58:47,5178,Sayer Lack Mexicana,12755,[14444] Tinta Hidro Sayer TH-8029 (1Lt) Chocol...,52.0,163.59,A 10767768,NaT,Elsa Ivette Diaz Leyva,Yamilet Blanco Salas,2024-01-05

    ---> Código a explorar 12774

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
463,995,F2-CC/2024/00121,2024-01-04,3639,5.0,249.57,Karla Jaqueline Rivera Hernández,12774,Papel Verde 18*60 YDS TOT12218 Trimaco *10992*
2561,4276,F2-CC/2024/00557,2024-01-10,15555,1.0,249.57,Karla Jaqueline Rivera Hernández,12774,Papel Verde 18*60 YDS TOT12218 Trimaco *10992*
4037,6739,F2-CC/2024/00847,2024-01-15,24951,1.0,249.57,Nadia Santos Nava,12774,Papel Verde 18*60 YDS TOT12218 Trimaco *10992*
4440,7315,F2-CC/2024/00921,2024-01-16,27024,1.0,249.57,Karla Jaqueline Rivera Hernández,12774,Papel Verde 18*60 YDS TOT12218 Trimaco *10992*
5386,8551,F2-CC/2024/01105,2024-01-17,31630,1.0,249.57,Karla Jaqueline Rivera Hernández,12774,Papel Verde 18*60 YDS TOT12218 Trimaco *10992*
5625,8944,F2-CC/2024/01147,2024-01-18,33301,5.0,249.57,Karla Jaqueline Rivera Hernández,12774,Papel Verde 18*60 YDS TOT12218 Trimaco *10992*
6212,9778,F2-CC/2024/01272,2024-01-19,36334,2.0,249.57,Nadia Santos Nava,12774,Papel Verde 18*60 YDS TOT12218 Trimaco *10992*
7967,12698,F2-CC/2024/01632,2024-01-25,47816,6.0,249.57,Karla Jaqueline Rivera Hernández,12774,Papel Verde 18*60 YDS TOT12218 Trimaco *10992*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
1774,100,65,P00058 (BSJOSFA 286261),2024-01-05 18:24:29,5174,Campos Reyeros Y Cia,12774,[10992] Papel Verde 18*60 YDS TOT12218 Trimaco...,15.0,166.38,BSJOSFA 286261,NaT,Elsa Ivette Diaz Leyva,Karla Jaqueline Rivera Hernández,2024-01-02

    ---> Código a explorar 26555

Empty DataFrame
Columns: [fact_doc_id, name, invoice_date, fact_line_id, quantity, price_unit, salesperson_name, product_id, product_name]
Index: []

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
1776,98,63,P00056 (2000005225801993B),2024-01-05 15:42:12,5128,Mercado Libre,26555,[77111] Taladro Atornillador DCD 7771 D2 Dewal...,1.0,2835.47,2000005225801993B,NaT,<NA>,Brenda Luz Acosta Lopez,2024-01-02

    ---> Código a explorar 27379

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
1591,2962,F2-VS/2024/00020,2024-01-08,10890,50.0,48.24,Yamilet Blanco Salas,27379,"Disco 750 Corte A.Inox.4 1/2"" *24743*"

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
1777,97,62,P00055 (2000005225801993),2024-01-05 15:40:03,5128,Mercado Libre,27379,"[24743] Disco 750 Corte A.Inox.4 1/2"" *24743*",50.0,30.55,2000005225801993,NaT,<NA>,Yamilet Blanco Salas,2024-01-02

    ---> Código a explorar 27032

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
579,1152,F1-VS/2024/00014,2024-01-04,4199,6.0,966.0,Mayra Angelica Parada Manjarrez,27032,Aceroteja 3.05*1.07 Rojo *26497*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
1802,72,54,P00047 (112038858),2024-01-04 17:11:13,5235,Aceros Y Perfilados Del Noroeste,27032,[26497] Aceroteja 3.05*1.07 Rojo *26497*,6.0,688.55,112038858,NaT,<NA>,Mayra Angelica Parada Manjarrez,2024-01-01

    ---> Código a explorar 28352

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
5234,8415,F1-VS/2024/00202,2024-01-17,31118,2.0,818.3,Mayra Angelica Parada Manjarrez,28352,Catalizador PolyForm 1Lt *6521*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
1803,71,53,P00046 (BLEVIFA 14770),2024-01-04 17:08:19,5174,Campos Reyeros Y Cia,28352,[6521] Catalizador PolyForm 1Lt *6521*,2.0,538.36,BLEVIFA 14770,NaT,<NA>,Mayra Angelica Parada Manjarrez,2024-01-01

    ---> Código a explorar 14371

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
2907,4803,F2-VS/2024/00068,2024-01-11,17711,2.0,2180.0,Yamilet Blanco Salas,14371,"Lijadora orb. 5"" Dewalt Dwe6421-B3 *19897*"
3136,5121,F1-VS/2024/00128,2024-01-11,18821,2.0,2287.0,Mayra Angelica Parada Manjarrez,14371,"Lijadora orb. 5"" Dewalt Dwe6421-B3 *19897*"
9618,15467,F2-CC/2024/02028,2024-01-30,58414,1.0,1745.7,Karla Jaqueline Rivera Hernández,14371,"Lijadora orb. 5"" Dewalt Dwe6421-B3 *19897*"

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
1807,61,47,P00040 (4HGFFI 172807),2024-01-04 00:02:18,5387,Home Depot Mexico,14371,"[19897] Lijadora orb. 5"" Dewalt Dwe6421-B3 *19...",2.0,1525.0,4HGFFI 172807,NaT,<NA>,Mayra Angelica Parada Manjarrez,2024-01-01

    ---> Código a explorar 14863

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
3675,5984,F1-VS/2024/00154,2024-01-12,21925,5.0,210.0,Irma Carvajal Flores,14863,"Broca Punta De Carburo TungSTeno 3/16"" *1380*"

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
1808,60,45,P00038 (FH 9600),2024-01-03 23:52:53,5153,Grupo Ferreteria Calzada,14863,"[1380] Broca Punta De Carburo TungSTeno 3/16"" ...",5.0,160.0,FH 9600,NaT,<NA>,Irma Carvajal Flores,2023-12-31

    ---> Código a explorar 14861

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
1852,3235,F1-VS/2024/00061,2024-01-08,11883,12.0,560.0,Irma Carvajal Flores,14861,Bisagra De Piso Ph #1500 2085 Cromo Satin Pz *...

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
1810,59,44,P00037 (C 259720),2024-01-03 23:49:14,5321,El Gran Tlapalero,14861,[55960] Bisagra De Piso Ph #1500 2085 Cromo Sa...,12.0,345.52,C 259720,NaT,<NA>,Irma Carvajal Flores,2023-12-31

    ---> Código a explorar 14794

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
837,1571,F1-VS/2024/00027,2024-01-05,5766,2.0,780.0,Irma Carvajal Flores,14794,Pegamento Amarillo Elmer'S 4Lts *13788*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
1811,57,43,P00036 (MPIFCO 102),2024-01-03 22:50:47,5296,Madereria Pichonchas,14794,[13788] Pegamento Amarillo Elmer'S 4Lts *13788*,2.0,512.93,MPIFCO 102,NaT,<NA>,Irma Carvajal Flores,2023-12-31

    ---> Código a explorar 14793

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
3318,5539,F1-VS/2024/00143,2024-01-12,20336,2.0,1046.0,Irma Carvajal Flores,14793,Sierra De Poda 30Cm Husqvarna 510192104 *1184*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
1813,55,41,P00034 (2000005206682675),2024-01-03 21:41:29,5128,Mercado Libre,14793,[1184] Sierra De Poda 30Cm Husqvarna 510192104...,2.0,688.8,2000005206682675,NaT,<NA>,Irma Carvajal Flores,2023-12-31

    ---> Código a explorar 14773

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
708,1374,F2-CC/2024/00177,2024-01-05,5084,20.0,71.5,Yolanda Alejandra Rodriguez González,14773,Disco Abrasivo Desbaste Metal 4-1/2x7/8 B-4426...
6803,10813,F2-CC/2024/01390,2024-01-22,40206,1.0,71.5,<NA>,14773,Disco Abrasivo Desbaste Metal 4-1/2x7/8 B-4426...

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
1814,54,40,P00033 (2000005232684875),2024-01-03 21:34:27,5128,Mercado Libre,14773,[1375] Disco Abrasivo Desbaste Metal 4-1/2x7/8...,25.0,25.14,2000005232684875,NaT,<NA>,Yolanda Alejandra Rodriguez González,2023-12-31

    ---> Código a explorar 14120

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
378,818,F2-VS/2024/00003,2024-01-03,2926,3.0,1034.49,Yamilet Blanco Salas,14120,"Tablon 2"" X 12"" X 8´ *13786*"

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
1864,1,1,P00001 (SJCFCO 68),2024-01-03 00:05:53,5326,Madereria El Pino De Los Cabos,14120,"[13786] Tablon 2"" X 12"" X 8´ *13786*",3.0,606.9,SJCFCO 68,NaT,<NA>,Yamilet Blanco Salas,2023-12-31

    ---> Código a explorar 14272

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
379,818,F2-VS/2024/00003,2024-01-03,2927,2.0,1551.74,Yamilet Blanco Salas,14272,Tablon Americano 2x12x12 *13508*
581,1156,F1-VS/2024/00015,2024-01-04,4211,4.0,1675.0,Mayra Angelica Parada Manjarrez,14272,Tablon Americano 2x12x12 *13508*

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
1865,2,1,P00001 (SJCFCO 68),2024-01-03 00:05:53,5326,Madereria El Pino De Los Cabos,14272,[13508] Tablon Americano 2x12x12 *13508*,2.0,910.34,SJCFCO 68,NaT,<NA>,Yamilet Blanco Salas,2023-12-31

    ---> Código a explorar 13907

,fact_doc_id,name,invoice_date,fact_line_id,quantity,price_unit,salesperson_name,product_id,product_name
334,722,F2-VS/2024/00002,2024-01-03,2577,20.0,756.47,Yamilet Blanco Salas,13907,"Polin Americano 16"" *703*"

,line_id,order_id,order_name,order_date,partner_id,partner_name,product_id_pp,product_name,product_qty,product_cost,partner_fact_ref,partner_fact_date,capturista,vendedora,tolerance_order_date
1867,4,1,P00001 (SJCFCO 68),2024-01-03 00:05:53,5326,Madereria El Pino De Los Cabos,13907,"[703] Polin Americano 16"" *703*",20.0,577.59,SJCFCO 68,NaT,<NA>,Yamilet Blanco Salas,2023-12-31

In [91]:
match_A = (
    pd.merge_asof(
        left = compras_especiales.sort_values('tolerance_order_date'), 
        right = ventas.sort_values('invoice_date'),
        
        left_by = ['product_id_pp', 'vendedora', 'product_qty'], 
        right_by = ['product_id', 'salesperson_name', 'quantity'], 
        
        left_on = 'tolerance_order_date', 
        right_on = 'invoice_date', 

        direction = 'nearest')

)

In [76]:
match_A.loc[
    ~match_A['fact_line_id'].isna()
][cols_match]

,line_id,order_name,order_date,partner_fact_date,partner_name_y,product_id_pp,product_name_y,product_qty,product_cost,vendedora,fact_doc_id,name,invoice_date,fact_line_id,quantity,salesperson_name,product_id,product_name_x,price_unit,discount
0,4,P00001 (SJCFCO 68),2024-01-03 00:05:53,NaT,PROMOTORA TURISTICA PUNTA BETE,13907,"Polin Americano 16"" *703*",20.0,577.59,Yamilet Blanco Salas,722,F2-VS/2024/00002,2024-01-03,2577,20.0,Yamilet Blanco Salas,13907,"[703] Polin Americano 16"" *703*",756.47,0.0
1,60,P00038 (FH 9600),2024-01-03 23:52:53,NaT,CBR HOTEL OWNER,14863,"Broca Punta De Carburo TungSTeno 3/16"" *1380*",5.0,160.00,Irma Carvajal Flores,5984,F1-VS/2024/00154,2024-01-12,21925,5.0,Irma Carvajal Flores,14863,"[1380] Broca Punta De Carburo TungSTeno 3/16"" ...",210.0,0.0
3,59,P00037 (C 259720),2024-01-03 23:49:14,NaT,OPERADORA PUEBLO BONITO PACIFICA,14861,Bisagra De Piso Ph #1500 2085 Cromo Satin Pz *...,12.0,345.52,Irma Carvajal Flores,3235,F1-VS/2024/00061,2024-01-08,11883,12.0,Irma Carvajal Flores,14861,[55960] Bisagra De Piso Ph #1500 2085 Cromo Sa...,560.0,0.0
4,57,P00036 (MPIFCO 102),2024-01-03 22:50:47,NaT,FUERZA MONUMENTOS,14794,Pegamento Amarillo Elmer'S 4Lts *13788*,2.0,512.93,Irma Carvajal Flores,1571,F1-VS/2024/00027,2024-01-05,5766,2.0,Irma Carvajal Flores,14794,[13788] Pegamento Amarillo Elmer'S 4Lts *13788*,780.0,0.0
5,56,P00035 (SL 6710),2024-01-03 22:49:32,NaT,FUERZA MONUMENTOS,14777,"Usgi Radar 2x2x5/8"" LST *20703*",7.0,1607.95,Irma Carvajal Flores,1570,F1-VS/2024/00026,2024-01-05,5761,7.0,Irma Carvajal Flores,14777,"[20703] Usgi Radar 2x2x5/8"" LST *20703*",2700.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
596,2045,P00543 (B 83822),2024-02-03 00:47:16,NaT,OPERADORA PUEBLO BONITO PACIFICA,13811,Triplay Pino 1/2 4'*8' 1/Cara *3651*,4.0,443.34,Irma Carvajal Flores,8417,F1-VS/2024/00203,2024-01-17,31127,4.0,Irma Carvajal Flores,13811,[3651] Triplay Pino 1/2 4'*8' 1/Cara *3651*,640.0,0.0
597,2046,P00543 (B 83822),2024-02-03 00:47:16,NaT,OPERADORA PUEBLO BONITO PACIFICA,14147,Triplay Pino 3/4 4'*8' 1/Cara *3637*,4.0,609.41,Irma Carvajal Flores,8417,F1-VS/2024/00203,2024-01-17,31128,4.0,Irma Carvajal Flores,14147,[3637] Triplay Pino 3/4 4'*8' 1/Cara *3637*,905.0,0.0
598,2047,P00543 (B 83822),2024-02-03 00:47:16,NaT,OPERADORA PUEBLO BONITO PACIFICA,13371,Triplay Pino 1/4 4'*8' 1/Cara *12749*,4.0,272.87,Irma Carvajal Flores,2874,F1-VS/2024/00047,2024-01-06,10434,4.0,Irma Carvajal Flores,13371,[12749] Triplay Pino 1/4 4'*8' 1/Cara *12749*,409.31,0.0
599,2040,P00541 (A 150732),2024-02-03 00:35:57,NaT,HOTELES SOLARIS DE MEXICO,12552,Bisagra P/Cristal Herralum M-1033 180° *6923*,10.0,392.25,Brenda Luz Acosta Lopez,12060,F2-VS/2024/00184,2024-01-24,44990,10.0,Brenda Luz Acosta Lopez,12552,[6923] Bisagra P/Cristal Herralum M-1033 180° ...,382.2,0.0
602,2037,P00538 (2000005305809785),2024-02-03 00:21:05,NaT,BANCO INVEX SA FIDEICOMISO INVEX 138 EL DORADO,14764,Serie de 500 luces 25Mts Leds *24334*,2.0,473.28,Yamilet Blanco Salas,13115,F2-VS/2024/00192,2024-01-25,49196,2.0,Yamilet Blanco Salas,14764,[24334] Serie de 500 luces 25Mts Leds *24334*,746.0,0.0

# Checks

In [23]:
# Línea para comprobrar que el 100% de los proveedores de Odoo están calificados en la lista de proveedores oficiales

check1 = (compras_doc[~compras_doc['partner_id'].isin(pd.concat([prov_locales, prov_oficiales])['partner_id'])]).drop_duplicates('partner_id')

if not check1.empty:
    print('Hay proveedores no calificados')
    display(check1)

else:
    print('Todo correcto con check1')

Todo correcto con check1

In [24]:
from IPython.display import display

check_costo_venta = (
    pd.merge_asof(
        left = ventas.sort_values('invoice_date'),
        right = compras.sort_values('tolerance_order_date'), 
        
        left_by = 'product_id', 
        right_by = 'product_id_pp', 
        
        left_on = 'invoice_date', 
        right_on = 'tolerance_order_date', 

        direction = 'backward')
)

check2 = check_costo_venta[check_costo_venta['product_cost'].isna()][['product_id', 'product_name_x']]

print(f'Hay {len(check2)} renglones sin costo de la venta.')

if not check2.empty:
    print('Los productos sin costo son los siguientes:')
    display(check2.drop_duplicates('product_id'))

else:
    print('Todo correcto con check2')

Hay 0 renglones sin costo de la venta.
Todo correcto con check2