In [3]:
from wep import complete_df
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
complete_df.loc[complete_df['fact_line_id'] == 33437]
complete_df.loc[complete_df['fact_doc_id'] == 8234]

Empty DataFrame
Columns: [fact_doc_id, invoice_date, state, invoice_origin, module_origin, pos_doc_id, move_type, reversal_move_id, reversed_entry_id, journal_id, company_id, partner_id, fact_line_id, invoice_user_id, team_id, create_date, product_id, quantity, price_unit, discount, price_subtotal, pos_line_id, refund_orderline_ids, refunded_orderline_id, sale_line_id, salesman_id]
Index: []

[0 rows x 26 columns]

In [5]:

complete_df.loc[complete_df['pos_doc_id'] == 1949]
complete_df.loc[complete_df['pos_doc_id'] == 2099]

Empty DataFrame
Columns: [fact_doc_id, invoice_date, state, invoice_origin, module_origin, pos_doc_id, move_type, reversal_move_id, reversed_entry_id, journal_id, company_id, partner_id, fact_line_id, invoice_user_id, team_id, create_date, product_id, quantity, price_unit, discount, price_subtotal, pos_line_id, refund_orderline_ids, refunded_orderline_id, sale_line_id, salesman_id]
Index: []

[0 rows x 26 columns]

Anticipos

In [ ]:

complete_df.loc[complete_df['pos_doc_id'] == 6833]