In [1]:
from wep import complete_df
import pandas as pd
import numpy as np

Todos los check points están correctos: False
No hay valores sin calificar en module_origin: True
Las agrupaciones son del mismo tamaño: True
No hay diferencias al comparar cantidad de líneas por cada par de documentos: True
En el campo salesman_id sólo hay vendedoras True
Las vendedoras són únicamente ids que están dentro de los equipos de ventas False

In [4]:
from wep import descrip_sales_users_df, fact_doc_json

In [14]:
ventas_mes = complete_df[['salesman_id', 'quantity', 'price_subtotal']].groupby('salesman_id', dropna=False).sum()

pd.concat(
    [
    ventas_mes['quantity'].map('{:,.2f}'.format), 
    ventas_mes['price_subtotal'].map('${:,.2f}'.format)
    ], 
    axis=1
).reset_index(

).merge(
    descrip_sales_users_df, how='left', left_on='salesman_id', right_on='id'
).set_index('salesman_id').drop(
    columns=['id', 'sale_team_id', 'state']
)

,quantity,price_subtotal,name,sale_team_description,business_model,warehouse
salesman_id,,,,,,
205,"20,036.00","$816,593.98",Brenda Luz Acosta Lopez,CE A2,CE,A2
206,44.00,"$1,996.99",NaN,NaN,NaN,NaN
210,"27,824.00","$1,164,546.82",Irma Carvajal Flores,CE A1,CE,A1
211,"14,579.17","$1,448,714.41",Mayra Angelica Parada Manjarrez,CE A1,CE,A1
212,"13,638.30","$274,687.44",Reyna Arriaga Flores,A1 CSL,Piso,A1
213,"3,032.00","$315,472.17",Yamilet Blanco Salas,CE A2,CE,A2
216,"8,714.00","$324,554.82",Nadia Santos Nava,A2 SJC,Piso,A2
218,"9,943.78","$214,343.07",Gladiz Melisa Galvez Espinoza,A1 CSL,Piso,A1
219,"8,871.15","$129,913.12",Viviana Montaño Inzunza,A1 CSL,Piso,A1
221,"31,982.70","$662,230.62",Karla Jaqueline Rivera Hernández,A2 SJC,Piso,A2
222,"10,108.55","$239,619.64",Yolanda Alejandra Rodriguez González,A2 SJC,Piso,A2
224,"10,201.31","$180,748.29",Leticia Terán Salinas,A1 CSL,Piso,A1
227,"11,550.85","$191,718.84",Patricia Flores Pantaleón,A2 SJC,Piso,A2
233,"3,715.00","$98,840.07",NaN,NaN,NaN,NaN
234,"1,373.95","$32,645.95",Yanin Becerril Barriga,A1 CSL,Piso,A1

In [3]:
cols = ['quantity', 'price_subtotal']

wep = complete_df.loc[complete_df['salesman_id'] == 205, cols].groupby('name').sum()
wep
# wep.to_excel('wep.xlsx')

                  quantity  price_subtotal
name
F2-VS/2024/00007      10.0         1608.30
F2-VS/2024/00008      21.0         1856.61
F2-VS/2024/00009      25.0         7134.75
F2-VS/2024/00010      11.0         9738.52
F2-VS/2024/00011       9.0         1143.00
...                    ...             ...
F2-VS/2024/00223       1.0        18980.00
F2-VS/2024/00224    5030.0        18480.00
F2-VS/2024/00225    1010.0         1040.40
F2-VS/2024/00226       3.0         3750.00
F2-VS/2024/00227      56.0         3928.60

[130 rows x 2 columns]

In [ ]:
# complete_df.loc[complete_df['module_origin'] == 'Contabilidad'].groupby('name').count()
wep2 = complete_df.loc[complete_df['module_origin'] == 'Contabilidad', 'fact_doc_id'].unique()
wep2