In [1]:
from wep import complete_df
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

IndexError: single positional indexer is out-of-bounds

In [ ]:
from wep import descrip_sales_users_df

In [ ]:
ventas_mes = complete_df[['salesman_id', 'quantity', 'price_subtotal']].groupby('salesman_id', dropna=False).sum()

enero = pd.concat(
    [
    # ventas_mes['quantity'].map('{:,.2f}'.format), 
    # ventas_mes['price_subtotal'].map('${:,.2f}'.format)
    ventas_mes['quantity'], 
    ventas_mes['price_subtotal']
    ], 
    axis=1
).reset_index(

).merge(
    descrip_sales_users_df, how='left', left_on='salesman_id', right_on='id'
).set_index(
    'salesman_id'
).drop(
    columns=['id', 'sale_team_id', 'state']
)

enero

,quantity,price_subtotal,name,sale_team_description,business_model,warehouse
salesman_id,,,,,,
205,20036.00,816593.98,Brenda Luz Acosta Lopez,CE A2,CE,A2
206,44.00,1996.99,NaN,NaN,NaN,NaN
210,27824.00,1164546.82,Irma Carvajal Flores,CE A1,CE,A1
211,14579.17,1448714.41,Mayra Angelica Parada Manjarrez,CE A1,CE,A1
212,13638.30,274687.44,Reyna Arriaga Flores,A1 CSL,Piso,A1
213,3032.00,315472.17,Yamilet Blanco Salas,CE A2,CE,A2
216,8714.00,324554.82,Nadia Santos Nava,A2 SJC,Piso,A2
218,9943.78,214343.07,Gladiz Melisa Galvez Espinoza,A1 CSL,Piso,A1
219,8871.15,129913.12,Viviana Montaño Inzunza,A1 CSL,Piso,A1
221,31982.70,662230.62,Karla Jaqueline Rivera Hernández,A2 SJC,Piso,A2
222,10108.55,239619.64,Yolanda Alejandra Rodriguez González,A2 SJC,Piso,A2
224,10201.31,180748.29,Leticia Terán Salinas,A1 CSL,Piso,A1
227,11550.85,191718.84,Patricia Flores Pantaleón,A2 SJC,Piso,A2
233,3715.00,98840.07,Angela Carrillo Cárdenas,A2 SJC,Piso,A2
234,1373.95,32645.95,Yanin Becerril Barriga,A1 CSL,Piso,A1

In [ ]:
total = enero['price_subtotal'].sum()

f'{total:,.2f}'

# enero_total.pipe(
#     lambda df:(
#         sns.barplot(
#             data = df, 
#             y = 'Venta_Total',
# )))

'6,096,626.23'

In [ ]:
cols = ['quantity', 'price_subtotal']

wep = complete_df.loc[complete_df['salesman_id'] == 210, cols].groupby('name').sum()
wep
# wep.to_excel('wep.xlsx')

                  quantity  price_subtotal
name
F1-CC/2024/01078       2.0           48.98
F1-CC/2024/01334       1.0          108.21
F1-VS/2024/00017      36.0         3884.40
F1-VS/2024/00018       2.0         1834.56
F1-VS/2024/00019       5.0          360.00
...                    ...             ...
F2-VS/2024/00110     200.0          828.00
F2-VS/2024/00144      42.0         1345.74
F2-VS/2024/00145       2.0          130.59
F2-VS/2024/00146       1.0          113.41
F2-VS/2024/00161      24.0         5640.00

[187 rows x 2 columns]

In [ ]:
# complete_df.loc[complete_df['module_origin'] == 'Contabilidad'].groupby('name').count()
wep2 = complete_df.loc[complete_df['module_origin'] == 'Contabilidad', 'fact_doc_id'].unique()
wep2

array([9860, 8894, 2475, 2467], dtype=int64)